.shimmer {
  position: relative;
  display: none;
  overflow: hidden;

  &-effect {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;

    &--active {
      display: block;
    }

    &--fill {
    }

    &--horizontal {
      background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 5%,
        rgba(255, 255, 255, 0.6) 45%,
        rgba(255, 255, 255, 0.6) 55%,
        rgba(255, 255, 255, 0) 95%
      );
    }

    &--vertical {
      background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 5%,
        rgba(255, 255, 255, 0.6231093120842087) 40%,
        rgba(255, 255, 255, 0.6231093120842087) 60%,
        rgba(255, 255, 255, 0) 95%
      );
    }

    &--diagonal {
      background-image: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.8) 15%,
        rgba(148, 187, 233, 0) 75%
      );
    }
  }
}
