$promoBoxBackgroundColor: $mintSecondary;
$promoBoxHeaderColor: $white;
$promoBoxHeaderFontWeight: $fontWeightBlack;
$promoBoxHeaderFontSize: 50px;
$promoBoxTextSize: 24px;
$promoBoxLineHeight: 44px;

$includeHtml: false !default;

@if ($includeHtml) {

  .mint-promo-box {
    padding: 40px;
    background: $promoBoxBackgroundColor;
    border-radius: 22px;

    &__header {
      @include uppercase(-1px);
      color: $promoBoxHeaderColor;
      font-weight: $promoBoxHeaderFontWeight;
      font-size: $promoBoxHeaderFontSize;
      line-height: 1;
      margin: 0;
    }

    // content is user generated html,
    // we can overwrite all basic tags related to styling user content
    &__content {
      font-size: $promoBoxTextSize;
      line-height: $promoBoxLineHeight;
      padding: 5px 0 15px;
    }
  }

}
