<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Standard</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-promo-box">
            <h2 class="mint-promo-box__header">
                Start learning with Brainly now!
            </h2>

            <div class="mint-promo-box__content">
                Having trouble with your school work?<br/>
                Ask for free help!
                <ul class="mint-list">
                    <li class="mint-list__element">
                        <div class="mint-list__icon">
                            <svg class="mint-icon mint-icon--x18">
                              <use xlink:href="#icon-arrow_right"></use>
                            </svg>
                        </div> One with <strong class="mint-text-emphasised">80% of
                        answers</strong></li>
                    <li class="mint-list__element">
                        <div class="mint-list__icon">
                            <svg class="mint-icon mint-icon--x18">
                              <use xlink:href="#icon-arrow_right"></use>
                            </svg>
                        </div> Two</li>
                    <li class="mint-list__element">
                        <div class="mint-list__icon">
                            <svg class="mint-icon mint-icon--x18">
                              <use xlink:href="#icon-arrow_right"></use>
                            </svg>
                        </div> Three</li>
                </ul>
            </div>
            <button class="mint-button-primary mint-button-primary--dark">
                <div class="mint-button-primary__hole">Try it out</div>
            </button>
        </div>
    </div>
</section>
