.sidebar-container [data-nodetype='root'] {
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  letter-spacing: normal;
}

.sidebar-item svg {
  display: none;
}

body {
  background-color: #f5f8fa;
  font-feature-settings: 'ss01' 1; /* enables single-storey 'a' */
}

.sidebar-header img {
  width: 150px;
}

.os-content {
  padding: 40px;
}

.sidebar-item {
  border-radius: 8px;
  font-feature-settings: 'ss01' 1; /* enables single-storey 'a' */
}

.sidebar-container {
  padding: 0 0 0 20px;
}

.sidebar-container .os-viewport {
  padding-right: 20px;
}

div[role='main'] > div {
  box-shadow: none;
  border: 1px solid #e1eaf1;
}

.sidebar-item {
  background: none !important;
  margin-left: 20px;
  width: calc(100% - 40px) !important;
}

.sidebar-item:hover {
  background: rgba(0, 0, 0, 0.03) !important;
}

.sidebar-item[data-selected='true'] {
  background: #000 !important;
  color: #fff !important;
}

.sidebar-item[data-selected='true']:hover {
  background: rgba(0, 0, 0, 1) !important;
}

.sidebar-item[data-nodetype='story'] {
  margin-left: 40px;
  width: calc(100% - 60px) !important;
  padding-left: 15px;
}

.sidebar-item[data-nodetype='story']:not([data-selected='true']):hover {
  margin-left: 40px;
  width: calc(100% - 60px) !important;
}

.sidebar-item:not([data-selected='true']):focus {
  background: none !important;
}
