.sidebar-container [data-nodetype='root'] {
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  letter-spacing: normal;
}

.sidebar-item svg {
  display: none;
}

body {
  background-color: #f5f8fa;
}

.sidebar-header img {
  width: 150px;
}

.os-content {
  padding: 40px;
}

.sidebar-item {
  border-radius: 20px;
}

.sidebar-container {
  padding: 0 0 0 20px;
}

.sidebar-container .os-viewport {
  padding-right: 20px;
}

div[role='main'] > div {
  box-shadow: none;
  border: 1px solid #e1eaf1;
}

.sidebar-item {
  background: none !important;
}

.sidebar-item[data-selected='true'] {
  background: #000 !important;
  color: #fff !important;
}

.sidebar-item[data-selected='true'][data-nodetype='story'] {
  margin-left: 20px;
  margin-right: 20px;
}

.sidebar-item[data-selected='true'][data-nodetype='story'] > * {
  margin-left: -20px;
  margin-right: -20px;
}

.sidebar-item:not([data-selected='true']):hover {
  background: rgba(0, 0, 0, 0.02) !important;
}

.sidebar-item[data-nodetype='story']:not([data-selected='true']):hover {
  margin-left: 20px;
  margin-right: 20px;
}

.sidebar-item[data-nodetype='story']:not([data-selected='true']):hover > * {
  margin-left: -20px;
  margin-right: -20px;
}

.sidebar-item:not([data-selected='true']):focus {
  background: none !important;
}
