$radioSize: 16px;
$radioClickableArea: 32px;
$radioMargin: 8px;
$radioUncheckedBorderWidth: 2px;
$radioCheckedBorderWidth: 5px;

.sg-radio-new {
  --radioColor: #{$black};
  --radioHoverColor: #{$gray-60};
  --radioInvalidColor: #{$red-60};
  --radioInvalidHoverColor: #{$red-50};
  --radioLabelColor: #{$text-black};
  --radioDescriptionColor: #{$text-black};
  --radioOutlineColor: #{$blue-40};

  display: inline-flex;
  flex-direction: column;

  &--light {
    --radioColor: #{$white};
    --radioHoverColor: #{$gray-40};
    --radioInvalidColor: #{$red-40};
    --radioInvalidHoverColor: #{$red-50};
    --radioLabelColor: #{$text-white};
    --radioDescriptionColor: #{$text-white};
    --radioOutlineColor: #{$blue-40};
  }

  &--disabled {
    opacity: 0.45;
    cursor: not-allowed;
    pointer-events: none;
  }

  &__wrapper {
    display: flex;

    &:hover {
      .sg-radio-new__circle {
        box-shadow: 0px 0px 0px $radioUncheckedBorderWidth
          var(--radioHoverColor) inset;
      }

      .sg-radio-new__input {
        &:checked + .sg-radio-new__circle {
          box-shadow: 0px 0px 0px $radioCheckedBorderWidth
            var(--radioHoverColor) inset;
        }
        &[aria-invalid] + .sg-radio-new__circle {
          box-shadow: 0px 0px 0px $radioUncheckedBorderWidth
            var(--radioInvalidHoverColor) inset;
        }
        &:checked[aria-invalid] + .sg-radio-new__circle {
          box-shadow: 0px 0px 0px $radioCheckedBorderWidth
            var(--radioInvalidHoverColor) inset;
        }
      }
    }
  }

  &__element {
    position: relative;
    width: $radioClickableArea;
    height: $radioClickableArea;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  }

  &__input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1;

    &:focus + .sg-radio-new__circle {
      outline: $radioUncheckedBorderWidth solid var(--radioOutlineColor);
      outline-offset: 2px;
    }

    &:checked + .sg-radio-new__circle {
      box-shadow: 0px 0px 0px $radioCheckedBorderWidth var(--radioColor) inset;
    }

    &[aria-invalid] + .sg-radio-new__circle {
      box-shadow: 0px 0px 0px $radioUncheckedBorderWidth
        var(--radioInvalidColor) inset;
    }

    &:checked[aria-invalid] + .sg-radio-new__circle {
      box-shadow: 0px 0px 0px $radioCheckedBorderWidth var(--radioInvalidColor)
        inset;
    }
  }

  &__circle {
    width: $radioSize;
    height: $radioSize;
    border-radius: 50%;
    box-shadow: 0px 0px 0px $radioUncheckedBorderWidth var(--radioColor) inset;
  }

  &__label {
    color: var(--radioLabelColor);
    padding-left: $radioMargin;
    padding-top: calc($radioMargin / 2);
  }

  &__description {
    white-space: normal;
    color: var(--radioDescriptionColor);
    margin-top: calc($radioMargin / 2);
    margin-left: calc($radioClickableArea + $radioMargin);
  }
}
