.sg-radio-new {
  display: inline-flex;

  @mixin colorTheme(
    $radioColor,
    $radioHoverColor,
    $radioInvalidColor,
    $radioInvalidHoverColor,
    $labelColor,
    $outlineColor
  ) {
  }

  &--dark {
    @include colorTheme(
      $radioColor: $black,
      $radioHoverColor: $black,
      $radioInvalidColor: $red-60,
      $radioInvalidHoverColor: $red-50,
      $labelColor: $black,
      $outlineColor: $blue-40
    );
  }

  &__element {
    position: relative;
    width: 24px;
    height: 24px;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  }

  &__input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px $black inset;
  }

  &__input {
    &:checked + .sg-radio-new__circle {
      box-shadow: 0px 0px 0px 5px $black inset;
    }

    &:focus + .sg-radio-new__circle {
      outline: 2px solid $blue-40;
      outline-offset: 2px;
    }
  }
}
