$rateHeight: $defaultComponentHeight;
$rateStarColor: $graySecondary;
$rateStarCheckedColor: $mustardPrimary;
$rateStarActiveColor: $graySecondaryLight;
$rateStarActiveCheckedColor: $mustardSecondary;
$rateCounterColor: $grayPrimary;
$rateCounterFontWeight: $fontWeightBlack;
$rateStarFontSize: fontSize(obscure);
$rateStarSmallFontSize: fontSize(xsmall);
$rateScaleFactor: 2 / 3;

$includeHtml: false !default;

@if ($includeHtml) {

  .mint-rate-box {
    @include component;
    display: flex;
    align-items: center;
    height: $rateHeight;

    &--active {

      .mint-rate-box__star:hover ~ .mint-rate-box__star {
        color: $rateStarColor;
      }

      &:active .mint-rate-box__star:hover ~ .mint-rate-box__star {
        color: $rateStarActiveColor;
      }

      &:hover .mint-rate-box__star {
        color: $rateStarCheckedColor;
        transition: color 0.1s ease-in;
      }

      &:active:hover .mint-rate-box__star {
        color: $rateStarActiveCheckedColor;
        transition: none;
      }
    }

    &__star {
      @include icon(star);

      color: $rateStarColor;
      font-size: $rateStarFontSize + $iconBoostValue;
      padding: 0 1px;

      &--checked {
        color: $rateStarCheckedColor;
      }
    }

    &__counter {
      @include fixText($rateStarFontSize, 0.125rem);
      @include uppercase;
      font-weight: $rateCounterFontWeight;
      color: $rateCounterColor;
      margin: 0 0 0 $layoutDefaultPadding / 4;
    }

    &--small {
      @include fixText($rateStarSmallFontSize);
      height: $rateScaleFactor * $rateHeight;

      .mint-rate-box__star {
        font-size: $rateStarSmallFontSize + $iconBoostValue;
      }

      .mint-rate-box__counter {
        @include fixText($rateStarSmallFontSize);
        margin-left: $layoutDefaultPadding / 4;
      }
    }
  }

}
