$rateHeight: rhythm(1);
$rateStarColor: $graySecondary;
$rateStarCheckedColor: $mustardPrimary;
$rateStarActiveColor: $graySecondaryLight;
$rateStarActiveCheckedColor: $mustardSecondary;
$rateCounterColor: $grayPrimary;
$rateFontSize: fontSize(obscure);
$rateIconSize: rhythm(0.75);
$rateSmallFontSize: fontSize(xsmall);
$rateSmallIconSize: rhythm(2 / 3);

$includeHtml: false !default;

@if ($includeHtml) {

  .sg-rate-box {
    @include component();
    display: flex;
    align-items: center;
    height: $rateHeight;

    &--active {

      .sg-rate-box__star {
        cursor: pointer;
      }

      .sg-rate-box__stars {

        .sg-rate-box__star:hover ~ .sg-rate-box__star {
          fill: $rateStarColor;
        }

        &:active .sg-rate-box__star:hover ~ .sg-rate-box__star {
          fill: $rateStarActiveColor;
        }

        &:hover .sg-rate-box__star {
          fill: $rateStarCheckedColor;
          transition: fill 0.1s ease-in;
        }

        &:active:hover .sg-rate-box__star {
          fill: $rateStarActiveCheckedColor;
          transition: none;
        }
      }

    }

    &__stars {
      display: flex;
    }

    &__star {
      fill: $rateStarColor;
      width: $rateIconSize;
      height: $rateIconSize;
      padding: 0 1px;
      display: flex;

      &--checked {
        fill: $rateStarCheckedColor;
      }
    }

    &__counter {
      @include fixText($rateFontSize, 0.125rem);
      @include fixOperaMiniLabelText();

      color: $rateCounterColor;
      margin: 0 0 0 gutter(0.25);

      position: relative;
    }

    &__counter-item-static {
      visibility: hidden;
      height: 0;
    }

    &__counter-item-dynamic {
      position: absolute;
      left: 0;

      &--hidden {
        display: none;
      }
    }

    &__rate {
      @include fixText($rateFontSize, 0.125rem);
      @include fixOperaMiniLabelText();

      font-weight: $fontWeightBold;
      color: $rateCounterColor;
      margin: 0 gutter(0.25) 0 0;
    }

    &--small {
      height: rhythm(2 / 3);
      min-height: 0;

      .sg-rate-box__star {
        height: $rateSmallIconSize;
        width: $rateSmallIconSize;
      }

      .sg-rate-box__counter,
      .sg-rate-box__rate {
        @include fixText($rateSmallFontSize, 0.125rem);
        @include fixOperaMiniLabelText();
      }
    }
  }

}
