$rateHeight: rhythm(1);
$rateStarColor: $graySecondary;
$rateStarCheckedColor: $mustardPrimary;
$rateStarActiveColor: $graySecondaryLight;
$rateStarActiveCheckedColor: $mustardSecondary;
$rateCounterColor: $graySecondary;
$rateFontSize: fontSize(obscure);
$rateIconSize: rhythm(0.75);
$rateLargeFontSize: fontSize(small);
$rateLargeIconSize: rhythm(1);

$includeHtml: false !default;

@if ($includeHtml) {

  .sg-rate-box {
    @include component();
    display: flex;
    align-items: flex-end;
    height: $rateHeight;
    overflow: visible;

    &--active {
      &:hover {
        .sg-rate-box__counter {
          .sg-rate-box__counter-item-dynamic:nth-child(2) {
            display: none;
          }

          .sg-rate-box__counter-item-dynamic:nth-child(4) {
            display: block;
          }
        }
      }

      .sg-rate-box__star {
        cursor: pointer;
      }

      .sg-rate-box__stars-container:hover {
        .sg-rate-box__filled-stars {
          display: none;
        }
      }

      .sg-rate-box__background-stars {

        .sg-rate-box__star:hover ~ .sg-rate-box__star {
          fill: $rateStarColor;
        }

        &:active .sg-rate-box__star:hover ~ .sg-rate-box__star {
          fill: $rateStarActiveColor;
        }

        &:hover .sg-rate-box__star {
          fill: $rateStarCheckedColor;
          transition: fill 0.1s ease-in;
        }

        &:active:hover .sg-rate-box__star {
          fill: $rateStarActiveCheckedColor;
          transition: none;
        }
      }
    }

    &__stars-container {
      position: relative;
    }

    &__background-stars {
      display: flex;
      fill: $rateStarColor;
    }

    &__filled-stars {
      display: flex;
      fill: $rateStarCheckedColor;

      position: absolute;
      left: 0;
      overflow: hidden;
    }

    &__star {
      width: $rateIconSize;
      height: $rateIconSize;
      padding: 0 1px;

      flex-shrink: 0;
    }

    // counter
    &__counter {
      @include fixText($rateFontSize, 0.125rem);
      @include fixOperaMiniLabelText();
      font-weight: $fontWeightBold;
      color: $rateCounterColor;
      margin: 0 0 0 gutter(1 / 4);
      position: relative;
    }

    &__counter-item-static {
      visibility: hidden;
      height: 0;
    }

    &__counter-item-dynamic {
      position: absolute;
      left: 0;

      &:nth-child(4) {
        display: none;
      }
    }

    &__rate {
      @include fixText($rateFontSize, 0.125rem);
      @include fixOperaMiniLabelText();

      font-weight: $fontWeightBold;
      color: $rateCounterColor;
      margin: 0 gutter(1 / 4) 0 0;
    }

    &--large {
      .sg-rate-box__star {
        height: $rateLargeIconSize;
        // more whitespace between large icons
        width: $rateLargeIconSize + 0.125rem;
      }

      .sg-rate-box__counter,
      .sg-rate-box__rate {
        @include fixText($rateLargeFontSize, 0.125rem);
        @include fixOperaMiniLabelText();
      }
    }
  }

}
