<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Default</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-rate-box">
            <span class="sg-rate-box__star sg-rate-box__star--checked">
                <svg class="sg-icon sg-icon--x16 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__star sg-rate-box__star--checked">
                <svg class="sg-icon sg-icon--x16 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__star sg-rate-box__star--checked">
                <svg class="sg-icon sg-icon--x16 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__star">
                <svg class="sg-icon sg-icon--x16 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__star">
                <svg class="sg-icon sg-icon--x16 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__counter">34</span>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Active</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-rate-box sg-rate-box--active">
            <span class="sg-rate-box__star sg-rate-box__star--checked">
                <svg class="sg-icon sg-icon--x16 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__star sg-rate-box__star--checked">
                <svg class="sg-icon sg-icon--x16 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__star sg-rate-box__star--checked">
                <svg class="sg-icon sg-icon--x16 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__star">
                <svg class="sg-icon sg-icon--x16 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__star">
                <svg class="sg-icon sg-icon--x16 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__counter">34</span>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Small</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-rate-box sg-rate-box--small">
            <span class="sg-rate-box__star sg-rate-box__star--checked">
                <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__star sg-rate-box__star--checked">
                <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__star sg-rate-box__star--checked">
                <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__star">
                <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__star">
                <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__counter">34</span>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Small active</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-rate-box sg-rate-box--small sg-rate-box--active">
            <span class="sg-rate-box__star sg-rate-box__star--checked">
                <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__star sg-rate-box__star--checked">
                <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__star sg-rate-box__star--checked">
                <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__star">
                <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__star">
                <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </span>
            <span class="sg-rate-box__counter">34</span>
        </div>
    </div>
</section>
