<article>
    <h2 class="article-header">Rating</h2>
    <section class="docs-block">
        <aside class="docs-block__info">
            <h3 class="docs-block__header">Default</h3>
        </aside>
        <div class="docs-block__content">
            <div class="mint-rate-box">
                <span class="mint-rate-box__star mint-rate-box__star--checked"></span>
                <span class="mint-rate-box__star mint-rate-box__star--checked"></span>
                <span class="mint-rate-box__star mint-rate-box__star--checked"></span>
                <span class="mint-rate-box__star"></span>
                <span class="mint-rate-box__star"></span>
                <span class="mint-rate-box__counter">34</span>
            </div>
        </div>
    </section>
    <section class="docs-block">
        <aside class="docs-block__info">
            <h3 class="docs-block__header">Active</h3>
        </aside>
        <div class="docs-block__content">
            <div class="mint-rate-box mint-rate-box--active">
                <span class="mint-rate-box__star mint-rate-box__star--checked"></span>
                <span class="mint-rate-box__star mint-rate-box__star--checked"></span>
                <span class="mint-rate-box__star mint-rate-box__star--checked"></span>
                <span class="mint-rate-box__star"></span>
                <span class="mint-rate-box__star"></span>
                <span class="mint-rate-box__counter">34</span>
            </div>
        </div>
    </section>
    <section class="docs-block">
        <aside class="docs-block__info">
            <h3 class="docs-block__header">Small</h3>
        </aside>
        <div class="docs-block__content">
            <div class="mint-rate-box mint-rate-box--small">
                <span class="mint-rate-box__star mint-rate-box__star--checked"></span>
                <span class="mint-rate-box__star mint-rate-box__star--checked"></span>
                <span class="mint-rate-box__star mint-rate-box__star--checked"></span>
                <span class="mint-rate-box__star"></span>
                <span class="mint-rate-box__star"></span>
                <span class="mint-rate-box__counter">34</span>
            </div>
        </div>
    </section>
    <section class="docs-block">
        <aside class="docs-block__info">
            <h3 class="docs-block__header">Small active</h3>
        </aside>
        <div class="docs-block__content">
            <div class="mint-rate-box mint-rate-box--small mint-rate-box--active">
                <span class="mint-rate-box__star mint-rate-box__star--checked"></span>
                <span class="mint-rate-box__star mint-rate-box__star--checked"></span>
                <span class="mint-rate-box__star mint-rate-box__star--checked"></span>
                <span class="mint-rate-box__star"></span>
                <span class="mint-rate-box__star"></span>
                <span class="mint-rate-box__counter">34</span>
            </div>
        </div>
    </section>
</article>
