<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Simple</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-list-item">
            <div class="mint-list-item__avatar">
                <div class="mint-avatar">
                    <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                </div>
            </div>
            <div class="mint-list-item__content">
                <div class="mint-list-item__header">
                    <a class="mint-link mint-link--gray mint-link--emphasised" href="#">
                        KingOfFools
                    </a>
                    <span class="mint-text-block mint-text-block--gray">
                        posted a comment on your profile
                    </span>
                </div>
                <div class="mint-list-item__footer">
                    <div class="mint-text-description mint-text-description--small">
                        03-09-2015 12:02:16
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
