.mint-avatar {
  @include component;
  @extend .mint-icon-profile;

  width: $avatarMediumSize;
  height: $avatarMediumSize;
  border-radius: $avatarMediumSize/2;
  background: $avatarDefaultBackgroundColor;
  border: solid $avatarBorderColor $avatarMediumBorderWidth;
  vertical-align: inherit;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &:before {
    position: relative;
    top: 4px - $avatarMediumBorderWidth;
    color: $avatarDefaultPersonColor;
    font-size: $avatarMediumSize - $avatarMediumBorderWidth*2;
  }

  &--small {
    width: $avatarSmallSize;
    height: $avatarSmallSize;
    border-radius: $avatarSmallSize/2;
    border-width: $avatarSmallBorderWidth;

    &:before {
      top: 3px - $avatarSmallBorderWidth;
      font-size: $avatarSmallSize - $avatarSmallBorderWidth*2;
    }
  }

  &--big {
    width: $avatarBigSize;
    height: $avatarBigSize;
    border-radius: $avatarBigSize/2;
    border-width: 2px;

    &:before {
      top: 5px - $avatarBigBorderWidth;
      font-size: $avatarBigSize - $avatarBigBorderWidth*2;
    }
  }
}

.mint-overlayed-avatar {
  position: relative;
  display: inline-block;

  &__overlay {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}


