.mint-badge {
  @include component;

  border-radius: $badgeFontSize;
  line-height: $badgeFontSize;
  font-size: $badgeFontSize;
  font-family: $badgeFontFamily;
  padding: 3px 6px;
  vertical-align: inherit;

  background-color: $badgeDefaultBackgroundColor;
  color: $badgeDefaultColor;

  &--light {
    background-color: $badgeLightBackgroundColor;
    color: $badgeLightColor;
  }

  &--with-animation {
    transform: scale(0);
    animation: mintBadgeAnimation .6s 2s forwards;
  }
}

.mint-overlayed-icon {
  @include component;

  vertical-align: middle;

  &__overlay {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@keyframes mintBadgeAnimation {
  0% {transform: scale(0);}
  80% {transform: scale(1.2);}
  100% {transform: scale(1);}
}
