$includeHtml: false !default;

@if ($includeHtml) {
  html {
    font-size: $baseFont;
  }

  * {
    box-sizing: border-box;
  }

  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    // sass-lint:disable no-vendor-prefixes
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // sass-lint:enable no-vendor-prefixes

    font-size: fontSize(default);
    font-family: $fontFamilyPrimary;
    line-height: rhythm(1);
  }

}
