$includeHtml: false !default;

@if ($includeHtml) {
  html {
    font-size: $baseFont;
  }

  * {
    box-sizing: border-box;
  }

  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    --focusColor: #{$indigo-40};
    --focusColorInner: #{$white};
    --focusColorOuter: rgba(109, 131, 243, 0.3);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: fontSize(default);
    font-family: $fontFamilyPrimary;
    line-height: rhythm(1);
  }

  *:not(a) {
    @include applyFocus();
  }

  a {
    @include applyFocusText();
  }
}
