// Bubble
$bubbleBackground: $white;
$bubbleBackgroundDark: $graySecondaryLight;
$bubbleBorderColor: $graySecondary;
$bubbleBorderRadius: 5px;
$bubbleBoxShadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.25);

$borderSize: 3px;
$triangleSize: 12px;
$innerTriangleSize: $triangleSize - 2 * $borderSize + 1;

.mint-bubble {
  @include component;
  overflow: visible;
  background: $bubbleBackground;
  border: $borderSize solid $bubbleBorderColor;
  border-radius: $bubbleBorderRadius;
  padding: 15px;
  box-shadow: $bubbleBoxShadow;

  &:before {
    content: "";
    border: $triangleSize solid transparent;
    border-bottom-color: $bubbleBorderColor;
    position: absolute;
    top: -(2 * $triangleSize);
    right: 0;
    left: 0;
    width: 0;
    margin: 0 auto;
  }

  &:after {
    content: "";
    border: $innerTriangleSize solid transparent;
    border-bottom-color: $bubbleBackground;
    position: absolute;
    top: -(2 * $innerTriangleSize);
    right: 0;
    left: 0;
    width: 0;
    margin: 0 auto;
  }

  &--dark {
    border-color: $bubbleBackgroundDark;
    background: $bubbleBackgroundDark;

    &:before {
      border-bottom-color: $bubbleBackgroundDark;
    }
    &:after {
      border-bottom-color: $bubbleBackgroundDark;
    }
  }
}
