@mixin button-basic-styles() {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

@mixin button-basic-dimensions($height, $lineHeight) {
  border-radius: $height/2;
  height: $height;
  padding: 0 $height/2;
  line-height: $lineHeight;
}

@mixin button-primary-theme($buttonColor, $gradientColor, $buttonShadowColor) {
  background-color: $buttonColor;
  background: $gradientColor linear-gradient(170deg, $gradientColor 0%, $gradientColor 50%, $buttonColor 51%, $buttonColor 100%) no-repeat;
  box-shadow: 0 -1px 0 $buttonShadowColor inset;
  &:hover, &:focus {
    background-color: $gradientColor;
  }
}

@mixin button-secondary-theme($buttonColor, $buttonTextColorHover) {
  border-color: $buttonColor;
  color: $buttonColor;
  &:hover, &:focus {
    background-color: $buttonColor;
    border-color: $buttonColor;
    color: $buttonTextColorHover;
  }
  &:active {
    color: rgba($buttonTextColorHover, 0.7);
  }
}

// Primary buttons
.button-primary {
  @include button-basic-styles();
  @include button-basic-dimensions($buttonPrimaryHeight, $buttonPrimaryHeight);
  @include button-primary-theme($buttonColor, $buttonColorGradient, $buttonShadowColor);
  border: 0;
  color: $buttonPrimaryFontColor;
  font-size: $buttonPrimaryFontSize;
  font-family: $buttonPrimaryFontFamily;
  opacity: 1;
  transition: background-position 0.3s ease-out, opacity 0.3s ease-out;
  &:hover, &:focus {
    background-position: 0 10px;
    opacity: 0.7;
    outline: none;
  }
  &:active {
    color: rgba($buttonPrimaryFontColor, 0.7);
    outline: none;
  }
}

.button-primary--alt {
  @include button-primary-theme($buttonAltColor, $buttonAltColorGradient, $buttonAltShadowColor);
}

.button-primary--dark {
  @include button-primary-theme($buttonDarkColor, $buttonDarkColorGradient, $buttonDarkShadowColor);
}

// Secondary buttons
.button-secondary {
  $borderSize: 2px;
  @include button-basic-styles();
  @include button-basic-dimensions($buttonSecondaryHeight, ($buttonSecondaryHeight - 2*$borderSize));
  @include button-secondary-theme($buttonSecondaryColor, $buttonSecondaryTextColorHover);
  border-width: $borderSize;
  border-style: solid;
  background-color: transparent;
  font-size: $buttonSecondaryFontSize;
  font-family: $buttonSecondaryFontFamily;
  transition: background-color 0.4s ease-out, color 0.4s ease-out;
  &:hover, &:focus {
    opacity: 0.8;
    outline: none;
  }
  &:active {
    transition: background-color 0.4s ease-out;
    outline: none;
  }
  &:before {
    float: left;
    margin: 0 6px 0 -6px;
    line-height: ($buttonSecondaryHeight - 2*$borderSize);
  }
  &__text {
    float: left;
  }
  &__counter {
    float: left;
    margin: 0 -6px 0 12px;
  }
  &__full-size {
    margin: -$borderSize (-$buttonSecondaryHeight/2 - $borderSize);
    height: $buttonSecondaryHeight;
    line-height: $buttonSecondaryHeight;
    position: relative;
  }
}

.button-secondary--alt {
  @include button-secondary-theme($buttonSecondaryAltColor, $buttonSecondaryAltTextColorHover);
}

.button-secondary--dark {
  @include button-secondary-theme($buttonSecondaryDarkColor, $buttonSecondaryDarkTextColorHover);
}

.button-secondary--lav {
  @include button-secondary-theme($buttonSecondaryLavColor, $buttonSecondaryLavTextColorHover);
}

.button-secondary--gray {
  @include button-secondary-theme($buttonSecondaryGrayColor, $buttonSecondaryGrayTextColorHover);
}

.button-secondary--light {
  @include button-secondary-theme($buttonSecondaryLightColor, $buttonSecondaryLightTextColorHover);
}

.button-secondary--with-icon {
  @include button-secondary-theme($buttonSecondaryIconColor, $buttonSecondaryIconColor);
  &:before {
    $iconFontSize: $buttonSecondaryFontSize + $iconBoostValue;
    font-size: $iconFontSize;
  }
  &:hover, &:focus {
    background-color: transparent;
    border-color: $buttonSecondaryIconBorderColorHover;
    transition: border-color 0.1s ease-in;
  }
  &:active {
    color: rgba($buttonSecondaryIconColor, 0.7);
  }
}

.button-secondary--with-heart-icon {
  @extend .icon-heart;
  @extend .button-secondary--with-icon;
  &:before {
    color: $buttonSecondaryThankYouColor;
  }
  &:active:before {
    color: rgba($buttonSecondaryThankYouColor, 0.7);
  }
}

.button-secondary--with-crown-icon {
  @extend .icon-excellent;
  @extend .button-secondary--with-icon;
  color: $buttonSecondaryBestTextColor;
  &:hover, &:active, &:focus {
    color: $buttonSecondaryBestTextColor;
  }
  &:before {
    color: $buttonSecondaryBestIconColor;
  }
  &:active:before {
    color: rgba($buttonSecondaryBestIconColor, 0.7);
  }
}

.button-secondary--with-comment-icon {
  @extend .icon-comment;
  @extend .button-secondary--with-icon;
  &:before {
    color: $buttonSecondaryCommentColor;
  }
  &:active:before {
    color: rgba($buttonSecondaryCommentColor, 0.7);
  }
}

.button-secondary--small {
  $borderSize: 2px;
  @include button-basic-dimensions($buttonSecondarySmallHeight, $buttonSecondarySmallHeight - 2*$borderSize);
  font-size: $buttonSecondarySmallFontSize;
  .button-secondary__counter {
    margin: 0 -4px 0 8px;
  }
  .button-secondary__full-size {
    margin: -$borderSize (-$buttonSecondarySmallHeight/2 - $borderSize);
    height: $buttonSecondarySmallHeight;
    line-height: $buttonSecondarySmallHeight;
    position: relative;
  }
  &.button-secondary--with-icon:before {
    $iconFontSize: $buttonSecondarySmallFontSize + $iconBoostValue;
    margin: 0 4px 0 -4px;
    line-height: ($buttonSecondarySmallHeight - 2*$borderSize);
    font-size: $iconFontSize;
  }
}

.rate-box {
  @include clearfix();
  font-size: $rateStarFontSize;
  &__star {
    @extend .icon-star;
    color: $rateStarColor;
    font-size: $rateStarFontSize + $iconBoostValue;
    padding: 0 1px;
    float: left;
    &--checked {
      color: $rateStarCheckedColor;
    }
    .rate-box &:hover ~ & {
      color: $rateStarColor;
    }
    .rate-box:active &:hover ~ & {
      color: $rateStarActiveColor;
    }
  }
  &:hover &__star {
    color: $rateStarCheckedColor;
    transition: color 0.1s ease-in;
  }
  &:active:hover &__star {
    color: $rateStarActiveCheckedColor;
    transition: none;
  }
  &__counter {
    float: left;
    margin: 0 0 0 12px;
  }

  &--small {
    font-size: $rateStarSmallFontSize;
    .rate-box__star {
      font-size: $rateStarSmallFontSize + $iconBoostValue;
    }
    .rate-box__counter {
      margin-left: 6px;
    }
  }

  &--nested {
    .rate-box__star:first-child {
      padding-left: 12px;
    }
    .rate-box__star:last-child,
    .rate-box__counter:last-child {
      padding-right: 12px;
    }
  }
  &--small.rate-box--nested {
    .rate-box__star:first-child {
      padding-left: 10px;
    }
    .rate-box__star:last-child,
    .rate-box__counter:last-child {
      padding-right: 10px;
    }
  }
}
