// Primary colors
$black: #020a1b;
$mintPrimary: #56d9ab;
$mintSecondary: #aff3cf;
$mintSecondaryLight: #d5fae4;
$bluePrimary: #49a2ff;
$blueSecondary: #abe1ff;
$blueSecondaryLight: #daf3ff;

// Secondary colors
$lavenderPrimary: #637de5;
$lavenderSecondary: #b3c4ff;
$lavenderSecondaryLight: #e2e8ff;
$peachPrimary: #ff6966;
$peachSecondary: #ffbeba;
$peachSecondaryLight: #ffe2e0;
$mustardPrimary: #fec83c;
$mustardSecondary: #ffde8c;
$mustardSecondaryLight: #fff5d5;

// Grey colors
$white: #ffffff;
$grayPrimary: #434e66;
$graySecondary: #9fa6b5;
$graySecondaryLight: #e1e8ed;
$graySecondaryLightest: #f0f3f5;

// Special colors - for games
$bronze: #e99562;
$silver: #c8cbd3;
$gold: #f7cb6a;

// this comment exists to suppress errors about these unused variables:
// $bronze $silver $gold

// Shadows
$defaultBottomShadowColor: rgba(0, 0, 0, 0.1);
$defaultBottomShadow: 0 2px 6px 0 $defaultBottomShadowColor;

// Fonts
$fontFamilyProximaNova: 'ProximaNova';
$fontFamilyPrimary: $fontFamilyProximaNova, 'Helvetica', 'Arial', sans-serif;
$fontWeightNormal: 400;
$fontWeightBold: 700;
$fontWeightBlack: 900;

// Vertical rhythm
$baseFont: 16px;
$baseline: 1.5rem;

// Typo
$fontSizes: (
  default: 1rem,      // 16px
  xsmall: 0.625rem,     // 10px
  small: 0.875rem,   // 14px
  medium: 0.9375rem,  // 15px
  large: 3.625rem,    // 58px
  xlarge: 4.5rem,     // 72px
  xxlarge: 5rem,      // 80px
  obscure: 0.75rem,   // 12px
  standout: 1.125rem, // 18px
  subheadline: 1.25rem, // 20px
  headline: 1.5rem,  // 24px
  subheader: 2.75rem, // 44px
  header: 3rem
);

// Layout
$layoutMaximumWidth: 1024px;
$layoutDefaultPadding: 24px;

// Border radius
$borderRadiusDefault: 8px;
$borderRadiusLarge: $borderRadiusDefault * 1.5;
$borderRadiusSmall: $borderRadiusDefault / 2;
$borderRadiusXsmall: $borderRadiusDefault / 4;


// Vertical stack
$sgHeaderZIndex: 101;
$overlayZIndex: 999;
$toplayerZIndex: 1000;

// Breakpoints
$breakpointMedium: 768px !default;
$breakpointLarge: 1024px !default;

$breakpointsMap: (
  'small-only': '(max-width: #{$breakpointMedium - 1px})',
  'medium-only': '(min-width: #{$breakpointMedium}) and (max-width: #{$breakpointLarge - 1px})',
  'medium-down': '(max-width: #{$breakpointLarge - 1px})',
  'medium-up': '(min-width: #{$breakpointMedium})',
  'large-only': '(min-width: #{$breakpointLarge})'
);
