/*
 DO NOT USE THIS COLORS DIRECTLY!

  !WRONG!
  .box {
    color: $black;
  }

  !GOOD!
  $boxTextColor: $black;
  .div {
    color: $boxTextColor;
  }
*/

// Primary colors
$black: #000000;
$mintPrimary: #6ED6A0;
$mintSecondary: #A7E6C6;
$mintSecondaryLight: #E1F6EB;
$bluePrimary: #5BB8FF;
$blueSecondary: #ABE3FF;
$blueSecondaryLight: #DDF3FF;

// Secondary colors
$lavenderPrimary: #6E85FF;
$lavenderSecondary: #BDC8FC;
$lavenderSecondaryLight: #E8ECFF;
$peachPrimary: #FF8073;
$peachSecondary: #FDC7C1;
$peachSecondaryLight: #FFE5E2;
$mustardPrimary: #FFBE32;
$mustardSecondary: #FFDB8D;
$mustardSecondaryLight: #FFF1D5;

// Grey colors
$white: #FFFFFF;
$grayPrimary: #BBBDBF;
$graySecondary: #E1E3E5;
$graySecondaryLight: #F0F2F5;

// Shadows
$shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.25);

// Logo
$logoColor: $black;
$logoLettersColor: $white;

// Fonts
$fontFamilyPrimary: 'ProximaNovaRegular', 'Helvetica', 'Arial', sans-serif;
$fontFamilySecondary: 'ProximaNovaExtrabold', 'Helvetica', 'Arial', sans-serif;
$fontFamilyEmphasized: 'ProximaNovaBlack', 'Helvetica', 'Arial', sans-serif;

// Icons
$iconBoostValue: 4px;

// Buttons
$buttonPrimaryHeight: 44px;
$buttonSecondaryHeight: 32px;
$buttonSecondarySmallHeight: 24px;

$buttonPrimaryFontSize: 15px;
$buttonSecondaryFontSize: 12px;
$buttonSecondarySmallFontSize: 10px;

$buttonPrimaryFontFamily: $fontFamilySecondary;
$buttonSecondaryFontFamily: $fontFamilySecondary;

$buttonPrimaryFontColor: $white;

$buttonColor: $mintPrimary;
$buttonColorGradient: #84ddaf;
$buttonShadowColor: #67c996;

$buttonAltColor: $bluePrimary;
$buttonAltColorGradient: #73C3FF;
$buttonAltShadowColor: #57aff2;

$buttonDarkColor: $black;
$buttonDarkColorGradient: #262626;
$buttonDarkShadowColor: $black;

$buttonFbColor: #3b5997;
$buttonFbColorGradient: #4668b2;
$buttonFbShadowColor: #355088;

$buttonSecondaryColor: $mintPrimary;
$buttonSecondaryTextColorHover: $white;
$buttonSecondaryAltColor: $bluePrimary;
$buttonSecondaryAltTextColorHover: $white;
$buttonSecondaryDarkColor: $black;
$buttonSecondaryDarkTextColorHover: $white;
$buttonSecondaryPeachColor: $peachPrimary;
$buttonSecondaryPeachTextColorHover: $white;
$buttonSecondaryGrayColor: $grayPrimary;
$buttonSecondaryGrayTextColorHover: $white;
$buttonSecondaryLightColor: $white;
$buttonSecondaryLightTextColorHover: $black;
$buttonSecondaryActionColor: $graySecondary;
$buttonSecondaryActionTextColor: $black;
$buttonSecondaryActionTextColorHover: $white;


$buttonSecondaryIconColor: $grayPrimary;
$buttonSecondaryIconBorderColorHover: $graySecondary;

$buttonSecondaryThankYouColor: $peachPrimary;
$buttonSecondaryCommentColor: $bluePrimary;
$buttonSecondaryBestIconColor: $mustardPrimary;
$buttonSecondaryBestTextColor: $black;

$iconAsButtonColor: $bluePrimary;
$iconAsButtonLightColor: $white;

// Tabs
$tabBackground: $graySecondaryLight;
$tabTextColor: $grayPrimary;
$tabSeparatorColor: $graySecondary;
$tabActiveBackground: $bluePrimary;
$tabActiveTextColor: $white;
$tabHoverBackground: $blueSecondary;
$tabHoverTextColor: $white;
$tabHeight: 44px;
$tabSmallHeight: 32px;
$tabFontSize: 12px;
$tabsFontFamily: $fontFamilySecondary;

// Inputs
$selectBackground: #E9ECEE;
$selectTextColor: #969799;
$selectFontSize: 12px;
$selectHeight: 44px;
$selectFontFamily: $fontFamilySecondary;
$selectHoverBackground: $graySecondary;
$selectInvalidBorderColor: $peachSecondary;

$inputHeight: 44px;
$inputLowHeight: 36px;
$inputBackground: $white;
$inputBorderColor: $graySecondary;
$inputTextColor: $black;
$inputFontSize: 15px;
$inputFontFamily: $fontFamilyPrimary;
$inputFocusBorderColor: $grayPrimary;
$inputPlaceholderTextColor: $grayPrimary;
$inputPlaceholderFontSize: 12px;
$inputPlaceholderFontFamily: $fontFamilySecondary;
$inputValidBorderColor: $mintSecondary;
$inputInvalidBorderColor: $peachSecondary;
$inputTransparentBorderColor: rgba($graySecondary, 0.7);
$inputTransparentFocusBorderColor: rgba($grayPrimary, 0.7);

// Checkbox/Radio
$crInputSize: 16px;
$crInputFontSize: 16px;
$crInputColor: $white;
$crInputBorderColor: $graySecondary;
$crInputHoverBorderColor: $blueSecondaryLight;
$crInputActiveBorderColor: $bluePrimary;
$crInputCheckedColor: $bluePrimary;

$crInputLabelFontFamily: $fontFamilySecondary;
$crInputLabelFontSize: 12px;
$crInputLabelLineHeight: 18px;
$crInputLabelHeight: 16px;
$crInputLabelColor: $grayPrimary;

// Textarea
$textareaBackground: $white;
$textareaBorderColor: $graySecondary;
$textareaBorderRadius: 11px;
$textareaFontSize: 15px;
$textareaFontFamily: $fontFamilyPrimary;
$textareaLineHeight: 19px;
$textareaTextColor: $black;
$textareaPadding: 11px;
$textareaFocusBorderColor: $grayPrimary;
$textareaPlaceholderTextColor: $grayPrimary;
$textareaPlaceholderFontSize: 12px;
$textareaPlaceholderFontFamily: $fontFamilySecondary;
$textareaValidBorderColor: $mintSecondary;
$textareaInvalidBorderColor: $peachSecondary;

// Rate box
$rateStarColor: $graySecondary;
$rateStarCheckedColor: $mustardPrimary;
$rateStarActiveColor: $graySecondaryLight;
$rateStarActiveCheckedColor: $mustardSecondary;
$rateStarFontSize: 12px;
$rateStarSmallFontSize: 10px;

// Heading
$headerColor: $black;
$headerPrimaryFontFamily: $fontFamilyEmphasized;
$headerSecondaryFontFamily: $fontFamilySecondary;
$headerPrimaryFontSize: 64px;
$headerPrimarySmallFontSize: 48px;
$headerSecondaryFontSize: 15px;
$headerSecondarySmallFontSize: 12px;

// Bit
$textBitFontFamily: $fontFamilyEmphasized;
$textBitFontSize: 58px;
$textBitLineHeight: 0.9;
$textBitColor: $mintSecondary;
$textBitAltColor: $blueSecondary;
$textBitSmallFontSize: 44px;
$textBitLogoSize: 84px;
$textBitSmallLogoSize: 68px;

// Texts
$textBlockFontFamily: $fontFamilySecondary;
$textBlockFontSize: 12px;
$textBlockLineHeight: 14px;
$textBlockColor: $black;
$textBlockLightColor: $grayPrimary;
$textBlockLinkColor: $bluePrimary;

$textDescriptionFontFamily: $fontFamilyPrimary;
$textDescriptionColor: $black;
$textDescriptionFontSize: 15px;
$textDescriptionLineHeight: 19px;
$textDescriptionLinkColor: $bluePrimary;
$mintTextEmphasisedFontFamily: $fontFamilySecondary;

// Lists
$listDefaultFont: $fontFamilyPrimary;

$breadcrumbListFontFamily: $fontFamilySecondary;
$breadcrumbListFontSize: 12px;
$breadcrumbListSeparatorColor: $grayPrimary;
$breadcrumbListColor: $bluePrimary;
$breadcrumbListColorAlt: $grayPrimary;

$menuListColor: $bluePrimary;
$menuListFontSize: 13px;
$menuListBorderColor: $graySecondary;

// Bubble
$bubbleBackground: $white;
$bubbleBackgroundDark: $graySecondaryLight;
$bubbleBorderColor: $graySecondary;
$bubbleBorderRadius: 5px;

// Search widget
$searchWidgetIconColor: $bluePrimary;

// Avatars
$avatarDefaultBackgroundColor: $grayPrimary;
$avatarDefaultPersonColor: $graySecondary;
$avatarSmallSize: 28px;
$avatarMediumSize: 34px;
$avatarBigSize: 40px;
$avatarSmallBorderWidth: 1px;
$avatarMediumBorderWidth: 1px;
$avatarBigBorderWidth: 2px;
$avatarBorderColor: $white;

// Promo box
$promoBoxBackgroundColor: $mintSecondary;
$promoBoxHeaderColor: $white;
$promoBoxHeaderPrimaryFontFamily: $fontFamilyEmphasized;
$promoBoxHeaderPrimaryFontSize: 50px;
$promoBoxTextSize: 24px;
$promoBoxLineHeight: 44px;
$promoBoxFontFamily: $fontFamilyPrimary;

// Layout
$layoutMaximumWidth: 960px;
$layoutDefaultPadding: 5px;
$breakpointTablet: 768px;

// Header
$headerDominantColor: #65A6A8;

// Stickers
$stickerSize: 18px;
$stickerIconColor: $bluePrimary;
$stickerOutlineColor: $white;

// Badges
$badgeFontFamily: $fontFamilySecondary;
$badgeFontSize: 10px;
$badgeDefaultBackgroundColor: $peachPrimary;
$badgeDefaultColor: $white;
$badgeLightBackgroundColor: $white;
$badgeLightColor: $black;

// Separators
$separatorColor: $grayPrimary;
$separatorHeight: 18px;
$separatorSpacing: 15px;
$separatorHeightSmall: 10px;
$separatorSpacingSmall: 10px;
