// Primary colors
$black: #000000;

$mintPrimaryDark: #24a865;
$mintPrimary: #60d399;
$mintSecondary: #9ce8c2;
$mintSecondaryLight: #e3f7ed;
$mintSecondaryUltraLight: #f0faf5;

$bluePrimaryDark: #0089e3;
$bluePrimary: #4fb3f6;
$blueSecondary: #b9e2fe;
$blueSecondaryLight: #d9f0ff;
$blueSecondaryUltraLight: #edf8ff;

// Secondary colors
$lavenderPrimaryDark: #163bf3;
$lavenderPrimary: #6d83f3;
$lavenderSecondary: #bdc7fb;
$lavenderSecondaryLight: #ebeeff;
$lavenderSecondaryUltraLight: #f2f4ff;

$peachPrimaryDark: #ff341a;
$peachPrimary: #ff7968;
$peachSecondary: #ffc7bf;
$peachSecondaryLight: #ffe8e5;
$peachSecondaryUltraLight: #fff1f0;

$mustardPrimaryDark: #c98600;
$mustardPrimary: #fbbe2e;
$mustardSecondary: #fedd8e;
$mustardSecondaryLight: #fff3d6;
$mustardSecondaryUltraLight: #fffaf0;

// Grey colors
$white: #ffffff;
$grayPrimary: #323c45;
$graySecondary: #687b8c;
$graySecondaryLight: #c3d1dd;
$graySecondaryLighter: #e1eaf1;
$graySecondaryLightest: #ebf2f7;
$graySecondaryUltraLight: #f5f8fa;

// configuration needed for buttons
$transparent: rgba(255, 255, 255, 0);
$buttonPrimaryFbColor: #3c5b96;
$buttonPrimaryFbHoverColor: #4367a9;

// this comment exists to suppress errors about these unused variables:
// $mintPrimaryDark $bluePrimaryDark $lavenderPrimaryDark $peachPrimaryDark $mustardPrimaryDark
// $blueSecondaryUltraLight $lavenderSecondaryUltraLight $mintSecondaryUltraLight
// $mustardSecondaryUltraLight $peachSecondaryUltraLight $peachSecondary $graySecondaryLighter

// Shadows
$shadowSmall: 0 2px 8px 0 rgba($grayPrimary, 0.2);
$shadowMedium: 0 4px 16px 0 rgba($grayPrimary, 0.2);
$shadowLarge: 0 8px 32px 0 rgba($grayPrimary, 0.2);

// Fonts
$fontFamilyProximaNova: 'ProximaNova';
$fontFamilyUntitledSerif: 'UntitledSerif';
$fontFamilyPrimary: $fontFamilyProximaNova, 'Helvetica', 'Arial', sans-serif;
$fontWeightNormal: 400;
$fontWeightBold: 700;
$fontWeightBlack: 900;

// Vertical rhythm
$baseFont: 16px;
$baseline: 1.5rem;

// Typo
$fontSizes: (
  default: 1rem, // 16px
  xsmall: 0.625rem, // 10px
  small: 0.875rem, // 14px
  medium: 0.9375rem, // 15px
  large: 3.625rem, // 58px
  xlarge: 4.5rem, // 72px
  xxlarge: 5rem, // 80px
  obscure: 0.75rem, // 12px
  standout: 1.125rem, // 18px
  subheadline: 1.25rem, // 20px
  headline: 1.5rem, // 24px
  subheader: 2.75rem, // 44px
  header: 3rem,
);

// Layout
$layoutMaximumWidth: 1400px;
$layoutDefaultPadding: 24px;

// Spacings
$sizesSetup: (
  xxs: 4px, // additional for very small components, like icons
  xs: 8px,
  s: 16px,
  m: 24px,
  l: 40px,
  xl: 64px,
  xxl: 104px,
  xxxl: 168px,
  xxxxl: 272px,
);

// component sizes
$componentSizesSetup: (
  xxs: 16px,
  xs: 24px,
  s: 32px,
  m: 40px,
  l: 56px,
  xl: 80px,
  xxl: 104px,
);

// Border radius
$borderRadiusDefault: 8px;
$borderRadiusLarge: $borderRadiusDefault * 1.5;
$borderRadiusSmall: $borderRadiusDefault / 2;

// Vertical stack
$sgHeaderZIndex: 101;
$overlayZIndex: 999;
$toplayerZIndex: 1000;

// Breakpoints
$breakpointMedium: 768px !default;
$breakpointLarge: 1024px !default;
$breakpointXLarge: 1280px !default;

/// @deprecated Adding values to this map should be avoided.
/// Use $responsiveBreakpointsMap
$breakpointsMap: (
  'small-only': '(max-width: #{$breakpointMedium - 1px})',
  'medium-only': '(min-width: #{$breakpointMedium}) and (max-width: #{$breakpointLarge - 1px})',
  'medium-down': '(max-width: #{$breakpointLarge - 1px})',
  'medium-up': '(min-width: #{$breakpointMedium})',
  'large-only': '(min-width: #{$breakpointLarge})',
  'large-up': '(min-width: #{$breakpointLarge})',
  'xlarge-up': '(min-width: #{$breakpointXLarge})',
);

// Breakpoints map for mobile first approach usage
$responsiveBreakpointsMap: (
  'md': '(min-width: #{$breakpointMedium})',
  'lg': '(min-width: #{$breakpointLarge})',
  'xl': '(min-width: #{$breakpointXLarge})',
);

// Breakpoints variants for generating responsive utility classes
$responsiveVariants: (
  '': '',
  md: 'md\\:',
  lg: 'lg\\:',
  xl: 'xl\\:',
);

// Form elements configuration
$formElementSizeM: 40px; // Standard size for elements like inputs, selects or buttons
$formElementSizeL: 56px;
$formElementDefaultBackgroundColor: $graySecondaryLightest;
$formElementActiveBorderColor: $graySecondaryLight;
$formElementDefaultTextColor: $black;
$formElementPlacholderTextColor: $graySecondary;
$formElementDefaultFontSize: 16px; // fix zooming to input on focus in iOS devices
$formElementLargeFontSize: 18px;
$formElementDefaultLineHeight: 24px;
$formElementValidColor: $mintPrimary;
$formElementInvalidColor: $peachPrimary;
$formElementStandardBorderRadius: 20px;
$formElementLargeBorderRadius: 28px;

// Motion animation durations
$durationInstant: 0ms; // Text change
$durationQuick1: 80ms; // Checkboxes, Radio Buttons, Hover
$durationQuick2: 120ms; // Toggles, Tabs, Color, Fade
$durationModerate1: 180ms; // Dropdowns, Tooltips
$durationModerate2: 260ms; // Modals, Toast, Dialog, Notification
$durationGentle1: 320ms; // Bottom Sheet, Card Expand
$durationGentle2: 400ms; // Advanced Animations

$easingRegular: cubic-bezier(0.35, 0, 0.1, 1);
$easingEntry: cubic-bezier(0.1, 0, 0, 1);
$easingExit: cubic-bezier(0.3, 0, 1, 0.8);
$easingLinear: cubic-bezier(0, 0, 0, 0);

