/*
 DO NOT USE THIS COLORS DIRECTLY!

  !WRONG!
  .box {
    color: $black;
  }

  !GOOD!
  $boxTextColor: $black;
  .div {
    color: $boxTextColor;
  }
*/

// Primary colors
$black: #000000;
$mintPrimary: #6ED6A0;
$mintSecondary: #A7E6C6;
$mintSecondaryLight: #E1F6EB;
$bluePrimary: #5BB8FF;
$blueSecondary: #ABE3FF;
$blueSecondaryLight: #DDF3FF;

// Secondary colors
$lavenderPrimary: #6E85FF;
$lavenderSecondary: #BDC8FC;
$lavenderSecondaryLight: #E8ECFF;
$peachPrimary: #FF8073;
$peachSecondary: #FDC7C1;
$peachSecondaryLight: #FFE5E2;
$mustardPrimary: #FFBE32;
$mustardSecondary: #FFDB8D;
$mustardSecondaryLight: #FFF1D5;

// Grey colors
$white: #FFFFFF;
$grayPrimary: #BBBDBF;
$graySecondary: #E1E3E5;
$graySecondaryLight: #F0F2F5;

// Icons
$iconBoostValue: 4px;

// Buttons
$buttonPrimaryHeight: 44px;
$buttonSecondaryHeight: 32px;
$buttonSecondarySmallHeight: 24px;

$buttonPrimaryFontSize: 16px;
$buttonSecondaryFontSize: 12px;
$buttonSecondarySmallFontSize: 10px;

$buttonPrimaryFontColor: $white;

$buttonColor: $mintPrimary;
$buttonColorGradient: #84ddaf;
$buttonShadowColor: #67c996;

$buttonAltColor: $bluePrimary;
$buttonAltColorGradient: #73C3FF;
$buttonAltShadowColor: #57aff2;

$buttonDarkColor: $black;
$buttonDarkColorGradient: #262626;
$buttonDarkShadowColor: $black;

$buttonSecondaryColor: $mintPrimary;
$buttonSecondaryTextColorHover: $white;
$buttonSecondaryAltColor: $bluePrimary;
$buttonSecondaryAltTextColorHover: $white;
$buttonSecondaryDarkColor: $black;
$buttonSecondaryDarkTextColorHover: $white;
$buttonSecondaryLavColor: $lavenderPrimary;
$buttonSecondaryLavTextColorHover: $white;
$buttonSecondaryGrayColor: $grayPrimary;
$buttonSecondaryGrayTextColorHover: $white;

$buttonSecondaryIconColor: $grayPrimary;
$buttonSecondaryIconBorderColorHover: $graySecondary;

$buttonSecondaryThankYouColor: $peachPrimary;
$buttonSecondaryCommentColor: $bluePrimary;

// Tabs
$tabBackground: $graySecondaryLight;
$tabTextColor: $grayPrimary;
$tabSeparatorColor: $graySecondary;
$tabActiveBackground: $bluePrimary;
$tabActiveTextColor: $white;
$tabHoverBackground: $blueSecondary;
$tabHoverTextColor: $white;
$tabHeight: 44px;
$tabSmallHeight: 32px;
$tabFontSize: 12px;

// Inputs
$selectBackground: $graySecondaryLight;
$selectTextColor: $grayPrimary;
$selectFontSize: 12px;
$selectHeight: 44px;
$selectHoverBackground: $graySecondary;

$inputHeight: 44px;
$inputBackground: $white;
$inputBorderColor: $graySecondary;
$inputTextColor: $black;
$inputFontSize: 12px;
$inputFocusBorderColor: $grayPrimary;
$inputPlaceholderTextColor: $grayPrimary;
$inputValidBorderColor: $mintPrimary;
$inputInvalidBorderColor: $peachPrimary;

// Checkbox/Radio
$crInputSize: 16px;
$crInputFontSize: 16px;
$crInputColor: $white;
$crInputBorderColor: $graySecondary;
$crInputHoverBorderColor: $blueSecondaryLight;
$crInputActiveBorderColor: $bluePrimary;
$crInputCheckedColor: $bluePrimary;

// Textarea
$textareaBackground: $white;
$textareaBorderColor: $graySecondary;
$textareaBorderRadius: 12px;
$textareaFontSize: 12px;
$textareaTextColor: $black;
$textareaPadding: 11px;
$textareaFocusBorderColor: $grayPrimary;
$textareaPlaceholderTextColor: $grayPrimary;

// Rate box
$rateStarColor: $graySecondary;
$rateStarCheckedColor: $mustardPrimary;
$rateStarActiveColor: $graySecondaryLight;
$rateStarActiveCheckedColor: $mustardSecondary;
$rateStarFontSize: 12px;
$rateStarSmallFontSize: 10px;
