// Primary colors
$black: #020a1b;
$mintPrimary: #53cf92;
$mintSecondary: #a8edc8;
$mintSecondaryLight: #d8f8e5;
$bluePrimary: #57b2f8;
$blueSecondary: #abe1ff;
$blueSecondaryLight: #daf3ff;

// Secondary colors
$lavenderPrimary: #7a8adb;
$lavenderSecondary: #b3c4ff;
$lavenderSecondaryLight: #e2e8ff;
$peachPrimary: #ff796b;
$peachSecondary: #ffb3ae;
$peachSecondaryLight: #ffe2e0;
$mustardPrimary: #fec83c;
$mustardSecondary: #ffde8c;
$mustardSecondaryLight: #fff5d5;

// Grey colors
$white: #ffffff;
$grayPrimary: #434e66;
$graySecondary: #9fa6b5;
$graySecondaryLight: #e1e8ed;
$graySecondaryLightest: #f0f3f5;

// Special colors - for games
$bronzePrimary: #a76a58;
$bronzeSecondary: #db8d6b;
$bronzeSecondaryLight: #f4d7ca;
$silverPrimary: #8e969a;
$silverSecondary: #b6bec2;
$silverSecondaryLight: #e8eef1;
$goldPrimary: #c08228;
$goldSecondary: #ecb444;
$goldSecondaryLight: #fbe4b5;
$navybluePrimary: #1b2e57;
$navyblueSecondary: #3a548d;
$navyblueSecondaryLight: #b3c4e7;

// this comment exists to suppress errors about these unused variables:
// $bronzePrimary $bronzeSecondary $bronzeSecondaryLight $silverPrimary
// $silverSecondary $silverSecondaryLight $goldPrimary $goldSecondary
// $goldSecondaryLight $navybluePrimary $navyblueSecondary $navyblueSecondaryLight

// Shadows
$defaultBottomShadowColor: rgba(0, 0, 0, 0.1);
$defaultBottomShadow: 0 2px 6px 0 $defaultBottomShadowColor;
$componentShadow: 0 1px 6px 0 rgba(2, 10, 27, 0.2);
$containerShadow: 0 1px 12px 0 rgba(2, 10, 27, 0.15);
$elevatedComponentShadow: 0 3px 16px 0 rgba(2, 10, 27, 0.15);
$elevatedContainerShadow: 0 3px 32px 0 rgba(2, 10, 27, 0.15);

// Fonts
$fontFamilyProximaNova: 'ProximaNova';
$fontFamilyPrimary: $fontFamilyProximaNova, 'Helvetica', 'Arial', sans-serif;
$fontWeightNormal: 400;
$fontWeightBold: 700;
$fontWeightBlack: 900;

// Vertical rhythm
$baseFont: 16px;
$baseline: 1.5rem;

// Typo
$fontSizes: (
  default: 1rem,      // 16px
  xsmall: 0.625rem,     // 10px
  small: 0.875rem,   // 14px
  medium: 0.9375rem,  // 15px
  large: 3.625rem,    // 58px
  xlarge: 4.5rem,     // 72px
  xxlarge: 5rem,      // 80px
  obscure: 0.75rem,   // 12px
  standout: 1.125rem, // 18px
  subheadline: 1.25rem, // 20px
  headline: 1.5rem,  // 24px
  subheader: 2.75rem, // 44px
  header: 3rem
);

// Layout
$layoutMaximumWidth: 1400px;
$layoutDefaultPadding: 24px;

// Border radius
$borderRadiusDefault: 8px;
$borderRadiusLarge: $borderRadiusDefault * 1.5;
$borderRadiusSmall: $borderRadiusDefault / 2;
$borderRadiusXsmall: $borderRadiusDefault / 4;


// Vertical stack
$sgHeaderZIndex: 101;
$overlayZIndex: 999;
$toplayerZIndex: 1000;

// Breakpoints
$breakpointMedium: 768px !default;
$breakpointLarge: 1024px !default;

$breakpointsMap: (
  'small-only': '(max-width: #{$breakpointMedium - 1px})',
  'medium-only': '(min-width: #{$breakpointMedium}) and (max-width: #{$breakpointLarge - 1px})',
  'medium-down': '(max-width: #{$breakpointLarge - 1px})',
  'medium-up': '(min-width: #{$breakpointMedium})',
  'large-only': '(min-width: #{$breakpointLarge})'
);
