/*
 DO NOT USE THIS COLORS DIRECTLY!

  !WRONG!
  .box {
    color: $black;
  }

  !GOOD!
  $boxTextColor: $black;
  .div {
    color: $boxTextColor;
  }
*/

// Primary colors
$black: #000000;
$mintPrimary: #6ED6A0;
$mintSecondary: #A7E6C6;
$mintSecondaryLight: #E1F6EB;
$bluePrimary: #5BB8FF;
$blueSecondary: #ABE3FF;
$blueSecondaryLight: #DDF3FF;

// Secondary colors
$lavenderPrimary: #6E85FF;
$lavenderSecondary: #BDC8FC;
$lavenderSecondaryLight: #E8ECFF;
$peachPrimary: #FF8073;
$peachSecondary: #FDC7C1;
$peachSecondaryLight: #FFE5E2;
$mustardPrimary: #FFBE32;
$mustardSecondary: #FFDB8D;
$mustardSecondaryLight: #FFF1D5;

// Grey colors
$white: #FFFFFF;
$grayPrimary: #BBBDBF;
$graySecondary: #E1E3E5;
$graySecondaryLight: #F0F2F5;
$grayAlt: #969799;
$grayAltLight: #E9ECEE;

// Shadows
$defaultBottomShadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.25);

// Fonts
$fontFamilyPrimary: 'ProximaNovaRegular', 'Helvetica', 'Arial', sans-serif;
$fontFamilySecondary: 'ProximaNovaExtrabold', 'Helvetica', 'Arial', sans-serif;
$fontFamilyEmphasized: 'ProximaNovaBlack', 'Helvetica', 'Arial', sans-serif;

// Icons
$iconBoostValue: 4px;

// Vertical rhythm
$base-font: 16px;
$baseline: 1.5rem;

// Layout
$layoutMaximumWidth: 960px;
$layoutDefaultPadding: 24px;
$defaultComponentHeight: 20px;

// Vertical stack
$overlayZIndex: 999;
$toplayerZIndex: 1000;

// Breakpoints
$breakpointMedium: 768px;
$breakpointLarge: 1024px;
