@mixin applyFocusStyle() {
  box-shadow: 0px 0px 0px 2px var(--focusColorInner),
    0px 0px 0px 4px var(--focusColor), 0px 0px 0px 6px var(--focusColorOuter);
  outline: none;
  animation: focusShadow1 $durationQuick2 $easingEntry,
    focusShadow2 $durationQuick2 $easingEntry calc($durationQuick2 / 2),
    focusShadow3 $durationQuick2 $easingEntry $durationQuick2;

  @media (forced-colors: active) {
    outline-color: Highlight;
    outline-width: 2px;
    outline-offset: 6px;
  }
}

@keyframes focusShadow1 {
  0% {
    box-shadow: 0px 0px 0px 0px var(--focusColorInner);
  }

  100% {
    box-shadow: 0px 0px 0px 2px var(--focusColorInner);
  }
}

@keyframes focusShadow2 {
  0% {
    box-shadow: 0px 0px 0px 1.8px var(--focusColorInner);
  }

  100% {
    box-shadow: 0px 0px 0px 2px var(--focusColorInner),
      0px 0px 0px 4px var(--focusColor);
  }
}

@keyframes focusShadow3 {
  0% {
    box-shadow: 0px 0px 0px 2px var(--focusColorInner),
      0px 0px 0px 3.8px var(--focusColor);
  }

  100% {
    box-shadow: 0px 0px 0px 2px var(--focusColorInner),
      0px 0px 0px 4px var(--focusColor), 0px 0px 0px 6px var(--focusColorOuter);
  }
}

@mixin applyFocusTextStyle() {
  outline-color: var(--focusColor);
  outline-width: 2px;
  outline-offset: 4px;
  outline-style: auto;
}

@mixin applyFocus() {
  transition: box-shadow $durationQuick1 $easingExit;

  &:focus-visible {
    @include applyFocusStyle();
  }

  &:focus {
    @include applyFocusStyle();
  }

  &:focus:not(:focus-visible) {
    box-shadow: none;
    outline: none;
    animation: none;
  }
}

@mixin applyFocusText() {
  &:focus-visible {
    @include applyFocusTextStyle();
  }

  &:focus {
    @include applyFocusTextStyle();
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
