$include-html: false !default;

@if ($include-html) {

  @font-face {
    font-family: 'ProximaNovaRegular';
    src: url($mintFontsPath + 'ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'ProximaNovaExtrabold';
    src: url($mintFontsPath + 'ProximaNova-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'ProximaNovaBlack';
    src: url($mintFontsPath + 'ProximaNova-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

}
