$includeHtml: false !default;
$includeFonts: true !default;
$figtreeRegularWoff2Path: $sgFontsPath + 'Figtree-Regular.woff2';
$figtreeRegularWoffPath: $sgFontsPath + 'Figtree-Regular.woff';
$figtreeBoldWoff2Path: $sgFontsPath + 'Figtree-Bold.woff2';
$figtreeBoldWoffPath: $sgFontsPath + 'Figtree-Bold.woff';
$figtreeBlackWoff2Path: $sgFontsPath + 'Figtree-Black.woff2';
$figtreeBlackWoffPath: $sgFontsPath + 'Figtree-Black.woff';

@if ($includeHtml and $includeFonts) {
  @font-face {
    font-family: $fontFamilyFigtree;
    src: url($figtreeRegularWoff2Path) format('woff2'),
      url($figtreeRegularWoffPath) format('woff');
    font-weight: $fontWeightNormal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: $fontFamilyFigtree;
    src: url($figtreeBoldWoff2Path) format('woff2'),
      url($figtreeBoldWoffPath) format('woff');
    font-weight: $fontWeightBold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: $fontFamilyFigtree;
    src: url($figtreeBlackWoff2Path) format('woff2'),
      url($figtreeBlackWoffPath) format('woff');
    font-weight: $fontWeightBlack;
    font-style: normal;
    font-display: swap;
  }
}
