$includeHtml: false !default;
$proximaNovaRegularWoff2Path: $sgFontsPath + 'ProximaNova-Regular.woff2';
$proximaNovaRegularWoffPath: $sgFontsPath + 'ProximaNova-Regular.woff';
$proximaNovaBoldWoff2Path: $sgFontsPath + 'ProximaNova-Bold.woff2';
$proximaNovaBoldWoffPath: $sgFontsPath + 'ProximaNova-Bold.woff';
$proximaNovaBlackWoff2Path: $sgFontsPath + 'ProximaNova-Black.woff2';
$proximaNovaBlackWoffPath: $sgFontsPath + 'ProximaNova-Black.woff';

@if ($includeHtml) {

  @font-face {
    font-family: $fontFamilyProximaNova;
    src: url($proximaNovaRegularWoff2Path) format('woff2'), url($proximaNovaRegularWoffPath) format('woff');
    font-weight: $fontWeightNormal;
    font-style: normal;
    // sass-lint:disable no-misspelled-properties
    font-display: swap;
    // sass-lint:enable no-misspelled-properties
  }

  @font-face {
    font-family: $fontFamilyProximaNova;
    src: url($proximaNovaBoldWoff2Path) format('woff2'), url($proximaNovaBoldWoffPath) format('woff');
    font-weight: $fontWeightBold;
    font-style: normal;
    // sass-lint:disable no-misspelled-properties
    font-display: swap;
    // sass-lint:enable no-misspelled-properties
  }

  @font-face {
    font-family: $fontFamilyProximaNova;
    src: url($proximaNovaBlackWoff2Path) format('woff2'), url($proximaNovaBlackWoffPath) format('woff');
    font-weight: $fontWeightBlack;
    font-style: normal;
    // sass-lint:disable no-misspelled-properties
    font-display: swap;
    // sass-lint:enable no-misspelled-properties
  }
}
