.mint-select {
  @extend .icon-arrow_down;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: $selectHeight/2;
  font-size: $selectFontSize;
  color: $selectTextColor;
  &__element {
    background: $selectBackground;
    border: 0;
    cursor: pointer;
    font-size: inherit;
    font-family: $selectFontFamily;
    font-weight: bold;
    color: inherit;
    display: inline-block;
    height: $selectHeight;
    position: relative;
    padding: 0 $selectHeight/2+14px 0 $selectHeight/2;
    outline: 0;
    appearance: none;
    text-transform: uppercase;
    &::-ms-expand {
      display: none;
    }
    &:hover, &:focus, &:active {
      background: $selectHoverBackground;
    }
  }
  &:before {
    $iconSize: $selectFontSize + $iconBoostValue;
    font-size: $iconSize;
    font-weight: bold;
    position: absolute;
    right: $selectHeight / 2 - $iconSize / 2;
    top: 50%;
    pointer-events: none;
    z-index: 1;
    margin-top: 1px;
    transform: translateY(-50%);
  }
}

.mint-input {
  box-sizing: border-box;
  background: $inputBackground;
  border: 2px solid $inputBorderColor;
  border-radius: $inputHeight/2;
  color: $inputTextColor;
  font-size: $inputFontSize;
  font-family: $fontFamilySecondary;
  font-weight: bold;
  padding: 0 $inputHeight/2;
  height: $inputHeight;
  line-height: $inputHeight;
  &:focus {
    outline: none;
    border-color: $inputFocusBorderColor;
  }
  &::placeholder {
    color: $inputPlaceholderTextColor;
    text-transform: uppercase;
  }
  &--valid {
    border-color:$inputValidBorderColor;
    &:focus {
      border-color:$inputValidBorderColor;
    }
  }
  &--invalid {
    border-color:$inputInvalidBorderColor;
    &:focus {
      border-color:$inputInvalidBorderColor;
    }
  }
  &--spaced {
    margin-bottom: $inputHeight/4;
  }
  &--full {
    width: 100%;
  }
}

.mint-checkbox,
.mint-radio {
  position: relative;
  display: inline-block;
  width: $crInputSize;
  height: $crInputSize;
  font-size: $crInputFontSize;
  &__element {
    opacity: 0;
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
  }
  &__element:active + &__ghost {
    border-color: $crInputActiveBorderColor;
  }
  &__element:checked + &__ghost {
    border-color: $crInputCheckedColor;
    background: $crInputCheckedColor;
  }
  &__ghost {
    box-sizing: border-box;
    background: $crInputColor;
    width: 100%;
    height: 100%;
    border: 2px solid $crInputBorderColor;
    display: inline-block;
  }
}

.mint-checkbox-label,
.mint-radio-label {
  font-family: $crInputLabelFontFamily;
  font-size: $crInputLabelFontSize;
  line-height: $crInputLabelLineHeight;
  height: $crInputLabelHeight;
  color: $crInputLabelColor;
  margin: 0 0 0 5px;
  padding: 0;
  vertical-align: top;
  display: inline-block;
}

.mint-checkbox__element:checked:active + .mint-checkbox__ghost:before {
  color: rgba($crInputColor, 0.7);
}

.mint-checkbox__ghost {
  @extend .icon-check;
  border-radius: 25%;
  &:before {
    font-size: 137.5%;
    position: absolute;
    left: -18.75%;
    top: -18.75%;
    color: $crInputColor;
  }
}

.mint-radio__ghost {
  border-radius: 50%;
  &:before {
    content: '';
    position: absolute;
    border-radius: 100%;
    background-color: $crInputColor;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
  }
}

.mint-textarea {
  background: $textareaBackground;
  border: 2px solid $textareaBorderColor;
  border-radius: $textareaBorderRadius;
  color: $textareaTextColor;
  font-size: $textareaFontSize;
  font-family: $fontFamilySecondary;
  font-weight: bold;
  line-height: $textareaLineHeight;
  padding: $textareaPadding;
  resize: vertical;
  &:focus {
    border-color: $textareaFocusBorderColor;
    outline: 0;
  }
  &::placeholder {
    color: $textareaPlaceholderTextColor;
    text-transform: uppercase;
  }
}
