.mint-header {
  width: 100%;
  height: 60px;
  background-image: url($mintImagesPath + 'header_background_wide.jpg');
  background-repeat: repeat-x;
  background-color: $headerDominantColor;
  @include image-2x($mintImagesPath + 'header_background_wide@2x.jpg', auto, 60px);

  &__container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: $layoutMaximumWidth;
    padding: 0 10px;
    margin: auto;
    align-items: center;

    @media (min-width: $breakpointTablet) {
      padding: 0 $layoutDefaultPadding;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    margin-right: 10px;
    @media (min-width: $breakpointTablet) {
      margin-right: 20px;
    }
  }

  &__middle {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__right {
    margin-left: 10px;
    @media (min-width: $breakpointTablet) {
      margin-left: 20px;
    }
  }

  &__right {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
}
