.mint-header {
  width: 100%;
  height: 60px;
  background-image: url('../images/header_background_wide.jpg');
  background-repeat: repeat-x;
  background-color: $headerDominantColor;
  @include image-2x('../images/header_background_wide@2x.jpg', auto, 60px);

  &__container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: $layoutMaximumWidth;
    padding: 0 $layoutDefaultPadding;
    margin: auto;
    align-items: center;
  }

  &__left {
    vertical-align: middle;
  }

  &__middle {
    flex-grow: 1;
    vertical-align: middle;

    @media (min-width: $breakpointTablet) {
      margin-left: 20px;
    }
  }

  &__right {
    margin-left: 20px;
    white-space: nowrap;
    vertical-align: middle;
  }
}
