@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.mint-hide-for-desktop {
  @media (min-width: $breakpointTablet) {
    display: none !important;
  }
}

.mint-hide-for-mobile {
  @media (max-width: $breakpointTablet - 1px) {
    display: none !important;
  }
}
