@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.mint-hide-for-desktop-only {
  @media (min-width: $breakpointDesktop) {
    display: none !important;
  }
}

.mint-hide-for-tablet-only {
  @media (min-width: $breakpointTablet) and (max-width: $breakpointDesktop - 1px) {
    display: none !important;
  }
}

.mint-hide-for-tablet-up {
  @media (min-width: $breakpointTablet) {
    display: none !important;
  }
}

.mint-hide-for-mobile-only {
  @media (max-width: $breakpointTablet - 1px) {
    display: none !important;
  }
}

