@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@each $breakpointName, $media in $breakpointsMap {
  .mint-hide-for-#{$breakpointName} {
    @include mintBreakpoint($breakpointName) {
      display: none !important;
    }
  }
}
