
.icon-arrow_down:before,
.icon-check:before,
.icon-comment:before,
.icon-excellent:before,
.icon-fb:before,
.icon-friends:before,
.icon-heart:before,
.icon-logo:before,
.icon-menu:before,
.icon-messages:before,
.icon-notifications:before,
.icon-pencil:before,
.icon-profile:before,
.icon-report_flag:before,
.icon-search:before,
.icon-star:before,
.icon-stream:before {
  display: inline-block;
  font-family: "brainly-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-arrow_down:before { content: "\f100"; }
.icon-check:before { content: "\f101"; }
.icon-comment:before { content: "\f102"; }
.icon-excellent:before { content: "\f103"; }
.icon-fb:before { content: "\f104"; }
.icon-friends:before { content: "\f105"; }
.icon-heart:before { content: "\f106"; }
.icon-logo:before { content: "\f107"; }
.icon-menu:before { content: "\f108"; }
.icon-messages:before { content: "\f109"; }
.icon-notifications:before { content: "\f10a"; }
.icon-pencil:before { content: "\f10b"; }
.icon-profile:before { content: "\f10c"; }
.icon-report_flag:before { content: "\f10d"; }
.icon-search:before { content: "\f10e"; }
.icon-star:before { content: "\f10f"; }
.icon-stream:before { content: "\f110"; }
