@mixin mint-list-basic-styles() {
  @include component;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.mint-list {
  @include mint-list-basic-styles();
  font-family: $listDefaultFont;
  font-size: 24px;
  line-height: 44px;

  .mint-list__element {
    @extend .mint-icon-arrow_down;

    &:before {
      font-family: "brainly-icons";
      color: white;
      transform: rotate(-90deg);
      font-size: 38px;
      vertical-align: -6px;
    }
  }
}

.mint-menu-list {
  @include mint-list-basic-styles();
  font-family: $listDefaultFont;
  &__element {
    box-sizing: border-box;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px dashed $menuListBorderColor;
    font-family: inherit;
    &:last-child {
      border: 0;
    }
    &--flex {
      height: auto;
    }
  }
  &__link {
    color: $menuListColor;
    text-decoration: none;
    display: block;
    font-size: $menuListFontSize;
    font-family: inherit;
    white-space: nowrap;
    &:hover {
      text-decoration: underline;
    }
  }
  &--side-spaced {
    margin: 0 10px
  }
}

.mint-breadcrumb-list {
  @include mint-list-basic-styles();
  font-family: $breadcrumbListFontFamily;
  font-size: $breadcrumbListFontSize;

  &__element {
    display: inline-block;

    &:after {
      content: '·';
      display: inline-block;
      color: $breadcrumbListSeparatorColor;
      padding: 0 2px;
    }

    &:last-child:after {
      content: '';
    }
  }

  &--blue {
    .mint-breadcrumb-list__element {
      &:after {
        color: $breadcrumbListBlueSeparatorColor;
      }
    }
  }
}
