$logoColor: $black;
$logoWhiteColor: $white;
$logoLettersColor: $white;
$logoDefaultHeight: 60px;

.mint-icon-logo {
  &:before {
    font-size: 134px;
    color: $logoColor;
    background: linear-gradient(170deg, transparent 17%, $logoLettersColor 18%, $logoLettersColor 38%, transparent 39%) no-repeat;
  }

  &--white {
    &:before {
      color: $logoWhiteColor;
      background: transparent;
    }
  }
}

.mint-logo {
  @include component;
  overflow: visible;
  height: $logoDefaultHeight;

  &__image {
    position: relative;
    bottom: -10px;
    height: 100%;
  }

  &--small {
    height: $logoDefaultHeight / 2;
  }
}
