@mixin image-2x($image, $width:"auto", $height:"auto") {
  @media (min-resolution: 144dpi) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin component {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

@mixin hole(){
  &__hole {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

// $line-height-offset is a way to fix font issue with the baseline
// the issue is visible when centering the text of at least 12px
@mixin fixText($fontSize, $lineHeightOffset: 0){
  font-size: $fontSize;
  height: $fontSize;
  line-height: $fontSize + $lineHeightOffset;
}

@mixin icon($name){
  @extend .mint-icon-#{$name};
  &:before {
    display: inline-block;
  }
}

// Used for messing with fonts and baseline
// Sets the font size and line height
// fontsize - rem
// line-height - rem
@mixin type-variant($fontsize, $line-height, $shift: 0, $push: 0){

  $rem-fontsize: $fontsize * 1rem;
  $rem-lineheight: $line-height * $baseline;

  font-size: $rem-fontsize;
  line-height: $rem-lineheight;
  padding-top: $shift * 1rem;
  margin-bottom: $push * 1rem;
}


// set a value as a multiple of baselines
@function rhythm($baselines){
  @return $baselines * $baseline;
}
