@mixin image-2x($image, $width:"auto", $height:"auto") {
  @media (min-resolution: 144dpi) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

%hide-for-desktop {
  @media (min-width: $breakpointTablet) {
    display: none !important;
  }
}

%hide-for-mobile {
  @media (max-width: $breakpointTablet) {
    display: none !important;
  }
}
