@mixin image-2x($image, $width: "auto", $height: "auto") {
  @media (min-resolution: 144dpi) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin component {
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.8 * $baseline; // take descenders into account for small inline-block elements
  margin: 0;
}

@mixin hole() {
  &__hole {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

// $lineHeight-offset is a way to fix font issue with the baseline
// the issue is visible when centering the text of at least 12px
@mixin fixText($fontSize, $lineHeightOffset: 0) {
  font-size: $fontSize;
  height: $fontSize;
  line-height: $fontSize + $lineHeightOffset;
}

@mixin icon($name) {
  @extend .mint-icon-#{$name};
  &:before {
    display: inline-block;
  }
}

@function fontSize($fontsizeKey) {
  @return map-get($fontSizes, $fontsizeKey);
}

// Used for messing with fonts and baseline
// Sets the font size and line height
// fontsizeName - string
// lineHeight - int, number of baselines
@mixin typeVariant($fontsizeName, $lineHeight: null, $shift: null, $push: null) {

  $remFontsize: fontSize($fontsizeName);

  @if $remFontsize != null {
    font-size: $remFontsize;
  }

  @if $lineHeight != null {
    $remLineHeight: rhythm($lineHeight);
    line-height: $remLineHeight;
  }

  @if $shift != null {
    padding-top: $shift * 1rem;
  }

  @if $push != null {
    margin-bottom: $push * 1rem;
  }
}

// set a value as a multiple of baselines
@function rhythm($baselines) {
  @return $baselines * $baseline;
}
