.mint-promo-box {
  padding: 40px;
  background: $promoBoxBackgroundColor;
  border-radius: 22px;

  &__header {
    color: $promoBoxHeaderColor;
    font-family: $promoBoxHeaderPrimaryFontFamily;
    font-size: $promoBoxHeaderPrimaryFontSize;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -1px;
  }

  // content is user generated html,
  // we can overwrite all basic tags related to styling user content
  &__content {
    font-size: $promoBoxTextSize;
    line-height: $promoBoxLineHeight;
    font-family: $promoBoxFontFamily;
    padding: 5px 0 15px 0;
  }
}
