@import 'normalize';

$includeHtml: false !default;

@if ($includeHtml) {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  // overrides content-box from normalize

  // sass-lint:disable no-qualifying-elements
  input[type='search'] {
    box-sizing: border-box;
  }
  // sass-lint:enable no-qualifying-elements

  // We want to have svg overflows visible
  svg:not(:root) {
    overflow: visible;
  }
}
