.search-widget {
	position: relative;

	&__button {
		position: absolute;
		top: 0;
		right: 0;

		button {
			&:before {
				color: $searchWidgetIconColor;
			}
			&:active:before {
				color: rgba($searchWidgetIconColor, 0.7);
			}
		}
	}
}
