.mint-text-bit {
  color: $textBitColor;
  font-family: $textBitFontFamily;
  font-size: $textBitFontSize;
  line-height: $textBitLineHeight;
  text-transform: uppercase;
  word-wrap: break-word;
  margin: 0;
  position: relative;
  &__logo {
    @extend .mint-icon-logo;
    text-decoration: none;
    display: block;
    position: absolute;
    overflow: hidden;
    top: -30px;
    left: -13px;
    height: $textBitLogoSize/2;
    width: $textBitLogoSize;
    &:before {
      font-size: $textBitLogoSize;
    }
    &--small {
      top: -25px;
      left: -10px;
      height: $textBitSmallLogoSize/2;
      width: $textBitSmallLogoSize;
      &:before {
        font-size: $textBitSmallLogoSize;
      }
    }
  }
  &--alt {
    color: $textBitAltColor;
  }
  &--with-logo {
    @extend .mint-icon-logo;
    &:before {
      position: absolute;
      top: -30px;
      font-size: $textBitLogoSize;
      left: -13px;
    }
  }
  &--with-small-logo {
    @extend .mint-icon-logo;
    &:before {
      position: absolute;
      top: -25px;
      font-size: $textBitSmallLogoSize;
      left: -10px;
    }
  }
  &--small {
    font-size: $textBitSmallFontSize;
  }
}

.mint-text-block {
  font-family: $textBlockFontFamily;
  font-size: $textBlockFontSize;
  line-height: $textBlockLineHeight;
  color: $textBlockColor;
  margin: 0;
  padding: 0;
  &__link {
    color: $textBlockLinkColor;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &--light {
    color: $textBlockLightColor;
  }
}

.mint-text-description {
  font-family: $textDescriptionFontFamily;
  font-size: $textDescriptionFontSize;
  line-height: $textDescriptionLineHeight;
  color: $textDescriptionColor;
  margin: 0;
  padding: 0;
  &__link {
    color: $textDescriptionLinkColor;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}

.mint-text-emphasised {
  font-weight: bold;
  font-family: $mintTextEmphasisedFontFamily;
}

.mint-link {
  cursor: pointer;
  color: $linkColor;
  text-decoration: none;
  font-family: $linkFontFamily;
  font-size: 12px;

  &:hover, &:active {
    text-decoration: underline;
  }

  &--gray {
    color: $linkGrayColor;
  }

  &--emphasised {
    text-transform: uppercase;
  }

  &--disabled {
    cursor: default;

    &:hover, &:active {
      text-decoration: none;
    }
  }
}
