.mint-text-bit {
  color: $textBitColor;
  font-family: $textBitFontFamily;
  font-size: $textBitFontSize;
  line-height: $textBitLineHeight;
  text-transform: uppercase;
  word-wrap: break-word;
  margin: 0;
  &--alt {
    color: $textBitAltColor;
  }
  &--with-logo {
    @extend .mint-icon-logo;
    position: relative;
    padding: 30px 0 0;
    &:before {
      position: absolute;
      top: 0;
      font-size: 84px;
      left: -13px;
    }
  }
  &--with-small-logo {
    @extend .mint-icon-logo;
    position: relative;
    padding: 25px 0 0;
    &:before {
      position: absolute;
      top: 0;
      font-size: 68px;
      left: -10px;
    }
  }
  &--small {
    font-size: $textBitSmallFontSize;
  }
}

.mint-text-block {
  font-family: $textBlockFontFamily;
  font-size: $textBlockFontSize;
  line-height: $textBlockLineHeight;
  color: $textBlockColor;
  margin: 0;
  padding: 0;
  &__link {
    color: $textBlockLinkColor;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &--light {
    color: $textBlockLightColor;
  }
}

.mint-text-description {
  font-family: $textDescriptionFontFamily;
  font-size: $textDescriptionFontSize;
  line-height: $textDescriptionLineHeight;
  color: $textDescriptionColor;
  margin: 0;
  padding: 0;
  &__link {
    color: $textDescriptionLinkColor;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}

.mint-text-emphasised {
  font-weight: bold;
  font-family: $mintTextEmphasisedFontFamily;
}
