.text-bit {
  color: $textBitColor;
  font-family: $textBitFontFamily;
  font-size: $textBitFontSize;
  line-height: $textBitLineHeight;
  text-transform: uppercase;
  word-break: break-all;
  margin: 0;
}
