$includeHtml: true;
$sgImagesPath: 'images/' !default;
$sgFontsPath: 'fonts/' !default;

@import 'config';
@import 'mixins';
@import 'fixes';
@import 'helpers';
@import 'fonts';
@import 'basics';
@import 'reset';
@import '../components/icons/icons';
@import '../components/subject-icons/subject-icon';
@import '../components/subject-icons/subject-icon-box';
@import '../components/math-symbols/math-symbol-icon';
@import '../components/logo/logo';
@import '../components/home-button/home-button';
@import '../components/buttons/buttons-mixins';
@import '../components/buttons/buttons';
@import '../components/buttons/buttons_primary_round';
@import '../components/round-buttons/round-buttons';
@import '../components/icon-as-button/icon-as-button';
@import '../components/form-elements/checkbox-radio';
@import '../components/form-elements/select';
@import '../components/form-elements/text-input';
@import '../components/form-elements/textarea';
@import '../components/dropdowns/dropdowns';
@import '../components/text/text';
@import '../components/text/headlines';
@import '../components/text/text-bits';
@import '../components/bubble/bubble';
@import '../components/search/search';
@import '../components/action-list/action-list';
@import '../components/avatar/avatar';
@import '../components/list/list';
@import '../components/breadcrumbs/breadcrumbs';
@import '../components/header/header';
@import '../components/counters/counters';
@import '../components/overlayed-box/overlayed_box';
@import '../components/separators/separators';
@import '../components/separators/horizontal-separator';
@import '../components/footer/footer';
@import '../components/content-box/content-box';
@import '../components/labels-deprecated/labels-deprecated';
@import '../components/labels/labels';
@import '../components/rating/rating';
@import '../components/toplayer/toplayer';
@import '../components/overlay/overlay';
@import '../components/box/box';
@import '../components/flex/flex';
@import '../components/card/card';
@import '../components/popup-menu/popup-menu';
@import '../components/flash-messages/flash-messages';
@import '../components/media/media';
@import '../components/layout/layout';
@import '../components/spinner/spinner';
@import '../components/spinner-container/spinner-container';
