$includeHtml: false !default;

@if ($includeHtml) {
  @import 'vendors/normalize';

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

}
