dist/
.scss-lint.yml
.editorconfig
.eslintrc-es5
.idea
.DS_Store
node_modules
*.css
.sass-cache
/npm-debug.log
coverage/

# Generated images
/src/images/subjects-icons.js
/src/images/icons.js
/src/docs/_includes/components/
/src/docs/_data/package.json

