dist/
esm/
commonjs/
.scss-lint.yml
.editorconfig
.eslintrc-es5
.idea
.vscode
.DS_Store
node_modules
*.css
.sass-cache
/npm-debug.log
coverage/
package-lock.json
yarn-error.log
.storybook-dist

# Generated images
/src/images/*.js
/src/docs/_includes/components/
/src/docs/_data/package.json
