dist/
dist-sandbox/
esm/
commonjs/
/css/
types/
/assets/
deprecated.yaml
.scss-lint.yml
.editorconfig
.eslintrc-es5
.idea
.vscode
.DS_Store
node_modules
.sass-cache
/npm-debug.log
coverage/
package-lock.json
yarn-error.log
storybook-static
.cache
.typescript
temp

# Generated images
/src/images/*.js

# Generated newsletter stories
/src/docs/stories/newsletters

# Generated newsletter stories
/.storybook/public/newsletter-assets
