language: node_js

node_js:
  - "8"

script:
  - npm test

cache: yarn

notifications:
  email: false

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 0.27
  - export PATH="$HOME/.yarn/bin:$PATH"
