language: node_js

node_js:
  - "8"

script:
  - yarn test

cache:
  - yarn

notifications:
  email: false

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.0.1
  - export PATH="$HOME/.yarn/bin:$PATH"
