$include-html: false !default;

@if ($include-html) {

  .mint-header-primary {
    @include component;
    @include typeVariant(header, 2, 11/16, 37/16);
    display: block;
    color: $black;
    font-weight: $fontWeightBlack;

    &--small {
      @include typeVariant(headline, 2, 1, 8/16);
    }

    &--light {
      color: $white;
    }
  }

  .mint-header-secondary {
    @include component;
    @include typeVariant(default, 0.667, 12/16, 20/16);
    display: block;
    color: $black;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    &--small {
      @include typeVariant(small, 0.667, 13/16, 19/16);
      letter-spacing: 1px;
    }

    &--light {
      color: $white;
    }
  }

}
