$headerColor: $black;
$headerColorLight: $white;
$headerPrimaryFontFamily: $fontFamilyEmphasized;
$headerSecondaryFontFamily: $fontFamilySecondary;
$headerPrimaryFontSize: 64px;
$headerPrimarySmallFontSize: 48px;
$headerSecondaryFontSize: 16px;
$headerSecondarySmallFontSize: 12px;

$includeHtml: false !default;

@if ($includeHtml) {

  .mint-header-primary {
    @include component;
    display: block;
    color: $headerColor;
    font-family: $headerPrimaryFontFamily;
    font-size: $headerPrimaryFontSize;
    line-height: 1;
    margin: 0;

    &--small {
      font-size: $headerPrimarySmallFontSize;
    }

    &--light {
      color: $headerColorLight;
    }
  }

  .mint-header-secondary {
    @include component;
    display: block;
    color: $headerColor;
    font-family: $headerSecondaryFontFamily;
    font-size: $headerSecondaryFontSize;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;

    &--small {
      font-size: $headerSecondarySmallFontSize;
    }

    &--light {
      color: $headerColorLight;
    }
  }

}
