$includeHtml: false !default;

@if ($includeHtml) {
  .sg-headline {
    &--inherited {
      display: revert;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      color: inherit;
    }
  }
}
