$includeHtml: false !default;

// Depracated, please use headline with proper insted
@if ($includeHtml) {

  .sg-header-primary {
    @include component();
    @include typeVariant(header, 2);
    display: block;
    color: $black;
    font-weight: $fontWeightBold;
    letter-spacing: -1px;
    max-width: 100%;
    overflow: visible;

    @include sgBreakpoint('medium-up') {
      font-weight: $fontWeightBlack;
      letter-spacing: 0;
    }

    &--small {
      @include typeVariant(headline, 7 / 6);
    }

    &--xsmall {
      @include typeVariant(subheadline, 1);
    }

    &--light {
      color: $white;
    }

    &--uppercase {
      text-transform: uppercase;
    }

    &--lowercase {
      text-transform: lowercase;
    }

    &--capitalize {
      text-transform: capitalize;
    }
  }

  .sg-header-secondary {
    @include typeVariant(default, 2 / 3);
    position: relative;
    text-overflow: ellipsis;
    color: $black;
    font-weight: $fontWeightBold;

    &--small {
      @include typeVariant(small, 2 / 3);
    }

    &--xsmall {
      @include typeVariant(obscure, 0.5);
    }

    &--light {
      color: $white;
    }

    &--uppercase {
      text-transform: uppercase;
    }

    &--lowercase {
      text-transform: lowercase;
    }

    &--capitalize {
      text-transform: capitalize;
    }
  }
}
