$headerColor: $black;
$headerColorLight: $white;
$headerPrimaryFontWeight: $fontWeightBlack;
$headerPrimaryFontSize: 64px;
$headerPrimarySmallFontSize: 48px;
$headerSecondaryFontSize: 16px;
$headerSecondarySmallFontSize: 12px;

$include-html: false !default;

@if ($include-html) {

  .mint-header-primary {
    @include component;
    display: block;
    color: $headerColor;
    font-weight: $headerPrimaryFontWeight;
    font-size: $headerPrimaryFontSize;
    line-height: 1;
    margin: 0;

    &--small {
      font-size: $headerPrimarySmallFontSize;
    }

    &--light {
      color: $headerColorLight;
    }

  }
  .mint-header-secondary {
    @include component;
    display: block;
    color: $headerColor;
    font-weight: bold;
    font-size: $headerSecondaryFontSize;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;

    &--small {
      font-size: $headerSecondarySmallFontSize;
    }

    &--light {
      color: $headerColorLight;
    }
  }
  
}
