$includeHtml: false !default;

@if ($includeHtml) {

  .mint-text {
    @include typeVariant(default, 1);
    font-family: $fontFamilyPrimary;
    color: $black;

    &--standout {
      @include typeVariant(standout, 1);
    }

    &--obscure {
      @include typeVariant(obscure, 1);
    }

    &--headline {
      @include typeVariant(headline, 1.334);
      font-weight: normal;
      margin: 0
    }

    &--emphasised {
      font-weight: bold;
    }

    &--gray {
      color: $grayPrimary;
    }

    &--light {
      color: $white;
    }

    &--for-fine-print-light {
      color: $blueSecondaryLight;
    }

    &--for-fine-print {
      color: $blueSecondary;
    }
  }

}
