$includeHtml: false !default;

@if ($includeHtml) {

  .mint-text {
    @include typeVariant(default, 1);
    font-family: $fontFamilyPrimary;
    color: $black;

    &--standout {
      @include typeVariant(standout, 1);
    }

    &--obscure {
      @include typeVariant(obscure, 1);
    }

    &--small {
      @include typeVariant(small, 0.75);
    }

    &--headline {
      @include typeVariant(headline, 1.334);
      font-weight: $fontWeightNormal;
      margin: 0;
    }

    &--emphasised {
      font-weight: $fontWeightBold;
    }

    &--no-wrap {
      white-space: nowrap;
    }

    &--gray {
      color: $grayPrimary;
    }

    &--mint {
      color: $mintPrimary;
    }

    &--light {
      color: $white;
    }

    &--for-fine-print-light {
      color: $blueSecondaryLight;
    }

    &--for-fine-print {
      color: $blueSecondary;
    }

    &--warning {
      color: $mustardPrimary;
    }

    &--error {
      color: $peachPrimary;
    }
  }

}
