$lineHeightSizes: $bitSizes;
$newFontSizes: $bitSizes;

$includeHtml: false !default;

@if ($includeHtml) {

  .sg-text-bit {
    @include uppercaseText(-0.0625rem);
    font-size: getFontSize($newFontSizes, normal);
    line-height: getLineHeight($lineHeightSizes, normal);
    color: $mintSecondary;
    font-weight: $fontWeightBlack;
    margin: 0;
    position: relative;

    &--small {
      @include uppercaseText(0);
      font-size: getFontSize($newFontSizes, small);
      line-height: getLineHeight($lineHeightSizes, small);
    }

    &--large {
      font-size: getFontSize($newFontSizes, large);
      line-height: getLineHeight($lineHeightSizes, large);
    }

    &--xlarge {
      font-size: getFontSize($newFontSizes, xlarge);
      line-height: getLineHeight($lineHeightSizes, xlarge);
    }

    &--blue-secondary {
      color: $blueSecondary;
    }

    &--white {
      color: $white;
    }

    &--black {
      color: $black;
    }

    &--gray-secondary {
      color: $graySecondary;
    }

    &--peach-primary {
      color: $peachPrimary;
    }
  }
}
