$includeHtml: false !default;
$includeHtml: false !default;

$bodyTextSizes: (
  xxlarge: (
    fontSize: 45px,
    lineHeight: 60px
  ),
  xlarge: (
    fontSize: 33px,
    lineHeight: 44px
  ),
  large: (
    fontSize: 24px,
    lineHeight: 32px
  ),
  normal: (
    fontSize: 18px,
    lineHeight: 24px
  ),
  small: (
    fontSize: 15px,
    lineHeight: 20px
  ),
  xsmall: (
    fontSize: 12px,
    lineHeight: 16px
  )
);

@function getBodyTextSizeFromMap($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

@mixin bodyTextTypeSizeVariant($size) {
  font-size: getBodyTextSizeFromMap($bodyTextSizes, $size, 'fontSize');
  line-height: getBodyTextSizeFromMap($bodyTextSizes, $size, 'lineHeight');
}

@if ($includeHtml) {

  .sg-text {
    @include bodyTextTypeSizeVariant(normal);
    font-family: $fontFamilyPrimary;
    color: $black;

    &--container {
      position: relative;
    }

    &--xxlarge {
      @include bodyTextTypeSizeVariant(xxlarge);
    }

    &--xlarge {
      @include bodyTextTypeSizeVariant(xlarge);
    }

    &--large {
      @include bodyTextTypeSizeVariant(large);
    }

    &--small {
      @include bodyTextTypeSizeVariant(small);
    }

    &--xsmall {
      @include bodyTextTypeSizeVariant(xsmall);
    }

    &--bold {
      font-weight: $fontWeightBold;
    }

    &--regular {
      font-weight: $fontWeightNormal;
    }

    &--break-words {
      word-break: break-word;
    }

    &--uppercase {
      text-transform: uppercase;
    }

    &--lowercase {
      text-transform: lowercase;
    }

    &--capitalize {
      text-transform: capitalize;
    }

    &--to-left {
      text-align: left;
    }

    &--to-right {
      text-align: right;
    }

    &--to-center {
      text-align: center;
    }

    &--justify {
      text-align: justify;
    }

    &--full {
      width: 100%;
    }

    &--no-wrap {
      white-space: nowrap;
    }

    &--gray {
      color: $grayPrimary;
    }

    &--gray-secondary {
      color: $graySecondary;
    }

    &--mint {
      color: $mintPrimary;
    }

    &--white {
      color: $white;
    }

    &--blue {
      color: $bluePrimary;
    }

    &--blue-secondary {
      color: $blueSecondary;
    }

    &--blue-secondary-light {
      color: $blueSecondaryLight;
    }

    &--mustard {
      color: $mustardPrimary;
    }

    &--peach {
      color: $peachPrimary;
    }
  }

}
