$includeHtml: false !default;

$bodyTextSizes: (
  xxlarge: (
    fontSize: 45px,
    lineHeight: 60px
  ),
  xlarge: (
    fontSize: 33px,
    lineHeight: 44px
  ),
  large: (
    fontSize: 24px,
    lineHeight: 32px
  ),
  normal: (
    fontSize: 18px,
    lineHeight: 24px
  ),
  small: (
    fontSize: 15px,
    lineHeight: 20px
  ),
  xsmall: (
    fontSize: 12px,
    lineHeight: 16px
  )
);

@function getBodyTextSizeFromMap($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

@mixin bodyTextTypeSizeVariant($size) {
  font-size: getBodyTextSizeFromMap($bodyTextSizes, $size, 'fontSize');
  line-height: getBodyTextSizeFromMap($bodyTextSizes, $size, 'lineHeight');
}

@if ($includeHtml) {

  .sg-text {
    @include bodyTextTypeSizeVariant(normal);
    font-family: $fontFamilyPrimary;
    font-weight: $fontWeightNormal;
    color: $black;

    &--container {
      position: relative;
    }

    &--xxlarge {
      @include bodyTextTypeSizeVariant(xxlarge);
    }

    &--xlarge {
      @include bodyTextTypeSizeVariant(xlarge);
    }

    &--large {
      @include bodyTextTypeSizeVariant(large);
    }

    &--small {
      @include bodyTextTypeSizeVariant(small);
    }

    &--xsmall {
      @include bodyTextTypeSizeVariant(xsmall);
    }

    &--link {
      cursor: pointer;
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }

    &--link-underlined {
      cursor: pointer;
      text-decoration: underline;
    }

    &--link-unstyled {
      cursor: pointer;
      color: inherit;
      font-weight: inherit;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }

    &--bold {
      font-weight: $fontWeightBold;
    }

    &--regular {
      font-weight: $fontWeightNormal;
    }

    &--break-words {
      word-break: break-word;
    }

    &--uppercase {
      text-transform: uppercase;
    }

    &--lowercase {
      text-transform: lowercase;
    }

    &--capitalize {
      text-transform: capitalize;
    }

    &--to-left {
      text-align: left;
    }

    &--to-right {
      text-align: right;
    }

    &--to-center {
      text-align: center;
    }

    &--justify {
      text-align: justify;
    }

    &--full {
      width: 100%;
    }

    &--no-wrap {
      white-space: nowrap;
    }

    &--white {
      color: $white;
    }
    
    &--gray-primary {
      color: $grayPrimary;
    }

    &--gray-secondary {
      color: $graySecondary;
    }

    &--gray-secondary-light {
      color: $graySecondaryLight;
    }

    &--mint-dark {
      color: $mintPrimaryDark;
    }

    // backward compatibility for html, it should be replaced with sg-text--mint-dark
    &--mint {
      color: $mintPrimaryDark;
    }

    &--blue-dark {
      color: $bluePrimaryDark;
    }

    // backward compatibility for html, it should be replaced with sg-text--blue-dark
    &--blue {
      color: $bluePrimaryDark;
    }

    &--mustard-dark {
      color: $mustardPrimaryDark;
    }

    // backward compatibility for html, it should be replaced with sg-text--mustard-dark
    &--mustard {
      color: $mustardPrimaryDark;
    }

    &--lavender-dark {
      color: $lavenderPrimaryDark;
    }

    &--peach-dark {
      color: $peachPrimaryDark;
    }

    // backward compatibility for html, it should be replaced with sg-text--peach-dark
    &--peach {
      color: $peachPrimaryDark;
    }
  }
}
