$includeHtml: false !default;

@if ($includeHtml) {

  .sg-text {
    @include typeVariant(default, 1);
    font-family: $fontFamilyPrimary;
    color: $black;

    &--standout {
      @include typeVariant(standout, 1);
    }

    &--obscure {
      @include typeVariant(obscure, 0.5);
    }

    &--small {
      @include typeVariant(small, 0.75);
    }

    &--xsmall {
      @include typeVariant(xsmall, 5 / 12);
    }

    &--headline {
      @include typeVariant(headline, 7 / 6);
    }

    &--large {
      font-size: gutter(7 / 4);
      line-height: gutter(7 / 4);
    }

    &--emphasised {
      font-weight: $fontWeightBold;
    }

    &--regular {
      font-weight: $fontWeightNormal;
    }

    &--break-words {
      word-break: break-word;
    }

    &--uppercase {
      text-transform: uppercase;
    }

    &--lowercase {
      text-transform: lowercase;
    }

    &--capitalize {
      text-transform: capitalize;
    }

    &--to-left {
      text-align: left;
    }

    &--to-right {
      text-align: right;
    }

    &--to-center {
      text-align: center;
    }

    &--justify {
      text-align: justify;
    }

    &--full {
      width: 100%;
    }

    &--no-wrap {
      white-space: nowrap;
    }

    &--gray {
      color: $grayPrimary;
    }

    &--gray-secondary {
      color: $graySecondary;
    }

    &--mint {
      color: $mintPrimary;
    }

    &--light {
      color: $white;
    }

    &--for-fine-print-light {
      color: $blueSecondaryLight;
    }

    &--for-fine-print {
      color: $blueSecondary;
    }

    &--blue {
      color: $bluePrimary;
    }

    &--mustard {
      color: $mustardPrimary;
    }

    &--peach {
      color: $peachPrimary;
    }
  }

}
