<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Examples</h3>
  </aside>
  <div class="docs-block__content">
    <h2 class="sg-header-primary">
      X Together we go far!
    </h2>

    <h2 class="sg-header-primary sg-header-primary--small">
      X We've got your back! - small
    </h2>

    <h2 class="sg-header-primary sg-header-primary--xsmall">
      X We've got your back! - xsmall
    </h2>

    <h2 class="sg-header-secondary">
      X We've got your back!
    </h2>

    <h2 class="sg-header-secondary sg-header-secondary--small">
      X We've got your back!
    </h2>

    <div class="docs-block__contrast-box">
      <h2 class="sg-header-primary sg-header-primary--light">
        Together we go far!
      </h2>

      <h2 class="sg-header-primary sg-header-primary--small sg-header-primary--light">
        We've got your back!
      </h2>

      <h2 class="sg-header-secondary sg-header-secondary--light">
        We've got your back!
      </h2>

      <h2 class="sg-header-secondary sg-header-secondary--small sg-header-secondary--light">
        We've got your back!
      </h2>
    </div>

  </div>
</section>
