<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Examples</h3>
  </aside>
  <div class="docs-block__content">
    <div class="mint-text-description">
      <div>
        Some texts and a link <a href="#" class="mint-link">Comments (9)</a><br/>
      </div>
      <div>
        Some texts and a disabled link <span class="mint-link mint-link--gray mint-link--disabled">2 min ago</span><br/>
      </div>
      <div>
        An emphasized link <a href="#" class="mint-link mint-link--gray mint-link--small mint-link--emphasised">Math</a><br/>
      </div>
      <div>
        Fine print link <a href="#" class="mint-link mint-link--for-fine-print-light">zadane.pl</a><br/>
      </div>
      <div>
        Fine print emphasised link <a href="#" class="mint-link mint-link--for-fine-print mint-link--emphasised">Terms of use</a><br/>
      </div>
      <div>
        Example of <a href="#" class="mint-link mint-link--error"> error link</a> and <a href="#" class="mint-link mint-link--warning"> warning link</a><br/>
      </div>
      <div>
        Some texts and a <a href="#" class="mint-link mint-link--underlined">underlined link</a><br/>
      </div>
    </div>
  </div>
</section>
