<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Examples</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-text">
      <div>
        Some texts and a link <a href="#" class="sg-link">Comments (9)</a><br/>
      </div>
      <div>
        Some texts and a disabled link <span class="sg-link sg-link--gray sg-link--disabled">2 min ago</span><br/>
      </div>
      <div>
        An emphasized link <a href="#" class="sg-link sg-link--gray sg-link--small sg-link--emphasised">Math</a><br/>
      </div>
      <div>
        Fine print link <a href="#" class="sg-link sg-link--for-fine-print-light">zadane.pl</a><br/>
      </div>
      <div>
        Fine print emphasised link <a href="#" class="sg-link sg-link--for-fine-print sg-link--emphasised">Terms of use</a><br/>
      </div>
      <div>
        Example of <a href="#" class="sg-link sg-link--error"> error link</a> and <a href="#" class="sg-link sg-link--warning"> warning link</a><br/>
      </div>
      <div>
        Some texts and a <a href="#" class="sg-link sg-link--underlined">underlined link</a><br/>
      </div>
      <div>
        Text with <a href="#" class="sg-link sg-link--unstyled">unstyled link</a><br/>
      </div>
      <div class="docs-block__contrast-box">
        <div class="sg-text sg-text--light">
          This text is light and <a class="sg-link sg-link--light">this link is light!</a>
        </div>
      </div>
    </div>
  </div>
</section>
