<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Headers</h3>
    </aside>
    <div class="docs-block__content">
        <h2 class="mint-header-primary">
            X Together we go far!
            <br>
            X2 Together we go far!
        </h2>

        <h2 class="mint-header-primary mint-header-primary--small">
            X We've got your back!
            <br>
            X2 We've got your back!
        </h2>

        <h2 class="mint-header-secondary">
            X We've got your back!
        </h2>

        <h2 class="mint-header-secondary mint-header-secondary--small">
            X We've got your back!
        </h2>

        <div class="docs-block__contrast-box">
            <h2 class="mint-header-primary mint-header-primary--light">
                Together we go far!
            </h2>

            <h2 class="mint-header-primary mint-header-primary--small mint-header-primary--light">
                We've got your back!
            </h2>

            <h2 class="mint-header-secondary mint-header-secondary--light">
                We've got your back!
            </h2>

            <h2 class="mint-header-secondary mint-header-secondary--small mint-header-secondary--light">
                We've got your back!
            </h2>
        </div>

    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Text</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-text">
            This is a default typeface for text everywhere.<br>
            Here is <span class="mint-text mint-text--gray">gray text</span>
            <br>
            And <span class="mint-text mint-text--emphasised">emphasised text</span>
            <br>
            <span class="mint-text mint-text--gray">This text is gray</span>
            <br>
            and here
            <br>
            it is a multiline
            <br>
            to give vertical rhythm a shot
            <br><br>
        </div>
        <div class="docs-block__contrast-box">
            <div class="mint-text mint-text--light">
                This text is light
            </div>
        </div>
        <div class="mint-text mint-text--obscure">
            <br>
            This text is not really intended to be read
            <br>
        </div>
        <div class="mint-text mint-text--obscure mint-text--for-fine-print">
            <br>
            This is a fine print example
            <br><br>
        </div>
        <div class="docs-block__contrast-box">
            <div class="mint-text mint-text--obscure mint-text--for-fine-print-light">
                This is a very light fine print
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Text (headline + standout)</h3>
    </aside>
    <div class="docs-block__content">
        <h2 class="mint-text mint-text--headline">
            After President Nixon’s resignation,
            <br>who became president
            <br>of the United States?
        </h2>

        <div class="mint-text mint-text--standout">
            President <strong class="mint-text mint-text--standout mint-text--emphasised">Richard Nixon</strong>
            is the only president to resign from the office and was the 37th president of the
            United States, serving from <span class="mint-text mint-text--standout mint-text--gray">1969 to 1974</span>.
            Vice president Gerald R. Ford of Michigan took the office as the new president
            to complete the remaining 2 1/2 years of Nixon's term.
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Links</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-text-description">
            <div>
                Some texts and a link <a href="#" class="mint-link">Comments (9)</a><br/>
            </div>
            <div>
                Some texts and a disabled link <span class="mint-link mint-link--gray mint-link--disabled">2 min ago</span><br/>
            </div>
            <div>
                An emphasized link <a href="#" class="mint-link mint-link--gray mint-link--emphasised">Math</a><br/>
            </div>
            <div>
                Fine print link <a href="#" class="mint-link mint-link--for-fine-print-light">zadane.pl</a><br/>
            </div>
            <div>
                Fine print emphasised link <a href="#" class="mint-link mint-link--for-fine-print mint-link--emphasised">Terms of use</a><br/>
            </div>
        </div>
    </div>
</section>
