<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Headers</h3>
    </aside>
    <div class="docs-block__content">
        <h2 class="mint-header-primary">
            X Together we go far!
        </h2>

        <h2 class="mint-header-primary mint-header-primary--small">
            X We've got your back!
        </h2>

        <h2 class="mint-header-secondary">
            X We've got your back!
        </h2>

        <h2 class="mint-header-secondary mint-header-secondary--small">
            X We've got your back!
        </h2>

        <div class="docs-block__contrast-box">
            <h2 class="mint-header-primary mint-header-primary--light">
                Together we go far!
            </h2>

            <h2 class="mint-header-primary mint-header-primary--small mint-header-primary--light">
                We've got your back!
            </h2>

            <h2 class="mint-header-secondary mint-header-secondary--light">
                We've got your back!
            </h2>

            <h2 class="mint-header-secondary mint-header-secondary--small mint-header-secondary--light">
                We've got your back!
            </h2>
        </div>

    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Text</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-text">
            This is a default typeface for text everywhere.<br>
            Here is a <span class="mint-text mint-text--gray">gray text</span>,
            <br>
            and an <span class="mint-text mint-text--emphasised">emphasised text</span>.<br>
            and an <span class="mint-text mint-text--blue">blue text!</span>.
        </div>
        <div class="docs-block__contrast-box">
            <div class="mint-text mint-text--light">
                This text is light
            </div>
        </div>
        <div class="mint-text mint-text--obscure">
            <br>
            This text is not really intended to be read
            <br>
        </div>
        <div class="mint-text mint-text--small">
          <br>
          This text is small but you should be able to read it
          <br>
        </div>
        <div class="mint-text mint-text--obscure mint-text--for-fine-print">
            <br>
            This is a fine print example
        </div>
        <div class="mint-text mint-text--emphasised mint-text--warning">
            <br>
            This is a warning example
        </div>
        <div class="mint-text mint-text--emphasised mint-text--error">
            <br>
            This is a error example
            <br><br>
        </div>
        <div class="docs-block__contrast-box">
            <div class="mint-text mint-text--obscure mint-text--for-fine-print-light">
                This is a very light fine print
            </div>
        </div>
    </div>
</section>
