<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Default</h3>
  </aside>
  <div class="docs-block__content">
    <h1 class="sg-text-bit">
      WHAT DO YOU NEED TO KNOW?
    </h1>
    <h1 class="sg-text-bit sg-text-bit--large sg-text-bit--alt">
      WHAT DO YOU NEED TO KNOW?
    </h1>
    <h1 class="sg-text-bit sg-text-bit--gray">
      WHAT DO YOU NEED TO KNOW?
    </h1>
    <h1 class="sg-text-bit sg-text-bit--not-responsive sg-text-bit--warning">
      WHAT DO YOU NEED TO KNOW?
    </h1>
    <h1 class="sg-text-bit sg-text-bit--not-responsive sg-text-bit--xxlarge sg-text-bit--dark">
      WHAT DO YOU NEED TO KNOW?
    </h1>
    <div class="docs-block__contrast-box">
      <h1 class="sg-text-bit sg-text-bit--not-responsive sg-text-bit--xlarge sg-text-bit--light">
        We've got your back!
      </h1>
    </div>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Example usage</h3>
  </aside>
  <div class="docs-block__content">
    <h1 class="sg-text-bit">
      <span class="sg-text-bit__hole">
        <div class="sg-logo sg-logo--small">
          <img class="sg-logo__image" src="images/logos/brainly.svg"/>
        </div>
      </span>
      WHAT DO YOU NEED TO KNOW?
    </h1>
    <br/><br/>

    <h1 class="sg-text-bit sg-text-bit--alt">
      <a class="sg-text-bit__hole sg-text-bit__hole--small" href="#">
        <div class="sg-logo sg-logo--small">
          <img class="sg-logo__image" src="images/logos/brainly.svg"/>
        </div>
      </a>
      We've got your back!
    </h1>
  </div>
</section>
