<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Examples</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-text">
            This is a default typeface for text everywhere.<br>
            Here is a <span class="sg-text sg-text--gray">gray text</span>,
            this is a <span class="sg-text sg-text--mint">mint text</span>,
            this is a <span class="sg-text sg-text--dark-semitransparent">dark semitransparent text</span>,
            <span class="sg-text sg-text--no-wrap">this text will not wrap</span>,
            <br>
            and an <span class="sg-text sg-text--emphasised">emphasised text</span>.
        </div>
        <div class="docs-block__contrast-box">
            <div class="sg-text sg-text--light">
                This text is light
            </div>
        </div>
        <div class="sg-text sg-text--obscure">
            <br>
            This text is not really intended to be read
            <br>
        </div>
        <div class="sg-text sg-text--small">
          <br>
          This text is small but you should be able to read it
          <br>
        </div>
        <div class="sg-text sg-text--obscure sg-text--for-fine-print">
            <br>
            This is a fine print example
        </div>
        <div class="sg-text sg-text--emphasised sg-text--warning">
            <br>
            This is a warning example
        </div>
        <div class="sg-text sg-text--emphasised sg-text--error">
            <br>
            This is a error example
            <br><br>
        </div>
        <div class="docs-block__contrast-box">
            <div class="sg-text sg-text--obscure sg-text--for-fine-print-light">
                This is a very light fine print
            </div>
        </div>
    </div>
</section>
