<article>
    <h2 class="article-header">Text Bit</h2>
    <section class="docs-block">
        <aside class="docs-block__info">
            <h3 class="docs-block__header">Default</h3>
        </aside>
        <div class="docs-block__content">
            <h1 class="mint-text-bit">
                WHAT DO YOU NEED TO KNOW?
            </h1>

            <h1 class="mint-text-bit mint-text-bit--alt">
                We've got your back!
            </h1>

            <h1 class="mint-text-bit mint-text-bit--warning">
                Limited access!
            </h1>

            <div class="docs-block__contrast-box">
                <h1 class="mint-text-bit mint-text-bit--light">
                    We've got your back!
                </h1>
            </div>
        </div>
    </section>
    <section class="docs-block">
        <aside class="docs-block__info">
            <h3 class="docs-block__header">With Logo</h3>
        </aside>
        <div class="docs-block__content">
            <h1 class="mint-text-bit mint-text-bit--with-logo">
                WHAT DO YOU NEED TO KNOW?
            </h1>
            <br/><br/>

            <h1 class="mint-text-bit mint-text-bit--with-small-logo mint-text-bit--small mint-text-bit--alt">
                We've got your back!
            </h1>
        </div>
    </section>
    <section class="docs-block">
        <aside class="docs-block__info">
            <h3 class="docs-block__header">With link logo</h3>
        </aside>
        <div class="docs-block__content">
            <h1 class="mint-text-bit">
                <a class="mint-text-bit__logo" href="#"></a>
                WHAT DO YOU NEED TO KNOW?
            </h1>
            <br/><br/>

            <h1 class="mint-text-bit mint-text-bit--small">
                <a class="mint-text-bit__logo mint-text-bit__logo--small" href="#"></a>
                We've got your back!
            </h1>
        </div>
    </section>
</article>
