<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Default</h3>
  </aside>
  <div class="docs-block__content">
    <h1 class="sg-text-bit">
      WHAT DO YOU NEED TO KNOW?
    </h1>
    <h1 class="sg-text-bit sg-text-bit--large sg-text-bit--alt">
      WHAT DO YOU NEED TO KNOW?
    </h1>
    <h1 class="sg-text-bit sg-text-bit--gray">
      WHAT DO YOU NEED TO KNOW?
    </h1>
    <h1 class="sg-text-bit sg-text-bit--not-responsive sg-text-bit--small">
      WHAT DO YOU NEED TO KNOW?
    </h1>
    <h1 class="sg-text-bit sg-text-bit--not-responsive sg-text-bit--warning">
      WHAT DO YOU NEED TO KNOW?
    </h1>
    <h1 class="sg-text-bit sg-text-bit--not-responsive sg-text-bit--xxlarge sg-text-bit--dark">
      WHAT DO YOU NEED TO KNOW?
    </h1>
    <div class="docs-block__contrast-box">
      <h1 class="sg-text-bit sg-text-bit--not-responsive sg-text-bit--xlarge sg-text-bit--light">
        We've got your back!
      </h1>
    </div>
  </div>
</section>
