.sg-form {
  height: 100%;
  position: relative;
  overflow: hidden;

  &-content {
    transition: transform 0.7s $easingRegular;
  }

  &-navigation {
    position: absolute;
    right: 24px;
    bottom: 24px;

    &__button-prev {
      z-index: 20;
      transition: transform $durationModerate2 $easingRegular;

      &--bottom {
        transform: translateY(55px);
      }

      &--hidden {
        z-index: 19;
      }
    }

    &__button-next {
      z-index: 20;

      &--hidden {
        z-index: 19;
      }
    }
  }

  &-step-area {
    position: relative;
    padding: 50px 0;

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $white;
      opacity: 0.8;
    }
  }
}

.sg-form-step {
  position: relative;
}
