@import '../../sass/colors';

.form-stories {
  &__step-wide {
    width: 550px;
  }

  &-press-enter {
    margin-left: 16px;

    &__icon {
      margin-left: 8px;
    }
  }

  &-counter {
    background: $black;
    color: $white;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;

    .sg-text {
      margin-top: 2px;
    }
  }

  &__step-subheadline {
    margin-top: 16px;
  }

  &__exclamation-mark {
    background: $gray-50;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
}
