@import '../icons/icons-mixin';

$iconSizes: 104, 102, 80, 78, 56, 54, 40, 32, 30, 26, 24, 22, 20, 18, 16, 14, 10;

.sg-mobile-icon {
  height: 24px;
  width: 24px;
  fill: $white;

  @each $size in $iconSizes {
    &--x#{$size} {
      max-width: #{$size}px;
      max-height: #{$size}px;
      height: #{$size}px;
      width: #{$size}px;
    }
  }

  @include iconColor();
}
