.sg-math-symbol-icon {
  height: 64px;
  width: 64px;
  fill: $white;

  &--medium {
    height: 32px;
    width: 32px;
  }

  &--small {
    height: 24px;
    width: 24px;
  }

  &--adaptive {
    fill: inherit;
  }

  &--light {
    fill: $white;
  }

  &--gray {
    fill: $grayPrimary;
  }

  &--gray-secondary {
    fill: $graySecondary;
  }

  &--gray-light {
    fill: $graySecondaryLight;
  }

  &--blue {
    fill: $bluePrimary;
  }

  &--mustard {
    fill: $mustardPrimary;
  }

  &--lavender {
    fill: $lavenderPrimary;
  }

  &--peach {
    fill: $peachPrimary;
  }

  &--dark {
    fill: $black;
  }

  &--mint {
    fill: $mintPrimary;
  }
}
