$listFontSize: fontSize(headline);
$smallListFontSize: fontSize(default);

$menuListColor: $bluePrimary;
$menuListFontSize: fontSize(small);
$menuListBorderColor: $graySecondary;

$includeHtml: false !default;

@if ($includeHtml) {

  .mint-list {
    @include mintListBasicStyles();
    font-size: $listFontSize;
    line-height: rhythm(2);

    &__element {
      display: flex;
      align-items: center;
    }

    &__icon {
      display: flex;
      margin-right: gutter(0.333);
      width: 19px;
      height: 19px;
    }

    &--small {
      line-height: rhythm(1);
      font-weight: bold;
      font-size: $smallListFontSize;

      .mint-list__icon {
        margin-right: gutter(0.167);
        width: 13px;
        height: 13px;
      }
    }
  }

  .mint-menu-list {
    @include mintListBasicStyles();
    &__element {
      box-sizing: border-box;
      height: rhythm(2);
      line-height: rhythm(2);
      border-bottom: 1px dashed $menuListBorderColor;

      &:last-child {
        border: none;
      }

      &--flex {
        height: auto;
      }
    }

    &__link {
      color: $menuListColor;
      text-decoration: none;
      display: block;
      font-size: $menuListFontSize;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }

    &--side-spaced {
      margin: 0 10px;
    }
  }
}
