$breadcrumbListSeparatorColor: $grayPrimary;
$breadcrumbListBlueSeparatorColor: $blueSecondary;
$breadcrumbListLightBlueSeparatorColor: $blueSecondaryLight;

$menuListColor: $bluePrimary;
$menuListFontSize: 13px;
$menuListBorderColor: $graySecondary;
$listSmallIconColor: $graySecondary;

$include-html: false !default;

@mixin mint-list-basic-styles() {
  @include component;
  overflow: visible; // move baseline from margin to the last line box
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

@if ($include-html) {

  .mint-list {
    @include mint-list-basic-styles();
    line-height: rhythm(2);

    .mint-list__element {
      @extend .mint-icon-arrow_down;

      &:before {
        font-family: "brainly-icons";
        color: white;
        transform: rotate(-90deg);
        font-size: 38px;
        vertical-align: -5px;
        margin-right: 10px;
      }

      &--with-plus {
        &:before {
          font-size: 24px;
          vertical-align: -4px;
          color: $listSmallIconColor;
          @extend .mint-icon-plus;
        }
      }
    }

    &--small {
      line-height: rhythm(1);
      .mint-list__element {
        &:before {
          font-size: 24px;
          vertical-align: -8px;
          height: 15px;
        }

        &--with-plus {
          &:before {
            font-size: 14px;
            vertical-align: 1px;
          }
        }
      }
    }
  }

  .mint-menu-list {
    @include mint-list-basic-styles();
    &__element {
      box-sizing: border-box;
      height: rhythm(2);
      line-height: rhythm(2);
      border-bottom: 1px dashed $menuListBorderColor;

      &:last-child {
        border: 0;
      }
      &--flex {
        height: auto;
      }
    }
    &__link {
      color: $menuListColor;
      text-decoration: none;
      display: block;
      font-size: $menuListFontSize;
      white-space: nowrap;
      &:hover {
        text-decoration: underline;
      }
    }
    &--side-spaced {
      margin: 0 10px
    }
  }

  .mint-breadcrumb-list {
    @include mint-list-basic-styles();
    display: inline-block;
    vertical-align: inherit;
    color: $breadcrumbListSeparatorColor;

    &__element {
      display: inline-block;

      &:after {
        content: '•';
        display: inline-block;
        color: $breadcrumbListSeparatorColor;
        padding: 0 2px;
      }

      &:last-child:after {
        content: '';
      }
    }

    &--for-fine-print {
      font-size: 0.8125rem;
      color: $breadcrumbListBlueSeparatorColor;
      .mint-breadcrumb-list__element {
        &:after {
          color: $breadcrumbListBlueSeparatorColor;
        }
      }
    }

    &--for-fine-print-light {
      font-size: 0.8125rem;
      color: $breadcrumbListLightBlueSeparatorColor;
      .mint-breadcrumb-list__element {
        &:after {
          color: $breadcrumbListLightBlueSeparatorColor;
        }
      }
    }
  }

}
