<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Default list</h3>
    </aside>
    <div class="docs-block__content">
        <div class="docs-block__contrast-box">
            <ul class="sg-list">
                <li class="sg-list__element">
                  <div class="sg-list__icon">
                    <svg class="sg-icon sg-icon--x18">
                      <use xlink:href="#icon-arrow_right"></use>
                    </svg>
                  </div>
                    One two three</li>
                <li class="sg-list__element">
                  <div class="sg-list__icon">
                    <svg class="sg-icon sg-icon--x18">
                      <use xlink:href="#icon-arrow_right"></use>
                    </svg>
                  </div>
                    Two three four</li>
                <li class="sg-list__element">
                  <div class="sg-list__icon">
                    <svg class="sg-icon sg-icon--x18">
                      <use xlink:href="#icon-arrow_right"></use>
                    </svg>
                  </div>
                    Three four five</li>
            </ul>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Small list</h3>
    </aside>
    <div class="docs-block__content">
        <div class="docs-block__contrast-box">
            <ul class="sg-list sg-list--small">
                <li class="sg-list__element">
                    <div class="sg-list__icon">
                        <svg class="sg-icon sg-icon--x14">
                          <use xlink:href="#icon-arrow_right"></use>
                        </svg>
                    </div>
                    One two three</li>
                <li class="sg-list__element">
                    <div class="sg-list__icon">
                        <svg class="sg-icon sg-icon--x14">
                          <use xlink:href="#icon-arrow_right"></use>
                        </svg>
                    </div>
                    Two three four</li>
                <li class="sg-list__element">
                    <div class="sg-list__icon">
                        <svg class="sg-icon sg-icon--x14">
                          <use xlink:href="#icon-arrow_right"></use>
                        </svg>
                    </div>
                    Three four five</li>
            </ul>
        </div>
    </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">List with spacings</h3>
  </aside>
  <div class="docs-block__content">
    <div class="docs-block__contrast-box">
      <ul class="sg-list sg-list--spaced-elements">
        <li class="sg-list__element">
          <div class="sg-list__icon">
            <svg class="sg-icon sg-icon--x14">
              <use xlink:href="#icon-arrow_right"></use>
            </svg>
          </div>
          One two three</li>
        <li class="sg-list__element">
          <div class="sg-list__icon">
            <svg class="sg-icon sg-icon--x14">
              <use xlink:href="#icon-arrow_right"></use>
            </svg>
          </div>
          Two three four</li>
        <li class="sg-list__element">
          <div class="sg-list__icon">
            <svg class="sg-icon sg-icon--x14">
              <use xlink:href="#icon-arrow_right"></use>
            </svg>
          </div>
          Three four five</li>
      </ul>
    </div>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Example</h3>
  </aside>
  <div class="docs-block__content">
    <div class="docs-block__contrast-box">


      <ul class="sg-list">
        <li class="sg-list__element">
          <div class="sg-list__icon sg-list__icon--align-first-line">
            <svg class="sg-icon sg-icon--x14">
              <use xlink:href="#icon-arrow_right"></use>
            </svg>
          </div>
          One two three. This element has icon aligned to the first line please take a look how cool it is!!</li>
        <li class="sg-list__element">
          <div class="sg-list__icon">
            <svg class="sg-icon sg-icon--x14">
              <use xlink:href="#icon-arrow_right"></use>
            </svg>
          </div>
          Two three four. This element does not have icon aligned to the first line but its still cool!</li>
        <li class="sg-list__element">
          <div class="sg-list__icon">
            <svg class="sg-icon sg-icon--x14">
              <use xlink:href="#icon-arrow_right"></use>
            </svg>
          </div>
          Three four five</li>
      </ul>
    </div>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Example (small list)</h3>
  </aside>
  <div class="docs-block__content">
    <div class="docs-block__contrast-box">


      <ul class="sg-list sg-list--small">
        <li class="sg-list__element">
          <div class="sg-list__icon sg-list__icon--align-first-line">
            <svg class="sg-icon sg-icon--x14">
              <use xlink:href="#icon-arrow_right"></use>
            </svg>
          </div>
          One two three. This element has icon aligned to the first line please take a look how cool it is!!</li>
        <li class="sg-list__element">
          <div class="sg-list__icon">
            <svg class="sg-icon sg-icon--x14">
              <use xlink:href="#icon-arrow_right"></use>
            </svg>
          </div>
          Two three four. This element does not have icon aligned to the first line but its still cool! Yeah!! Yeah!</li>
        <li class="sg-list__element">
          <div class="sg-list__icon">
            <svg class="sg-icon sg-icon--x14">
              <use xlink:href="#icon-arrow_right"></use>
            </svg>
          </div>
          Three four five</li>
      </ul>
    </div>
  </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Menu list</h3>
    </aside>
    <div class="docs-block__content">
        <div class="docs-block__content-box">
            <ul class="sg-menu-list">
                <li class="sg-menu-list__element">
                    <a class="sg-menu-list__link" href="#">One two three</a>
                </li>
                <li class="sg-menu-list__element">
                    <a class="sg-menu-list__link" href="#">Two three four</a>
                </li>
                <li class="sg-menu-list__element">
                    <a class="sg-menu-list__link" href="#">Three four five</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Menu list - small</h3>
  </aside>
  <div class="docs-block__content">
    <div class="docs-block__content-box">
      <ul class="sg-menu-list sg-menu-list--small">
        <li class="sg-menu-list__element">
          <a class="sg-menu-list__link" href="#">One two three</a>
        </li>
        <li class="sg-menu-list__element">
          <a class="sg-menu-list__link" href="#">Two three four</a>
        </li>
        <li class="sg-menu-list__element">
          <a class="sg-menu-list__link" href="#">Three four five</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Menu list - large</h3>
  </aside>
  <div class="docs-block__content">
    <div class="docs-block__content-box">
      <ul class="sg-menu-list sg-menu-list--large">
        <li class="sg-menu-list__element">
          <a class="sg-menu-list__link" href="#">One two three</a>
        </li>
        <li class="sg-menu-list__element">
          <a class="sg-menu-list__link" href="#">Two three four</a>
        </li>
        <li class="sg-menu-list__element">
          <a class="sg-menu-list__link" href="#">Three four five</a>
        </li>
      </ul>
    </div>
  </div>
</section>
