<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Default list</h3>
    </aside>
    <div class="docs-block__content">
        <div class="docs-block__contrast-box">
            <ul class="mint-list">
                <li class="mint-list__element">
                  <div class="mint-list__icon">
                    <svg class="mint-icon mint-icon--x18">
                      <use xlink:href="#icon-arrow_right"></use>
                    </svg>
                  </div>
                    One two three</li>
                <li class="mint-list__element">
                  <div class="mint-list__icon">
                    <svg class="mint-icon mint-icon--x18">
                      <use xlink:href="#icon-arrow_right"></use>
                    </svg>
                  </div>
                    Two three four</li>
                <li class="mint-list__element">
                  <div class="mint-list__icon">
                    <svg class="mint-icon mint-icon--x18">
                      <use xlink:href="#icon-arrow_right"></use>
                    </svg>
                  </div>
                    Three four five</li>
            </ul>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Small list</h3>
    </aside>
    <div class="docs-block__content">
        <div class="docs-block__contrast-box">
            <ul class="mint-list mint-list--small">
                <li class="mint-list__element">
                    <div class="mint-list__icon">
                        <svg class="mint-icon mint-icon--x14">
                          <use xlink:href="#icon-arrow_right"></use>
                        </svg>
                    </div>
                    One two three</li>
                <li class="mint-list__element">
                    <div class="mint-list__icon">
                        <svg class="mint-icon mint-icon--x14">
                          <use xlink:href="#icon-arrow_right"></use>
                        </svg>
                    </div>
                    Two three four</li>
                <li class="mint-list__element">
                    <div class="mint-list__icon">
                        <svg class="mint-icon mint-icon--x14">
                          <use xlink:href="#icon-arrow_right"></use>
                        </svg>
                    </div>
                    Three four five</li>
            </ul>
        </div>
    </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">List with spacings</h3>
  </aside>
  <div class="docs-block__content">
    <div class="docs-block__contrast-box">
      <ul class="mint-list mint-list--spaced-elements">
        <li class="mint-list__element">
          <div class="mint-list__icon">
            <svg class="mint-icon mint-icon--x14">
              <use xlink:href="#icon-arrow_right"></use>
            </svg>
          </div>
          One two three</li>
        <li class="mint-list__element">
          <div class="mint-list__icon">
            <svg class="mint-icon mint-icon--x14">
              <use xlink:href="#icon-arrow_right"></use>
            </svg>
          </div>
          Two three four</li>
        <li class="mint-list__element">
          <div class="mint-list__icon">
            <svg class="mint-icon mint-icon--x14">
              <use xlink:href="#icon-arrow_right"></use>
            </svg>
          </div>
          Three four five</li>
      </ul>
    </div>
  </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Menu list</h3>
    </aside>
    <div class="docs-block__content">
        <div class="docs-block__content-box">
            <ul class="mint-menu-list">
                <li class="mint-menu-list__element">
                    <a class="mint-menu-list__link" href="#">One two three</a>
                </li>
                <li class="mint-menu-list__element">
                    <a class="mint-menu-list__link" href="#">Two three four</a>
                </li>
                <li class="mint-menu-list__element">
                    <a class="mint-menu-list__link" href="#">Three four five</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Menu list - small</h3>
  </aside>
  <div class="docs-block__content">
    <div class="docs-block__content-box">
      <ul class="mint-menu-list mint-menu-list--small">
        <li class="mint-menu-list__element">
          <a class="mint-menu-list__link" href="#">One two three</a>
        </li>
        <li class="mint-menu-list__element">
          <a class="mint-menu-list__link" href="#">Two three four</a>
        </li>
        <li class="mint-menu-list__element">
          <a class="mint-menu-list__link" href="#">Three four five</a>
        </li>
      </ul>
    </div>
  </div>
</section>
