$include-html: false !default;

@if ($include-html) {

  .mint-content-box {

    &__title {
      min-height: rhythm(2);
    }

    &__title ~ &__title {
      min-height: rhythm(1);
    }

    &__header {
      @include components-container;
      height: rhythm(2);
    }

    &__title ~ &__header {
      @include components-container;
      height: rhythm(1);
    }

    &__content {
      word-wrap: break-word;
    }

    &__footer {
      @include components-container;
      min-height: rhythm(2);
    }

    &--spaced {
      .mint-content-box__content, .mint-content-box__footer {
        @media (min-width: $breakpointMedium) {
          padding-left: 2 * $layoutDefaultPadding;
        }
      }
    }
  }

}
