$includeHtml: false !default;

@if ($includeHtml) {

  .mint-content-box {

    &__title {
      @include componentsContainer;
      min-height: rhythm(2);

      &--large {
        display: block;
        margin-bottom: rhythm(1);

        ~ .mint-content-box__actions--large {
          margin-top: - rhythm(1);
        }

        ~ .mint-content-box__header {
          margin-top: - rhythm(1.5);
          margin-bottom: rhythm(0.5);
        }
      }

      & ~ & {
        margin-top: - rhythm(0.5);
        margin-bottom: - rhythm(0.5);
      }

      ~ .mint-content-box__header {
        margin-top: - rhythm(0.5);
        margin-bottom: rhythm(0.5);
      }
    }

    &__header {
      @include componentsContainer;
      height: rhythm(2);
    }

    &__content {
      word-wrap: break-word;
    }

    &__actions {
      @include componentsContainer;
      min-height: rhythm(2);

      &--large {
        min-height: rhythm(3);
      }
    }

    &--spaced {
      .mint-content-box__content,
      .mint-content-box__actions {
        @include mintBreakpoint(medium-up) {
          padding-left: gutter(2);
        }
      }
    }

    &--full {
      width: 100%;
    }
  }

}
