$include-html: false !default;

@if ($include-html) {

  .mint-content-box {
    &__header {
      vertical-align: middle;
      margin-bottom: 3px;
    }

    &__content {
      word-wrap: break-word;
      margin-bottom: 12px;
    }

    &__footer {
      vertical-align: middle;
    }

    &--spaced {
      .mint-content-box__content, .mint-content-box__footer {
        @media (min-width: $breakpointMedium) {
          padding-left: 48px;
        }
      }
    }
  }

}
