<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Simple with header</h3>

    </aside>
    <div class="docs-block__content">
        <div class="sg-content-box">
            <div class="sg-content-box__header">
                <ul class="sg-breadcrumb-list">
                    <li class="sg-breadcrumb-list__element">
                        <a class="sg-link sg-link--gray sg-link--emphasised" href="#">Math</a>
                    </li>
                    <li class="sg-breadcrumb-list__element">
                        <a class="sg-link sg-link--gray sg-link--emphasised" href="#">10 pts</a>
                    </li>
                    <li class="sg-breadcrumb-list__element">
                        <a class="sg-link sg-link--gray" href="#">2 min ago</a>
                    </li>
                    <li class="sg-breadcrumb-list__element">
                        <div class="sg-badge sg-badge--warning">hot</div>
                    </li>
                </ul>
            </div>
            <div class="sg-content-box__content">
                <div class="sg-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
                    lorem quis, gravida ex. Phasellus semper orci nulla, sit amet egestas orci mattis sit amet.
                    Aenean laoreet, dolor ac aliquet porta, velit libero euismod purus, quis dignissim ante sem
                    vel eros.
                </div>
            </div>
            <div class="sg-content-box__actions">
                <div class="sg-overlayed-box">
                    <div class="sg-avatar">
                        <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
                    </div>
                    <div class="sg-overlayed-box__overlay">
                        <svg class="sg-sticker">
                            <use class="sg-sticker__back" xlink:href="#icon-answering"></use>
                            <use class="sg-sticker__front" xlink:href="#icon-answering"></use>
                        </svg>
                    </div>
                </div>
                <div class="sg-separator"></div>
                <div class="sg-avatar sg-avatar--small">
                    <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
                </div>
                <div class="sg-avatar sg-avatar--small">
                    <div class="sg-avatar__image sg-avatar__image--icon">
                      <svg class="sg-icon sg-icon--x24 sg-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                      </svg>
                    </div>
                </div>
                <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--alt">
                    <div class="sg-button-secondary__hole">Answer</div>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Simple with title</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-content-box">
            <div class="sg-content-box__title">
                <h2 class="sg-header-secondary">This is a title for context box</h2>
            </div>
            <div class="sg-content-box__content">
                <div class="sg-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
                    lorem quis, gravida ex. Phasellus semper orci nulla, sit amet egestas orci mattis sit amet.
                    Aenean laoreet, dolor ac aliquet porta, velit libero euismod purus, quis dignissim ante sem
                    vel eros.
                </div>
            </div>
            <div class="sg-content-box__actions">
                <div class="sg-overlayed-box">
                    <div class="sg-avatar">
                        <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
                    </div>
                    <div class="sg-overlayed-box__overlay">
                        <svg class="sg-sticker">
                            <use class="sg-sticker__back" xlink:href="#icon-answering"></use>
                            <use class="sg-sticker__front" xlink:href="#icon-answering"></use>
                        </svg>
                    </div>
                </div>
                <div class="sg-separator"></div>
                <div class="sg-avatar sg-avatar--small">
                    <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
                </div>
                <div class="sg-avatar sg-avatar--small">
                    <div class="sg-avatar__image sg-avatar__image--icon">
                      <svg class="sg-icon sg-icon--x24 sg-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                      </svg>
                    </div>
                </div>
                <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--alt">
                    <div class="sg-button-secondary__hole">Answer</div>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Simple with title and header</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-content-box">
            <div class="sg-content-box__title">
                <h2 class="sg-header-secondary">This is a title for context box</h2>
            </div>
            <div class="sg-content-box__header">
                <ul class="sg-breadcrumb-list">
                    <li class="sg-breadcrumb-list__element">
                        <a class="sg-link sg-link--gray sg-link--emphasised" href="#">Math</a>
                    </li>
                    <li class="sg-breadcrumb-list__element">
                        <a class="sg-link sg-link--gray sg-link--emphasised" href="#">10 pts</a>
                    </li>
                    <li class="sg-breadcrumb-list__element">
                        <a class="sg-link sg-link--gray" href="#">2 min ago</a>
                    </li>
                    <li class="sg-breadcrumb-list__element">
                        <div class="sg-badge sg-badge--warning">hot</div>
                    </li>
                </ul>
            </div>
            <div class="sg-content-box__content">
                <div class="sg-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
                    lorem quis, gravida ex. Phasellus semper orci nulla, sit amet egestas orci mattis sit amet.
                    Aenean laoreet, dolor ac aliquet porta, velit libero euismod purus, quis dignissim ante sem
                    vel eros.
                </div>
            </div>
            <div class="sg-content-box__actions">
                <div class="sg-overlayed-box">
                    <div class="sg-avatar">
                        <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
                    </div>
                    <div class="sg-overlayed-box__overlay">
                        <svg class="sg-sticker">
                            <use class="sg-sticker__back" xlink:href="#icon-answering"></use>
                            <use class="sg-sticker__front" xlink:href="#icon-answering"></use>
                        </svg>
                    </div>
                </div>
                <div class="sg-separator"></div>
                <div class="sg-avatar sg-avatar--small">
                    <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
                </div>
                <div class="sg-avatar sg-avatar--small">
                    <div class="sg-avatar__image sg-avatar__image--icon">
                      <svg class="sg-icon sg-icon--x24 sg-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                      </svg>
                    </div>
                </div>
                <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--alt">
                    <div class="sg-button-secondary__hole">Answer</div>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Simple with title and header (spaced)</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-content-box sg-content-box--spaced">
      <div class="sg-content-box__title sg-content-box__title--spaced">
        <h2 class="sg-header-secondary">This is a title for context box</h2>
      </div>
      <div class="sg-content-box__header sg-content-box__header--spaced">
        <ul class="sg-breadcrumb-list">
          <li class="sg-breadcrumb-list__element">
            <a class="sg-link sg-link--gray sg-link--emphasised" href="#">Math</a>
          </li>
          <li class="sg-breadcrumb-list__element">
            <a class="sg-link sg-link--gray sg-link--emphasised" href="#">10 pts</a>
          </li>
          <li class="sg-breadcrumb-list__element">
            <a class="sg-link sg-link--gray" href="#">2 min ago</a>
          </li>
          <li class="sg-breadcrumb-list__element">
            <div class="sg-badge sg-badge--warning">hot</div>
          </li>
        </ul>
      </div>
      <div class="sg-content-box__content">
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
          lorem quis, gravida ex. Phasellus semper orci nulla, sit amet egestas orci mattis sit amet.
          Aenean laoreet, dolor ac aliquet porta, velit libero euismod purus, quis dignissim ante sem
          vel eros.
        </div>
      </div>
      <div class="sg-content-box__actions">
        <div class="sg-overlayed-box">
          <div class="sg-avatar">
            <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
          </div>
          <div class="sg-overlayed-box__overlay">
            <svg class="sg-sticker">
              <use class="sg-sticker__back" xlink:href="#icon-answering"></use>
              <use class="sg-sticker__front" xlink:href="#icon-answering"></use>
            </svg>
          </div>
        </div>
        <div class="sg-separator"></div>
        <div class="sg-avatar sg-avatar--small">
          <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
        </div>
        <div class="sg-avatar sg-avatar--small">
          <div class="sg-avatar__image sg-avatar__image--icon">
            <svg class="sg-icon sg-icon--x24 sg-icon--gray-secondary">
              <use xlink:href="#icon-profile"></use>
            </svg>
          </div>
        </div>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--alt">
          <div class="sg-button-secondary__hole">Answer</div>
        </button>
      </div>
    </div>
  </div>
</section>


<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Simple with content (full)</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-content-box">
      <div class="sg-content-box__content sg-content-box__content--full">
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
          lorem quis, gravida ex. Phasellus semper orci nulla, sit amet egestas orci mattis sit amet.
          Aenean laoreet, dolor ac aliquet porta, velit libero euismod purus, quis dignissim ante sem
          vel eros.
        </div>
      </div>
    </div>
  </div>
</section>


<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Simple with title and actions</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-content-box">
            <div class="sg-content-box__title">
                <h2 class="sg-header-secondary">This is a title for context box</h2>
            </div>
            <div class="sg-content-box__actions">
                <a class="sg-button-secondary">
                    <div class="sg-button-secondary__hole">
                        Search!
                    </div>
                </a>
            </div>
            <div class="sg-content-box__content">
                <div class="sg-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
                    lorem quis, gravida ex. Phasellus semper orci nulla, sit amet egestas orci mattis sit amet.
                    Aenean laoreet, dolor ac aliquet porta, velit libero euismod purus, quis dignissim ante sem
                    vel eros.
                </div>
            </div>
            <div class="sg-content-box__actions">
                <div class="sg-overlayed-box">
                    <div class="sg-avatar">
                        <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
                    </div>
                    <div class="sg-overlayed-box__overlay">
                        <svg class="sg-sticker">
                            <use class="sg-sticker__back" xlink:href="#icon-answering"></use>
                            <use class="sg-sticker__front" xlink:href="#icon-answering"></use>
                        </svg>
                    </div>
                </div>
                <div class="sg-separator"></div>
                <div class="sg-avatar sg-avatar--small">
                    <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
                </div>
                <div class="sg-avatar sg-avatar--small">
                    <div class="sg-avatar__image sg-avatar__image--icon">
                      <svg class="sg-icon sg-icon--x24 sg-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                      </svg>
                    </div>
                </div>
                <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--alt">
                    <div class="sg-button-secondary__hole">Answer</div>
                </button>
            </div>
        </div>
    </div>

    <div class="docs-block__content">
        <div class="sg-content-box">
            <div class="sg-content-box__title">
                <h2 class="sg-header-primary">This is a title for context box</h2>
            </div>
            <div class="sg-content-box__actions">
                <a class="sg-button-primary">
                    <div class="sg-button-primary__hole">
                        Search!
                    </div>
                </a>
            </div>
            <div class="sg-content-box__content">
                <div class="sg-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
                    lorem quis, gravida ex. Phasellus semper orci nulla, sit amet egestas orci mattis sit amet.
                    Aenean laoreet, dolor ac aliquet porta, velit libero euismod purus, quis dignissim ante sem
                    vel eros.
                </div>
            </div>
            <div class="sg-content-box__actions">
                <div class="sg-overlayed-box">
                    <div class="sg-avatar">
                        <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
                    </div>
                    <div class="sg-overlayed-box__overlay">
                        <svg class="sg-sticker">
                            <use class="sg-sticker__back" xlink:href="#icon-answering"></use>
                            <use class="sg-sticker__front" xlink:href="#icon-answering"></use>
                        </svg>
                    </div>
                </div>
                <div class="sg-separator"></div>
                <div class="sg-avatar sg-avatar--small">
                    <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
                </div>
                <div class="sg-avatar sg-avatar--small">
                    <div class="sg-avatar__image sg-avatar__image--icon">
                      <svg class="sg-icon sg-icon--x24 sg-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                      </svg>
                    </div>
                </div>
                <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--alt">
                    <div class="sg-button-secondary__hole">Answer</div>
                </button>
            </div>
        </div>
    </div>
</section>


<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Spaced</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-content-box sg-content-box--spaced">
            <div class="sg-content-box__header">
                <div class="sg-avatar sg-avatar--spaced">
                    <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
                </div>
                <ul class="sg-breadcrumb-list">
                    <li class="sg-breadcrumb-list__element">
                        <a class="sg-link sg-link--gray" href="#">Katie</a>
                    </li>
                    <li class="sg-breadcrumb-list__element">
                        <a class="sg-link sg-link--gray" href="#">Answerer</a>
                    </li>
                </ul>
            </div>
            <div class="sg-content-box__content">
                <div class="sg-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
                    lorem quis, gravida ex. Phasellus semper orci nulla, sit amet egestas orci mattis sit amet.
                    Aenean laoreet, dolor ac aliquet porta, velit libero euismod purus, quis dignissim ante sem
                    vel eros. Maecenas posuere sit amet urna quis faucibus. Maecenas a lorem mi. Morbi interdum
                    tincidunt neque, nec mollis nulla tincidunt ac. Suspendisse potenti.
                </div>
            </div>
            <div class="sg-content-box__actions">
                <ul class="sg-breadcrumb-list">
                    <li class="sg-breadcrumb-list__element">
                        <a class="sg-link" href="#">Comments (9)</a>
                    </li>
                    <li class="sg-breadcrumb-list__element">
                        <a class="sg-link" href="#">Report</a>
                    </li>
                </ul>
                <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--with-icon">
                    <div class="sg-button-secondary__hole">
                        <div class="sg-label sg-label--small sg-label--secondary">
                            <div class="sg-label__icon">
                                <svg class="sg-icon sg-icon--x14 sg-icon--peach">
                                    <use xlink:href="#icon-heart"></use>
                                </svg>
                            </div>
                            <div class="sg-label__text">Thank you</div>
                            <div class="sg-label__number">21</div>
                        </div>
                    </div>
                </button>
                <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--with-icon">
                    <div class="sg-button-secondary__hole">
                        <div class="sg-rate-box sg-rate-box--active sg-rate-box--small">
                            <span class="sg-rate-box__star sg-rate-box__star--checked">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                     <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star sg-rate-box__star--checked">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                     <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                     <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                     <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                     <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__counter">34</span>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Spaced-bottom elements inside</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-content-box">
      <div class="sg-content-box__title sg-content-box__title--spaced-bottom">
        <h2 class="sg-header-secondary">This is a title for context box</h2>
      </div>
      <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
        <div class="sg-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
          lorem quis, gravida ex.
        </div>
      </div>
      <div class="sg-content-box__actions sg-content-box__actions--spaced-bottom-xlarge">
        <ul class="sg-breadcrumb-list">
          <li class="sg-breadcrumb-list__element">
            <a class="sg-link" href="#">Comments (9)</a>
          </li>
          <li class="sg-breadcrumb-list__element">
            <a class="sg-link" href="#">Report</a>
          </li>
        </ul>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--with-icon">
          <div class="sg-button-secondary__hole">
            <div class="sg-label sg-label--small sg-label--secondary">
              <div class="sg-label__icon">
                <svg class="sg-icon sg-icon--x14 sg-icon--peach">
                  <use xlink:href="#icon-heart"></use>
                </svg>
              </div>
              <div class="sg-label__text">Thank you</div>
              <div class="sg-label__number">21</div>
            </div>
          </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--with-icon">
          <div class="sg-button-secondary__hole">
            <div class="sg-rate-box sg-rate-box--active sg-rate-box--small">
                            <span class="sg-rate-box__star sg-rate-box__star--checked">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star sg-rate-box__star--checked">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
              <span class="sg-rate-box__counter">34</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Spaced-top elements inside</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-content-box">
      <div class="sg-content-box__title sg-content-box__title--spaced-top">
        <h2 class="sg-header-secondary">This is a title for context box</h2>
      </div>
      <div class="sg-content-box__content sg-content-box__content--spaced-top-large">
        <div class="sg-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
          lorem quis, gravida ex.
        </div>
      </div>
      <div class="sg-content-box__actions sg-content-box__actions--spaced-top-xlarge">
        <ul class="sg-breadcrumb-list">
          <li class="sg-breadcrumb-list__element">
            <a class="sg-link" href="#">Comments (9)</a>
          </li>
          <li class="sg-breadcrumb-list__element">
            <a class="sg-link" href="#">Report</a>
          </li>
        </ul>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--with-icon">
          <div class="sg-button-secondary__hole">
            <div class="sg-label sg-label--small sg-label--secondary">
              <div class="sg-label__icon">
                <svg class="sg-icon sg-icon--x14 sg-icon--peach">
                  <use xlink:href="#icon-heart"></use>
                </svg>
              </div>
              <div class="sg-label__text">Thank you</div>
              <div class="sg-label__number">21</div>
            </div>
          </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--with-icon">
          <div class="sg-button-secondary__hole">
            <div class="sg-rate-box sg-rate-box--active sg-rate-box--small">
                            <span class="sg-rate-box__star sg-rate-box__star--checked">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star sg-rate-box__star--checked">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
              <span class="sg-rate-box__counter">34</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Centered elements inside</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-content-box">
      <div class="sg-content-box__title sg-content-box__title--with-centered-elements">
        <h2 class="sg-header-secondary">This is a title for context box</h2>
      </div>
      <div class="sg-content-box__content sg-content-box__content--with-centered-text">
        <div class="sg-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
          lorem quis, gravida ex.
        </div>
      </div>
      <div class="sg-content-box__actions sg-content-box__actions--with-centered-elements">
        <ul class="sg-breadcrumb-list">
          <li class="sg-breadcrumb-list__element">
            <a class="sg-link" href="#">Comments (9)</a>
          </li>
          <li class="sg-breadcrumb-list__element">
            <a class="sg-link" href="#">Report</a>
          </li>
        </ul>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--with-icon">
          <div class="sg-button-secondary__hole">
            <div class="sg-label sg-label--small sg-label--secondary">
              <div class="sg-label__icon">
                <svg class="sg-icon sg-icon--x14 sg-icon--peach">
                  <use xlink:href="#icon-heart"></use>
                </svg>
              </div>
              <div class="sg-label__text">Thank you</div>
              <div class="sg-label__number">21</div>
            </div>
          </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--with-icon">
          <div class="sg-button-secondary__hole">
            <div class="sg-rate-box sg-rate-box--active sg-rate-box--small">
                            <span class="sg-rate-box__star sg-rate-box__star--checked">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star sg-rate-box__star--checked">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
              <span class="sg-rate-box__counter">34</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Actions with elements moved to right</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-content-box">
      <div class="sg-content-box__actions sg-content-box__actions--with-elements-to-right">
        <ul class="sg-breadcrumb-list">
          <li class="sg-breadcrumb-list__element">
            <a class="sg-link" href="#">Comments (9)</a>
          </li>
          <li class="sg-breadcrumb-list__element">
            <a class="sg-link" href="#">Report</a>
          </li>
        </ul>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--with-icon">
          <div class="sg-button-secondary__hole">
            <div class="sg-label sg-label--small sg-label--secondary">
              <div class="sg-label__icon">
                <svg class="sg-icon sg-icon--x14 sg-icon--peach">
                  <use xlink:href="#icon-heart"></use>
                </svg>
              </div>
              <div class="sg-label__text">Thank you</div>
              <div class="sg-label__number">21</div>
            </div>
          </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--with-icon">
          <div class="sg-button-secondary__hole">
            <div class="sg-rate-box sg-rate-box--active sg-rate-box--small">
                            <span class="sg-rate-box__star sg-rate-box__star--checked">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star sg-rate-box__star--checked">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="sg-rate-box__star">
                                 <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                                   <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
              <span class="sg-rate-box__counter">34</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Example usage</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-content-box sg-content-box--spaced">
            <div class="sg-content-box__header">
                <div class="sg-avatar sg-avatar--spaced">
                    <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
                </div>
                <ul class="sg-breadcrumb-list">
                    <li class="sg-breadcrumb-list__element">
                        <span class="sg-link sg-link--gray">The Brain</span>
                    </li>
                    <li class="sg-breadcrumb-list__element">
                        <span class="sg-link sg-link--gray">Answerer</span>
                    </li>
                </ul>
            </div>
            <div class="sg-content-box__content">
                <div class="sg-header-primary sg-header-primary--small">Hey! Still not sure about the answer?</div>
                <button class="sg-button-primary sg-button-primary--alt">
                    <div class="sg-button-primary__hole">Check similar answers</div>
                </button>
            </div>
        </div>
    </div>
</section>
