<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Simple with header</h3>

    </aside>
    <div class="docs-block__content">
        <div class="mint-content-box">
            <div class="mint-content-box__header">
                <ul class="mint-breadcrumb-list">
                    <li class="mint-breadcrumb-list__element">
                        <a class="mint-link mint-link--gray mint-link--emphasised" href="#">Math</a>
                    </li>
                    <li class="mint-breadcrumb-list__element">
                        <a class="mint-link mint-link--gray mint-link--emphasised" href="#">10 pts</a>
                    </li>
                    <li class="mint-breadcrumb-list__element">
                        <a class="mint-link mint-link--gray" href="#">2 min ago</a>
                    </li>
                    <li class="mint-breadcrumb-list__element">
                        <div class="mint-badge mint-badge--warning">hot</div>
                    </li>
                </ul>
            </div>
            <div class="mint-content-box__content">
                <div class="mint-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
                    lorem quis, gravida ex. Phasellus semper orci nulla, sit amet egestas orci mattis sit amet.
                    Aenean laoreet, dolor ac aliquet porta, velit libero euismod purus, quis dignissim ante sem
                    vel eros.
                </div>
            </div>
            <div class="mint-content-box__actions">
                <div class="mint-overlayed-box">
                    <div class="mint-avatar">
                        <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                    </div>
                    <div class="mint-overlayed-box__overlay">
                        <svg class="mint-sticker">
                            <use class="mint-sticker__back" xlink:href="#icon-answering"></use>
                            <use class="mint-sticker__front" xlink:href="#icon-answering"></use>
                        </svg>
                    </div>
                </div>
                <div class="mint-separator"></div>
                <div class="mint-avatar mint-avatar--small">
                    <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                </div>
                <div class="mint-avatar mint-avatar--small">
                    <div class="mint-avatar__image mint-avatar__image--icon">
                      <svg class="mint-icon mint-icon--x24 mint-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                      </svg>
                    </div>
                </div>
                <button class="mint-button-secondary mint-button-secondary--small mint-button-secondary--alt">
                    <div class="mint-button-secondary__hole">Answer</div>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Simple with title</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-content-box">
            <div class="mint-content-box__title">
                <h2 class="mint-header-secondary">This is a title for context box</h2>
            </div>
            <div class="mint-content-box__content">
                <div class="mint-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
                    lorem quis, gravida ex. Phasellus semper orci nulla, sit amet egestas orci mattis sit amet.
                    Aenean laoreet, dolor ac aliquet porta, velit libero euismod purus, quis dignissim ante sem
                    vel eros.
                </div>
            </div>
            <div class="mint-content-box__actions">
                <div class="mint-overlayed-box">
                    <div class="mint-avatar">
                        <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                    </div>
                    <div class="mint-overlayed-box__overlay">
                        <svg class="mint-sticker">
                            <use class="mint-sticker__back" xlink:href="#icon-answering"></use>
                            <use class="mint-sticker__front" xlink:href="#icon-answering"></use>
                        </svg>
                    </div>
                </div>
                <div class="mint-separator"></div>
                <div class="mint-avatar mint-avatar--small">
                    <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                </div>
                <div class="mint-avatar mint-avatar--small">
                    <div class="mint-avatar__image mint-avatar__image--icon">
                      <svg class="mint-icon mint-icon--x24 mint-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                      </svg>
                    </div>
                </div>
                <button class="mint-button-secondary mint-button-secondary--small mint-button-secondary--alt">
                    <div class="mint-button-secondary__hole">Answer</div>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Simple with title and header</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-content-box">
            <div class="mint-content-box__title">
                <h2 class="mint-header-secondary">This is a title for context box</h2>
            </div>
            <div class="mint-content-box__header">
                <ul class="mint-breadcrumb-list">
                    <li class="mint-breadcrumb-list__element">
                        <a class="mint-link mint-link--gray mint-link--emphasised" href="#">Math</a>
                    </li>
                    <li class="mint-breadcrumb-list__element">
                        <a class="mint-link mint-link--gray mint-link--emphasised" href="#">10 pts</a>
                    </li>
                    <li class="mint-breadcrumb-list__element">
                        <a class="mint-link mint-link--gray" href="#">2 min ago</a>
                    </li>
                    <li class="mint-breadcrumb-list__element">
                        <div class="mint-badge mint-badge--warning">hot</div>
                    </li>
                </ul>
            </div>
            <div class="mint-content-box__content">
                <div class="mint-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
                    lorem quis, gravida ex. Phasellus semper orci nulla, sit amet egestas orci mattis sit amet.
                    Aenean laoreet, dolor ac aliquet porta, velit libero euismod purus, quis dignissim ante sem
                    vel eros.
                </div>
            </div>
            <div class="mint-content-box__actions">
                <div class="mint-overlayed-box">
                    <div class="mint-avatar">
                        <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                    </div>
                    <div class="mint-overlayed-box__overlay">
                        <svg class="mint-sticker">
                            <use class="mint-sticker__back" xlink:href="#icon-answering"></use>
                            <use class="mint-sticker__front" xlink:href="#icon-answering"></use>
                        </svg>
                    </div>
                </div>
                <div class="mint-separator"></div>
                <div class="mint-avatar mint-avatar--small">
                    <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                </div>
                <div class="mint-avatar mint-avatar--small">
                    <div class="mint-avatar__image mint-avatar__image--icon">
                      <svg class="mint-icon mint-icon--x24 mint-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                      </svg>
                    </div>
                </div>
                <button class="mint-button-secondary mint-button-secondary--small mint-button-secondary--alt">
                    <div class="mint-button-secondary__hole">Answer</div>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Simple with title and header (spaced)</h3>
  </aside>
  <div class="docs-block__content">
    <div class="mint-content-box mint-content-box--spaced">
      <div class="mint-content-box__title mint-content-box__title--spaced">
        <h2 class="mint-header-secondary">This is a title for context box</h2>
      </div>
      <div class="mint-content-box__header mint-content-box__header--spaced">
        <ul class="mint-breadcrumb-list">
          <li class="mint-breadcrumb-list__element">
            <a class="mint-link mint-link--gray mint-link--emphasised" href="#">Math</a>
          </li>
          <li class="mint-breadcrumb-list__element">
            <a class="mint-link mint-link--gray mint-link--emphasised" href="#">10 pts</a>
          </li>
          <li class="mint-breadcrumb-list__element">
            <a class="mint-link mint-link--gray" href="#">2 min ago</a>
          </li>
          <li class="mint-breadcrumb-list__element">
            <div class="mint-badge mint-badge--warning">hot</div>
          </li>
        </ul>
      </div>
      <div class="mint-content-box__content">
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
          lorem quis, gravida ex. Phasellus semper orci nulla, sit amet egestas orci mattis sit amet.
          Aenean laoreet, dolor ac aliquet porta, velit libero euismod purus, quis dignissim ante sem
          vel eros.
        </div>
      </div>
      <div class="mint-content-box__actions">
        <div class="mint-overlayed-box">
          <div class="mint-avatar">
            <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
          </div>
          <div class="mint-overlayed-box__overlay">
            <svg class="mint-sticker">
              <use class="mint-sticker__back" xlink:href="#icon-answering"></use>
              <use class="mint-sticker__front" xlink:href="#icon-answering"></use>
            </svg>
          </div>
        </div>
        <div class="mint-separator"></div>
        <div class="mint-avatar mint-avatar--small">
          <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
        </div>
        <div class="mint-avatar mint-avatar--small">
          <div class="mint-avatar__image mint-avatar__image--icon">
            <svg class="mint-icon mint-icon--x24 mint-icon--gray-secondary">
              <use xlink:href="#icon-profile"></use>
            </svg>
          </div>
        </div>
        <button class="mint-button-secondary mint-button-secondary--small mint-button-secondary--alt">
          <div class="mint-button-secondary__hole">Answer</div>
        </button>
      </div>
    </div>
  </div>
</section>


<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Simple with content (full)</h3>
  </aside>
  <div class="docs-block__content">
    <div class="mint-content-box">
      <div class="mint-content-box__content mint-content-box__content--full">
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
          lorem quis, gravida ex. Phasellus semper orci nulla, sit amet egestas orci mattis sit amet.
          Aenean laoreet, dolor ac aliquet porta, velit libero euismod purus, quis dignissim ante sem
          vel eros.
        </div>
      </div>
    </div>
  </div>
</section>


<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Simple with title and actions</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-content-box">
            <div class="mint-content-box__title">
                <h2 class="mint-header-secondary">This is a title for context box</h2>
            </div>
            <div class="mint-content-box__actions">
                <a class="mint-button-secondary">
                    <div class="mint-button-secondary__hole">
                        Search!
                    </div>
                </a>
            </div>
            <div class="mint-content-box__content">
                <div class="mint-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
                    lorem quis, gravida ex. Phasellus semper orci nulla, sit amet egestas orci mattis sit amet.
                    Aenean laoreet, dolor ac aliquet porta, velit libero euismod purus, quis dignissim ante sem
                    vel eros.
                </div>
            </div>
            <div class="mint-content-box__actions">
                <div class="mint-overlayed-box">
                    <div class="mint-avatar">
                        <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                    </div>
                    <div class="mint-overlayed-box__overlay">
                        <svg class="mint-sticker">
                            <use class="mint-sticker__back" xlink:href="#icon-answering"></use>
                            <use class="mint-sticker__front" xlink:href="#icon-answering"></use>
                        </svg>
                    </div>
                </div>
                <div class="mint-separator"></div>
                <div class="mint-avatar mint-avatar--small">
                    <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                </div>
                <div class="mint-avatar mint-avatar--small">
                    <div class="mint-avatar__image mint-avatar__image--icon">
                      <svg class="mint-icon mint-icon--x24 mint-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                      </svg>
                    </div>
                </div>
                <button class="mint-button-secondary mint-button-secondary--small mint-button-secondary--alt">
                    <div class="mint-button-secondary__hole">Answer</div>
                </button>
            </div>
        </div>
    </div>

    <div class="docs-block__content">
        <div class="mint-content-box">
            <div class="mint-content-box__title mint-content-box__title--large">
                <h2 class="mint-header-primary">This is a title for context box</h2>
            </div>
            <div class="mint-content-box__actions mint-content-box__actions--large">
                <a class="mint-button-primary">
                    <div class="mint-button-primary__hole">
                        Search!
                    </div>
                </a>
            </div>
            <div class="mint-content-box__content">
                <div class="mint-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
                    lorem quis, gravida ex. Phasellus semper orci nulla, sit amet egestas orci mattis sit amet.
                    Aenean laoreet, dolor ac aliquet porta, velit libero euismod purus, quis dignissim ante sem
                    vel eros.
                </div>
            </div>
            <div class="mint-content-box__actions">
                <div class="mint-overlayed-box">
                    <div class="mint-avatar">
                        <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                    </div>
                    <div class="mint-overlayed-box__overlay">
                        <svg class="mint-sticker">
                            <use class="mint-sticker__back" xlink:href="#icon-answering"></use>
                            <use class="mint-sticker__front" xlink:href="#icon-answering"></use>
                        </svg>
                    </div>
                </div>
                <div class="mint-separator"></div>
                <div class="mint-avatar mint-avatar--small">
                    <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                </div>
                <div class="mint-avatar mint-avatar--small">
                    <div class="mint-avatar__image mint-avatar__image--icon">
                      <svg class="mint-icon mint-icon--x24 mint-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                      </svg>
                    </div>
                </div>
                <button class="mint-button-secondary mint-button-secondary--small mint-button-secondary--alt">
                    <div class="mint-button-secondary__hole">Answer</div>
                </button>
            </div>
        </div>
    </div>
</section>


<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Spaced</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-content-box mint-content-box--spaced">
            <div class="mint-content-box__header">
                <div class="mint-avatar">
                    <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                </div>
                <ul class="mint-breadcrumb-list">
                    <li class="mint-breadcrumb-list__element">
                        <a class="mint-link mint-link--gray" href="#">Katie</a>
                    </li>
                    <li class="mint-breadcrumb-list__element">
                        <a class="mint-link mint-link--gray" href="#">Answerer</a>
                    </li>
                </ul>
            </div>
            <div class="mint-content-box__content">
                <div class="mint-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel dui porttitor, tincidunt
                    lorem quis, gravida ex. Phasellus semper orci nulla, sit amet egestas orci mattis sit amet.
                    Aenean laoreet, dolor ac aliquet porta, velit libero euismod purus, quis dignissim ante sem
                    vel eros. Maecenas posuere sit amet urna quis faucibus. Maecenas a lorem mi. Morbi interdum
                    tincidunt neque, nec mollis nulla tincidunt ac. Suspendisse potenti.
                </div>
            </div>
            <div class="mint-content-box__actions">
                <ul class="mint-breadcrumb-list">
                    <li class="mint-breadcrumb-list__element">
                        <a class="mint-link" href="#">Comments (9)</a>
                    </li>
                    <li class="mint-breadcrumb-list__element">
                        <a class="mint-link" href="#">Report</a>
                    </li>
                </ul>
                <button class="mint-button-secondary mint-button-secondary--small mint-button-secondary--with-icon">
                    <div class="mint-button-secondary__hole">
                        <div class="mint-label mint-label--small mint-label--secondary">
                            <div class="mint-label__icon">
                                <svg class="mint-icon mint-icon--x14 mint-icon--peach">
                                    <use xlink:href="#icon-heart"></use>
                                </svg>
                            </div>
                            <div class="mint-label__text">Thank you</div>
                            <div class="mint-label__number">21</div>
                        </div>
                    </div>
                </button>
                <button class="mint-button-secondary mint-button-secondary--small mint-button-secondary--with-icon">
                    <div class="mint-button-secondary__hole">
                        <div class="mint-rate-box mint-rate-box--active mint-rate-box--small">
                            <span class="mint-rate-box__star mint-rate-box__star--checked">
                                 <svg class="mint-icon mint-icon--x14 mint-icon--adaptive">
                                     <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="mint-rate-box__star mint-rate-box__star--checked">
                                 <svg class="mint-icon mint-icon--x14 mint-icon--adaptive">
                                     <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="mint-rate-box__star">
                                 <svg class="mint-icon mint-icon--x14 mint-icon--adaptive">
                                     <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="mint-rate-box__star">
                                 <svg class="mint-icon mint-icon--x14 mint-icon--adaptive">
                                     <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="mint-rate-box__star">
                                 <svg class="mint-icon mint-icon--x14 mint-icon--adaptive">
                                     <use xlink:href="#icon-star"></use>
                                 </svg>
                            </span>
                            <span class="mint-rate-box__counter">34</span>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Example usage</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-content-box mint-content-box--spaced">
            <div class="mint-content-box__header">
                <div class="mint-avatar">
                    <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                </div>
                <ul class="mint-breadcrumb-list">
                    <li class="mint-breadcrumb-list__element">
                        <span class="mint-link mint-link--gray">The Brain</span>
                    </li>
                    <li class="mint-breadcrumb-list__element">
                        <span class="mint-link mint-link--gray">Answerer</span>
                    </li>
                </ul>
            </div>
            <div class="mint-content-box__content">
                <div class="mint-header-primary mint-header-primary--small">Hey! Still not sure about the answer?</div>
                <button class="mint-button-primary mint-button-primary--alt">
                    <div class="mint-button-primary__hole">Check similar answers</div>
                </button>
            </div>
        </div>
    </div>
</section>
