<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Tabs</h3>
    </aside>
    <ul class="sg-tabs">
        <li class="sg-tabs__tab">text 1</li>
        <li class="sg-tabs__tab">text 2</li>
        <li class="sg-tabs__tab">text 3</li>
        <li class="sg-tabs__tab sg-tabs__tab--active">text 4</li>
    </ul>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Tabs small</h3>
    </aside>
    <ul class="sg-tabs sg-tabs--small">
        <li class="sg-tabs__tab">text 1</li>
        <li class="sg-tabs__tab sg-tabs__tab--active">text 2</li>
        <li class="sg-tabs__tab">text 3</li>
        <li class="sg-tabs__tab">text 4</li>
        <li class="sg-tabs__tab">text 5</li>
        <li class="sg-tabs__tab">text 6</li>
    </ul>
</section>
<script>
    $('.sg-tabs').on('click', '.sg-tabs__tab', function () {
        $(this).siblings('.sg-tabs__tab--active').removeClass('sg-tabs__tab--active').end().addClass('sg-tabs__tab--active');
    });
</script>
