$include-html: false !default;

@if ($include-html) {

  .mint-content-list-item {
    display: flex;
    background-color: $white;
    padding: $layoutDefaultPadding / 2;
    margin-bottom: $layoutDefaultPadding / 2;
    border-radius: $layoutDefaultPadding / 4;

    &:last-child {
      margin-bottom: 0;
    }

    &__avatar {
      margin-right: $layoutDefaultPadding/2;
    }
  }


}
