$include-html: false !default;

@if ($include-html) {

  @import "content-list-item";

  .mint-content-list {

    &__header {
      margin-bottom: $layoutDefaultPadding / 2;
      text-align: center;
    }

    &__content {
      overflow: auto;
      max-height: 200px;
    }

    &__footer {}
  }

}
