<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Simple</h3>
    </aside>
    <div class="docs-block__content">
        <div class="docs-block__contrast-box">
            <div class="mint-content-list">
                <div class="mint-content-list__header"></div>
                <div class="mint-content-list__content mint-content-list__content--limited">

                    <div class="mint-content-list-item">
                        <div class="mint-content-list-item__avatar">
                            <div class="mint-avatar">
                                <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                            </div>
                        </div>
                        <div class="mint-content-list-item__content">
                            <div class="mint-content-list-item__header">
                        <span class="mint-text-block mint-text-block--gray">
                            <a class="mint-link mint-link--gray mint-link--emphasised" href="#">
                                KingOfFools
                            </a>
                            posted a comment on your profile
                        </span>
                            </div>
                            <div class="mint-content-list-item__footer">
                                <div class="mint-text-description mint-text-description--small">
                                    03-09-2015 12:02:16
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="mint-content-list__footer"></div>
            </div>
        </div>
    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Panel</h3>
    </aside>
    <div class="docs-block__content">
        <div class="docs-block__contrast-box">


            <div class="mint-bubble mint-bubble--dark">
                <div class="mint-content-list">
                    <div class="mint-content-list__header">
                        <h2 class="mint-header-secondary">
                            Notifications
                        </h2>
                    </div>
                    <div class="mint-content-list__content mint-content-list__content--limited">

                        <div class="mint-content-list-item">
                            <div class="mint-content-list-item__avatar">
                                <div class="mint-avatar">
                                    <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                                </div>
                            </div>
                            <div class="mint-content-list-item__content">
                                <div class="mint-content-list-item__header">
                                <span class="mint-text-block mint-text-block--gray">
                                    <a class="mint-link mint-link--gray mint-link--emphasised" href="#">
                                        KingOfFools
                                    </a>
                                    posted a comment on your profile
                                </span>
                                </div>
                                <div class="mint-content-list-item__footer">
                                    <div class="mint-text-description mint-text-description--small">
                                        03-09-2015 12:02:16
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mint-content-list-item">
                            <div class="mint-content-list-item__avatar">
                                <div class="mint-avatar">
                                    <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                                </div>
                            </div>
                            <div class="mint-content-list-item__content">
                                <div class="mint-content-list-item__header">
                                <span class="mint-text-block mint-text-block--gray">
                                    <a class="mint-link mint-link--gray mint-link--emphasised" href="#">
                                        KingOfFools
                                    </a>
                                    posted a comment on your profile
                                </span>
                                </div>
                                <div class="mint-content-list-item__footer">
                                    <div class="mint-text-description mint-text-description--small">
                                        03-09-2015 12:02:16
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mint-content-list-item">
                            <div class="mint-content-list-item__avatar">
                                <div class="mint-avatar">
                                    <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                                </div>
                            </div>
                            <div class="mint-content-list-item__content">
                                <div class="mint-content-list-item__header">
                                <span class="mint-text-block mint-text-block--gray">
                                    <a class="mint-link mint-link--gray mint-link--emphasised" href="#">
                                        KingOfFools
                                    </a>
                                    posted a comment on your profile
                                </span>
                                </div>
                                <div class="mint-content-list-item__footer">
                                    <div class="mint-text-description mint-text-description--small">
                                        03-09-2015 12:02:16
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mint-content-list-item">
                            <div class="mint-content-list-item__avatar">
                                <div class="mint-avatar">
                                    <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                                </div>
                            </div>
                            <div class="mint-content-list-item__content">
                                <div class="mint-content-list-item__header">
                                <span class="mint-text-block mint-text-block--gray">
                                    <a class="mint-link mint-link--gray mint-link--emphasised" href="#">
                                        KingOfFools
                                    </a>
                                    posted a comment on your profile
                                </span>
                                </div>
                                <div class="mint-content-list-item__footer">
                                    <div class="mint-text-description mint-text-description--small">
                                        03-09-2015 12:02:16
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="mint-content-list__footer"></div>
                </div>
            </div>
        </div>
    </div>
</section>
