<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Item</h3>
    </aside>
    <div class="docs-block__content">
        <div class="docs-block__contrast-box">
            <div class="mint-content-box">
                <div class="mint-content-box__header"></div>
                <div class="mint-content-box__content">

                    <div class="mint-row">
                        <div class="mint-col">
                            <div class="mint-avatar">
                                <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                            </div>
                        </div>
                        <div class="mint-col">
                            <div class="mint-row">
                                <div class="mint-col">
                                    <span class="mint-text-block mint-text-block--gray">
                                        <a class="mint-link mint-link--gray mint-link--emphasised" href="#">
                                            KingOfFools
                                        </a>
                                        posted a comment on your profile
                                    </span>
                                </div>
                                <div class="mint-col">
                                    <div class="mint-text-description mint-text-description--small">
                                        03-09-2015 12:02:16
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="mint-content-box__footer"></div>
            </div>
        </div>
    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">List</h3>
    </aside>
    <div class="docs-block__content">
        <div class="docs-block__contrast-box">
            <div class="mint-content-box">
                <div class="mint-content-box__header">
                    <h2 class="mint-header-secondary">
                        Notifications
                    </h2>
                </div>
                <div class="mint-content-box__content">

                    <div class="">
                        <div class="">
                            <div class="mint-avatar">
                                <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                            </div>
                        </div>
                        <div class="">
                            <div class="">
                            <span class="mint-text-block mint-text-block--gray">
                                <a class="mint-link mint-link--gray mint-link--emphasised" href="#">
                                    KingOfFools
                                </a>
                                posted a comment on your profile
                            </span>
                            </div>
                            <div class="">
                                <div class="mint-text-description mint-text-description--small">
                                    03-09-2015 12:02:16
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <div class="mint-avatar">
                                <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                            </div>
                        </div>
                        <div class="">
                            <div class="">
                            <span class="mint-text-block mint-text-block--gray">
                                <a class="mint-link mint-link--gray mint-link--emphasised" href="#">
                                    KingOfFools
                                </a>
                                posted a comment on your profile
                            </span>
                            </div>
                            <div class="">
                                <div class="mint-text-description mint-text-description--small">
                                    03-09-2015 12:02:16
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <div class="mint-avatar">
                                <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                            </div>
                        </div>
                        <div class="">
                            <div class="">
                            <span class="mint-text-block mint-text-block--gray">
                                <a class="mint-link mint-link--gray mint-link--emphasised" href="#">
                                    KingOfFools
                                </a>
                                posted a comment on your profile
                            </span>
                            </div>
                            <div class="">
                                <div class="mint-text-description mint-text-description--small">
                                    03-09-2015 12:02:16
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <div class="mint-avatar">
                                <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                            </div>
                        </div>
                        <div class="">
                            <div class="">
                            <span class="mint-text-block mint-text-block--gray">
                                <a class="mint-link mint-link--gray mint-link--emphasised" href="#">
                                    KingOfFools
                                </a>
                                posted a comment on your profile
                            </span>
                            </div>
                            <div class="">
                                <div class="mint-text-description mint-text-description--small">
                                    03-09-2015 12:02:16
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="mint-content-box__footer"></div>
            </div>
        </div>
    </div>
</section>
