.colors-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.color-box {
  color: $black;
  height: 60px;
  position: relative;
  width: 100%;
  min-width: 315px;
}

.color-box__name {
  $background: rgba(255, 255, 255, 0.4);
  display: inline-block;
  padding: 4px;
  background: $background;
}

.color-box__variable {
  $background: #f5f5f5;
  position: absolute;
  bottom: 10px;
  right: 10px;

  padding: 2px 5px;
  border: 1px solid $white;
  background-color: $background;
  border-radius: $defaultBorderRadius / 2;
  font-size: 13px;
  font-weight: $fontWeightBold;
  color: $black;
}

// this comment exists to suppress errors about these unused variables:
// $lavenderSecondary $lavenderSecondaryLight $mustardSecondaryLight $peachSecondaryLight
