.copy-helper {

  position: relative;

  &--fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    z-index: 1000;
    transform: translateY(0);
    transition: transform 300ms, height 300ms;
    will-change: transform;
  }

  &--hidden {
    transform: translateY(100%);
  }

  &--big {
    height: 50%;
  }

  &--wrapped > .copy-helper__code-wrapper {
    white-space: pre-wrap;
  }

  &__code-wrapper {
    margin: 0;
    height: 100%;
    width: 100%;
  }

  &__code {
    height: 100%;
    width: 100%;
  }

  &__buttons {
    position: absolute;
    right: gutter(1 / 6);
    top: 0;
  }

  &__button {
    &--flip {
      transform: rotateZ(180deg);
    }
  }
}
