.docs-block {
  margin: 0 0 50px;
  display: flex;

  &__header {
    color: $grayPrimary;
    display: block;
    font-size: 24px;
    font-weight: $fontWeightNormal;
    margin: 0;
  }

  &__label {
    position: absolute;
    top: gutter(1/3);
    left: gutter(1/3);
  }

  &__info {
    flex: 0 1 auto;
    padding: 0 20px 0 0;
    width: 230px;
  }

  &__content {
    flex: 1 1 auto;

    &--with-label {
      position: relative;
    }

    &--centered {
      display: flex;
      align-items: center;
    }

    &--to-bottom {
      display: flex;
      align-items: flex-end;
    }

    &--align-top {

      & > * {
        vertical-align: top;
      }
    }

    &:hover {
      position: relative;

      %docs-highlight-placeholder {
        outline: 2px dashed $white;
        box-shadow: $black 0 0 10px 0;
      }
    }

    // This is a hotfix for animation that is triggering
    // repaints of elements with border radius (avatars for example)
    // Link to issue: http://crbug.com/157218
    &--animation-container {
      position: relative;
      z-index: 1;
    }
  }

  &__contrast-box {
    background-color: $grayPrimary;
    padding: $baseline;
    display: inline-block;

    &--to-bottom {
      display: flex;
      align-items: flex-end;
    }

    &--full-width {
      width: 100%;
    }

    &--small-padding {
      padding: $baseline / 2;
    }
  }

  &__content-box {
    padding: $baseline;
    display: inline-block;
  }
}

body.show-holes { // sass-lint:disable-line no-qualifying-elements
  .sg-bubble__hole,
  .sg-box__hole,
  .sg-promo-box__content,
  .sg-header__left,
  .sg-header__middle,
  .sg-header__right,
  .sg-overlayed-box,
  .sg-overlayed-box__overlay,
  .sg-footer__line,
  .sg-content-box__header,
  .sg-content-box__title,
  .sg-content-box__footer,
  .sg-content-box__content,
  .sg-toplayer__content,
  .sg-toplayer__actions,
  .sg-dropdown__hole,
  .sg-dropdown__item-hole,
  .sg-popup-menu__hole {
    @extend %docs-highlight-placeholder;
  }
}
