$docsActiveBlockTransparent: rgba(0, 0, 0, 0);

.docs-active-block {
  display: flex;
  flex-direction: row;
  position: relative;

  &--gray .docs-active-block__component {
    background-color: $graySecondaryLightest;
    background-size: 41px 40px;
    background-image: radial-gradient(circle, $grayPrimary 1px, $docsActiveBlockTransparent 1px);
  }

  &--dark .docs-active-block__component {
    background-color: $grayPrimary;
    background-size: 41px 40px;
    background-image: radial-gradient(circle, $navybluePrimary 1px, $docsActiveBlockTransparent 1px);
  }

  &__label {
    padding-left: gutter(1 / 3);
  }

  &__component {
    position: relative;
    vertical-align: middle;
    padding: 20px;
    min-height: 200px;
    max-height: 500px;
    overflow: scroll;

    &--centered {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
    }
  }

  &__component-settings {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 300px;
    border: none;
    border-left: solid $grayPrimary 1px;
    padding-left: gutter(3 / 4);
  }

  &__settings {
    display: block;
    position: absolute;
    bottom: -24px;
    left: 0;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  // Hack to display overlay only in the docs active block, not full screen
  & .sg-overlay {
    position: absolute;
    top: 0;
    left: 0;
  }
}
