.sg-radio-group {
  display: flex;

  &--items-direction {
    &-column {
      flex-direction: column;

      > .sg-radio {
        margin-bottom: 8px;
      }
    }

    &-row {
      flex-direction: row;
    }
  }
}
