.sg-wizard {
  height: 100%;
  width: 100%;
  position: relative;

  &-navigation {
    position: absolute;
    right: 24px;
    bottom: 24px;
  }

  &-steps {
    flex: 1;
    position: relative;
    overflow: hidden;
  }

  &-steps-scroll {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: transform $durationGentle2 $easingRegular;
  }

  &-step {
    position: absolute;
    height: 100%;
    width: 100%;

    &-viewer {
      width: 600px;
    }
  }

  &-progress-bar {
    flex: none;
  }

  &-footer {
    &__icon {
      width: auto;
    }
  }
}
