$buttonRoundColor: $mintPrimary;
$buttonRoundBoxShadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
$buttonHRoundHoverBoxShadow: 0 2px 16px 0 rgba(0, 0, 0, 0.25);
$buttonRoundAddSize: rhythm(2);
$buttonRoundAddColor: $white;
$buttonRoundLabelFontSize: fontSize(obscure);
$buttonRoundLabelBackground: $mintSecondary;

$includeHtml: false !default;

@if ($includeHtml) {
  .sg-button-primary-round {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    outline-width: 0;
    transition: transform 0.3s;

    &:active {
      transform: $buttonActiveScale;
    }

    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
    }

    &:hover,
    &:focus {
      .sg-button-primary-round__icon,
      .sg-button-primary-round__label {
        box-shadow: $buttonHRoundHoverBoxShadow;
      }
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $buttonRoundAddSize;
      height: $buttonRoundAddSize;
      border-radius: 50%;
      line-height: $buttonRoundAddSize;
      text-align: center;
      background-color: $buttonRoundColor;
      color: $buttonRoundAddColor;
      box-shadow: $buttonRoundBoxShadow;
      transition: box-shadow 0.3s;
      flex-shrink: 0;
    }

    &__label {
      display: flex;
      font-weight: $fontWeightBold;
      font-size: $buttonRoundLabelFontSize;
      border-radius: 5px;
      line-height: rhythm(1);
      padding: 0 gutter(1 / 2);
      margin-right: gutter(1 / 6);
      background: $buttonRoundLabelBackground;
      color: $buttonRoundAddColor;
      box-shadow: $buttonRoundBoxShadow;
      transition: box-shadow 0.3s;
    }
  }
}
