$buttonPrimaryHeight: 40px;
$buttonPrimaryFontSize: 15px;
$buttonPrimaryBorderRadius: 20px;
$buttonPrimaryPadding: spacing(m);

$includeHtml: false !default;

@if ($includeHtml) {

  .sg-button-primary {
    @include sgButtonBasics();
    border-radius: $buttonPrimaryBorderRadius;
    height: $buttonPrimaryHeight;
    padding: 0 $buttonPrimaryPadding;
    font-size: $buttonPrimaryFontSize;
    line-height: $buttonPrimaryFontSize;
    color: $buttonFontColor;
    fill: $buttonFontColor;
    background-color: $buttonColor;

    &__icon {
      display: inline-flex;
      margin-right: $buttonPrimaryPadding / 2;
    }

  }
}
