$buttonSecondaryHeight: 32px;
$buttonSecondaryFontSize: 12px;
$buttonSecondaryBorderRadius: 16px;
$buttonSecondaryPadding: gutter(3 / 4);

$includeHtml: false !default;

@if ($includeHtml) {
  .sg-button-secondary,
  .sg-button-secondary--small {
    @include sgButtonBasics();
    line-height: $buttonSecondaryFontSize;
    border-radius: $buttonSecondaryBorderRadius;
    height: $buttonSecondaryHeight;
    padding: 0 $buttonSecondaryPadding;
    font-size: $buttonSecondaryFontSize;
    color: $buttonFontColor;
    fill: $buttonFontColor;
    background-color: $buttonColor;
  }
}
