$buttonSecondaryHeight: rhythm(5 / 4);
$buttonSecondaryFontSize: fontSize(small);
$buttonSecondaryBorderRadius: 7px;
$buttonSecondaryPadding: gutter(3 / 4);

$buttonSecondarySmallHeight: rhythm(1);
$buttonSecondarySmallFontSize: fontSize(obscure);
$buttonSecondarySmallBorderRadius: 5px;
$buttonSecondarySmallPadding: 14px;

$includeHtml: false !default;

@if ($includeHtml) {
  .sg-button-secondary {
    @include sgButtonBasics();
    border-radius: $buttonSecondaryBorderRadius;
    height: $buttonSecondaryHeight;
    padding: 0 $buttonSecondaryPadding;
    font-size: $buttonSecondaryFontSize;
    color: $buttonFontColor;
    fill: $buttonFontColor;
    background-color: $buttonColor;

    &--small {
      padding: 0 $buttonSecondarySmallPadding;
      height: $buttonSecondarySmallHeight;
      border-radius: $buttonSecondarySmallBorderRadius;
      font-size: $buttonSecondarySmallFontSize;
    }

    &--active-inverse {
      background-color: $white;
      color: $peachPrimary;
      fill: $peachPrimary;
      transition-property: box-shadow, transform, background-color, color, fill;

      &:hover,
      &:active,
      &:focus {
        background-color: $peachPrimary;
        color: $white;
        fill: $white;
      }
    }
  }
}
