$buttonPrimaryHeight: rhythm(2);
$buttonSecondaryHeight: rhythm(1.333);
$buttonSecondarySmallHeight: rhythm(1);

$buttonPrimaryFontSize: fontSize(default);
$buttonSecondaryFontSize: fontSize(obscure);

$buttonPrimaryFontColor: $white;

$buttonColor: $mintPrimary;
$buttonColorGradient: #84ddaf;
$buttonShadowColor: #67c996;

$buttonAltColor: $bluePrimary;
$buttonAltColorGradient: #73c3ff;
$buttonAltShadowColor: #57aff2;

$buttonDarkColor: $black;
$buttonDarkColorGradient: #262626;
$buttonDarkShadowColor: $black;

$buttonFbColor: #3b5997;
$buttonFbColorGradient: #4668b2;
$buttonFbShadowColor: #355088;

$buttonSecondaryColor: $mintPrimary;
$buttonSecondaryTextColorHover: $white;
$buttonSecondaryAltColor: $bluePrimary;
$buttonSecondaryAltTextColorHover: $white;
$buttonSecondaryDarkColor: $black;
$buttonSecondaryDarkTextColorHover: $white;
$buttonSecondaryPeachColor: $peachPrimary;
$buttonSecondaryPeachTextColorHover: $white;
$buttonSecondaryGrayColor: $grayPrimary;
$buttonSecondaryGrayTextColorHover: $white;
$buttonSecondaryLightColor: $white;
$buttonSecondaryLightTextColorHover: $black;
$buttonSecondaryActionColor: $graySecondary;
$buttonSecondaryActionTextColor: $black;
$buttonSecondaryActionTextColorHover: $white;
$buttonSecondaryLightBlueColor: $blueSecondary;
$buttonSecondaryLightBlueTextColorHover: $white;

$buttonSecondaryIconColor: $graySecondary;
$buttonSecondaryIconBorderColorHover: $grayPrimary;

$iconAsButtonColor: $bluePrimary;
$iconAsButtonActiveColor: rgba($iconAsButtonColor, 0.7);
$iconAsButtonLightColor: $white;
$iconAsButtonLightActiveColor: rgba($iconAsButtonLightColor, 0.7);
$iconAsButtonGrayColor: $grayPrimary;
$iconAsButtonGrayActiveColor: rgba($iconAsButtonGrayColor, 0.7);

$buttonRoundAddSize: rhythm(2);
$buttonRoundAddColor: $white;
$buttonRoundLabelFontSize: fontSize(xsmall);
$buttonRoundLabelBackground: $mintSecondaryLight;
$buttonRoundLabelColor: $black;

$includeHtml: false !default;

@mixin mintButtonBasicStyles() {
  @include component;
  @include uppercaseText;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

@mixin mintButtonBasicDimensions($height) {
  border-radius: $height / 2;
  height: $height;
  padding: 0 $height / 2;
}

@mixin mintButtonBasicColors($borderColor, $fontColor, $backgroundColor) {
  border-color: $borderColor;
  color: $fontColor;
  background-color: $backgroundColor;
}

@mixin mintButtonPrimaryActive($fontColor) {
  $activeFontColor: rgba($fontColor, 0.7);
  transition: background-position 0.3s ease-out;

  &:hover,
  &:focus {
    background-position: 0 10px;
    outline: none;
  }

  &:active {
    color: $activeFontColor;
    outline: none;
  }
}

@mixin mintButtonSecondaryActive($borderColor, $fontColor, $backgroundColor) {
  $activeFontColor: rgba($fontColor, 0.7);

  &:hover,
  &:focus {
    border-color: $borderColor;
    color: $fontColor;
    background-color: $backgroundColor;
  }

  &:active {
    color: $activeFontColor;
    outline: none;
  }

  &:active &__hole {
    opacity: 0.7;
  }
}

@mixin mintButtonSecondaryWithIconActive($borderColor, $textColor) {
  &:hover,
  &:focus {
    color: $textColor;
    background-color: transparent;
    border-color: $borderColor;
    transition: border-color 0.1s ease-in;
  }
}

@mixin mintButtonPrimaryThreeColorVariant($buttonColor, $gradientColor, $buttonShadowColor: null) {
  background-color: $buttonColor;
  // scss-lint:disable NameFormat
  background: $gradientColor linear-gradient(170deg, $gradientColor 0%, $gradientColor 50%, $buttonColor 51%, $buttonColor 100%) no-repeat;
  // scss-lint:disable NameFormat
  @if ($buttonShadowColor) {
    box-shadow: 0 -1px 0 $buttonShadowColor inset;
  }

  &:hover,
  &:focus {
    background-color: $gradientColor;
  }
}

@mixin mintButtonSecondaryTwoColorVariant($colorOne, $colorTwo) {
  @include mintButtonBasicColors($colorOne, $colorOne, transparent);
  @include mintButtonSecondaryActive($colorOne, $colorTwo, $colorOne);

  &-inverse {
    @include mintButtonBasicColors($colorOne, $colorTwo, $colorOne);
    @include mintButtonSecondaryActive($colorOne, $colorOne, transparent);
  }
}

@mixin mintButtonSecondaryThreeColorVariant($bgColor, $textColor, $hoverTextColor) {
  border: none;
  padding: 0 $buttonSecondaryHeight / 2 + 0.125rem;
  @include mintButtonBasicColors($bgColor, $textColor, $bgColor);
  @include mintButtonSecondaryActive($textColor, $hoverTextColor, $textColor);

  &-inverse {
    @include mintButtonBasicColors($textColor, $hoverTextColor, $textColor);
    @include mintButtonSecondaryActive($bgColor, $textColor, $bgColor);
    border: none;
    padding: 0 $buttonSecondaryHeight / 2 + 0.125rem;
  }
}

@if ($includeHtml) {

  // Primary buttons
  .mint-button-primary {
    @include mintButtonBasicStyles();
    @include mintButtonBasicDimensions($buttonPrimaryHeight);
    @include mintButtonBasicColors(transparent, $buttonPrimaryFontColor, $buttonColor);
    @include mintButtonPrimaryThreeColorVariant($buttonColor, $buttonColorGradient, $buttonShadowColor);
    @include mintButtonPrimaryActive($buttonPrimaryFontColor);
    @include hole;

    border: none;
    font-size: $buttonPrimaryFontSize;

    &--full {
      width: 100%;
      text-align: center;
    }
  }

  .mint-button-primary--alt {
    @include mintButtonPrimaryThreeColorVariant($buttonAltColor, $buttonAltColorGradient, $buttonAltShadowColor);
  }

  .mint-button-primary--dark {
    @include mintButtonPrimaryThreeColorVariant($buttonDarkColor, $buttonDarkColorGradient, $buttonDarkShadowColor);
  }

  .mint-button-primary--fb {
    @include mintButtonPrimaryThreeColorVariant($buttonFbColor, $buttonFbColorGradient, $buttonFbShadowColor);

    .mint-button-primary__icon {
      margin-right: gutter(0.5);
      width: 20px;
      height: 20px;
    }
  }

  .mint-button-primary-round {
    @include clearfix();
    display: inline-block;

    &__icon {
      @include mintButtonPrimaryThreeColorVariant($buttonColor, $buttonColorGradient);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: $buttonRoundAddSize;
      height: $buttonRoundAddSize;
      border-radius: 50%;
      line-height: $buttonRoundAddSize;
      text-align: center;
      color: $buttonRoundAddColor;
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
    }

    &__label {
      @include uppercaseText;
      float: left;
      font-weight: bold;
      font-size: $buttonRoundLabelFontSize;
      border-radius: 4px;
      line-height: rhythm(0.5);
      background: $buttonRoundLabelBackground;
      color: $buttonRoundLabelColor;
      padding: 3px 5px;
      margin: 16px 10px 0 0;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    }
  }

  // Secondary buttons
  .mint-button-secondary {
    $borderSize: 2px;
    @include mintButtonBasicStyles();
    @include mintButtonBasicDimensions($buttonSecondaryHeight);
    @include mintButtonBasicColors($buttonSecondaryColor, $buttonSecondaryColor, $buttonSecondaryTextColorHover);
    @include mintButtonSecondaryActive($buttonSecondaryColor, $buttonSecondaryTextColorHover, $buttonSecondaryColor);
    @include hole;

    border-width: $borderSize;
    border-style: solid;
    background-color: transparent;
    font-size: $buttonSecondaryFontSize;
    font-weight: bold;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;

    &:hover,
    &:focus {
      outline: none;
    }

    &--inverse {
      @include mintButtonBasicColors($buttonSecondaryColor, $buttonSecondaryTextColorHover, $buttonSecondaryColor);
      @include mintButtonSecondaryActive($buttonSecondaryColor, $buttonSecondaryColor, $buttonSecondaryTextColorHover);
    }

    &--full {
      width: 100%;
      text-align: center;
    }
  }

  .mint-button-secondary--alt {
    @include mintButtonSecondaryTwoColorVariant($buttonSecondaryAltColor, $buttonSecondaryAltTextColorHover);
  }

  .mint-button-secondary--dark {
    @include mintButtonSecondaryTwoColorVariant($buttonSecondaryDarkColor, $buttonSecondaryDarkTextColorHover);
  }

  .mint-button-secondary--peach {
    @include mintButtonSecondaryTwoColorVariant($buttonSecondaryPeachColor, $buttonSecondaryPeachTextColorHover);
  }

  .mint-button-secondary--gray {
    @include mintButtonSecondaryTwoColorVariant($buttonSecondaryGrayColor, $buttonSecondaryGrayTextColorHover);
  }

  .mint-button-secondary--light {
    @include mintButtonSecondaryTwoColorVariant($buttonSecondaryLightColor, $buttonSecondaryLightTextColorHover);
  }

  .mint-button-secondary--action {
    @include mintButtonSecondaryThreeColorVariant($buttonSecondaryActionColor, $buttonSecondaryActionTextColor, $buttonSecondaryActionTextColorHover);
  }

  .mint-button-secondary--light-blue {
    @include mintButtonSecondaryTwoColorVariant($buttonSecondaryLightBlueColor, $buttonSecondaryLightBlueTextColorHover);
  }

  .mint-button-secondary--with-icon {
    @include mintButtonBasicColors($buttonSecondaryIconColor, $buttonSecondaryIconColor, transparent);
    @include mintButtonSecondaryWithIconActive($buttonSecondaryIconBorderColorHover, $buttonSecondaryIconColor);
  }

  .mint-button-secondary--small {
    @include mintButtonBasicDimensions($buttonSecondarySmallHeight);
  }

  .mint-icon-as-button {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    overflow: visible;
    fill: $iconAsButtonColor;

    &:active {
      fill: $iconAsButtonActiveColor;
    }

    &--small {
      width: 30px;
      height: 30px;
    }

    &--xsmall {
      width: 24px;
      height: 24px;
    }

    &--with-border {
      border: solid $iconAsButtonColor 2px;
      border-radius: 50%;
    }

    &--light {
      border-color: $iconAsButtonLightColor;
      fill: $iconAsButtonLightColor;

      &:active {
        fill: $iconAsButtonLightActiveColor;
      }
    }

    &--gray {
      border-color: $iconAsButtonGrayColor;
      fill: $iconAsButtonGrayColor;

      &:active {
        fill: $iconAsButtonGrayActiveColor;
      }
    }
  }

}
