$mediumButtonSize: componentSize(m);
$smallButtonSize: componentSize(s);
$largeButtonSize: componentSize(l);

@mixin buttonHover($color1, $color2, $percent) {
  &:hover:not([disabled]),
  &:focus:not([disabled]),
  &:active:not([disabled]),
  &:active:focus:not([disabled]) {
    @include sgButtonHoverMix($color1, $color2, $percent);
  }
}

.sg-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  height: $mediumButtonSize;
  border-radius: 20px;
  border: none;
  white-space: nowrap;
  text-decoration: none;
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
  padding: 0 20px;
  will-change: background-color, border-color;
  transition-property: background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
  fill: $white;

  &__text {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__icon {
    display: inline-flex;
    margin-right: spacing(xs);
    margin-left: -4px;

    &--right-aligned {
      margin-right: -4px;
      margin-left: spacing(xs);
    }

    &--s {
      margin-right: 6px;
      margin-left: -4px;
    }

    &--s#{&}--right-aligned {
      margin-right: -4px;
      margin-left: 6px;
    }

    &--l {
      margin-right: 12px;
      margin-left: -6px;
    }

    &--l#{&}--right-aligned {
      margin-right: -6px;
      margin-left: 12px;
    }
  }

  &--m {
    height: $mediumButtonSize;
  }

  &--l {
    border-radius: 28px;
    height: $largeButtonSize;
    padding: 0 28px;
    font-size: 21px;
    line-height: 21px;
  }

  &--s {
    border-radius: 16px;
    height: $smallButtonSize;
    padding: 0 spacing(s);
    font-size: 12px;
    line-height: 12px;

    // Proxima is broken
    // Added to align text in the center for this font-size
    .sg-button__text {
      top: 1px;
    }
  }

  &--reversed-order {
    flex-direction: row-reverse;
  }

  &--disabled {
    opacity: 0.45;
    cursor: default;
  }

  &--full-width {
    width: 100%;
  }

  // BUTTON TYPES
  &--solid {
    @include buttonHover($grayPrimary, $black, 80%);
    background-color: $black;
  }

  &--solid-inverted {
    @include buttonHover($graySecondaryUltraLight, $white, 80%);
    background-color: $white;
    color: $black;
    fill: $black;
  }

  &--solid-blue {
    @include buttonHover($bluePrimaryDark, $bluePrimary, 80%);
    background-color: $bluePrimary;
  }

  &--solid-mint {
    @include buttonHover($mintPrimaryDark, $mintPrimary, 80%);
    background-color: $mintPrimary;
  }

  &--solid-light {
    @include buttonHover($graySecondaryLight, $graySecondaryLightest, 12%);
    background-color: $graySecondaryLightest;
    color: $black;
    fill: $black;

    &-toggle-peach {
      @include buttonHover($peachPrimary, $peachSecondaryLight, 12%);
      background-color: $peachSecondaryLight;
      fill: $peachPrimary;
    }

    &-toggle-mustard {
      @include buttonHover($mustardPrimary, $mustardSecondaryLight, 12%);
      background-color: $mustardSecondaryLight;
      fill: $mustardPrimary;
    }

    &-toggle-blue {
      @include buttonHover($bluePrimary, $blueSecondaryLight, 12%);
      background-color: $blueSecondaryLight;
      fill: $bluePrimary;
    }
  }

  &--outline {
    @include buttonHover($graySecondary, $transparent, 12%);
    background-color: $transparent;
    border: 2px solid $black;
    color: $black;
    fill: $black;

    &-toggle-peach {
      @include buttonHover($peachPrimary, $transparent, 12%);
      border-color: $peachPrimary;
      fill: $peachPrimary;
    }

    &-toggle-mustard {
      @include buttonHover($mustardPrimary, $transparent, 12%);
      border-color: $mustardPrimary;
      fill: $mustardPrimary;
    }

    &-toggle-blue {
      @include buttonHover($bluePrimary, $transparent, 12%);
      border-color: $bluePrimary;
      fill: $bluePrimary;
    }
  }

  &--transparent {
    @include buttonHover($graySecondary, $transparent, 12%);
    background-color: $transparent;
    color: $black;
    fill: $black;

    &-toggle-peach {
      @include buttonHover($peachPrimary, $transparent, 12%);
      fill: $peachPrimary;
    }

    &-toggle-mustard {
      @include buttonHover($mustardPrimary, $transparent, 12%);
      fill: $mustardPrimary;
    }

    &-toggle-blue {
      @include buttonHover($bluePrimary, $transparent, 12%);
      fill: $bluePrimary;
    }
  }

  &--transparent-light {
    @include buttonHover($graySecondary, $transparent, 12%);
    background-color: $transparent;
    color: $graySecondary;
    fill: $graySecondary;

    &-toggle-peach {
      @include buttonHover($peachPrimary, $transparent, 12%);
      fill: $peachPrimary;
    }

    &-toggle-mustard {
      @include buttonHover($mustardPrimary, $transparent, 12%);
      fill: $mustardPrimary;
    }

    &-toggle-blue {
      @include buttonHover($bluePrimary, $transparent, 12%);
      fill: $bluePrimary;
    }
  }

  &--transparent-inverted {
    @include buttonHover($white, $transparent, 12%);
    background-color: $transparent;
    color: $white;
    fill: $white;
  }

  &--transparent-peach {
    @include buttonHover($peachPrimary, $transparent, 12%);
    background-color: $transparent;
    color: $peachPrimary;
    fill: $peachPrimary;

    &-toggle-peach {
      @include buttonHover($peachPrimary, $transparent, 12%);
    }
  }

  &--transparent-mustard {
    @include buttonHover($mustardPrimary, $transparent, 12%);
    background-color: $transparent;
    color: $mustardPrimary;
    fill: $mustardPrimary;

    &-toggle-mustard {
      @include buttonHover($mustardPrimary, $transparent, 12%);
    }
  }

  &--transparent-blue {
    @include buttonHover($bluePrimary, $transparent, 12%);
    background-color: $transparent;
    color: $bluePrimary;
    fill: $bluePrimary;

    &-toggle-blue {
      @include buttonHover($bluePrimary, $transparent, 12%);
    }
  }

  &--transparent,
  &--transparent-light,
  &--transparent-inverted,
  &--transparent-peach,
  &--transparent-mustard,
  &--transparent-blue {
    padding: 0 10px;

    &.sg-button--l {
      padding: 0 14px;
    }

    &.sg-button--s {
      padding: 0 spacing(xs);
    }

    .sg-button__icon {
      margin-left: -2px;

      &--l {
        margin-left: -3px;
      }

      &--right-aligned {
        margin-right: -2px;
        margin-left: spacing(xs);
      }
    }

    .sg-button__icon--right-aligned.sg-button__icon--s {
      margin-right: -2px;
      margin-left: 6px;
    }

    .sg-button__icon--right-aligned.sg-button__icon--l {
      margin-right: -3px;
      margin-left: 12px;
    }
  }

  &--facebook {
    background-color: $buttonPrimaryFbColor;
    color: $white;

    &:hover:not([disabled]),
    &:focus:not([disabled]),
    &:active:not([disabled]),
    &:active:focus:not([disabled]) {
      background-color: $buttonPrimaryFbHoverColor;
      border-color: $buttonPrimaryFbHoverColor;
    }
  }

  &--icon-only {
    padding: 0;
    width: $mediumButtonSize;

    &.sg-button--s {
      width: $smallButtonSize;
    }

    &.sg-button--m {
      width: $mediumButtonSize;
    }

    &.sg-button--l {
      width: $largeButtonSize;
    }

    .sg-button__icon {
      margin: 0;
    }

    .sg-button__text { // if defined it's available for screen readers
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: none;
    }
  }
}
