@mixin buttonHover($color1, $color2, $percent) {
  &:hover:not([disabled]),
  &:focus:not([disabled]),
  &:active:not([disabled]),
  &:active:focus:not([disabled]) {
    @include sgButtonHoverMix($color1, $color2, $percent);
  }
}

.sg-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  height: 40px;
  border-radius: 20px;
  border: none;
  white-space: nowrap;
  text-decoration: none;
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
  padding: 0 20px;
  will-change: background-color, border-color;
  transition-property: background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  box-sizing: border-box;

  &__text {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__icon {
    fill: $white;
    display: inline-flex;
    margin-right: spacing(xs);
    margin-left: -4px;

    &--small {
      margin-right: 6px;
    }

    &--large {
      margin-right: 12px;
      margin-left: -6px;
    }
  }

  &--medium {
    height: 40px;
  }

  &--large {
    border-radius: 28px;
    height: 56px;
    padding: 0 28px;
    font-size: 21px;
    line-height: 21px;
  }

  &--small {
    border-radius: 16px;
    height: 32px;
    padding: 0 spacing(s);
    font-size: 12px;
    line-height: 12px;

    // Proxima is broken
    // Added to align text in the center for this font-size
    .sg-button__text {
      top: 1px;
    }
  }

  &--disabled {
    opacity: 0.45;
    cursor: default;
  }

  &--full-width {
    width: 100%;
  }

  // BUTTON TYPES
  &--solid {
    @include buttonHover($grayPrimary, $black, 80%);
    background-color: $black;
  }

  &--solid-inverted {
    @include buttonHover($graySecondaryUltraLight, $white, 80%);
    background-color: $white;
    color: $black;
  }

  &--solid-blue {
    @include buttonHover($bluePrimaryDark, $bluePrimary, 80%);
    background-color: $bluePrimary;
  }

  &--solid-mint {
    @include buttonHover($graySecondaryLight, $mintPrimary, 80%);
    background-color: $mintPrimary;
  }

  &--solid-light {
    @include buttonHover($graySecondaryLight, $graySecondaryLightest, 20%);
    background-color: $graySecondaryLightest;
    color: $black;
  }

  &--outline {
    @include buttonHover($black, $transparent, 12%);
    background-color: $transparent;
    border: 2px solid $black;
    color: $black;
  }

  &--transparent {
    @include buttonHover($black, $transparent, 12%);
    background-color: $transparent;
    color: $black;
  }

  &--transparent-light {
    @include buttonHover($black, $transparent, 12%);
    background-color: $transparent;
    color: $graySecondary;
  }

  &--transparent-inverted {
    @include buttonHover($white, $transparent, 12%);
    background-color: $transparent;
    color: $white;
  }

  &--transparent-peach {
    @include buttonHover($peachPrimary, $transparent, 12%);
    background-color: $transparent;
    color: $peachPrimary;
  }

  &--transparent-mustard {
    @include buttonHover($mustardPrimary, $transparent, 12%);
    background-color: $transparent;
    color: $mustardPrimary;
  }

  &--transparent,
  &--transparent-light,
  &--transparent-inverted,
  &--transparent-peach,
  &--transparent-mustard {
    &.sg-button {
      padding: 0 10px;
    }

    &.sg-button--large {
      padding: 0 14px;
    }

    &.sg-button--small {
      padding: 0 spacing(xs);
    }

    .sg-button__icon {
      margin-left: -2px;

      &--large {
        margin-left: -3px;
      }
    }
  }

  &--facebook {
    background-color: $buttonPrimaryFbColor;
    color: $white;

    &:hover:not([disabled]),
    &:focus:not([disabled]),
    &:active:not([disabled]),
    &:active:focus:not([disabled]) {
      background-color: $buttonPrimaryFbHoverColor;
      border-color: $buttonPrimaryFbHoverColor;
    }
  }
}
