@mixin sgButtonBasicStyles() {
  @include component();
  @include uppercaseText(0.02rem);
  cursor: pointer;
  text-decoration: none;
  font-weight: $fontWeightBold;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

@mixin sgButtonBasicDimensions($height) {
  border-radius: $height / 2;
  height: $height;
  padding: 0 $height / 2;
}

@mixin sgPrimaryButtonColors($fontColor, $backgroundColor, $activeBackgroundColor) {
  color: $fontColor;
  fill: $fontColor;
  background-color: $backgroundColor;

  &:active,
  &:focus,
  &:hover {
    background-color: $activeBackgroundColor;
  }
}

@mixin sgButtonBasicColors($borderColor, $fontColor, $backgroundColor) {
  border-color: $borderColor;
  color: $fontColor;
  fill: $fontColor;
  background-color: $backgroundColor;
}
