$buttonPrimaryHeight: 40px;
$buttonPrimaryFontSize: 15px;
$buttonPrimaryPadding: gutter(1);
$buttonPrimaryFbColor: #3b5998;
$buttonPrimaryFbColorHover: #2a457b;

$includeHtml: false !default;

@if ($includeHtml) {

  .sg-button-primary {
    @include sgButtonBasics();

    height: $buttonPrimaryHeight;
    padding: 0 $buttonPrimaryPadding;
    font-size: $buttonPrimaryFontSize;
    line-height: 15px;
    color: $buttonFontColor;
    fill: $buttonFontColor;
    background-color: $buttonColor;

    &--fb {
      padding: 0 $buttonPrimaryPadding 0 ($buttonPrimaryPadding / 2);
      background-color: $buttonPrimaryFbColor;

      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        @include hoverMix($buttonPrimaryFbColorHover, $buttonPrimaryFbColor, 72%);
      }
    }

    &__icon {
      display: inline-flex;
      margin-right: $buttonPrimaryPadding / 2;
    }
  }
}
