$transparentWhite: rgba(255, 255, 255, 0);
$buttonPrimaryFbColor: #3c5b96;
$buttonPrimaryFbHoverColor: #4367a9;

@mixin sgButtonHover($color1, $color2, $percent) {
  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    background-color: mix($color1, $color2, $percent);
    border-color: mix($color1, $color2, $percent);
  }
}

@mixin sgButtonHoverNoBorder($color1, $color2, $percent) {
  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    background-color: mix($color1, $color2, $percent);
  }
}

.sg-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  height: 40px;
  border-radius: 20px;
  border: none;
  white-space: nowrap;
  text-decoration: none;
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
  padding: 0 spacing(m);
  will-change: background-color, border-color;
  transition-property: background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  box-sizing: border-box;

  &__icon {
    fill: $white;
    display: inline-flex;
    margin-right: spacing(xs);

    &--small {
      margin-right: spacing(xs);
    }

    &--large {
      margin-right: spacing(s);
    }
  }

  &:focus {
    outline: none;
  }

  &--medium {
    height: 40px;
  }

  &--large {
    border-radius: 28px;
    height: 56px;
    padding: 0 spacing(l);
    font-size: 21px;
    line-height: 21px;
  }

  &--small {
    border-radius: 16px;
    height: 32px;
    padding: 0 20px;
    font-size: 12px;
    line-height: 12px;
  }

  &--disabled {
    opacity: 0.45;
    cursor: default;
  }

  &--full-width {
    width: 100%;
  }

  // BUTTON TYPES
  &--primary {
    @include sgButtonHover($grayPrimary, $black, 80%);
    background-color: $black;
    border: 2px solid $black;
  }

  &--primary-inverted {
    @include sgButtonHover($graySecondaryUltraLight, $white, 80%);
    background-color: $white;
    color: $black;
    border: 2px solid $white;
  }

  &--primary-blue {
    @include sgButtonHover($bluePrimaryDark, $bluePrimary, 80%);
    background-color: $bluePrimary;
    border: 2px solid $bluePrimary;
  }

  &--primary-mint {
    @include sgButtonHover($mintPrimaryDark, $mintPrimary, 80%);
    background-color: $mintPrimary;
    border: 2px solid $mintPrimary;
  }

  &--secondary {
    @include sgButtonHoverNoBorder($black, $transparentWhite, 12%);
    background-color: $transparentWhite;
    border: 2px solid $black;
    color: $black;
  }

  &--link-button {
    @include sgButtonHoverNoBorder($black, $transparentWhite, 12%);
    background-color: $transparentWhite;
    border: 2px solid $transparentWhite;
    color: $black;
  }

  &--link-button-inverted {
    @include sgButtonHoverNoBorder($white, $transparentWhite, 12%);
    background-color: $transparentWhite;
    border: 2px solid $transparentWhite;
    color: $white;
  }

  &--link-button-peach {
    @include sgButtonHoverNoBorder($peachPrimary, $transparentWhite, 12%);
    background-color: $transparentWhite;
    border: 2px solid $transparentWhite;
    color: $peachPrimary;
  }

  &--link-button-mustard {
    @include sgButtonHoverNoBorder($mustardPrimary, $transparentWhite, 12%);
    background-color: $transparentWhite;
    border: 2px solid $transparentWhite;
    color: $mustardPrimary;
  }

  &--destructive {
    @include sgButtonHover($peachPrimary, $peachSecondary, 80%);
    background-color: $peachSecondary;
    border: 2px solid $peachSecondary;
    color: $black;
  }

  &--warning {
    @include sgButtonHover($mustardPrimary, $mustardSecondary, 80%);
    background-color: $mustardSecondary;
    border: 2px solid $mustardSecondary;
    color: $black;
  }

  &--facebook {
    background-color: $buttonPrimaryFbColor;
    border: 2px solid $buttonPrimaryFbColor;
    color: $white;

    &:hover,
    &:focus,
    &:active,
    &:active:focus {
      background-color: $buttonPrimaryFbHoverColor;
      border-color: $buttonPrimaryFbHoverColor;
    }
  }
}
