$buttonSecondaryHeight: 40px;
$buttonSecondaryFontSize: 15px;
$buttonSecondaryBorderRadius: 20px;
$buttonSecondaryPadding: 24px;

$buttonSecondarySmallHeight: 32px;
$buttonSecondarySmallFontSize: 12px;
$buttonSecondarySmallBorderRadius: 16px;
$buttonSecondarySmallPadding: 20px;

$includeHtml: false !default;

@if ($includeHtml) {
  .sg-button-secondary {
    @include sgButtonBasics();
    border-radius: $buttonSecondaryBorderRadius;
    height: $buttonSecondaryHeight;
    padding: 0 $buttonSecondaryPadding;
    font-size: $buttonSecondaryFontSize;
    line-height: $buttonSecondaryFontSize;
    color: $buttonFontColor;
    fill: $buttonFontColor;
    background-color: $buttonColor;

    &--small {
      padding: 0 $buttonSecondarySmallPadding;
      height: $buttonSecondarySmallHeight;
      border-radius: $buttonSecondarySmallBorderRadius;
      font-size: $buttonSecondarySmallFontSize;
      line-height: $buttonSecondarySmallFontSize;
    }
  }
}
