$iconAsButtonColor: $bluePrimary;
$iconAsButtonActiveColor: rgba($iconAsButtonColor, 0.7);
$iconAsButtonLightColor: $white;
$iconAsButtonLightActiveColor: rgba($iconAsButtonLightColor, 0.7);
$iconAsButtonGrayColor: $grayPrimary;
$iconAsButtonGrayActiveColor: rgba($iconAsButtonGrayColor, 0.7);
$iconAsButtonActionColor: $white;

$includeHtml: false !default;

@if ($includeHtml) {
  .mint-icon-as-button {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    padding: 7px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    overflow: visible;
    fill: $iconAsButtonColor;

    &:hover,
    &:active {
      fill: $iconAsButtonActiveColor;
    }

    &--small-icon {
      padding: 13px;
    }

    &--small {
      width: 30px;
      height: 30px;
      padding: 6px;

      &.mint-icon-as-button--with-border {
        padding: 4px;
      }

      &.mint-icon-as-button--small-icon {
        padding: 10px;

        &.mint-icon-as-button--with-border {
          padding: 8px;
        }
      }

    }

    &--xsmall {
      width: 24px;
      height: 24px;
      padding: 3px;

      &.mint-icon-as-button--with-border {
        padding: 1px;
      }

      &.mint-icon-as-button--small-icon {
        padding: 7px;

        &.mint-icon-as-button--with-border {
          padding: 5px;
        }
      }
    }

    &--with-border {
      border: solid $iconAsButtonColor 2px;
      border-radius: 50%;
      padding: 5px;

      &.mint-icon-as-button--small-icon {
        padding: 11px;
      }
    }

    &--light {
      border-color: $iconAsButtonLightColor;
      fill: $iconAsButtonLightColor;

      &:hover,
      &:active {
        fill: $iconAsButtonLightActiveColor;
      }
    }

    &--gray {
      border-color: $iconAsButtonGrayColor;
      fill: $iconAsButtonGrayColor;

      &:hover,
      &:active {
        fill: $iconAsButtonGrayActiveColor;
      }
    }

    &--action {
      transition: background 0.3s ease-out, fill 0.3s ease-out;
      border-radius: 50%;

      &:hover {
        background: $iconAsButtonColor;
        fill: $iconAsButtonActionColor;

        &.mint-icon-as-button--gray {
          background: $iconAsButtonGrayColor;
        }
      }
    }

    &--action-active {
      background: $iconAsButtonColor;
      fill: $iconAsButtonActionColor;
      border-radius: 50%;

      &:hover {
        fill: $iconAsButtonActionColor;
      }

      &.mint-icon-as-button--gray {
        background: $iconAsButtonGrayColor;
      }
    }
  }
}
