$iconAsButtonColor: $bluePrimary;
$iconAsButtonActiveColor: rgba($iconAsButtonColor, 0.7);
$iconAsButtonLightColor: $white;
$iconAsButtonLightActiveColor: rgba($iconAsButtonLightColor, 0.7);
$iconAsButtonGrayColor: $grayPrimary;
$iconAsButtonGrayActiveColor: rgba($iconAsButtonGrayColor, 0.7);
$iconAsButtonDarkColor: $black;
$iconAsButtonDarkActiveColor: rgba($iconAsButtonDarkColor, 0.7);
$iconAsButtonActionColor: $white;

$includeHtml: false !default;

@if ($includeHtml) {
  .mint-icon-as-button {
    display: inline-flex;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    overflow: visible;
    fill: $iconAsButtonColor;

    &:hover,
    &:active {
      fill: $iconAsButtonActiveColor;
    }

    &__hole {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
    }

    &--small {
      .mint-icon-as-button__hole {
        width: 30px;
        height: 30px;
      }
    }

    &--xsmall {
      .mint-icon-as-button__hole {
        width: 24px;
        height: 24px;
      }
    }

    &--with-border {
      .mint-icon-as-button__hole {
        border: solid $iconAsButtonColor 2px;
        border-radius: 50%;
      }
    }

    &--light {
      fill: $iconAsButtonLightColor;

      &:hover,
      &:active {
        fill: $iconAsButtonLightActiveColor;
      }

      .mint-icon-as-button__hole {
        border-color: $iconAsButtonLightColor;
      }
    }

    &--gray {
      fill: $iconAsButtonGrayColor;

      &:hover,
      &:active {
        fill: $iconAsButtonGrayActiveColor;
      }

      .mint-icon-as-button__hole {
        border-color: $iconAsButtonGrayColor;
      }
    }

    &--dark {
      fill: $iconAsButtonDarkColor;

      &:hover,
      &:active {
        fill: $iconAsButtonDarkActiveColor;
      }

      .mint-icon-as-button__hole {
        border-color: $iconAsButtonDarkColor;
      }
    }

    &--action {
      transition: background 0.3s ease-out, fill 0.3s ease-out;
      border-radius: 50%;

      &:hover {
        background: $iconAsButtonColor;
        fill: $iconAsButtonActionColor;

        &.mint-icon-as-button--gray {
          background: $iconAsButtonGrayColor;
        }

        &.mint-icon-as-button--dark {
          background: $iconAsButtonDarkColor;
        }
      }
    }

    &--action-active {
      background: $iconAsButtonColor;
      fill: $iconAsButtonActionColor;
      border-radius: 50%;

      &:hover {
        fill: $iconAsButtonActionColor;
      }

      &.mint-icon-as-button--gray {
        background: $iconAsButtonGrayColor;
      }

      &.mint-icon-as-button--dark {
        background: $iconAsButtonDarkColor;
      }
    }

    &--rounded-square {
      border-radius: 8px;
    }
  }
}
