<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Primary buttons</h3>
    </aside>
    <div class="docs-block__content docs-block__content--align-top">
        <button class="sg-button-primary">
            Add your answer
        </button>
        <button class="sg-button-primary sg-button-primary--alt">
            Ask your question
        </button>
        <button class="sg-button-primary sg-button-primary--dark">
            Search
        </button>
    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Primary buttons wide</h3>
    </aside>
    <div class="docs-block__content docs-block__content--align-top">
        <button class="sg-button-primary sg-button-primary--full-width">
            Search
        </button>
    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Primary buttons inverted</h3>
    </aside>
    <div class="docs-block__content">
        <div class="docs-block__contrast-box">
            <button class="sg-button-primary sg-button-primary--inverse">
                Search
            </button>

            <button class="sg-button-primary sg-button-primary--alt-inverse">
                Search
            </button>

            <button class="sg-button-primary sg-button-primary--dark-inverse">
                Search
            </button>

            <button class="sg-button-primary sg-button-primary--disabled">
                Disabled
            </button>

            <br>
            <br>
            <button class="sg-button-primary sg-button-primary--dark-inverse">
                <span class="sg-button-primary__icon">
                    <svg class="sg-icon sg-icon--x22 sg-icon--adaptive">
                        <use xlink:href="#icon-points"></use>
                    </svg>
                </span>
                login / register
            </button>
        </div>
    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Primary round button</h3>
    </aside>
    <div class="docs-block__content">
        <a href="#" class="sg-button-primary-round">
            <div class="sg-button-primary-round__icon">
                <svg class="sg-icon sg-icon--x20">
                    <use xlink:href="#icon-plus"></use>
                </svg>
            </div>
            <span class="sg-button-primary-round__label">Add question</span>
        </a>
    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Secondary buttons</h3>
    </aside>
    <div class="docs-block__content docs-block__content--align-top">
        <a href="#" class="sg-button-secondary">
          <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
            <use xlink:href="#icon-search"></use>
          </svg>
        </a>

        <button class="sg-button-secondary">
            Search
        </button>
        <button class="sg-button-secondary sg-button-secondary--alt">
            Search
        </button>
        <button class="sg-button-secondary sg-button-secondary--dark">
            Search
        </button>

    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Secondary buttons wide</h3>
    </aside>
    <div class="docs-block__content docs-block__content--align-top">
        <button class="sg-button-secondary sg-button-secondary--full-width">
            Search
        </button>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Secondary buttons inverted</h3>
    </aside>
    <div class="docs-block__content">
        <div class="docs-block__contrast-box">
            <button class="sg-button-secondary sg-button-secondary--inverse">
              <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                <use xlink:href="#icon-search"></use>
              </svg>
            </button>

            <button class="sg-button-secondary sg-button-secondary--inverse">
                Search
            </button>

            <button class="sg-button-secondary sg-button-secondary--alt-inverse">
                Search
            </button>
            <button class="sg-button-secondary sg-button-secondary--dark-inverse">
                Search
            </button>
            <button class="sg-button-secondary sg-button-secondary--disabled">
                Disabled
            </button>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Secondary buttons small</h3>
    </aside>
    <div class="docs-block__content">
        <button class="sg-button-secondary sg-button-secondary--small">
            <div class="sg-button-secondary__hole">
                Search
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--alt">
            <div class="sg-button-secondary__hole">
                Search
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--dark">
            <div class="sg-button-secondary__hole">
                Search
            </div>
        </button>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Secondary buttons small inverted</h3>
    </aside>
    <div class="docs-block__content">
        <div class="docs-block__contrast-box">
            <button class="sg-button-secondary sg-button-secondary--inverse sg-button-secondary--small">
                Search
            </button>
            <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--alt-inverse">
                Search
            </button>
            <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--dark-inverse">
                Search
            </button>
            <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--disabled">
                Disabled
            </button>

            <br>
            <br>

            <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--inverse">
                <div class="sg-label sg-label--secondary">
                    <div class="sg-label__icon">
                        <svg class="sg-icon sg-icon--x16 sg-icon--lavender">
                            <use xlink:href="#icon-comment"></use>
                        </svg>
                    </div>
                    <div class="sg-label__text">Comment</div>
                    <div class="sg-label__number">21</div>
                </div>
            </button>

            <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--inverse">
                <div class="sg-label">
                    <div class="sg-label__icon">
                        <svg class="sg-icon sg-icon--x16 sg-icon--mustard">
                            <use xlink:href="#icon-excellent"></use>
                        </svg>
                    </div>
                    <div class="sg-label__text">Mark as brainliest</div>
                </div>
            </button>

        </div>
    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Secondary buttons small active and inverted</h3>
    </aside>
    <div class="docs-block__content">

        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--active-inverse">
            <div class="sg-label sg-label--secondary sg-label--unstyled">
                <div class="sg-label__icon">
                    <svg class="sg-icon sg-icon--x16 sg-icon--adaptive">
                        <use xlink:href="#icon-heart"></use>
                    </svg>
                </div>
                <div class="sg-label__text">Thank you</div>
                <div class="sg-label__number">21</div>
            </div>
        </button>

    </div>
</section>
