<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Primary buttons</h3>
    </aside>
    <div class="docs-block__content docs-block__content--align-top">
        <a class="sg-button-primary">
            <div class="sg-button-primary__hole">
                Add question
            </div>
        </a>
        <button class="sg-button-primary sg-button-primary--alt">
            <div class="sg-button-primary__hole">
                Search!
            </div>
        </button>
        <button class="sg-button-primary sg-button-primary--dark">
            <div class="sg-button-primary__hole">
                Search!
            </div>
        </button>
        <a class="sg-button-primary sg-button-primary--fb">
            <div class="sg-button-primary__hole">
                <svg class="sg-icon sg-icon--x20 sg-icon--right-spaced">
                    <use xlink:href="#icon-fb"></use>
                </svg>
                Facebook
            </div>
        </a>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Primary button wide</h3>
    </aside>
    <div class="docs-block__content">
        <a class="sg-button-primary sg-button-primary--full">
            <div class="sg-button-primary__hole">
                Add question
            </div>
        </a>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Primary round button</h3>
    </aside>
    <div class="docs-block__content">
        <a class="sg-button-primary-round">
            <div class="sg-button-primary-round__icon">
                <svg class="sg-icon sg-icon--x20">
                    <use xlink:href="#icon-plus"></use>
                </svg>
            </div>
            <span class="sg-button-primary-round__label">Add question</span>
        </a>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Secondary buttons</h3>
    </aside>
    <div class="docs-block__content docs-block__content--align-top">
        <a class="sg-button-secondary">
            <div class="sg-button-secondary__hole">
              <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                <use xlink:href="#icon-search"></use>
              </svg>
            </div>
        </a>
        <button class="sg-button-secondary sg-button-secondary--alt">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--dark">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--peach">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--gray">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--action">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <div class="docs-block__contrast-box">
            <a class="sg-button-secondary sg-button-secondary--light">
                <div class="sg-button-secondary__hole">
                    Search!
                </div>
            </a>
        </div>
        <button class="sg-button-secondary sg-button-secondary--light-blue">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Secondary buttons inverted</h3>
    </aside>
    <div class="docs-block__content">
        <button class="sg-button-secondary sg-button-secondary--inverse">
            <div class="sg-button-secondary__hole">
              <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                <use xlink:href="#icon-search"></use>
              </svg>
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--alt-inverse">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--dark-inverse">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--peach-inverse">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--gray-inverse">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--action-inverse">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <div class="docs-block__contrast-box">
            <button class="sg-button-secondary sg-button-secondary--light-inverse">
                <div class="sg-button-secondary__hole">
                    Search!
                </div>
            </button>
        </div>
        <button class="sg-button-secondary sg-button-secondary--light-blue-inverse">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Secondary buttons small</h3>
    </aside>
    <div class="docs-block__content">
        <button class="sg-button-secondary sg-button-secondary--small">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--alt">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--dark">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--peach">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--gray">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--action">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <div class="docs-block__contrast-box">
            <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--light">
                <div class="sg-button-secondary__hole">
                    Search!
                </div>
            </button>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Secondary buttons small inverted</h3>
    </aside>
    <div class="docs-block__content">
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--inverse">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--alt-inverse">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--dark-inverse">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--peach-inverse">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--gray-inverse">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <button
            class="sg-button-secondary sg-button-secondary--small sg-button-secondary--action-inverse">
            <div class="sg-button-secondary__hole">
                Search!
            </div>
        </button>
        <div class="docs-block__contrast-box">
            <button
                class="sg-button-secondary sg-button-secondary--small sg-button-secondary--light-inverse">
                <div class="sg-button-secondary__hole">
                    Search!
                </div>
            </button>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Secondary buttons with icons</h3>
    </aside>
    <div class="docs-block__content">
        <button class="sg-button-secondary sg-button-secondary--with-icon">
            <div class="sg-button-secondary__hole">
                <div class="sg-label sg-label--secondary">
                    <div class="sg-label__icon">
                        <svg class="sg-icon sg-icon--x16 sg-icon--peach">
                            <use xlink:href="#icon-heart"></use>
                        </svg>
                    </div>
                    <div class="sg-label__text">Thank you</div>
                    <div class="sg-label__number">21</div>
                </div>
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--with-icon">
            <div class="sg-button-secondary__hole">
                <div class="sg-label sg-label--secondary">
                    <div class="sg-label__icon">
                        <svg class="sg-icon sg-icon--x16 sg-icon--lavender">
                            <use xlink:href="#icon-comment"></use>
                        </svg>
                    </div>
                    <div class="sg-label__text">Comment</div>
                    <div class="sg-label__number">21</div>
                </div>
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--with-icon">
            <div class="sg-button-secondary__hole">
                <div class="sg-rate-box sg-rate-box--active">
                    <span class="sg-rate-box__star sg-rate-box__star--checked">
                         <svg class="sg-icon sg-icon--x16 sg-icon--adaptive">
                             <use xlink:href="#icon-star"></use>
                         </svg>
                    </span>
                    <span class="sg-rate-box__star sg-rate-box__star--checked">
                         <svg class="sg-icon sg-icon--x16 sg-icon--adaptive">
                             <use xlink:href="#icon-star"></use>
                         </svg>
                    </span>
                    <span class="sg-rate-box__star sg-rate-box__star--checked">
                         <svg class="sg-icon sg-icon--x16 sg-icon--adaptive">
                             <use xlink:href="#icon-star"></use>
                         </svg>
                    </span>
                    <span class="sg-rate-box__star">
                         <svg class="sg-icon sg-icon--x16 sg-icon--adaptive">
                             <use xlink:href="#icon-star"></use>
                         </svg>
                    </span>
                    <span class="sg-rate-box__star">
                         <svg class="sg-icon sg-icon--x16 sg-icon--adaptive">
                             <use xlink:href="#icon-star"></use>
                         </svg>
                    </span>
                    <span class="sg-rate-box__counter">34</span>
                </div>
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--with-icon">
            <div class="sg-button-secondary__hole">
                <div class="sg-label">
                    <div class="sg-label__icon">
                        <svg class="sg-icon sg-icon--x16 sg-icon--mustard">
                            <use xlink:href="#icon-excellent"></use>
                        </svg>
                    </div>
                    <div class="sg-label__text">Mark as brainliest</div>
                </div>
            </div>
        </button>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Secondary buttons small with icons</h3>
    </aside>
    <div class="docs-block__content">
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--with-icon">
            <div class="sg-button-secondary__hole">
                <div class="sg-label sg-label--small sg-label--secondary">
                    <div class="sg-label__icon">
                        <svg class="sg-icon sg-icon--x14 sg-icon--peach">
                            <use xlink:href="#icon-heart"></use>
                        </svg>
                    </div>
                    <div class="sg-label__text">Thank you</div>
                    <div class="sg-label__number">21</div>
                </div>
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--with-icon">
            <div class="sg-button-secondary__hole">
                <div class="sg-label sg-label--small sg-label--secondary">
                    <div class="sg-label__icon">
                        <svg class="sg-icon sg-icon--x14 sg-icon--lavender">
                            <use xlink:href="#icon-comment"></use>
                        </svg>
                    </div>
                    <div class="sg-label__text">Comment</div>
                    <div class="sg-label__number">21</div>
                </div>
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--with-icon">
            <div class="sg-button-secondary__hole">
                <div class="sg-rate-box sg-rate-box--active sg-rate-box--small">
                    <span class="sg-rate-box__star sg-rate-box__star--checked">
                         <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                             <use xlink:href="#icon-star"></use>
                         </svg>
                    </span>
                    <span class="sg-rate-box__star sg-rate-box__star--checked">
                         <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                             <use xlink:href="#icon-star"></use>
                         </svg>
                    </span>
                    <span class="sg-rate-box__star">
                         <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                             <use xlink:href="#icon-star"></use>
                         </svg>
                    </span>
                    <span class="sg-rate-box__star">
                         <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                             <use xlink:href="#icon-star"></use>
                         </svg>
                    </span>
                    <span class="sg-rate-box__star">
                         <svg class="sg-icon sg-icon--x14 sg-icon--adaptive">
                             <use xlink:href="#icon-star"></use>
                         </svg>
                    </span>
                    <span class="sg-rate-box__counter">34</span>
                </div>
            </div>
        </button>
        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--with-icon">
            <div class="sg-button-secondary__hole">
                <div class="sg-label sg-label--small">
                    <div class="sg-label__icon">
                        <svg class="sg-icon sg-icon--x14 sg-icon--mustard">
                            <use xlink:href="#icon-excellent"></use>
                        </svg>
                    </div>
                    <div class="sg-label__text">Mark as brainliest</div>
                </div>
            </div>
        </button>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Secondary button wide</h3>
    </aside>
    <div class="docs-block__content">
        <button class="sg-button-secondary sg-button-secondary--full">This button is wide</button>

        <button
            class="sg-button-secondary sg-button-secondary--alt-inverse sg-button-secondary--small sg-button-secondary--full">
            This one to!
        </button>
    </div>
</section>
