/*
 DO NOT USE THIS COLORS DIRECTLY!

  !WRONG!
  .box {
    color: $black;
  }

  !GOOD!
  $boxTextColor: $black;
  .div {
    color: $boxTextColor;
  }
*/


// Primary colors
$black: #000000;
$mintPrimary: #6ED6A0;
$mintSecondary: #A7E6C6;
$mintSecondaryLight: #E1F6EB;
$bluePrimary: #5BB8FF;
$blueSecondary: #ABE3FF;
$blueSecondaryLight: #DDF3FF;

// Secondary colors
$lavenderPrimary: #6E85FF;
$lavenderSecondary: #BDC8FC;
$lavenderSecondaryLight: #E8ECFF;
$peachPrimary: #FF8073;
$peachSecondary: #FDC7C1;
$peachSecondaryLight: #FFE5E2;
$mustardPrimary: #FFBE32;
$mustardSecondary: #FFDB8D;
$mustardSecondaryLight: #FFF1D5;

// Grey colors
$white: #FFFFFF;
$grayPrimary: #AFB1B3;
$graySecondary: #DCDEE0;
$graySecondaryLight: #F0F2F5;


// Buttons
$buttonPrimaryHeight: 48px;
$buttonSecondaryHeight: 36px;
$buttonSecondarySmallHeight: 24px;

$buttonPrimaryFontSize: 16px;
$buttonSecondaryFontSize: 12px;
$buttonSecondarySmallFontSize: 10px;

$buttonPrimaryFontColor: $white;

$buttonColor: $mintPrimary;
$buttonColorGradient: #84ddaf;
$buttonShadowColor: #67c996;

$buttonAltColor: $bluePrimary;
$buttonAltColorGradient: #73C3FF;
$buttonAltShadowColor: #57aff2;

$buttonSecondaryColor: $mintPrimary;
$buttonSecondaryTextColorHover: $white;
$buttonSecondaryAltColor: $bluePrimary;
$buttonSecondaryAltTextColorHover: $white;
$buttonSecondaryDarkColor: $black;
$buttonSecondaryDarkTextColorHover: $white;
$buttonSecondaryLavColor: $lavenderPrimary;
$buttonSecondaryLavTextColorHover: $white;

// Tabs
$tabBackground: $graySecondaryLight;
$tabTextColor: $grayPrimary;
$tabSeparatorColor: $graySecondary;
$tabShadowColor: #E1E2E5;
$tabActiveBackground: $bluePrimary;
$tabActiveTextColor: $white;
$tabActiveShadowColor: #53A6E5;
$tabHoverBackground: $blueSecondary;
$tabHoverTextColor: $white;
$tabHoverShadowColor: $blueSecondary;
$tabHeight: 36px;
$tabFontSize: 12px;

