.tabs {
  @include clearfix();
  list-style: none;
  padding: 0;
  margin: 0;
}
.tabs__tab {
  background: $tabBackground;
  border-right: 1px solid $tabSeparatorColor;
  border-bottom: 1px solid $tabShadowColor;
  color: $tabTextColor;
  cursor: pointer;
  height: $tabHeight;
  font-family: sans-serif;
  font-weight: bold;
  font-size: $tabFontSize;
  float: left;
  line-height: $tabHeight;
  padding: 0 $tabHeight/2;
  text-transform: uppercase;
  transition: all 0.4s ease-out;
  &:first-child {
    border-top-left-radius: $tabHeight/2;
    border-bottom-left-radius: $tabHeight/2;
  }
  &:last-child {
    border-top-right-radius: $tabHeight/2;
    border-bottom-right-radius: $tabHeight/2;
    border-right: 0;
  }
  &:hover {
    background: $tabHoverBackground;
    color: $tabHoverTextColor;
    border-bottom: 1px solid $tabHoverShadowColor;
  }
  &:active {
    color: rgba($tabHoverTextColor, 0.7);
    outline: none;
  }
  &.tabs__tab--active {
    background: $tabActiveBackground;
    color: $tabActiveTextColor;
    border-bottom: 1px solid $tabActiveShadowColor;
  }
}
