<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">RWD</h3>
  </aside>
  <div class="docs-block__content">
    <ul>
      <li><span class="sg-hide-for-small-only">
        <svg class="sg-icon sg-icon--peach sg-icon--x14"><use xlink:href="#icon-heart"></use></svg>
      </span> - hidden for small screens</li>
      <li><span class="sg-hide-for-medium-only">
        <svg class="sg-icon sg-icon--peach sg-icon--x14"><use xlink:href="#icon-heart"></use></svg>
      </span> - hidden for medium screens</li>
      <li><span class="sg-hide-for-medium-down">
        <svg class="sg-icon sg-icon--peach sg-icon--x14"><use xlink:href="#icon-heart"></use></svg>
      </span> - hidden for small and medium screens</li>
      <li><span class="sg-hide-for-medium-up">
        <svg class="sg-icon sg-icon--peach sg-icon--x14"><use xlink:href="#icon-heart"></use></svg>
      </span> - hidden for medium screens and higher</li>
      <li><span class="sg-hide-for-large-only">
        <svg class="sg-icon sg-icon--peach sg-icon--x14"><use xlink:href="#icon-heart"></use></svg>
      </span> - hidden for large screens</li>
    </ul>
  </div>
</section>
