$checkboxWidth: 16px;
$checkboxMargin: 8px;
$clickableArea: 32px;

.sg-checkbox {
  @include component();

  display: flex;
  flex-direction: column;

  @mixin colorTheme(
    $iconBorderColor,
    $iconBorderHoverColor,
    $iconOutlineColor,
    $iconFillColor,
    $labelColor,
    $checkedIconColor,
    $invalidIconColor,
    $invalidIconHoverColor,
    $invalidIconFillColor
  ) {
    .sg-checkbox__wrapper:hover {
      .sg-checkbox__icon {
        border: 2px solid $iconBorderHoverColor;
      }

      .sg-checkbox__input {
        &:checked,
        &:indeterminate {
          & + .sg-checkbox__icon {
            border-color: $iconBorderHoverColor;
            background-color: $iconBorderHoverColor;
          }
          &[aria-invalid] + .sg-checkbox__icon {
            background-color: $invalidIconHoverColor;
          }
        }

        &[aria-invalid] + .sg-checkbox__icon {
          border-color: $invalidIconHoverColor;
        }
      }
    }

    .sg-checkbox__input {
      &:focus {
        & + .sg-checkbox__icon {
          border-color: $iconBorderHoverColor;
          outline: 2px solid $iconOutlineColor;
        }

        &[aria-invalid] + .sg-checkbox__icon {
          border-color: $invalidIconHoverColor;
        }

        &:checked,
        &:indeterminate {
          &[aria-invalid] + .sg-checkbox__icon {
            border-color: $invalidIconHoverColor;
            background-color: $invalidIconHoverColor;
          }
        }
      }

      &:checked,
      &:indeterminate {
        & + .sg-checkbox__icon {
          border-color: $checkedIconColor;
          background: $checkedIconColor;
        }

        &[aria-invalid] + .sg-checkbox__icon {
          border-color: $invalidIconColor;
          background-color: $invalidIconColor;
        }
      }

      &[aria-invalid] + .sg-checkbox__icon {
        border-color: $invalidIconColor;
        fill: $invalidIconFillColor;
      }
    }

    .sg-checkbox__icon {
      border: 2px solid $iconBorderColor;
      fill: $iconFillColor;
    }

    .sg-checkbox__label,
    .sg-checkbox__description {
      color: $labelColor;
    }
  }

  &--dark {
    @include colorTheme(
      $iconBorderColor: $black,
      $iconBorderHoverColor: $gray-60,
      $iconOutlineColor: $blue-40,
      $iconFillColor: $white,
      $labelColor: $text-black,
      $checkedIconColor: $black,
      $invalidIconColor: $red-60,
      $invalidIconHoverColor: $red-50,
      $invalidIconFillColor: $white
    );
  }

  &--light {
    @include colorTheme(
      $iconBorderColor: $white,
      $iconBorderHoverColor: $gray-40,
      $iconOutlineColor: $blue-40,
      $iconFillColor: $black,
      $labelColor: $white,
      $checkedIconColor: $white,
      $invalidIconColor: $red-40,
      $invalidIconHoverColor: $red-50,
      $invalidIconFillColor: $white
    );
  }

  &--disabled {
    opacity: 0.45;
    cursor: not-allowed;
    pointer-events: none;
  }

  &__wrapper {
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: calc($clickableArea + $checkboxMargin);
  }

  &__element {
    position: relative;
    width: $clickableArea;
    height: $clickableArea;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  }

  &__input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1;

    &:focus {
      & + .sg-checkbox__icon {
        outline-offset: 2px;
      }
    }
  }

  &__icon {
    position: relative;
    display: inline-block;
    width: $checkboxWidth;
    height: $checkboxWidth;
    min-width: $checkboxWidth;
    border-radius: $borderRadiusSmall;

    svg {
      position: absolute;
      left: -2px;
      top: -2px;
    }
  }

  &__label {
    display: flex;
    padding: 4px 0 4px $checkboxMargin;
  }

  &__description,
  .sg-error-message {
    margin-top: 4px;
    white-space: normal;
  }
}
