$badgeFontSize: fontSize(xsmall);
$badgeDefaultBackgroundColor: $white;
$badgeDefaultColor: $black;
$badgeErrorBackgroundColor: $peachPrimary;
$badgeErrorColor: $white;
$badgeWarningBackgroundColor: $mustardPrimary;
$badgeWarningColor: $white;

$includeHtml: false !default;

@if ($includeHtml) {

  .mint-badge {
    @include component;
    @include fixText($badgeFontSize);
    overflow: visible; // allow badges align as text
    min-height: auto;
    height: auto;

    border-radius: $badgeFontSize;
    font-weight: bold;
    padding: 3px 6px;
    text-transform: uppercase;

    background-color: $badgeDefaultBackgroundColor;
    color: $badgeDefaultColor;

    &--error {
      background-color: $badgeErrorBackgroundColor;
      color: $badgeErrorColor;
    }

    &--warning {
      background-color: $badgeWarningBackgroundColor;
      color: $badgeWarningColor;
    }

    &--with-animation {
      transform: scale(0);
      animation: mintBadgeAnimation .6s 2s forwards;
    }
  }

  @keyframes mintBadgeAnimation {
    0% {
      transform: scale(0);
    }
    80% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

}
