$badgeFontFamily: $fontFamilySecondary;
$badgeFontSize: 10px;
$badgeDefaultBackgroundColor: $white;
$badgeDefaultColor: $black;
$badgeErrorBackgroundColor: $peachPrimary;
$badgeErrorColor: $white;
$badgeWarningBackgroundColor: $mustardPrimary;
$badgeWarningColor: $white;

$include-html: false !default;

@if ($include-html) {

  .mint-badge {
    @include component;

    overflow: visible;
    border-radius: $badgeFontSize;
    line-height: $badgeFontSize;
    font-size: $badgeFontSize;
    font-family: $badgeFontFamily;
    padding: 3px 6px;
    text-transform: uppercase;

    background-color: $badgeDefaultBackgroundColor;
    color: $badgeDefaultColor;

    &--error {
      background-color: $badgeErrorBackgroundColor;
      color: $badgeErrorColor;
    }
    
    &--warning {
      background-color: $badgeWarningBackgroundColor;
      color: $badgeWarningColor;
    }

    &--with-animation {
      transform: scale(0);
      animation: mintBadgeAnimation .6s 2s forwards;
    }
  }

  @keyframes mintBadgeAnimation {
    0% {
      transform: scale(0);
    }
    80% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

}
