$includeHtml: false !default;

@if ($includeHtml) {

  .sg-badge {
    display: inline-block;
    border-radius: $smallBorderRadius;
    padding: gutter(1 / 8) gutter(1 / 4);
    background-color: $white;

    &--peach {
      background-color: $peachPrimary;
    }

    &--mustard {
      background-color: $mustardPrimary;
    }

    &--mint-secondary-light {
      background-color: $mintSecondaryLight;
    }

    &--peach-secondary-light {
      background-color: $peachSecondaryLight;
    }

    &--blue-secondary-light {
      background-color: $blueSecondaryLight;
    }

    &--mint-secondary {
      background-color: $mintSecondary;
    }

    &--gray-secondary {
      background-color: $graySecondary;
    }

    &--rounded {
      border-radius: $largeBorderRadius;
    }

    &--small {
      border-radius: $xsmallBorderRadius;
      padding: gutter(1 / 24) gutter(1 / 6);
    }

    &--large {
      padding: gutter(1 / 8) gutter(1 / 2);
    }

    &--with-animation {
      transform: scale(0);
      animation: sgBadgeAnimation 0.6s 2s forwards;
    }
  }

  @keyframes sgBadgeAnimation {
    0% {
      transform: scale(0);
    }

    80% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

}
