<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Default</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-badge sg-badge--peach">
      <div class="sg-text sg-text--emphasised sg-text--xsmall sg-text--light">1</div>
    </div>
    <div class="sg-badge sg-badge--mustard">
      <div class="sg-text sg-text--emphasised sg-text--xsmall sg-text--light">HOT</div>
    </div>
    <div class="sg-badge sg-badge--mint-secondary">
      <div class="sg-text sg-text--emphasised sg-text--xsmall sg-text--light">1 / 2</div>
    </div>
    <div class="sg-badge sg-badge--gray-secondary">
      <div class="sg-text sg-text--emphasised sg-text--xsmall sg-text--light">2 / 3</div>
    </div>
    <div class="sg-badge sg-badge--mint-secondary-light">
      <div class="sg-text sg-text--emphasised sg-text--xsmall sg-text--mint"> 4 / 5</div>
    </div>
    <div class="sg-badge sg-badge--peach-secondary-light">
      <div class="sg-text sg-text--emphasised sg-text--xsmall sg-text--peach"> 5 / 5</div>
    </div>
    <div class="sg-badge sg-badge--blue-secondary-light">
      <div class="sg-text sg-text--emphasised sg-text--xsmall sg-text--blue"> 3 / 5</div>
    </div>
    <div class="docs-block__contrast-box">
      <div class="sg-badge">
        <div class="sg-text sg-text--emphasised sg-text--xsmall">4575</div>
      </div>
    </div>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Large</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-badge sg-badge--peach sg-badge--large">
      <div class="sg-text sg-text--emphasised sg-text--light">1</div>
    </div>
    <div class="sg-badge sg-badge--large sg-badge--mint-secondary-light">
      <div class="sg-text sg-text--emphasised sg-text--mint"> 4 / 5</div>
    </div>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Small</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-badge sg-badge--peach sg-badge--small">
      <div class="sg-text sg-text--emphasised sg-text--xsmall sg-text--light">1</div>
    </div>
    <div class="sg-badge sg-badge--small sg-badge--blue-secondary-light">
      <div class="sg-text sg-text--emphasised sg-text--xsmall sg-text--blue"> 3 / 5</div>
    </div>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Rounded</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-badge sg-badge--peach sg-badge--rounded">
      <div class="sg-text sg-text--emphasised sg-text--xsmall sg-text--light">1</div>
    </div>
    <div class="sg-badge sg-badge--mustard sg-badge--rounded">
      <div class="sg-text sg-text--emphasised sg-text--xsmall sg-text--light">HOT</div>
    </div>
    <div class="sg-badge sg-badge--large sg-badge--rounded sg-badge--mint-secondary-light">
      <div class="sg-text sg-text--emphasised sg-text--mint"> 4 / 5</div>
    </div>
    <div class="docs-block__contrast-box">
      <div class="sg-badge sg-badge--rounded">
        <div class="sg-text sg-text--emphasised">4575</div>
      </div>
    </div>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">With animation
      <small>(click to reload)</small>
    </h3>
  </aside>
  <div class="docs-block__content docs-block__content--animation-container">
    <div class="sg-badge sg-badge--peach sg-badge--rounded sg-badge--with-animation">
      <div class="sg-text sg-text--emphasised sg-text--xsmall sg-text--light">1</div>
    </div>
  </div>
</section>
<script>
document.addEventListener('click', function(e) {
  if (e.target.matches('.sg-badge--with-animation')) {
    var badge = e.target;
    badge.parentNode.replaceChild(badge.cloneNode(true), badge);
  }
});
</script>
