.sg-spinner {
  background-color: transparent;
  border: 3px solid $grayPrimary;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  display: inline-block;
  width: gutter(4 / 3);
  height: gutter(4 / 3);
  box-sizing: border-box;
  animation: spinner-animation 0.65s infinite linear;

  &--small {
    width: gutter(4 / 3);
    height: gutter(4 / 3);
  }

  &--xsmall {
    width: gutter(1);
    height: gutter(1);
  }

  &--xxsmall {
    width: gutter(2 / 3);
    height: gutter(2 / 3);
    border-width: 2px;
  }

  &--black {
    border-bottom-color: $black;
    border-left-color: $black;
  }

  &--white {
    border-bottom-color: $white;
    border-left-color: $white;
  }

  &--gray-900 {
    border-bottom-color: $grayPrimary;
    border-left-color: $grayPrimary;
  }

  &--gray-700 {
    border-bottom-color: $graySecondary;
    border-left-color: $graySecondary;
  }

  &--peach-700 {
    border-bottom-color: $peachPrimary;
    border-left-color: $peachPrimary;
  }

  &--mustard-700 {
    border-bottom-color: $mustardPrimary;
    border-left-color: $mustardPrimary;
  }

  &--blue-700 {
    border-bottom-color: $bluePrimary;
    border-left-color: $bluePrimary;
  }
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
