$toplayerHeaderDominantColor: #65a6a8;
$toplayerCrossColor: $white;
$toplayerBackgroundColor: $white;
$toplayerShadow: $defaultBottomShadow;
$toplayerMarginTop: 65px;
$toplayerMarginBottom: rhythm(1);
$toplayerHeaderHeight: rhythm(1.25);

$toplayerFirstVerticalPadding: (rhythm(1) - ($toplayerHeaderHeight - rhythm(1)));

$includeHtml: false !default;

@if ($includeHtml) {

  .mint-toplayer {
    @include component;
    border-radius: 10px;
    width: 100%;
    box-shadow: $toplayerShadow;
    background-color: $toplayerBackgroundColor;

    &--lead {
      .mint-toplayer__wrapper {
        @include mintBreakpoint(medium-up) {

          padding: ($toplayerFirstVerticalPadding + rhythm(1)) gutter(2) rhythm(2);
        }
      }

      .mint-toplayer__heading {
        @include mintBreakpoint(medium-up) {
          margin-bottom: rhythm(2);
        }
      }
    }

    &--small {
      @include mintBreakpoint(medium-up) {
        width: 410px;
      }
    }

    &--medium {
      @include mintBreakpoint(medium-up) {
        width: 600px;
      }
    }

    &--large {
      @include mintBreakpoint(medium-up) {
        width: 700px;
      }
    }

    &--modal {
      z-index: $toplayerZIndex;
      position: relative;
      margin-bottom: $toplayerMarginBottom;

      @include mintBreakpoint(medium-up) {
        margin-top: $toplayerMarginTop;
      }
    }

    &--with-bugbox {
      .mint-toplayer__wrapper {
        @include mintBreakpoint(medium-up) {
          @include image2x($mintImagesPath + 'bug_box@2x.png', 299px, 248px);
          background-image: url($mintImagesPath + 'bug_box.png');
          background-repeat: no-repeat;
          background-position: bottom right;
        }
      }
    }

    &__header {
      @include image2x($mintImagesPath + 'header_background_wide@2x.jpg', auto, 60px);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: $toplayerHeaderHeight;
      background-image: url($mintImagesPath + 'header_background_wide.jpg');
      background-repeat: repeat-x;
      background-color: $toplayerHeaderDominantColor;
    }

    &__close {
      color: $toplayerCrossColor;
      font-size: 32px;
      height: 20px;
      font-weight: bold;
      padding: 0 gutter(0.25);
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }

    &__wrapper {
      padding: $toplayerFirstVerticalPadding gutter(1) rhythm(1);
    }

    &__heading {
      margin-bottom: gutter(1);
    }

    &__content {
      margin-bottom: gutter(1);
    }

    &__list-title {
      margin-bottom: 0;
    }

    &__actions {
      @include componentsContainer;
      min-height: rhythm(2);
    }
  }

}
