$toplayerHeaderDominantColor: #65A6A8;
$toplayerCrossColor: $white;
$toplayerBackgroundColor: $white;
$toplayerShadow: $defaultBottomShadow;
$toplayerMarginTop: 65px;
$toplayerMarginBottom: rhythm(1);
$toplayerHeaderHeight: rhythm(1.25);

$toplayerFirstVerticalPadding: (rhythm(1) - ($toplayerHeaderHeight - rhythm(1)));

$include-html: false !default;

@if ($include-html) {

  .mint-toplayer {
    @include component;
    border-radius: 10px;
    width: 100%;
    box-shadow: $toplayerShadow;
    background-color: $toplayerBackgroundColor;

    &--lead {
      .mint-toplayer__wrapper {

        @media (min-width: $breakpointMedium) {

          padding: ($toplayerFirstVerticalPadding + rhythm(1)) 2 * $layoutDefaultPadding rhythm(2) 2 * $layoutDefaultPadding;
        }

      }
      
      .mint-toplayer__heading {

        @media (min-width: $breakpointMedium) {
          margin-bottom: rhythm(2);
        }

      }
    }

    &--small {

      @media (min-width: $breakpointMedium) {
        width: 410px;
      }
    }

    &--medium {

      @media (min-width: $breakpointMedium) {
        width: 600px;
      }

    }

    &--large {

      @media (min-width: $breakpointMedium) {
        width: 700px;
      }

    }

    &--modal {
      z-index: $toplayerZIndex;
      position: relative;
      margin-bottom: $toplayerMarginBottom;

      @media (min-width: $breakpointMedium) {
        margin-top: $toplayerMarginTop;
      }
    }

    &--with-bugbox {

      .mint-toplayer__wrapper {

        @media (min-width: $breakpointMedium) {
          background-image: url($mintImagesPath + 'bug_box.png');
          background-repeat: no-repeat;
          background-position: bottom right;
          @include image-2x($mintImagesPath + 'bug_box@2x.png', 299px, 248px);
        }

      }

    }

    &__header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: $toplayerHeaderHeight;
      background-image: url($mintImagesPath + 'header_background_wide.jpg');
      background-repeat: repeat-x;
      background-color: $toplayerHeaderDominantColor;
      @include image-2x($mintImagesPath + 'header_background_wide@2x.jpg', auto, 60px);
    }

    &__close {
      color: $toplayerCrossColor;
      @include fixText(24px, -4px);
      font-weight: bold;
      padding: 0 10px;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }

    &__wrapper {
      padding: $toplayerFirstVerticalPadding $layoutDefaultPadding/2 rhythm(1) $layoutDefaultPadding/2;
    }

    &__heading {
      margin-bottom: $layoutDefaultPadding;
    }

    &__content {
      margin-bottom: $layoutDefaultPadding;
    }

    &__list-title {
      margin-bottom: rhythm(1);
    }

    &__actions {
      @include components-container;
      min-height: rhythm(2);
    }
  }

}
