<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../style-guide.css">

</head>
<body>
<div class="sg-overlay">
    <div class="sg-toplayer sg-toplayer--modal sg-toplayer--small">

        <div class="sg-toplayer__header">
            <a class="sg-toplayer__close">×</a>
        </div>

        <div class="sg-toplayer__wrapper">

            <div class="sg-content-box">
              <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                heading
              </div>

              <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                content:<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse enim diam, dictum et maximus sit amet, pulvinar vel ante. Maecenas id tempus lacus. Cras vitae lectus vehicula, pretium odio sed, pretium nulla. Nunc ultrices nibh orci, sit amet gravida metus dapibus nec. Sed orci nisi, volutpat varius auctor sit amet, eleifend eu elit. Fusce eget nunc tristique nibh viverra lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              </div>

              <div class="sg-content-box__actions">
                actions
              </div>
            </div>

        </div>

    </div>
</div>
</body>
</html>
