<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../style-guide.css">

</head>
<body>
<div class="sg-overlay">
    <div class="sg-toplayer sg-toplayer--modal sg-toplayer--medium sg-toplayer--lead sg-toplayer--with-bugbox">

        <div class="sg-toplayer__header">
            <a class="sg-toplayer__close">×</a>
        </div>

        <div class="sg-toplayer__wrapper">

            <div class="sg-content-box">
                <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                    <h1 class="sg-text-bit sg-text-bit--alt">
                      The world's largest learning community
                    </h1>
                </div>

                <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                  <h2 class="sg-header-secondary">
                    Why join Brainly?
                  </h2>
                  <ul class="sg-list">
                    <li class="sg-list__element">
                      <div class="sg-list__icon sg-list__icon----spacing-right-small">
                        <svg class="sg-icon sg-icon--x14 sg-icon--gray-secondary">
                          <use xlink:href="#icon-plus"></use>
                        </svg>
                      </div>
                      <div class="sg-text sg-text--emphasised">ask questions about your assignment</div>
                    </li>
                    <li class="sg-list__element">
                      <div class="sg-list__icon sg-list__icon----spacing-right-small">
                        <svg class="sg-icon sg-icon--x14 sg-icon--gray-secondary">
                          <use xlink:href="#icon-plus"></use>
                        </svg>
                      </div>
                      <div class="sg-text sg-text--emphasised">get answer with explanation</div>
                    </li>
                    <li class="sg-list__element">
                      <div class="sg-list__icon sg-list__icon----spacing-right-small">
                        <svg class="sg-icon sg-icon--x14 sg-icon--gray-secondary">
                          <use xlink:href="#icon-plus"></use>
                        </svg>
                      </div>
                      <div class="sg-text sg-text--emphasised">find similar questions</div>
                    </li>
                  </ul>
                </div>


                <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                    <a class="sg-button-primary sg-button-primary--alt"
                       href="#">
                        Join us
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="images/icons.js"></script>

</body>
</html>
