<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../style-guide.css">

</head>
<body>
<div class="mint-overlay">
    <div class="mint-toplayer mint-toplayer--modal mint-toplayer--medium mint-toplayer--lead mint-toplayer--with-bugbox">

        <div class="mint-toplayer__header">
            <a class="mint-toplayer__close">×</a>
        </div>

        <div class="mint-toplayer__wrapper">

            <div class="mint-toplayer__heading">
                <h1 class="mint-text-bit mint-text-bit--small mint-text-bit--alt">
                    The world's largest learning community
                </h1>
            </div>

            <div class="mint-toplayer__content">

                <h2 class="mint-header-secondary mint-toplayer__list-title">
                    Why join Brainly?
                </h2>
                <ul class="mint-list mint-list--small">
                    <li class="mint-list__element"><div class="mint-list__icon">
                        <svg viewBox="0 0 32 32" class="mint-icon mint-icon--fluid mint-icon--gray-secondary"><use xlink:href="#icon-plus"></use></svg>
                    </div> ask questions about your assignment</li>
                    <li class="mint-list__element"><div class="mint-list__icon">
                        <svg class="mint-icon mint-icon--fluid mint-icon--gray-secondary"><use xlink:href="#icon-plus"></use></svg>
                    </div> get answer with explanation</li>
                    <li class="mint-list__element"><div class="mint-list__icon">
                        <svg class="mint-icon mint-icon--fluid mint-icon--gray-secondary"><use xlink:href="#icon-plus"></use></svg>
                    </div> find similar questions</li>
                </ul>

            </div>
            <div class="mint-toplayer__actions">
                <a class="mint-button-primary mint-button-primary--alt"
                   href="#">
                    <div class="mint-button-primary__hole">Join us</div>
                </a>
            </div>

        </div>

    </div>
</div>
</body>
</html>
