<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../style-guide.css">

</head>
<body>
<div class="sg-overlay">
    <div class="sg-toplayer sg-toplayer--modal sg-toplayer--medium sg-toplayer--lead sg-toplayer--with-bugbox">

        <div class="sg-toplayer__header">
            <a class="sg-toplayer__close">×</a>
        </div>

        <div class="sg-toplayer__wrapper">

            <div class="sg-content-box">
                <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                    <h1 class="sg-text-bit sg-text-bit--alt">
                      The world's largest learning community
                    </h1>
                </div>

                <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                  <h2 class="sg-header-secondary">
                    Why join Brainly?
                  </h2>
                  <ul class="sg-list sg-list--small">
                    <li class="sg-list__element">
                      <div class="sg-list__icon">
                        <svg class="sg-icon sg-icon--x14 sg-icon--gray-secondary">
                          <use xlink:href="#icon-plus"></use>
                        </svg>
                      </div> ask questions about your assignment</li>
                    <li class="sg-list__element">
                      <div class="sg-list__icon">
                        <svg class="sg-icon sg-icon--x14 sg-icon--gray-secondary">
                          <use xlink:href="#icon-plus"></use>
                        </svg>
                      </div> get answer with explanation</li>
                    <li class="sg-list__element">
                      <div class="sg-list__icon">
                        <svg class="sg-icon sg-icon--x14 sg-icon--gray-secondary">
                          <use xlink:href="#icon-plus"></use>
                        </svg>
                      </div> find similar questions</li>
                  </ul>
                </div>


                <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                    <a class="sg-button-primary sg-button-primary--alt"
                       href="#">
                        <div class="sg-button-primary__hole">Join us</div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
