<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Standard</h3>
    </aside>
    <div class="docs-block__content">

        <div class="sg-toplayer">
            <div class="sg-toplayer__header">
                <a class="sg-toplayer__close">×</a>
            </div>

            <div class="sg-toplayer__wrapper">

                <div class="sg-content-box">
                  <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                    heading
                  </div>

                  <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                    content
                  </div>

                  <div class="sg-content-box__actions">
                    actions
                  </div>
                </div>

            </div>

        </div>

    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Lead</h3>
    </aside>
    <div class="docs-block__content">

        <div class="sg-toplayer sg-toplayer--lead">
            <div class="sg-toplayer__header">
                <a class="sg-toplayer__close">×</a>
            </div>

            <div class="sg-toplayer__wrapper">

                <div class="sg-content-box">
                    <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                        heading
                    </div>

                    <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                        content
                    </div>

                    <div class="sg-content-box__actions">
                        actions
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Small</h3>
    </aside>
    <div class="docs-block__content">

        <div class="sg-toplayer sg-toplayer--small">
            <div class="sg-toplayer__header">
                <a class="sg-toplayer__close">×</a>
            </div>

            <div class="sg-toplayer__wrapper">

                <div class="sg-content-box">
                   <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                        heading
                   </div>

                    <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                        content
                    </div>

                    <div class="sg-content-box__actions">
                        actions
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Medium</h3>
    </aside>
    <div class="docs-block__content">

        <div class="sg-toplayer sg-toplayer--medium">
            <div class="sg-toplayer__header">
                <a class="sg-toplayer__close">×</a>
            </div>

            <div class="sg-toplayer__wrapper">

              <div class="sg-content-box">
                  <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                      heading
                  </div>

                  <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                      content
                  </div>

                  <div class="sg-content-box__actions">
                      actions
                  </div>
              </div>

            </div>

        </div>

    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Large</h3>
    </aside>
    <div class="docs-block__content">

        <div class="sg-toplayer sg-toplayer--large">
            <div class="sg-toplayer__header">
                <a class="sg-toplayer__close">×</a>
            </div>

            <div class="sg-toplayer__wrapper">

              <div class="sg-content-box">
                  <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                      heading
                  </div>

                  <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                      content
                  </div>

                  <div class="sg-content-box__actions">
                      actions
                  </div>
              </div>

            </div>

        </div>

    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Fill</h3>
    </aside>
    <div class="docs-block__content">

      <div style="position: relative;width: 200px;height: 200px;">
        <div class="sg-toplayer sg-toplayer--fill">
            <div class="sg-toplayer__header">
                <a class="sg-toplayer__close">×</a>
            </div>

            <div class="sg-toplayer__wrapper">

                <div class="sg-content-box">
                    <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                        heading
                    </div>

                    <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                        content
                    </div>

                    <div class="sg-content-box__actions">
                        actions
                    </div>
                </div>

            </div>

        </div>
      </div>
    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Example usage</h3>
    </aside>
    <div class="docs-block__content">

        <div class="sg-toplayer sg-toplayer--medium sg-toplayer--lead sg-toplayer--with-bugbox">

            <div class="sg-toplayer__header">
                <a class="sg-toplayer__close">×</a>
            </div>

            <div class="sg-toplayer__wrapper">

                <div class="sg-content-box">
                    <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                        <h1 class="sg-text-bit sg-text-bit--alt">
                            The world's largest learning community
                        </h1>
                    </div>

                    <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">

                      <h2 class="sg-header-secondary">
                          Why join Brainly?
                      </h2>
                      <ul class="sg-list sg-list--small">
                          <li class="sg-list__element">
                            <div class="sg-list__icon">
                              <svg class="sg-icon sg-icon--x14 sg-icon--gray-secondary">
                                <use xlink:href="#icon-plus"></use>
                              </svg>
                            </div> ask questions about your assignment
                          </li>
                          <li class="sg-list__element">
                            <div class="sg-list__icon">
                              <svg class="sg-icon sg-icon--x14 sg-icon--gray-secondary">
                                <use xlink:href="#icon-plus"></use>
                              </svg>
                            </div> get answer with explanation
                          </li>
                          <li class="sg-list__element">
                              <div class="sg-list__icon">
                                <svg class="sg-icon sg-icon--x14 sg-icon--gray-secondary">
                                  <use xlink:href="#icon-plus"></use>
                                </svg>
                              </div> find similar questions
                          </li>
                      </ul>
                    </div>

                    <div class="sg-content-box__content sg-content-box__content--spaced-bottom-large">
                        <a class="sg-button-primary sg-button-primary--alt"
                           href="#">
                            <div class="sg-button-primary__hole">Join us</div>
                        </a>
                      </div>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Example usage (small screen)</h3>
    </aside>
    <div class="docs-block__content">
        <iframe height="568" width="320" src='components/toplayer/notlogged_toplayer.html'></iframe>
    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Example usage (modal)</h3>
    </aside>
    <div class="docs-block__content">
        <iframe height="300" width="800" src='components/toplayer/default_toplayer.html'></iframe>
    </div>
</section>
