<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Standard</h3>
    </aside>
    <div class="docs-block__content">

        <div class="mint-toplayer">
            <div class="mint-toplayer__header">
                <a class="mint-toplayer__close">×</a>
            </div>

            <div class="mint-toplayer__wrapper">

                <div class="mint-toplayer__heading">
                    heading
                </div>

                <div class="mint-toplayer__content">
                    content
                </div>

                <div class="mint-toplayer__actions">
                    actions
                </div>

            </div>

        </div>

    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Lead</h3>
    </aside>
    <div class="docs-block__content">

        <div class="mint-toplayer mint-toplayer--lead">
            <div class="mint-toplayer__header">
                <a class="mint-toplayer__close">×</a>
            </div>

            <div class="mint-toplayer__wrapper">

                <div class="mint-toplayer__heading">
                    heading
                </div>

                <div class="mint-toplayer__content">
                    content
                </div>

                <div class="mint-toplayer__actions">
                    actions
                </div>

            </div>

        </div>

    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Small</h3>
    </aside>
    <div class="docs-block__content">

        <div class="mint-toplayer mint-toplayer--small">
            <div class="mint-toplayer__header">
                <a class="mint-toplayer__close">×</a>
            </div>

            <div class="mint-toplayer__wrapper">

                <div class="mint-toplayer__heading">
                    heading
                </div>

                <div class="mint-toplayer__content">
                    content
                </div>

                <div class="mint-toplayer__actions">
                    actions
                </div>

            </div>

        </div>

    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Medium</h3>
    </aside>
    <div class="docs-block__content">

        <div class="mint-toplayer mint-toplayer--medium">
            <div class="mint-toplayer__header">
                <a class="mint-toplayer__close">×</a>
            </div>

            <div class="mint-toplayer__wrapper">

                <div class="mint-toplayer__heading">
                    heading
                </div>

                <div class="mint-toplayer__content">
                    content
                </div>

                <div class="mint-toplayer__actions">
                    actions
                </div>

            </div>

        </div>

    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Large</h3>
    </aside>
    <div class="docs-block__content">

        <div class="mint-toplayer mint-toplayer--large">
            <div class="mint-toplayer__header">
                <a class="mint-toplayer__close">×</a>
            </div>

            <div class="mint-toplayer__wrapper">

                <div class="mint-toplayer__heading">
                    heading
                </div>

                <div class="mint-toplayer__content">
                    content
                </div>

                <div class="mint-toplayer__actions">
                    actions
                </div>

            </div>

        </div>

    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Example usage</h3>
    </aside>
    <div class="docs-block__content">

        <div class="mint-toplayer mint-toplayer--medium mint-toplayer--lead mint-toplayer--with-bugbox">

            <div class="mint-toplayer__header">
                <a class="mint-toplayer__close">×</a>
            </div>

            <div class="mint-toplayer__wrapper">

                <div class="mint-toplayer__heading">
                    <h1 class="mint-text-bit mint-text-bit--alt">
                        The world's largest learning community
                    </h1>
                </div>

                <div class="mint-toplayer__content">

                    <h2 class="mint-header-secondary mint-toplayer__list-title">
                        Why join Brainly?
                    </h2>
                    <ul class="mint-list mint-list--small">
                        <li class="mint-list__element">
                          <div class="mint-list__icon">
                            <svg class="mint-icon mint-icon--x14 mint-icon--gray-secondary">
                              <use xlink:href="#icon-plus"></use>
                            </svg>
                          </div> ask questions about your assignment
                        </li>
                        <li class="mint-list__element">
                          <div class="mint-list__icon">
                            <svg class="mint-icon mint-icon--x14 mint-icon--gray-secondary">
                              <use xlink:href="#icon-plus"></use>
                            </svg>
                          </div> get answer with explanation
                        </li>
                        <li class="mint-list__element">
                            <div class="mint-list__icon">
                              <svg class="mint-icon mint-icon--x14 mint-icon--gray-secondary">
                                <use xlink:href="#icon-plus"></use>
                              </svg>
                            </div> find similar questions
                        </li>
                    </ul>

                </div>
                <div class="mint-toplayer__actions">
                    <a class="mint-button-primary mint-button-primary--alt"
                       href="#">
                        <div class="mint-button-primary__hole">Join us</div>
                    </a>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Example usage (small screen)</h3>
    </aside>
    <div class="docs-block__content">
        <iframe height="568" width="320" src='components/toplayer/notlogged_toplayer.html'></iframe>
    </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Example usage (modal)</h3>
    </aside>
    <div class="docs-block__content">
        <iframe height="300" width="800" src='components/toplayer/default_toplayer.html'></iframe>
    </div>
</section>
