$horizontalSeparatorHeight: 1px;
$horizontalSeparatorColor: $grayPrimary;

$include-html-classes: true !default;

@if ($include-html-classes) {

  .mint-horizontal-separator {
    @include component();
    display: block;
    height: $horizontalSeparatorHeight;
    border-bottom: $horizontalSeparatorHeight dotted $horizontalSeparatorColor;
    width: 100%;

    &--spaced {
      margin: $layoutDefaultPadding - $horizontalSeparatorHeight 0 $layoutDefaultPadding 0;
    }
  }

}
