$horizontalSeparatorHeight: 1px;
$horizontalSeparatorColor: $grayPrimary;

$includeHtml: false !default;

@if ($includeHtml) {

  .mint-horizontal-separator {
    @include component();
    display: block;
    height: $horizontalSeparatorHeight;
    border-bottom: $horizontalSeparatorHeight dotted $horizontalSeparatorColor;
    width: 100%;

    &--spaced {
      margin: ($layoutDefaultPadding - $horizontalSeparatorHeight) 0 $layoutDefaultPadding;
    }
  }

}
