$horizontalSeparatorHeight: 0.0625rem;
$horizontalSeparatorColor: $grayPrimary;

$includeHtml: false !default;

@if ($includeHtml) {

  .mint-horizontal-separator {
    @include component();
    min-height: 0;
    display: block;
    height: $horizontalSeparatorHeight;
    border-bottom: $horizontalSeparatorHeight dotted $horizontalSeparatorColor;
    width: 100%;

    &--spaced {
      margin: (rhythm(0.5) - $horizontalSeparatorHeight) 0 rhythm(0.5);

      @include mintBreakpoint(medium-up) {
        margin: (rhythm(1) - $horizontalSeparatorHeight) 0 rhythm(1);
      }
    }

    &--small-spaced {
      margin: (rhythm(0.5) - $horizontalSeparatorHeight) 0 rhythm(0.5);
    }
  }

}
