$separatorColor: $grayPrimary;
$separatorHeight: 18px;
$separatorSpacing: 15px;
$separatorHeightSmall: 10px;
$separatorSpacingSmall: 10px;

.mint-separator {
  @include component;

  margin-right: $separatorSpacing;
  border-right: solid $separatorColor 1px;
  padding-right: $separatorSpacing;
  height: $separatorHeight;
  vertical-align: inherit;

  &--small {
    margin-right: $separatorSpacingSmall;
    padding-right: $separatorSpacingSmall;
    height: $separatorHeightSmall;
  }
}
