<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Default</h3>
    </aside>
    <div class="docs-block__content docs-block__content--centered">
        <div class="mint-avatar">
            <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
        </div>
        <div class="mint-separator"></div>
        <div class="mint-avatar mint-avatar--small">
            <div class="mint-avatar__image mint-avatar__image--icon">
                <svg class="mint-icon mint-icon--fluid mint-icon--gray-secondary">
                    <use xlink:href="#icon-profile"></use>
                </svg>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Small</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-text-block">
            <a href="#" class="mint-link">previous</a>

            <div class="mint-separator mint-separator--small"></div>
            <a href="#" class="mint-link">next</a>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Horizontal</h3>
    </aside>
    <div class="docs-block__content docs-block__content--centered">
        <div>
            <div class="mint-avatar mint-avatar--small">
                <div class="mint-avatar__image mint-avatar__image--icon">
                    <svg class="mint-icon mint-icon--fluid mint-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                    </svg>
                </div>
            </div>
            <div class="mint-horizontal-separator"></div>
            <div class="mint-avatar mint-avatar--small">
                <div class="mint-avatar__image mint-avatar__image--icon">
                    <svg class="mint-icon mint-icon--fluid mint-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Horizontal spaced (with margins)</h3>
    </aside>
    <div class="docs-block__content docs-block__content--centered">
        <div>
            <div class="mint-avatar mint-avatar--small">
                <div class="mint-avatar__image mint-avatar__image--icon">
                    <svg class="mint-icon mint-icon--fluid mint-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                    </svg>
                </div>
            </div>
            <div class="mint-horizontal-separator mint-horizontal-separator--spaced"></div>
            <div class="mint-avatar mint-avatar--small">
                <div class="mint-avatar__image mint-avatar__image--icon">
                    <svg class="mint-icon mint-icon--fluid mint-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
