<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Default</h3>
    </aside>
    <div class="docs-block__content docs-block__content--centered">
        <div class="sg-avatar">
            <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
        </div>
        <div class="sg-separator"></div>
        <div class="sg-avatar sg-avatar--small">
            <div class="sg-avatar__image sg-avatar__image--icon">
                <svg class="sg-icon sg-icon--x24 sg-icon--gray-secondary">
                    <use xlink:href="#icon-profile"></use>
                </svg>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Small</h3>
    </aside>
    <div class="docs-block__content">
        <div>
            <a href="#" class="sg-link">previous</a>

            <div class="sg-separator sg-separator--small"></div>
            <a href="#" class="sg-link">next</a>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Horizontal</h3>
    </aside>
    <div class="docs-block__content docs-block__content--centered">
        <div>
            <div class="sg-avatar sg-avatar--small">
                <div class="sg-avatar__image sg-avatar__image--icon">
                    <svg class="sg-icon sg-icon--x24 sg-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                    </svg>
                </div>
            </div>
            <div class="sg-horizontal-separator"></div>
            <div class="sg-avatar sg-avatar--small">
                <div class="sg-avatar__image sg-avatar__image--icon">
                    <svg class="sg-icon sg-icon--x24 sg-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Horizontal spaced (with margins)</h3>
    </aside>
    <div class="docs-block__content docs-block__content--centered">
        <div>
            <div class="sg-avatar sg-avatar--small">
                <div class="sg-avatar__image sg-avatar__image--icon">
                    <svg class="sg-icon sg-icon--x24 sg-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                    </svg>
                </div>
            </div>
            <div class="sg-horizontal-separator sg-horizontal-separator--spaced"></div>
            <div class="sg-avatar sg-avatar--small">
                <div class="sg-avatar__image sg-avatar__image--icon">
                    <svg class="sg-icon sg-icon--x24 sg-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Horizontal spaced (with static margins)</h3>
    </aside>
    <div class="docs-block__content docs-block__content--centered">
        <div>
            <div class="sg-avatar sg-avatar--small">
                <div class="sg-avatar__image sg-avatar__image--icon">
                    <svg class="sg-icon sg-icon--x24 sg-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                    </svg>
                </div>
            </div>
            <div class="sg-horizontal-separator sg-horizontal-separator--short-spaced"></div>
            <div class="sg-avatar sg-avatar--small">
                <div class="sg-avatar__image sg-avatar__image--icon">
                    <svg class="sg-icon sg-icon--x24 sg-icon--gray-secondary">
                        <use xlink:href="#icon-profile"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Horizontal spaced (small device)</h3>
  </aside>
  <div class="docs-block__content docs-block__content--centered">
    <iframe width="300" height="200" src='components/separators/small-device.html'></iframe>
  </div>
</section>
