<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../style-guide.css">
</head>
<body>
  <script src="images/icons.js"></script>
  <div>
    <div class="sg-avatar sg-avatar--small">
      <div class="sg-avatar__image sg-avatar__image--icon">
        <svg class="sg-icon sg-icon--x24 sg-icon--gray-secondary">
          <use xlink:href="#icon-profile"></use>
        </svg>
      </div>
    </div>
    <div class="sg-horizontal-separator sg-horizontal-separator--spaced"></div>
    <div class="sg-avatar sg-avatar--small">
      <div class="sg-avatar__image sg-avatar__image--icon">
        <svg class="sg-icon sg-icon--x24 sg-icon--gray-secondary">
          <use xlink:href="#icon-profile"></use>
        </svg>
      </div>
    </div>
  </div>
  <div>
    <div class="sg-avatar sg-avatar--small">
      <div class="sg-avatar__image sg-avatar__image--icon">
        <svg class="sg-icon sg-icon--x24 sg-icon--gray-secondary">
          <use xlink:href="#icon-profile"></use>
        </svg>
      </div>
    </div>
    <div class="sg-horizontal-separator sg-horizontal-separator--short-spaced"></div>
    <div class="sg-avatar sg-avatar--small">
      <div class="sg-avatar__image sg-avatar__image--icon">
        <svg class="sg-icon sg-icon--x24 sg-icon--gray-secondary">
          <use xlink:href="#icon-profile"></use>
        </svg>
      </div>
    </div>
  </div>
</body>
