<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../style-guide.css">
</head>
<body>
  <script src="images/icons.js"></script>
  <div>
    <div class="mint-avatar mint-avatar--small">
      <div class="mint-avatar__image mint-avatar__image--icon">
        <svg class="mint-icon mint-icon--x24 mint-icon--gray-secondary">
          <use xlink:href="#icon-profile"></use>
        </svg>
      </div>
    </div>
    <div class="mint-horizontal-separator mint-horizontal-separator--spaced"></div>
    <div class="mint-avatar mint-avatar--small">
      <div class="mint-avatar__image mint-avatar__image--icon">
        <svg class="mint-icon mint-icon--x24 mint-icon--gray-secondary">
          <use xlink:href="#icon-profile"></use>
        </svg>
      </div>
    </div>
  </div>
</body>
