$logoDefaultHeight: 60px;
$logoDefaultWidth: 134px;
$logoLargeHeight: 81px;
$logoLargeWidth: 180px;
$includeHtml: false !default;

@if ($includeHtml) {
  .mint-logo {
    @include component;
    background-image: url($mintImagesPath + 'logo.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: $logoDefaultHeight;
    width: $logoDefaultWidth;
    @media (min-width: $breakpointTablet) {
      height: $logoLargeHeight;
      width: $logoLargeWidth;
    }

    &--small {
      height: $logoDefaultHeight / 2;
      width: $logoDefaultWidth / 2;
      background-size: auto $logoDefaultHeight / 2;
    }
  }
}
