$logoDefaultHeight: 60px;
$logoDefaultWidth: 134px;
$logoLargeHeight: 81px;
$logoLargeWidth: 180px;

$includeHtml: false !default;

@if ($includeHtml) {
  .sg-logo {
    @include component();
    height: $logoDefaultHeight;
    width: $logoDefaultWidth;

    @include sgBreakpoint(medium-up) {
      height: $logoLargeHeight;
      width: $logoLargeWidth;
    }

    &--eodev {
      width: 114px;

      @include sgBreakpoint(medium-up) {
        width: 154px;
      }
    }

    &--nosdevoirs {
      width: 161px;

      @include sgBreakpoint(medium-up) {
        width: 217px;
      }
    }

    &--zadane {
      width: 134px;
      height: 74px;

      @include sgBreakpoint(medium-up) {
        width: 176px;
        height: 98px;
      }
    }

    &--znanija {
      width: 131px;

      @include sgBreakpoint(medium-up) {
        width: 176px;
      }
    }

    &__image {
      width: 100%;
      height: 100%;
    }
  }
}
