{% for logo in site.data.logos %}
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">{{ logo.name | capitalize }}{% if logo.default %} - default{% endif %}</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-logo{% if logo.default != true %} sg-logo--{{ logo.name }}{% endif %}">
          <img class="sg-logo__image" src="images/logos/{{ logo.name }}.svg" />
        </div>
    </div>
    <div class="docs-block__content">
        <div class="sg-logo sg-logo--small{% if logo.default != true %} sg-logo--{{ logo.name }}{% endif %}">
          <img class="sg-logo__image" src="images/logos/{{ logo.name }}.svg" />
        </div>
    </div>
</section>
{% endfor %}
