<article>
    <h2 class="article-header">Logo</h2>
    <section class="docs-block">
        <aside class="docs-block__info">
            <h3 class="docs-block__header">Default</h3>
        </aside>
        <div class="docs-block__content">
            <div class="mint-logo">
                <img src="images/logo.svg" class="mint-logo__image"/>
            </div>
        </div>
        <div class="docs-block__content">
            <div class="mint-logo mint-logo--small">
                <img src="images/logo.svg" class="mint-logo__image"/>
            </div>
        </div>
    </section>
</article>
