@if ($includeHtml) {
  .sg-select-new {
    --borderColor: #{$gray-20};
    --activeBorderColor: #{mix($gray-50, $gray-20, 12%)};

    display: inline-block;
    position: relative;
    min-width: 120px;
    max-width: 320px;

    &--full-width {
      width: 100%;
    }

    &--disabled {
      pointer-events: none;
      opacity: 42%;
    }

    &--valid {
      --borderColor: #{$green-40};
      --activeBorderColor: #{$green-40};
    }

    &--invalid {
      --borderColor: #{$red-40};
      --activeBorderColor: #{$red-40};
    }

    &--s {
      .sg-select-new__element {
        padding: 0 44px 0 spacing(s);
        height: $formElementSizeS;
      }

      .sg-select-new__option-label .sg-text,
      .sg-select-new__element-label,
      .sg-select-new__placeholder {
        font-size: $formElementSmallFontSize;
      }
    }

    &--l {
      .sg-select-new__icon {
        right: 12px;
      }

      .sg-select-new__element {
        border-radius: $formElementLargeBorderRadius;
        padding: 0 60px 0 (spacing(m));
        height: $formElementSizeL;
      }

      .sg-select-new__option-label .sg-text,
      .sg-select-new__element-label,
      .sg-select-new__placeholder {
        font-size: $formElementLargeFontSize;
      }
    }

    &__element {
      @include applyFocus();

      display: flex;
      align-items: center;
      padding: 0 44px 0 spacing(s);
      width: 100%;
      text-overflow: ellipsis;
      border: 2px solid var(--borderColor);
      border-radius: $formElementStandardBorderRadius;
      height: $formElementSizeM;
      font-size: $formElementDefaultFontSize;
      color: $formElementPlacholderTextColor;
      background-color: $formElementDefaultBackgroundColor;

      &:hover,
      &:focus,
      &:active,
      &:focus-visible {
        border-color: var(--activeBorderColor);
        background-color: mix($gray-50, $gray-20, 12%);
      }

      &[aria-expanded='true'] {
        border-color: var(--activeBorderColor);
        background-color: white;
      }

      .sg-subject-icon {
        margin-right: 12px;
      }
    }

    &__element-icon {
      position: absolute;
      right: 8px;
    }

    &__element-label {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &__options-wrapper {
      min-width: 120px;
      max-width: 320px;
      width: max-content;
      padding: 16px;
      background-color: $white;
      box-shadow: $shadowLarge !important;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__option {
      padding: 8px 12px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-radius: $borderRadiusDefault;
      cursor: default;

      &:hover {
        background-color: $gray-10;
      }

      &--selected {
        background-color: $gray-20;
      }

      &--multi-select {
        padding: 8px 4px 8px 12px;
      }

      .sg-text {
        padding: 2px 0;
        font-size: 16px;
      }

      .sg-subject-icon {
        margin-right: 12px;
      }
    }

    &__option-label {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__option-state {
      margin-left: 12px;
    }
  }
}
