@if ($includeHtml) {
  .sg-select-new {
    --select-background: #{$formElementDefaultBackgroundColor};
    --border-color: #{$formElementDefaultBackgroundColor};
    --active-border-color: #{mix($gray-50, $gray-20, 12%)};
    --active-background-color: #{$white};
    --hover-background-color: #{mix($gray-50, $gray-20, 12%)};
    --hover-border-color: #{mix($gray-50, $gray-20, 12%)};

    display: inline-block;
    position: relative;
    min-width: 120px;
    max-width: 320px;

    &--full-width {
      width: 100%;
    }

    &--disabled {
      pointer-events: none;
      opacity: 42%;
    }

    &--white {
      --select-background: #{$white};
      --border-color: #{$white};
      --active-border-color: #{$gray-40};
      --hover-background-color: #{$gray-20};
      --hover-border-color: #{$gray-20};
    }

    &--valid {
      --border-color: #{$green-40};
      --hover-border-color: #{$green-40};
      --active-border-color: #{$green-40};
    }

    &--invalid {
      --border-color: #{$red-40};
      --hover-border-color: #{$red-40};
      --active-border-color: #{$red-40};
    }

    &--s {
      .sg-select-new__element {
        padding: 0 44px 0 spacing(s);
        height: $formElementSizeS;
      }

      .sg-select-new__option-label .sg-text,
      .sg-select-new__element-label,
      .sg-select-new__placeholder {
        font-size: $formElementSmallFontSize;
      }
    }

    &--l {
      .sg-select-new__icon {
        right: 12px;
      }

      .sg-select-new__element {
        border-radius: $formElementLargeBorderRadius;
        padding: 0 60px 0 (spacing(m));
        height: $formElementSizeL;
      }

      .sg-select-new__option-label .sg-text,
      .sg-select-new__element-label,
      .sg-select-new__placeholder {
        font-size: $formElementLargeFontSize;
      }
    }

    &__element {
      @include applyFocus();

      display: flex;
      align-items: center;
      padding: 0 44px 0 spacing(s);
      width: 100%;
      text-overflow: ellipsis;
      border: 2px solid var(--border-color);
      border-radius: $formElementStandardBorderRadius;
      height: $formElementSizeM;
      font-size: $formElementDefaultFontSize;
      color: $formElementPlacholderTextColor;
      background-color: var(--select-background);
      transition: background-color $durationModerate1 $easingLinear,
        border-color $durationModerate1 $easingLinear;

      &:hover,
      &:focus,
      &:focus-visible {
        border-color: var(--hover-border-color);
        background-color: var(--hover-background-color);
      }

      &[aria-expanded='true'],
      &:active {
        border-color: var(--active-border-color);
        background-color: var(--active-background-color);
      }

      &[aria-expanded='true'] .sg-select-new__element-icon {
        transform: rotate(-180deg);
      }

      .sg-subject-icon {
        margin-right: 12px;
      }
    }

    &__element-icon {
      position: absolute;
      right: 8px;
      transition: transform $durationGentle1 $easingRegular;
    }

    &__element-label {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &__options-floating-container {
      &.animate-on-transforms {
        transition: top $durationGentle1 Cubic-Bezier(0.35, 0, 0.2, 1);
      }
    }

    &__popup {
      border-radius: 16px;
      box-shadow: $shadowLarge !important;
      opacity: 0;
      overflow: hidden;
      display: inline-flex;

      &.hide-scroll .sg-select-new__options-wrapper {
        overflow-y: hidden;
      }
    }

    &__popup.animate-on-transforms {
      opacity: 1;
      transition: height $durationGentle1 $easingRegular,
        width $durationGentle1 $easingRegular,
        opacity $durationQuick1 $easingLinear;

      &[data-placement^='top'] {
        position: absolute;
        bottom: 0;
        transform-origin: bottom left;
      }

      &[data-placement^='top-end'] {
        position: absolute;
        right: 0;
        transform-origin: bottom right;
      }

      &[data-placement^='bottom-end'] {
        position: absolute;
        right: 0;
        transform-origin: top right;
      }
    }

    &__options-wrapper {
      min-width: 120px;
      max-width: 320px;
      width: max-content;
      max-height: 100%;
      padding: 16px;
      background-color: $white;
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex: 1 0 auto;
      overflow-y: auto;
    }

    &__option {
      padding: 8px 12px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-radius: $borderRadiusDefault;
      cursor: default;
      transition: background-color $durationModerate1 $easingLinear;

      &:hover {
        background-color: $gray-10;
      }

      &--selected {
        background-color: $gray-20;
      }

      &--multi-select {
        padding: 8px 4px 8px 12px;
      }

      .sg-text {
        padding: 2px 0;
        font-size: 16px;
      }

      .sg-subject-icon {
        margin-right: 12px;
      }
    }

    &__option-label {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__option-state {
      margin-left: 12px;
    }
  }
}
