<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../style-guide.css">
  <style>
    body {
      background-color: #f0f3f5;
    }
  </style>
</head>
<body>

  <div class="sg-layout">

    <div class="sg-header sg-header--fixed">
      <div class="sg-header__container">
        Header
      </div>
    </div>

    <div class="sg-layout__container sg-layout__container--reversed-order">

      <div class="sg-layout__content">
        <p class="sg-text">Main content has padding and white background</p>
      </div>
      <div class="sg-layout__aside-content">
        <div class="sg-layout__box">
          <p class="sg-text">Aside content has no padding and no background</p>
        </div>
      </div>
    </div>

    <div class="sg-layout__footer">
      <div class="sg-footer">
        <div class="sg-footer__container">
          Footer
        </div>
      </div>
    </div>
  </div>

</body>
</html>
