<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Primary colors</h3>
  </aside>
  <div class="docs-block__content">
    <ol class="colors-list">
      {% for color in site.data.colors.primary %}
      <li class="color-box" style="background: #{{ color.hex }}">
        <span class="color-box__name">{{ color.name }} / #{{ color.hex }}</span>
        <span class="color-box__variable">{{ color.variable }}</span>
      </li>
      {% endfor %}
    </ol>
  </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Secondary colors</h3>
    </aside>
    <div class="docs-block__content">
        <ol class="colors-list">
          {% for color in site.data.colors.secondary %}
          <li class="color-box" style="background: #{{ color.hex }}">
            <span class="color-box__name">{{ color.name }} / #{{ color.hex }}</span>
            <span class="color-box__variable">{{ color.variable }}</span>
          </li>
          {% endfor %}
        </ol>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Gray colors</h3>
    </aside>
    <div class="docs-block__content">
        <ol class="colors-list">
          {% for color in site.data.colors.gray %}
          <li class="color-box" style="background: #{{ color.hex }}">
            <span class="color-box__name">{{ color.name }} / #{{ color.hex }}</span>
            <span class="color-box__variable">{{ color.variable }}</span>
          </li>
          {% endfor %}
        </ol>
    </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Addtional colors</h3>
  </aside>
  <div class="docs-block__content">
    <ol class="colors-list">
      {% for color in site.data.colors.additional %}
      <li class="color-box" style="background: #{{ color.hex }}">
        <span class="color-box__name">{{ color.name }} / #{{ color.hex }}</span>
        <span class="color-box__variable">{{ color.variable }}</span>
      </li>
      {% endfor %}
    </ol>
  </div>
</section>
