<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Primary colors</h3>
    </aside>
    <div class="docs-block__content">
        <ol class="colors-list colors-list--2rows">
            <li class="color-box color-box--tall color-box--black">
                <span class="color-box__name">Black</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
            <li class="color-box color-box--mint">
                <span class="color-box__name">Mint</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
            <li class="color-box color-box--blue">
                <span class="color-box__name">Blue</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
            <li class="color-box color-box--mint-mid-tone">
                <span class="color-box__name">Mint mid-tone</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
            <li class="color-box color-box--blue-mid-tone">
                <span class="color-box__name">Blue mid-tone</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
            <li class="color-box color-box--mint-light">
                <span class="color-box__name">Mint light</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
            <li class="color-box color-box--blue-light">
                <span class="color-box__name">Blue light</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
        </ol>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Secondary colors</h3>
    </aside>
    <div class="docs-block__content">
        <ol class="colors-list colors-list--3rows">
            <li class="color-box color-box--tall">
            </li>
            <li class="color-box color-box--lavender">
                <span class="color-box__name">Lavender</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
            <li class="color-box color-box--peach">
                <span class="color-box__name">Peach</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
            <li class="color-box color-box--mustard">
                <span class="color-box__name">Mustard</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
            <li class="color-box color-box--lavender-mid-tone">
                <span class="color-box__name">Lavender mid-tone</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
            <li class="color-box color-box--peach-mid-tone">
                <span class="color-box__name">Peach mid-tone</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
            <li class="color-box color-box--mustard-mid-tone">
                <span class="color-box__name">Mustard mid-tone</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
            <li class="color-box color-box--lavender-light">
                <span class="color-box__name">Lavender light</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
            <li class="color-box color-box--peach-light">
                <span class="color-box__name">peach light</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
            <li class="color-box color-box--mustard-light">
                <span class="color-box__name">Mustard light</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
        </ol>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Grey colors</h3>
    </aside>
    <div class="docs-block__content">
        <ol class="colors-list colors-list--2rows">
            <li class="color-box color-box--tall color-box--white">
                <span class="color-box__name">White</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
            <li class="color-box color-box--tall color-box--gray">
              <span class="color-box__name">Gray</span>
              <span class="color-box__hex"></span>
              <span class="color-box__variable"></span>
            </li>
            <li class="color-box color-box--gray-mid-tone">
                <span class="color-box__name">Gray mid-tone</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>

            <li class="color-box color-box--gray-alt-light">
                <span class="color-box__name">Gray alt light</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
            <li class="color-box color-box--gray-light">
                <span class="color-box__name">Gray light</span>
                <span class="color-box__hex"></span>
                <span class="color-box__variable"></span>
            </li>
        </ol>
    </div>
</section>
