@import '../sass/config';
@import '../sass/mixins';
@import '../components/buttons/buttons.stories';

.sg-story {
  display: flex;

  &-variant {
    margin-bottom: spacing(l);

    &__name {
      margin-bottom: spacing(s);
    }

    &-dark-box {
      background: $graySecondary;
      padding: spacing(m);
    }

    &-border-box {
      border: 1px solid $graySecondary;
      padding: spacing(m);
    }
  }

  &-variant-table {
    td {
      padding: 10px 15px;
    }

    tr > td:not(:first-child) {
      text-align: center;
    }

    th {
      padding: 10px 15px;
    }
  }
}
