@import '../sass/config';
@import '../sass/mixins';
@import '../components/buttons/buttons.stories';
@import '../components/icons/icons.stories';

.sg-story {
  display: flex;

  &-variant {
    margin-bottom: spacing(l);

    &__name {
      margin-bottom: spacing(s);
    }

    &-dark-box {
      background: $gray-50;
      padding: spacing(m);
    }

    &-border-box {
      border: 1px solid $gray-40;
      padding: spacing(m);
      border-radius: 5px;
    }
  }

  &-variant-table {
    td {
      padding: spacing(m);
      white-space: nowrap;
    }

    th {
      padding: spacing(m);
      white-space: nowrap;
    }

    &--align-items-top {
      td {
        vertical-align: top;
      }
    }
  }
}
