$stickerIconColor: $bluePrimary;
$stickerOutlineColor: $white;
$stickerDefaultSize: 18px;

$includeHtml: false !default;

@if ($includeHtml) {
  .sg-sticker {
    position: relative;
    max-width: $stickerDefaultSize;
    max-height: $stickerDefaultSize;
    width: $stickerDefaultSize;
    height: $stickerDefaultSize;

    &__back {
      stroke: $stickerOutlineColor;
      stroke-width: 6px;
    }

    &__front {
      position: absolute;
      left: 0;
      top: 0;
      fill: $stickerIconColor;
    }
  }
}
