<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Default</h3>
    </aside>

    <div class="docs-block__content">
        <div class="docs-block__contrast-box">
            <div class="mint-sticker mint-sticker--answered"></div>
            <div class="mint-sticker mint-sticker--answering"></div>
            <div class="mint-sticker mint-sticker--arrow_down"></div>
            <div class="mint-sticker mint-sticker--arrow_left"></div>
            <div class="mint-sticker mint-sticker--arrow_right"></div>
            <div class="mint-sticker mint-sticker--arrow_up"></div>
            <div class="mint-sticker mint-sticker--attachment"></div>
            <div class="mint-sticker mint-sticker--bold"></div>
            <div class="mint-sticker mint-sticker--check"></div>
            <div class="mint-sticker mint-sticker--comment"></div>
            <div class="mint-sticker mint-sticker--equation"></div>
            <div class="mint-sticker mint-sticker--excellent"></div>
            <div class="mint-sticker mint-sticker--fb"></div>
            <div class="mint-sticker mint-sticker--friends"></div>
            <div class="mint-sticker mint-sticker--heart"></div>
            <div class="mint-sticker mint-sticker--menu"></div>
            <div class="mint-sticker mint-sticker--messages"></div>
            <div class="mint-sticker mint-sticker--notifications"></div>
            <div class="mint-sticker mint-sticker--pencil"></div>
            <div class="mint-sticker mint-sticker--profile"></div>
            <div class="mint-sticker mint-sticker--report_flag"></div>
            <div class="mint-sticker mint-sticker--search"></div>
            <div class="mint-sticker mint-sticker--star"></div>
            <div class="mint-sticker mint-sticker--stream"></div>
            <div class="mint-sticker mint-sticker--symbols"></div>
        </div>
    </div>
</section>
