<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Default</h3>
  </aside>

  <div class="docs-block__content">
    <div class="docs-block__contrast-box">
      {% for name in site.data.icons.names %}
        <svg class="mint-sticker">
          <use class="mint-sticker__back" xlink:href="#icon-{{ name }}"></use>
          <use class="mint-sticker__front" xlink:href="#icon-{{ name }}"></use>
        </svg>
      {% endfor %}
    </div>
  </div>
</section>
