<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Default</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-popup-menu">
            <div class="mint-popup-menu__hole">one</div>
            <div class="mint-popup-menu__hole">two</div>
            <div class="mint-popup-menu__hole">three</div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Example usage</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-popup-menu">
            <div class="mint-popup-menu__hole">
                <button class="mint-icon-as-button mint-icon-as-button--light">
                  <div class="mint-icon-as-button__hole">
                    <svg class="mint-icon mint-icon--x26 mint-icon--adaptive">
                        <use xlink:href="#icon-notifications"></use>
                    </svg>
                  </div>
                </button>
            </div>
            <div class="mint-popup-menu__hole">
                <button class="mint-icon-as-button mint-icon-as-button--light">
                  <div class="mint-icon-as-button__hole">
                    <svg class="mint-icon mint-icon--x26 mint-icon--adaptive">
                        <use xlink:href="#icon-messages"></use>
                    </svg>
                  </div>
                </button>
            </div>
            <div class="mint-popup-menu__hole">
                <button class="mint-icon-as-button mint-icon-as-button--light">
                  <div class="mint-icon-as-button__hole">
                    <svg class="mint-icon mint-icon--x26 mint-icon--adaptive">
                        <use xlink:href="#icon-profile"></use>
                    </svg>
                  </div>
                </button>
            </div>
            <div class="mint-popup-menu__hole">
                <div class="mint-avatar mint-avatar--with-border">
                    <img class="mint-avatar__image" src="http://lorempixel.com/64/64/">
                </div>
                <span>Bonżurek</span>
                <div class="mint-badge">4575</div>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Example usage</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-popup-menu">
            <div class="mint-popup-menu__hole">
                <a class="mint-button-secondary mint-button-secondary--light mint-button-secondary--full" href="#">
                    <div class="mint-button-secondary__hole">
                        Log in
                    </div>
                </a>
            </div>
            <div class="mint-popup-menu__hole">
                <a class="mint-button-secondary mint-button-secondary--light-inverse mint-button-secondary--full" href="#">
                    <div class="mint-button-secondary__hole">
                        Join now
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

