$sgPopupMenuBackground: $blueSecondary;
$sgPopupMenuPadding: gutter(1);
$sgPopupMenuHeight: rhythm(2);

$includeHtml: false !default;

@if ($includeHtml) {
  .sg-popup-menu {
    @include hole();

    position: relative;
    width: 100%;
    height: $sgPopupMenuHeight;
    padding: 0 ($sgPopupMenuPadding / 2);
    margin: 0;
    background-color: $sgPopupMenuBackground;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &::before {
      content: '';
      border: $sgPopupMenuPadding / 2 solid transparent;
      border-bottom-color: $sgPopupMenuBackground;
      position: absolute;
      top: -$sgPopupMenuPadding;
      right: 18px;
      width: 0;
      margin: 0 auto;
    }

    &__hole {
      flex-grow: 1;
    }

    &--elements-spaced {
      .sg-popup-menu__hole {
        margin-right: $sgPopupMenuPadding / 2;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
