<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Default</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-popup-menu">
            <div class="sg-popup-menu__hole">one</div>
            <div class="sg-popup-menu__hole">two</div>
            <div class="sg-popup-menu__hole">three</div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Example usage</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-popup-menu">
            <div class="sg-popup-menu__hole">
                <button class="sg-icon-as-button sg-icon-as-button--light">
                  <div class="sg-icon-as-button__hole">
                    <svg class="sg-icon sg-icon--x26 sg-icon--adaptive">
                        <use xlink:href="#icon-notifications"></use>
                    </svg>
                  </div>
                </button>
            </div>
            <div class="sg-popup-menu__hole">
                <button class="sg-icon-as-button sg-icon-as-button--light">
                  <div class="sg-icon-as-button__hole">
                    <svg class="sg-icon sg-icon--x26 sg-icon--adaptive">
                        <use xlink:href="#icon-messages"></use>
                    </svg>
                  </div>
                </button>
            </div>
            <div class="sg-popup-menu__hole">
                <button class="sg-icon-as-button sg-icon-as-button--light">
                  <div class="sg-icon-as-button__hole">
                    <svg class="sg-icon sg-icon--x26 sg-icon--adaptive">
                        <use xlink:href="#icon-profile"></use>
                    </svg>
                  </div>
                </button>
            </div>
            <div class="sg-popup-menu__hole">
                <div class="sg-avatar sg-avatar--with-border">
                    <img class="sg-avatar__image" src="https://placebear.com/64/64">
                </div>
                <span>Bonżurek</span>
                <div class="sg-badge">4575</div>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Example usage</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-popup-menu sg-popup-menu--elements-spaced">
            <div class="sg-popup-menu__hole">
                <a class="sg-button-secondary sg-button-secondary--light sg-button-secondary--full" href="#">
                    <div class="sg-button-secondary__hole">
                        Log in
                    </div>
                </a>
            </div>
            <div class="sg-popup-menu__hole">
                <a class="sg-button-secondary sg-button-secondary--light-inverse sg-button-secondary--full" href="#">
                    <div class="sg-button-secondary__hole">
                        Join now
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

