$cardBorderColor: $graySecondaryLight;
$cardBorderSize: 1px;
$cardShadow: $shadowSmall;

$includeHtml: false !default;

@if ($includeHtml) {
  .sg-card {
    @include component();
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: $borderRadiusDefault;
    border: $cardBorderColor solid $cardBorderSize;
    overflow: hidden;
    background-color: $white;

    &--transparent {
      background-color: transparent;
    }

    &--full {
      width: 100%;

      .sg-card__hole {
        width: 100%;
      }
    }

    &--vertical {
      flex-direction: row;

      .sg-card__hole {
        align-self: stretch;
        flex: 1;
      }
    }

    &--with-shadow {
      box-shadow: $cardShadow;
    }

    &--no-border {
      border: none;
    }

    &--centered {
      .sg-card__hole {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    }

    &--padding-small {
      .sg-card__hole {
        padding: gutter(2 / 3);
      }
    }

    &--padding-normal {
      .sg-card__hole {
        padding: gutter(1);
      }
    }

    &--padding-large {
      .sg-card__hole {
        padding: gutter(4 / 3);
      }
    }

    &--padding-xlarge {
      .sg-card__hole {
        padding: gutter(8 / 3);
      }
    }

    &__hole {
      width: 100%;

      &--blue {
        background-color: $blue-40;
      }

      &--blue-secondary {
        background-color: $blue-30;
      }

      &--blue-secondary-light {
        background-color: $blue-20;
      }

      &--lavender {
        background-color: $indigo-40;
      }

      &--lavender-secondary {
        background-color: $indigo-30;
      }

      &--lavender-secondary-light {
        background-color: $indigo-20;
      }

      &--mint {
        background-color: $green-40;
      }

      &--mint-secondary {
        background-color: $green-30;
      }

      &--mint-secondary-light {
        background-color: $green-20;
      }

      &--mustard {
        background-color: $yellow-40;
      }

      &--mustard-secondary {
        background-color: $yellow-30;
      }

      &--mustard-secondary-light {
        background-color: $yellow-20;
      }

      &--gray {
        background-color: $grayPrimary;
      }

      &--gray-secondary {
        background-color: $graySecondary;
      }

      &--gray-secondary-light {
        background-color: $graySecondaryLight;
      }

      &--gray-secondary-lightest {
        background-color: $graySecondaryLightest;
      }

      &--gray-secondary-ultra-light {
        background-color: $graySecondaryUltraLight;
      }
    }
  }
}
