$cardBorderColor: $graySecondaryLight;
$cardBorderSize: 1px;
$cardShadow: 0 1px 3px 2px rgba(0, 0, 0, 0.05);

$includeHtml: false !default;

@if ($includeHtml) {

  .sg-card {
    @include component();
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: $borderRadiusDefault;
    border: $cardBorderColor solid $cardBorderSize;
    overflow: hidden;
    background-color: $white;

    &--transparent {
      background-color: transparent;
    }

    &--full {
      width: 100%;

      .sg-card__hole {
        width: 100%;
      }
    }

    &--vertical {
      flex-direction: row;

      .sg-card__hole {
        align-self: stretch;
        flex: 1;
        }
    }

    &--with-shadow {
      box-shadow: $cardShadow;
    }

    &--no-border {
      border: none;
    }

    &--centered {

      .sg-card__hole {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    }

    &--padding-small {

      .sg-card__hole {
        padding: gutter(2 / 3);
      }
    }

    &--padding-normal {

      .sg-card__hole {
        padding: gutter(1);
      }
    }

    &--padding-large {

      .sg-card__hole {
        padding: gutter(4 / 3);
      }
    }

    &--padding-xlarge {

      .sg-card__hole {
        padding: gutter(8 / 3);
      }
    }

    &__hole {
      width: 100%;

      &--blue {
        background-color: $bluePrimary;
      }

      &--blue-secondary {
        background-color: $blueSecondary;
      }

      &--blue-secondary-light {
        background-color: $blueSecondaryLight;
      }

      &--lavender {
        background-color: $lavenderPrimary;
      }

      &--lavender-secondary {
        background-color: $lavenderSecondary;
      }

      &--lavender-secondary-light {
        background-color: $lavenderSecondaryLight;
      }

      &--mint {
        background-color: $mintPrimary;
      }

      &--mint-secondary {
        background-color: $mintSecondary;
      }

      &--mint-secondary-light {
        background-color: $mintSecondaryLight;
      }

      &--mustard {
        background-color: $mustardPrimary;
      }

      &--mustard-secondary {
        background-color: $mustardSecondary;
      }

      &--mustard-secondary-light {
        background-color: $mustardSecondaryLight;
      }

      &--navyblue {
        background-color: $navybluePrimary;
      }

      &--navyblue-secondary {
        background-color: $navyblueSecondary;
      }

      &--navyblue-secondary-light {
        background-color: $navyblueSecondaryLight;
      }

      &--gray {
        background-color: $grayPrimary;
      }

      &--gray-secondary {
        background-color: $graySecondary;
      }

      &--gray-secondary-light {
        background-color: $graySecondaryLight;
      }

      &--gray-secondary-lightest {
        background-color: $graySecondaryLightest;
      }

      &--gray-secondary-ultra-light {
        background-color: $graySecondaryUltraLight;
      }
    }
  }
}
