.sg-file-handler {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: componentSize(m);
  border-radius: 6px;
  padding: spacing(xs);
  cursor: default;

  &__icon {
    display: flex;
    margin-right: spacing(xs);

    > img {
      width: 24px;
      max-height: 24px;
      border-radius: 4px;
    }
  }

  &__text {
    position: relative;
    top: 1px;
  }

  &__close-button {
    background: none;
    border: none;
    padding: 0;
    margin-left: 6px;
  }

  &--white {
    background-color: $white;
  }

  &--gray-secondary-light {
    background-color: $graySecondaryLightest;
  }
}
