.docs-block {
  display: block;
  overflow: hidden;
  margin: 50px 0 0;
}

.docs-block__header {
  color: $grayPrimary;
  display: block;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.docs-block__info {
  box-sizing: border-box;
  padding: 0 20px 0 0;
  float: left;
  width: 230px;
}

.docs-block__data {
  float: left;
}
