.docs-block {
  display: block;
  overflow: hidden;
  margin: 50px 0 0;
  &__header {
    color: $grayPrimary;
    display: block;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
  }
  &__info {
    box-sizing: border-box;
    padding: 0 20px 0 0;
    float: left;
    width: 230px;
  }
  &__content {
    float: left;
    width: 730px;
    &--logo-preview {
      font-size: 150px;
    }
  }
  &__contrast-box {
    background-color: $grayPrimary;
    padding: 10px;
    display: inline-block;
  }
}
