@import "../../src/sass/main";
@import "config";
@import "colors-list";
@import "color-box";
@import "docs-block";

html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.data-container {
  max-width: 960px;
  margin: 0 auto;
}

.main-header {
  margin: 20px 0 0;
  font-size: 48px;
  font-weight: bold;
  color: $black;
}

.article-header {
  color: $grayPrimary;
  font-weight: normal;
  font-size: 36px;
  padding: 0 0 60px;
  margin: 15px 0;
  border-bottom: 1px solid $grayPrimary;
}

article {
  margin-bottom: 100px;
}

.icons-list {
  list-style: none;
  &__element {
    float: left;
    width: 25%;
    margin: 0 0 20px 0;
    font-size: 16px;
    line-height: 22px;
    color: $black;
    &:before {
      color: $mintPrimary;
      font-size: 22px;
      float: left;
      margin: 0 10px 0 0;
    }
  }
}
