.sg-progress-indicator {
  --barColor: #{$indigo-50};
  --trackColor: #{$gray-30};

  width: 100%;
  min-width: 120px;
  border-radius: 8px;
  background: var(--trackColor);
  position: relative;
  overflow: hidden;

  &--s {
    height: 8px;
  }

  &--xs {
    height: 4px;
  }

  &--no-border-radius {
    border-radius: 0;
  }

  &--invisible-track {
    --trackColor: transparent;
  }

  &__bar {
    background: var(--barColor);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 8px;
    transition-property: width;
    transition-timing-function: $easingRegular;
  }
}
