$headerHeight:  rhythm(2.5); // 60px;

$includeHtml: false !default;

@if ($includeHtml) {

  .sg-header {
    width: 100%;
    height: $headerHeight;
    background-color: $bluePrimary;
    margin-bottom: rhythm(3) - $headerHeight;
    box-shadow: $defaultBottomShadow;

    &__container {
      display: flex;
      width: 100%;
      height: 100%;
      max-width: $layoutMaximumWidth;
      padding: 0 gutter(1 / 2);
      margin: auto;
      align-items: center;

      @include sgBreakpoint(large-only) {
        padding: 0 gutter(1);
      }
    }

    &--fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: $sgHeaderZIndex;
    }

    &__left {
      display: flex;
      align-items: center;
      margin-right: 10px;
      flex-shrink: 0;

      @include sgBreakpoint(medium-up) {
        margin-right: 20px;
      }
    }

    &__middle {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }

    &__right {
      margin-left: 10px;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      @include sgBreakpoint(medium-up) {
        margin-left: 20px;
      }
    }
  }

}
