$headerDominantColor: #65a6a8;
$headerHeight:  rhythm(2.5); // 60px;

$includeHtml: false !default;

@if ($includeHtml) {

  .mint-header {
    @include image2x($mintImagesPath + 'header_background@2x.jpg', auto, $headerHeight);
    width: 100%;
    height: $headerHeight;
    background-image: url($mintImagesPath + 'header_background.jpg');
    background-repeat: repeat-x;
    background-color: $headerDominantColor;
    margin-bottom: rhythm(3) - $headerHeight;

    @include mintBreakpoint(medium-up) {
      @include image2x($mintImagesPath + 'header_background_wide@2x.jpg', auto, $headerHeight);
      background-image: url($mintImagesPath + 'header_background_wide.jpg');
    }

    &__container {
      display: flex;
      width: 100%;
      height: 100%;
      max-width: $layoutMaximumWidth;
      padding: 0 10px;
      margin: auto;
      align-items: center;

      @include mintBreakpoint(medium-up) {
        padding: 0 gutter(0.5);
      }
    }

    &__left {
      display: flex;
      align-items: center;
      margin-right: 10px;

      @include mintBreakpoint(medium-up) {
        margin-right: 20px;
      }
    }

    &__middle {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }

    &__right {
      margin-left: 10px;
      display: flex;
      align-items: center;

      @include mintBreakpoint(medium-up) {
        margin-left: 20px;
      }
    }
  }

}
