$headerDominantColor: #65A6A8;
$headerHeight: 60px;

$include-html: false !default;

@if ($include-html) {

  .mint-header {
    width: 100%;
    height: $headerHeight;
    background-image: url($mintImagesPath + 'header_background_wide.jpg');
    background-repeat: repeat-x;
    background-color: $headerDominantColor;
    @include image-2x($mintImagesPath + 'header_background_wide@2x.jpg', auto, $headerHeight);

    &__container {
      display: flex;
      width: 100%;
      height: 100%;
      max-width: $layoutMaximumWidth;
      padding: 0 10px;
      margin: auto;
      align-items: center;

      @media (min-width: $breakpointMedium) {
        padding: 0 $layoutDefaultPadding/2;
      }
    }

    &__left {
      display: flex;
      align-items: center;
      margin-right: 10px;
      @media (min-width: $breakpointMedium) {
        margin-right: 20px;
      }
    }

    &__middle {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }

    &__right {
      margin-left: 10px;
      display: flex;
      align-items: center;
      @media (min-width: $breakpointMedium) {
        margin-left: 20px;
      }
    }
  }

}
