<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Standard</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-header">
            <div class="mint-header__container">
                <div class="mint-header__left">left</div>
                <div class="mint-header__middle">middle</div>
                <div class="mint-header__right">right</div>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Example usage</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-header">
            <div class="mint-header__container">
                <div class="mint-header__left">
                    <a href="#" class="mint-home-button"></a>
                </div>
                <div class="mint-header__middle">
                    <div class="mint-search">
                        <input type="search" placeholder="Find all the answers..."
                               class="mint-input mint-input--full mint-input--transparent-border mint-input--low mint-input--with-icon"/>

                        <div class="mint-search__button">
                            <button class="mint-icon-as-button mint-icon-as-button--small" type="submit">
                                <svg class="mint-icon mint-icon--adaptive mint-icon--fluid">
                                    <use xlink:href="#icon-search"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mint-header__right mint-hide-for-small-only">
                    <button class="mint-button-secondary mint-button-secondary--light">
                        <div class="mint-button-secondary__hole">Register</div>
                    </button>
                    <div class="mint-overlayed-box">
                        <button class="mint-icon-as-button mint-icon-as-button--light">
                            <svg class="mint-icon mint-icon--adaptive">
                                <use xlink:href="#icon-messages"></use>
                            </svg>
                        </button>
                        <div class="mint-overlayed-box__overlay">
                            <div class="mint-badge mint-badge--error">1</div>
                        </div>
                    </div>
                    <div class="mint-avatar mint-avatar--big">
                        <img class="mint-avatar__image mint-avatar__image--big"
                             src="http://lorempixel.com/76/76/"/>
                    </div>
                </div>
                <div class="mint-header__right mint-hide-for-medium-up">
                    <button class="mint-icon-as-button mint-icon-as-button--light">
                        <svg class="mint-icon mint-icon--adaptive">
                            <use xlink:href="#icon-menu"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
