<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Standard</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-header">
            <div class="sg-header__container">
                <div class="sg-header__left">left</div>
                <div class="sg-header__middle">middle</div>
                <div class="sg-header__right">right</div>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Example usage</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-header">
            <div class="sg-header__container">
                <div class="sg-header__left">
                  <a href="#" class="sg-home-button">
                    <img class="sg-home-button__logo-small" src="images/logos/brainly-mobile.svg" />
                    <img class="sg-home-button__logo-big" src="images/logos/brainly.svg" />
                  </a>
                </div>
                <div class="sg-header__middle">
                    <div class="sg-search">
                        <input type="search" placeholder="Find all the answers..."
                               class="sg-search__input sg-input sg-input--light sg-input--full-width"/>
                        <div class="sg-search__button">
                            <button class="sg-icon-as-button sg-icon-as-button--small sg-icon-as-button--adaptive" type="submit">
                                <div class="sg-icon-as-button__hole">
                                    <svg class="sg-icon sg-icon--adaptive sg-icon--x18">
                                        <use xlink:href="#icon-search"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="sg-header__right sg-hide-for-small-only">
                    <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--light-inverse">
                        <div class="sg-button-secondary__hole">
                            Register
                        </div>
                    </button>
                    <button class="sg-icon-as-button sg-icon-as-button--transparent sg-icon-as-button--light">
                        <div class="sg-icon-as-button__hole">
                            <div class="sg-overlayed-box">
                                <svg class="sg-icon sg-icon--x22 sg-icon--adaptive">
                                    <use xlink:href="#icon-messages"></use>
                                </svg>
                                <div class="sg-overlayed-box__overlay">
                                    <div class="sg-badge sg-badge--rounded sg-badge--peach">
                                        <div class="sg-text sg-text--emphasised sg-text--xsmall sg-text--light">1</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>

                    <button class="sg-icon-as-button sg-icon-as-button--transparent">
                      <div class="sg-icon-as-button__hole">
                        <div class="sg-avatar sg-avatar--small">
                          <div class="sg-avatar__image sg-avatar__image--icon">
                            <svg class="sg-icon sg-icon--x24 sg-icon--gray">
                              <use xlink:href="#icon-profile"></use>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </button>

                </div>
                <div class="sg-header__right sg-hide-for-medium-up">
                    <button class="sg-icon-as-button sg-icon-as-button--light">
                      <div class="sg-icon-as-button__hole">
                        <svg class="sg-icon sg-icon--x26 sg-icon--adaptive">
                            <use xlink:href="#icon-menu"></use>
                        </svg>
                      </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Fixed header</h3>
  </aside>
  <div class="docs-block__content">
    <iframe width="600" height="480" src='components/header/small-device.html'></iframe>
  </div>
</section>

