<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../style-guide.css">
  <link rel="stylesheet" href="../../css/main.css">
</head>
<body class="docs--header-small-example">
<script src="images/icons.js"></script>
<div>
  <div class="sg-header sg-header--fixed">
    <div class="sg-header__container">
      <div class="sg-header__left">
        <a href="#" class="sg-home-button">
          <img class="sg-home-button__logo-small" src="images/logos/brainly-mobile.svg" />
          <img class="sg-home-button__logo-big" src="images/logos/brainly.svg" />
        </a>
      </div>
      <div class="sg-header__middle">
        <div class="sg-search sg-search--short">
          <input type="search" placeholder="Find all the answers..."
                 class="sg-input sg-input--full sg-input--transparent-border sg-input--short sg-input--with-icon"/>

          <div class="sg-search__button">
            <button class="sg-icon-as-button sg-icon-as-button--small" type="submit">
              <div class="sg-icon-as-button__hole">
                <svg class="sg-icon sg-icon--adaptive sg-icon--x18">
                  <use xlink:href="#icon-search"></use>
                </svg>
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="sg-header__right sg-hide-for-small-only">
        <button class="sg-button-secondary sg-button-secondary--light">
          <div class="sg-button-secondary__hole">Register</div>
        </button>
        <button class="sg-icon-as-button sg-icon-as-button--light">
          <div class="sg-icon-as-button__hole">
            <div class="sg-overlayed-box">
              <svg class="sg-icon sg-icon--x26 sg-icon--adaptive">
                <use xlink:href="#icon-messages"></use>
              </svg>
              <div class="sg-overlayed-box__overlay">
                <div class="sg-badge sg-badge--error">1</div>
              </div>
            </div>
          </div>
        </button>
        <div class="sg-avatar sg-avatar--big">
          <img class="sg-avatar__image"
               src="https://placebear.com/76/76"/>
        </div>
      </div>
      <div class="sg-header__right sg-hide-for-medium-up">
        <button class="sg-icon-as-button sg-icon-as-button--light">
          <div class="sg-icon-as-button__hole">
            <svg class="sg-icon sg-icon--x26 sg-icon--adaptive">
              <use xlink:href="#icon-menu"></use>
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
</body>
