.sg-sparks {
  position: relative;
  display: inline-block;

  &__container {
    position: absolute;
    inset: 0;
    pointer-events: none;
  }

  &__particle {
    width: 20px;
    height: 20px;
  }
}
