.sg-sparks {
  position: relative;
  display: inline-block;

  &__container {
    position: absolute;
    inset: 0;
    pointer-events: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
  }

  &__particle {
    position: absolute;

    & > svg {
      display: block;
    }
  }
}
