$formElementHeightSmall: 32px;
$formElementHeightMedium: 40px;
$formElementHeightLarge: 56px;

$transparentWhite: rgba(255, 255, 255, 0);

$colorSetup: (
  black: $black,
  mint: $mintPrimary,
  blue: $bluePrimary,
  peach: $peachPrimary,
  mustard: $mustardSecondary,
);

@mixin buttonHover($color1, $color2, $percent) {
  &:hover:not([disabled]),
  &:focus:not([disabled]),
  &:active:not([disabled]),
  &:active:focus:not([disabled]) {
    background-color: mix($color1, $color2, $percent);
  }
}

@mixin buttonFilledHover($color1, $color2, $percent) {
  &:hover:not([disabled]),
  &:focus:not([disabled]),
  &:active:not([disabled]),
  &:active:focus:not([disabled]) {
    background-color: mix($color1, $color2, $percent);
    border-color: mix($color1, $color2, $percent);
  }
}

.sg-round-button {
  width: $formElementHeightLarge;
  height: $formElementHeightLarge;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  overflow: visible;
  will-change: background-color, border-color;
  transition-property: background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  &--large {
    width: $formElementHeightLarge;
    height: $formElementHeightLarge;
  }

  &--medium {
    width: $formElementHeightMedium;
    height: $formElementHeightMedium;
  }

  &--small {
    width: $formElementHeightSmall;
    height: $formElementHeightSmall;
  }

  &__hole {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  &--black:hover,
  &--black:active {
    @include buttonHover($black, $transparentWhite, 16%);

    &.sg-round-button--filled:hover,
    &.sg-round-button--filled:active {
      @include buttonFilledHover($grayPrimary, $black, 72%);
    }
  }

  &--blue:hover,
  &--blue:active  {
    @include buttonHover($bluePrimaryDark, $transparentWhite, 16%);

    &.sg-round-button--filled:hover,
    &.sg-round-button--filled:active {
      @include buttonFilledHover($bluePrimaryDark, $bluePrimaryDark, 72%);
    }
  }

  &--mint:hover,
  &--mint:active {
    @include buttonHover($mintPrimaryDark, $transparentWhite, 16%);

    &.sg-round-button--filled:hover,
    &.sg-round-button--filled:active {
      @include buttonFilledHover($mintPrimaryDark, $mintPrimary, 72%);
    }
  }

  &--peach:hover,
  &--peach:active {
    @include buttonHover($peachPrimary, $transparentWhite, 16%);

    &.sg-round-button--filled:hover,
    &.sg-round-button--filled:active {
      @include buttonFilledHover($peachPrimaryDark, $peachPrimary, 72%);
    }
  }

  &--mustard:hover,
  &--mustard:active {
    @include buttonHover($mustardSecondary, $transparentWhite, 16%);

    &.sg-round-button--filled:hover,
    &.sg-round-button--filled:active {
      @include buttonFilledHover($mustardPrimary, $mustardSecondary, 72%);
    }
  }
}

@each $color, $value in $colorSetup {
  .sg-round-button--#{$color} {
    border: 2px solid $value;
    fill: $value
  }

  .sg-round-button--#{$color}.sg-round-button--filled {
      background-color: $value;
  }
}
