@value sizeXxxl, sizeXxl, sizeXl, sizeL, sizeM, sizeS, sizeXs from '@brainly/style-guide-basics';

$flexSpacing_xs: spacing(xs);
$flexSpacing_s: spacing(s);
$flexSpacing_m: spacing(m);
$flexSpacing_l: spacing(l);
$flexSpacing_xl: spacing(xl);
$flexSpacing_xxl: spacing(xxl);
$flexSpacing_xxxl: spacing(xxxl);

.sg-flex {
  display: flex;
  
  &--full-width {
    width: 100%;
  }
  
  &--full-height {
    height: 100%;
  }
  
  &--no-shrink {
    flex-shrink: 0;
  }
  
  &--inline {
    display: inline-flex;
  }
  
  &--column {
    flex-direction: column;
  }
  
  &--column-reverse {
    flex-direction: column-reverse;
  }
  
  &--row {
    flex-direction: row;
  }
  
  &--row-reverse {
    flex-direction: row-reverse;
  }
  
  &--wrap {
    flex-wrap: wrap;
  }
  
  &--wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  
  &--justify-content-space-between {
    justify-content: space-between;
  }
  
  &--justify-content-center {
    justify-content: center;
  }
  
  &--justify-content-flex-start {
    justify-content: flex-start;
  }
  
  &--justify-content-flex-end {
    justify-content: flex-end;
  }
  
  &--justify-content-baseline {
    justify-content: baseline;
  }
  
  &--justify-content-stretch {
    justify-content: stretch;
  }
  
  &--justify-content-space-evenly {
    justify-content: space-evenly;
  }
  
  &--justify-content-space-around {
    justify-content: space-around;
  }
  
  &--align-items-center {
    align-items: center;
  }
  
  &--align-items-flex-start {
    align-items: flex-start;
  }
  
  &--align-items-flex-end {
    align-items: flex-end;
  }
  
  &--align-items-baseline {
    align-items: baseline;
  }
  
  &--align-items-stretch {
    align-items: stretch;
  }
  
  &--align-self-center {
    align-self: center;
  }
  
  &--align-self-flex-start {
    align-self: flex-start;
  }
  
  &--align-self-flex-end {
    align-self: flex-end;
  }
  
  &--align-self-baseline {
    align-self: baseline;
  }
  
  &--align-self-stretch {
    align-self: stretch;
  }
}

@each $size in (xs, s, m, l, xl, xxl, xxxl) {
  .sg-flex--margin-$(size) {
    margin: flexSpacing_$(size);
  }

  .sg-flex--margin-top-$(size) {
    margin-top: flexSpacing_$(size);
  }

  .sg-flex--margin-right-$(size) {
    margin-right: flexSpacing_$(size);
  }

  .sg-flex--margin-bottom-$(size) {
    margin-bottom: flexSpacing_$(size);
  }

  .sg-flex--margin-left-$(size) {
    margin-left: flexSpacing_$(size);
  }
}
