$iconAsButtonColor: $bluePrimary;
$iconAsButtonActiveColor: rgba($iconAsButtonColor, 0.7);
$iconAsButtonLightColor: $white;
$iconAsButtonLightActiveColor: rgba($iconAsButtonLightColor, 0.7);
$iconAsButtonGrayColor: $grayPrimary;
$iconAsButtonGrayActiveColor: rgba($iconAsButtonGrayColor, 0.7);
$iconAsButtonGraySecondaryColor: $graySecondary;
$iconAsButtonGraySecondaryActiveColor: rgba($iconAsButtonGraySecondaryColor, 0.7);
$iconAsButtonGrayLightColor: $graySecondaryLight;
$iconAsButtonGrayLightActiveColor: rgba($iconAsButtonGrayLightColor, 0.7);
$iconAsButtonDarkColor: $black;
$iconAsButtonDarkActiveColor: rgba($iconAsButtonDarkColor, 0.7);
$iconAsButtonMintColor: $mintPrimary;
$iconAsButtonMintActiveColor: rgba($iconAsButtonMintColor, 0.7);
$iconAsButtonPeachColor: $peachPrimary;
$iconAsButtonPeachActiveColor: rgba($iconAsButtonPeachColor, 0.7);
$iconAsButtonMustardColor: $mustardPrimary;
$iconAsButtonMustardActiveColor: rgba($iconAsButtonMustardColor, 0.7);
$iconAsButtonLavenderColor: $lavenderPrimary;
$iconAsButtonLavenderActiveColor: rgba($iconAsButtonLavenderColor, 0.7);
$iconAsButtonActionColor: $white;
$iconAsButtonTransparentColor: rgba($iconAsButtonDarkColor, 0.2);
$iconAsButtonNavyBlueColor: $navybluePrimary;
$iconAsButtonNavyBlueActiveColor: rgba($iconAsButtonNavyBlueColor, 0.7);
$iconAsButtonBlueColor: $bluePrimary;
$iconAsButtonBlueActiveColor: rgba($iconAsButtonBlueColor, 0.7);

$includeHtml: false !default;

@if ($includeHtml) {
  .sg-icon-as-button {
    display: inline-flex;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    overflow: visible;
    fill: $iconAsButtonColor;

    &:hover,
    &:active {
      fill: $iconAsButtonActiveColor;
    }

    &__hole {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
    }

    &--with-border {
      .sg-icon-as-button__hole {
        border: solid $iconAsButtonColor 1px;
        border-radius: 50%;
      }
    }

    &--adaptive {
      fill: inherit;

      &:hover,
      &:active {
        fill: inherit;
      }

      .sg-icon-as-button__hole {
        border-color: inherit;
      }
    }

    &--small {
      .sg-icon-as-button__hole {
        width: 30px;
        height: 30px;
      }
    }

    &--xsmall {
      .sg-icon-as-button__hole {
        width: 24px;
        height: 24px;
      }
    }

    &--xxsmall {
      .sg-icon-as-button__hole {
        width: 16px;
        height: 16px;
      }
    }

    &--light {
      fill: $iconAsButtonLightColor;

      &:hover,
      &:active {
        fill: $iconAsButtonLightActiveColor;
      }

      .sg-icon-as-button__hole {
        border-color: $iconAsButtonLightColor;
      }
    }

    &--gray {
      fill: $iconAsButtonGrayColor;

      &:hover,
      &:active {
        fill: $iconAsButtonGrayActiveColor;
      }

      .sg-icon-as-button__hole {
        border-color: $iconAsButtonGrayColor;
      }
    }

    &--gray-secondary {
      fill: $iconAsButtonGraySecondaryColor;

      &:hover,
      &:active {
        fill: $iconAsButtonGraySecondaryActiveColor;
      }

      .sg-icon-as-button__hole {
        border-color: $iconAsButtonGraySecondaryColor;
      }
    }

    &--gray-light {
      fill: $iconAsButtonGrayLightColor;

      &:hover,
      &:active {
        fill: $iconAsButtonGrayLightActiveColor;
      }

      .sg-icon-as-button__hole {
        border-color: $iconAsButtonGrayLightColor;
      }
    }

    &--dark {
      fill: $iconAsButtonDarkColor;

      &:hover,
      &:active {
        fill: $iconAsButtonDarkActiveColor;
      }

      .sg-icon-as-button__hole {
        border-color: $iconAsButtonDarkColor;
      }
    }

    &--mint {
      fill: $iconAsButtonMintColor;

      &:hover,
      &:active {
        fill: $iconAsButtonMintActiveColor;
      }

      .sg-icon-as-button__hole {
        border-color: $iconAsButtonMintColor;
      }
    }

    &--navy-blue {
      fill: $iconAsButtonNavyBlueColor;

      &:hover,
      &:active {
        fill: $iconAsButtonNavyBlueActiveColor;
      }

      .sg-icon-as-button__hole {
        border-color: $iconAsButtonNavyBlueColor;
      }
    }


    &--blue {
      fill: $iconAsButtonBlueColor;

      &:hover,
      &:active {
        fill: $iconAsButtonBlueActiveColor;
      }

      .sg-icon-as-button__hole {
        border-color: $iconAsButtonBlueColor;
      }
    }

    &--mustard {
      fill: $iconAsButtonMustardColor;

      &:hover,
      &:active {
        fill: $iconAsButtonMustardActiveColor;
      }

      .sg-icon-as-button__hole {
        border-color: $iconAsButtonMustardColor;
      }
    }

    &--lavender {
      fill: $iconAsButtonLavenderColor;

      &:hover,
      &:active {
        fill: $iconAsButtonLavenderActiveColor;
      }

      .sg-icon-as-button__hole {
        border-color: $iconAsButtonLavenderColor;
      }
    }

    &--peach {
      fill: $iconAsButtonPeachColor;

      &:hover,
      &:active {
        fill: $iconAsButtonPeachActiveColor;
      }

      .sg-icon-as-button__hole {
        border-color: $iconAsButtonPeachColor;
      }
    }

    &--action {
      transition: background 0.3s ease-out, fill 0.3s ease-out;
      border-radius: 50%;

      &:hover {
        background: $iconAsButtonColor;
        fill: $iconAsButtonActionColor;

        &.sg-icon-as-button--gray {
          background: $iconAsButtonGrayColor;
        }

        &.sg-icon-as-button--gray-secondary {
          background: $iconAsButtonGraySecondaryColor;
        }

        &.sg-icon-as-button--gray-light {
          background: $iconAsButtonGrayLightColor;
        }

        &.sg-icon-as-button--dark {
          background: $iconAsButtonDarkColor;
        }

        &.sg-icon-as-button--mint {
          background: $iconAsButtonMintColor;
        }

        &.sg-icon-as-button--peach {
          background: $iconAsButtonPeachColor;
        }

        &.sg-icon-as-button--mustard {
          background: $iconAsButtonMustardColor;
        }

        &.sg-icon-as-button--lavender {
          background: $iconAsButtonLavenderColor;
        }
      }
    }

    &--transparent {
      transition: background 0.3s ease-out, fill 0.3s ease-out;
      border-radius: 50%;

      &:hover {
        fill: $iconAsButtonColor;
        background: $iconAsButtonTransparentColor;
      }

      &.sg-icon-as-button--light {
        fill: $iconAsButtonLightColor;
      }

      &.sg-icon-as-button--mint {
        fill: $iconAsButtonMintColor;
      }

      &.sg-icon-as-button--peach {
        fill: $iconAsButtonPeachColor;
      }

      &.sg-icon-as-button--mustard {
        fill: $iconAsButtonMustardColor;
      }

      &.sg-icon-as-button--lavender {
        fill: $iconAsButtonLavenderColor;
      }
    }

    &--action-active {
      background: $iconAsButtonColor;
      fill: $iconAsButtonActionColor;
      border-radius: 50%;

      &:hover {
        fill: $iconAsButtonActionColor;
      }

      &.sg-icon-as-button--adaptive {
        fill: inherit;
        background: inherit;
      }

      &.sg-icon-as-button--gray {
        background: $iconAsButtonGrayColor;
      }

      &.sg-icon-as-button--gray-secondary {
        background: $iconAsButtonGraySecondaryColor;
      }

      &.sg-icon-as-button--gray-light {
        background: $iconAsButtonGrayLightColor;
      }

      &.sg-icon-as-button--dark {
        background: $iconAsButtonDarkColor;
      }

      &.sg-icon-as-button--mint {
        background: $iconAsButtonMintColor;
      }

      &.sg-icon-as-button--peach {
        background: $iconAsButtonPeachColor;
      }

      &.sg-icon-as-button--light {
        fill: $iconAsButtonColor;
        background: $iconAsButtonActionColor;
      }

      &.sg-icon-as-button--mustard {
        background: $iconAsButtonMustardColor;
      }

      &.sg-icon-as-button--lavender {
        background: $iconAsButtonLavenderColor;
      }
    }

    &--transparent-active {
      fill: $iconAsButtonColor;
      background: $iconAsButtonTransparentColor;

      &.sg-icon-as-button--adaptive {
        fill: inherit;
      }

      &.sg-icon-as-button--gray {
        fill: $iconAsButtonGrayColor;
      }

      &.sg-icon-as-button--gray-secondary {
        fill: $iconAsButtonGraySecondaryColor;
      }

      &.sg-icon-as-button--gray-light {
        fill: $iconAsButtonGrayLightColor;
      }

      &.sg-icon-as-button--dark {
        fill: $iconAsButtonDarkColor;
      }

    }
  }
}
