%svg-common {
	background: url($mintImagesPath + 'subjects-icons.svg') no-repeat;
}

.mint-subject-icon--administration {
	@extend %svg-common;
	background-position: 14.285714285714286% 0;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--agricultural {
	@extend %svg-common;
	background-position: 0 71.42857142857143%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--algebra {
	@extend %svg-common;
	background-position: 0 14.285714285714286%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--all {
	@extend %svg-common;
	background-position: 14.285714285714286% 14.285714285714286%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--arabic {
	@extend %svg-common;
	background-position: 28.571428571428573% 0;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--art {
	@extend %svg-common;
	background-position: 28.571428571428573% 14.285714285714286%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--artmusic {
	@extend %svg-common;
	background-position: 0 28.571428571428573%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--belarus {
	@extend %svg-common;
	background-position: 14.285714285714286% 28.571428571428573%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--biology {
	@extend %svg-common;
	background-position: 28.571428571428573% 28.571428571428573%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--business {
	@extend %svg-common;
	background-position: 42.857142857142854% 0;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--catala {
	@extend %svg-common;
	background-position: 42.857142857142854% 14.285714285714286%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--chemistry {
	@extend %svg-common;
	background-position: 42.857142857142854% 28.571428571428573%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--chinese {
	@extend %svg-common;
	background-position: 0 42.857142857142854%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--egzam {
	@extend %svg-common;
	background-position: 14.285714285714286% 42.857142857142854%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--english {
	@extend %svg-common;
	background-position: 28.571428571428573% 42.857142857142854%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--ethics {
	@extend %svg-common;
	background-position: 42.857142857142854% 42.857142857142854%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--euskara {
	@extend %svg-common;
	background-position: 57.142857142857146% 0;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--french {
	@extend %svg-common;
	background-position: 57.142857142857146% 14.285714285714286%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--galego {
	@extend %svg-common;
	background-position: 57.142857142857146% 28.571428571428573%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--geography {
	@extend %svg-common;
	background-position: 57.142857142857146% 42.857142857142854%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--geology {
	@extend %svg-common;
	background-position: 0 57.142857142857146%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--geometry {
	@extend %svg-common;
	background-position: 14.285714285714286% 57.142857142857146%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--german {
	@extend %svg-common;
	background-position: 28.571428571428573% 57.142857142857146%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--grammar {
	@extend %svg-common;
	background-position: 42.857142857142854% 57.142857142857146%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--health {
	@extend %svg-common;
	background-position: 57.142857142857146% 57.142857142857146%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--history {
	@extend %svg-common;
	background-position: 71.42857142857143% 0;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--informatics {
	@extend %svg-common;
	background-position: 71.42857142857143% 14.285714285714286%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--italian {
	@extend %svg-common;
	background-position: 71.42857142857143% 28.571428571428573%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--japanese {
	@extend %svg-common;
	background-position: 71.42857142857143% 42.857142857142854%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--kazach {
	@extend %svg-common;
	background-position: 71.42857142857143% 57.142857142857146%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--korean {
	@extend %svg-common;
	background-position: 0 0;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--language {
	@extend %svg-common;
	background-position: 14.285714285714286% 71.42857142857143%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--latin {
	@extend %svg-common;
	background-position: 28.571428571428573% 71.42857142857143%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--law {
	@extend %svg-common;
	background-position: 42.857142857142854% 71.42857142857143%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--life-science {
	@extend %svg-common;
	background-position: 57.142857142857146% 71.42857142857143%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--literature {
	@extend %svg-common;
	background-position: 71.42857142857143% 71.42857142857143%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--logic {
	@extend %svg-common;
	background-position: 85.71428571428571% 0;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--mathematics {
	@extend %svg-common;
	background-position: 85.71428571428571% 14.285714285714286%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--music {
	@extend %svg-common;
	background-position: 85.71428571428571% 28.571428571428573%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--otherlanguages {
	@extend %svg-common;
	background-position: 85.71428571428571% 42.857142857142854%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--others {
	@extend %svg-common;
	background-position: 85.71428571428571% 57.142857142857146%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--pedagogics {
	@extend %svg-common;
	background-position: 85.71428571428571% 71.42857142857143%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--philosophy {
	@extend %svg-common;
	background-position: 0 85.71428571428571%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--physical_education {
	@extend %svg-common;
	background-position: 14.285714285714286% 85.71428571428571%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--physics {
	@extend %svg-common;
	background-position: 28.571428571428573% 85.71428571428571%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--politics {
	@extend %svg-common;
	background-position: 42.857142857142854% 85.71428571428571%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--psychology {
	@extend %svg-common;
	background-position: 57.142857142857146% 85.71428571428571%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--religion {
	@extend %svg-common;
	background-position: 71.42857142857143% 85.71428571428571%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--russian {
	@extend %svg-common;
	background-position: 85.71428571428571% 85.71428571428571%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--science {
	@extend %svg-common;
	background-position: 100% 0;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--skills {
	@extend %svg-common;
	background-position: 100% 14.285714285714286%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--social {
	@extend %svg-common;
	background-position: 100% 28.571428571428573%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--sociology {
	@extend %svg-common;
	background-position: 100% 42.857142857142854%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--spanish {
	@extend %svg-common;
	background-position: 100% 57.142857142857146%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--statistics {
	@extend %svg-common;
	background-position: 100% 71.42857142857143%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--technology {
	@extend %svg-common;
	background-position: 100% 85.71428571428571%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--tourism {
	@extend %svg-common;
	background-position: 0 100%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--trafic {
	@extend %svg-common;
	background-position: 14.285714285714286% 100%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--ukrainian {
	@extend %svg-common;
	background-position: 28.571428571428573% 100%;
	width: 64px;
	height: 64px;
}

.mint-subject-icon--wos {
	@extend %svg-common;
	background-position: 42.857142857142854% 100%;
	width: 64px;
	height: 64px;
}

