.mint-subject-icon {
  display: inline-block;
  &--medium {
    background-size: 256px auto;
    height: 32px;
    width: 32px;
  }
  &--small {
    background-size: 192px auto;
    height: 24px;
    width: 24px;
  }
}
