<section class="docs-block">
    <div class="docs-block__content docs-block__contrast-box">
        <ul class="icons-list">
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--administration"></i>
                <span class="icons-list__element-info">- mint-subject-icon--administration</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--agricultural"></i>
                <span class="icons-list__element-info">- mint-subject-icon--agricultural</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--algebra"></i>
                <span class="icons-list__element-info">- mint-subject-icon--algebra</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--all"></i>
                <span class="icons-list__element-info">- mint-subject-icon--all</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--arabic"></i>
                <span class="icons-list__element-info">- mint-subject-icon--arabic</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--art"></i>
                <span class="icons-list__element-info">- mint-subject-icon--art</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--artmusic"></i>
                <span class="icons-list__element-info">- mint-subject-icon--artmusic</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--belarus"></i>
                <span class="icons-list__element-info">- mint-subject-icon--belarus</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--biology"></i>
                <span class="icons-list__element-info">- mint-subject-icon--biology</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--business"></i>
                <span class="icons-list__element-info">- mint-subject-icon--business</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--catala"></i>
                <span class="icons-list__element-info">- mint-subject-icon--catala</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--chemistry"></i>
                <span class="icons-list__element-info">- mint-subject-icon--chemistry</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--chinese"></i>
                <span class="icons-list__element-info">- mint-subject-icon--chinese</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--egzam"></i>
                <span class="icons-list__element-info">- mint-subject-icon--egzam</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--english"></i>
                <span class="icons-list__element-info">- mint-subject-icon--english</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--ethics"></i>
                <span class="icons-list__element-info">- mint-subject-icon--ethics</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--euskara"></i>
                <span class="icons-list__element-info">- mint-subject-icon--euskara</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--french"></i>
                <span class="icons-list__element-info">- mint-subject-icon--french</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--galego"></i>
                <span class="icons-list__element-info">- mint-subject-icon--galego</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--geography"></i>
                <span class="icons-list__element-info">- mint-subject-icon--geography</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--geology"></i>
                <span class="icons-list__element-info">- mint-subject-icon--geology</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--geometry"></i>
                <span class="icons-list__element-info">- mint-subject-icon--geometry</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--german"></i>
                <span class="icons-list__element-info">- mint-subject-icon--german</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--grammar"></i>
                <span class="icons-list__element-info">- mint-subject-icon--grammar</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--health"></i>
                <span class="icons-list__element-info">- mint-subject-icon--health</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--history"></i>
                <span class="icons-list__element-info">- mint-subject-icon--history</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--informatics"></i>
                <span class="icons-list__element-info">- mint-subject-icon--informatics</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--italian"></i>
                <span class="icons-list__element-info">- mint-subject-icon--italian</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--japanese"></i>
                <span class="icons-list__element-info">- mint-subject-icon--japanese</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--kazach"></i>
                <span class="icons-list__element-info">- mint-subject-icon--kazach</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--korean"></i>
                <span class="icons-list__element-info">- mint-subject-icon--korean</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--language"></i>
                <span class="icons-list__element-info">- mint-subject-icon--language</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--latin"></i>
                <span class="icons-list__element-info">- mint-subject-icon--latin</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--law"></i>
                <span class="icons-list__element-info">- mint-subject-icon--law</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--life-science"></i>
                <span class="icons-list__element-info">- mint-subject-icon--life-science</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--literature"></i>
                <span class="icons-list__element-info">- mint-subject-icon--literature</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--logic"></i>
                <span class="icons-list__element-info">- mint-subject-icon--logic</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--mathematics"></i>
                <span class="icons-list__element-info">- mint-subject-icon--mathematics</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--music"></i>
                <span class="icons-list__element-info">- mint-subject-icon--music</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--otherlanguages"></i>
                <span class="icons-list__element-info">- mint-subject-icon--otherlanguages</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--others"></i>
                <span class="icons-list__element-info">- mint-subject-icon--others</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--pedagogics"></i>
                <span class="icons-list__element-info">- mint-subject-icon--pedagogics</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--philosophy"></i>
                <span class="icons-list__element-info">- mint-subject-icon--philosophy</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--physical-education"></i>
                <span class="icons-list__element-info">- mint-subject-icon--physical-education</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--physics"></i>
                <span class="icons-list__element-info">- mint-subject-icon--physics</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--politics"></i>
                <span class="icons-list__element-info">- mint-subject-icon--politics</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--psychology"></i>
                <span class="icons-list__element-info">- mint-subject-icon--psychology</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--religion"></i>
                <span class="icons-list__element-info">- mint-subject-icon--religion</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--russian"></i>
                <span class="icons-list__element-info">- mint-subject-icon--russian</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--science"></i>
                <span class="icons-list__element-info">- mint-subject-icon--science</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--skills"></i>
                <span class="icons-list__element-info">- mint-subject-icon--skills</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--social"></i>
                <span class="icons-list__element-info">- mint-subject-icon--social</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--sociology"></i>
                <span class="icons-list__element-info">- mint-subject-icon--sociology</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--spanish"></i>
                <span class="icons-list__element-info">- mint-subject-icon--spanish</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--statistics"></i>
                <span class="icons-list__element-info">- mint-subject-icon--statistics</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--technology"></i>
                <span class="icons-list__element-info">- mint-subject-icon--technology</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--tourism"></i>
                <span class="icons-list__element-info">- mint-subject-icon--tourism</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--trafic"></i>
                <span class="icons-list__element-info">- mint-subject-icon--trafic</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--ukrainian"></i>
                <span class="icons-list__element-info">- mint-subject-icon--ukrainian</span>
            </li>
            <li class="icons-list__element icons-list__element--wide">
                <i class="mint-subject-icon mint-subject-icon--wos"></i>
                <span class="icons-list__element-info">- mint-subject-icon--wos</span>
            </li>
        </ul>
    </div>
</section>
