<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Medium</h3>
    </aside>
    <div class="docs-block__content docs-block__contrast-box">
        {% for item in site.data.subjects %}
            <svg class="mint-subject-icon mint-subject-icon--medium"><use xlink:href="images/subjects-icons.svg#{{ item }}"></use></svg>
        {% endfor %}
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Small</h3>
    </aside>
    <div class="docs-block__content docs-block__contrast-box">
        {% for item in site.data.subjects %}
            <svg class="mint-subject-icon mint-subject-icon--small"><use xlink:href="images/subjects-icons.svg#{{ item }}"></use></svg>
        {% endfor %}
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Subject icon box</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-subject-icon-box">
            <svg class="mint-subject-icon"><use xlink:href="images/subjects-icons.svg#life-science"></use></svg>
        </div>
        <div class="mint-subject-icon-box">
            <svg class="mint-subject-icon mint-subject-icon--medium"><use xlink:href="images/subjects-icons.svg#life-science"></use></svg>
        </div>
        <div class="mint-subject-icon-box">
            <svg class="mint-subject-icon mint-subject-icon--small"><use xlink:href="images/subjects-icons.svg#life-science"></use></svg>
        </div>
        <br/>

        <div class="mint-subject-icon-box mint-subject-icon-box--darker">
            <svg class="mint-subject-icon"><use xlink:href="images/subjects-icons.svg#life-science"></use></svg>
        </div>
        <div class="mint-subject-icon-box mint-subject-icon-box--darker">
            <svg class="mint-subject-icon mint-subject-icon--medium"><use xlink:href="images/subjects-icons.svg#life-science"></use></svg>
        </div>
        <div class="mint-subject-icon-box mint-subject-icon-box--darker">
            <svg class="mint-subject-icon mint-subject-icon--small"><use xlink:href="images/subjects-icons.svg#life-science"></use></svg>
        </div>
    </div>
</section>
