$checkboxWidth: 16px;
$checkboxMargin: 4px;

.sg-checkbox-new {
  @include component();

  &--disabled {
    opacity: 0.45;
    cursor: not-allowed;
    pointer-events: none;
  }

  &__wrapper {
    cursor: pointer;
    display: flex;
    flex-direction: row;

    &:hover .sg-checkbox-new__icon {
      border: 2px solid $gray-50;
    }
  }

  &__element,
  &__icon {
    width: $checkboxWidth;
    height: $checkboxWidth;
    margin: $checkboxMargin;
  }

  &__element {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;

    &:focus {
      & + .sg-checkbox-new__icon {
        border-color: $gray-50;
        outline: 2px solid $blue-40;
        outline-offset: 2px;
      }
    }

    &:checked,
    &:indeterminate {
      & + .sg-checkbox-new__icon {
        border-color: $black;
        background: $black;
      }

      &[aria-invalid] + .sg-checkbox-new__icon {
        border-color: $red-50;
        background-color: $red-50;
      }
    }
  }

  &__icon {
    position: relative;
    display: inline-block;
    min-width: $checkboxWidth;
    border: 2px solid $gray-40;
    border-radius: $borderRadiusSmall;
    fill: $white;

    svg {
      position: absolute;
      left: -2px;
      top: -2px;
    }
  }

  &__label {
    margin-left: 8px;
  }

  .sg-error-message {
    display: block;
    margin-left: $checkboxMargin;
  }
}
