$dialogSmallPadding: spacing(m);
$dialogMediumPadding: spacing(l);
$dialogOffsetForCloseButton: 48px;
$dialogBoxShadow: $shadowLarge;
$dialogOverlayBackgroundColor: rgba(0, 0, 0, 0.3);

$dialogSlideWindowDistance: 32px;
$dialogSlideFullscreenSmallDistance: 88px;
$dialogSlideFullscreenMediumDistance: 132px;

$dialogMaxWidthMap: (
  's': 392px,
  'm': 600px,
  'l': 808px,
  'xl': 1016px,
);

.sg-dialog {
  &__overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-property: background-color;
    transition-duration: $durationQuick2;
    transition-timing-function: $easingLinear;
    background-color: transparent;

    @include sgResponsive(md) {
      display: grid;
      grid-template-rows: 1fr [dialog-row-start] auto [dialog-row-end] 1fr;
      padding: spacing(m);
    }

    &--open {
      background-color: $dialogOverlayBackgroundColor;
    }

    &--scroll {
      overflow: auto;
    }

    &--space-top {
      grid-template-rows: [dialog-row-start] auto [dialog-row-end] 1fr;

      .sg-dialog-top {
        display: none;
      }
    }

    &--fullscreen {
      padding: 0;
      display: flex;
      flex-direction: column;

      .sg-dialog-left,
      .sg-dialog-right,
      .sg-dialog-top,
      .sg-dialog-bottom {
        display: none;
      }
    }

    @each $sizeName, $maxWidth in $dialogMaxWidthMap {
      &--size-#{$sizeName} {
        grid-template-columns:
          1fr [dialog-column-start] minmax(0, $maxWidth)
          [dialog-column-end] 1fr;
      }
    }
  }

  &__overlay-body {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  &-bottom {
    display: none;
    grid-row-start: dialog-row-end;
    grid-column-start: 1;
    grid-column-end: 4;
    position: relative;

    @include sgResponsive(md) {
      display: block;
    }
  }

  &-left {
    display: none;
    grid-row-start: dialog-row-start;
    position: relative;

    @include sgResponsive(md) {
      display: block;
    }
  }

  &-right {
    display: none;
    grid-row-start: dialog-row-end;
    grid-row-start: dialog-row-start;
    position: relative;

    @include sgResponsive(md) {
      display: block;
    }
  }

  &-top {
    display: none;
    grid-row-end: dialog-row-start;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: auto;
    position: relative;

    @include sgResponsive(md) {
      display: block;
    }
  }

  &__container {
    grid-row-start: dialog-row-start;
    grid-row-end: dialog-row-end;
    grid-column-start: dialog-column-start;
    grid-column-end: dialog-column-end;
    display: flex;
    flex: auto;
    flex-direction: column;
    position: relative;
    background-color: $white;
    border-radius: $borderRadiusDefault $borderRadiusDefault 0 0;
    box-shadow: $dialogBoxShadow;
    width: 100%;
    margin-top: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    transition-property: transform, opacity;
    transition-duration: $durationModerate2, $durationQuick2;
    transition-timing-function: $easingExit, $easingLinear;
    transform: translate3d(0, $dialogSlideWindowDistance, 0);
    opacity: 0;

    @include sgResponsive(md) {
      border-radius: $borderRadiusDefault;
      margin-bottom: auto;
    }

    &--size-fullscreen {
      transition-duration: $durationGentle2, $durationQuick2;
      transform: translate3d(0, $dialogSlideFullscreenSmallDistance, 0);
      border-radius: 0;
      box-shadow: none;
      max-width: 100%;
      min-height: 100%;

      @include sgResponsive(md) {
        transform: translate3d(0, $dialogSlideFullscreenMediumDistance, 0);
      }
    }

    &--scroll {
      overflow: auto;
      max-height: 100%;
    }

    &--exiting,
    &--reduce-motion {
      transform: translate3d(0, 0, 0);
    }

    @media screen and (prefers-reduced-motion: reduce) {
      transform: translate3d(0, 0, 0);
    }

    &--open {
      transition-timing-function: $easingEntry, $easingLinear;
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  &__header {
    padding-top: $dialogSmallPadding;
    padding-left: $dialogSmallPadding;
    padding-right: $dialogOffsetForCloseButton;

    @include sgResponsive(md) {
      padding-top: $dialogMediumPadding;
      padding-left: $dialogMediumPadding;
      padding-right: $dialogOffsetForCloseButton;
    }
  }

  &__body {
    overflow: auto;
    padding: $dialogSmallPadding;
    position: relative;

    @include sgResponsive(md) {
      padding: $dialogMediumPadding;
    }
  }

  &__header + &__body {
    padding-top: 0;
  }

  &__close-button {
    margin: spacing(xs);
    position: absolute;
    top: 0;
    right: 0;
  }
}
