<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Standard</h3>
  </aside>
  <div class="docs-block__content">
    <div class="docs-block__contrast-box">

      <div class="sg-media">
        <div class="sg-media__aside">

          <div class="sg-avatar">

            <div class="sg-avatar__image sg-avatar__image--icon">

              <svg class="sg-icon sg-icon--x32 sg-icon--gray-secondary">
                <use xlink:href="#icon-profile"></use>
              </svg>

            </div>

          </div>
        </div>
        <div class="sg-media__wrapper">
          <div class="sg-media__content">
      <span class="sg-link sg-link--gray sg-link--emphasised">

        The Goat

      </span>
          </div>
          <div class="sg-media__content">

            <span>Master </span>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Clickable</h3>
  </aside>
  <div class="docs-block__content">
    <div class="docs-block__contrast-box">

      <div class="sg-media sg-media--clickable">
        <div class="sg-media__aside">

          <div class="sg-avatar">

            <div class="sg-avatar">
              <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
            </div>

          </div>
        </div>
        <div class="sg-media__wrapper">
          <div class="sg-media__content">
      <span class="sg-link sg-link--gray sg-link--emphasised">

        The Goat

      </span>
          </div>
          <div class="sg-media__content">

            <span>Master </span>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>

