<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Standard</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-footer">
            <div class="sg-footer__container">
                <div class="sg-footer__logo sg-hide-for-medium-up">
                    <div class="sg-logo sg-logo--small">
                      <img class="sg-logo__image" src="images/logos/brainly.svg" />
                    </div>
                </div>
                <div class="sg-footer__line">
                    line
                </div>
                <div class="sg-footer__line">
                    line
                </div>
                <div class="sg-footer__line">
                    line
                </div>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Full</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-footer">
            <div class="sg-footer__container">
                <div class="sg-footer__logo sg-hide-for-medium-up">
                    <div class="sg-logo sg-logo--small">
                      <img class="sg-logo__image" src="images/logos/brainly.svg" />
                    </div>
                </div>
                <div class="sg-footer__line">
                    <ul class="sg-breadcrumb-list sg-breadcrumb-list--for-fine-print-light">
                        <li class="sg-breadcrumb-list__element">
                            <a href="#"
                               class="sg-link sg-link--for-fine-print-light sg-link--emphasised">
                                Regulamin
                            </a>
                        </li>
                        <li class="sg-breadcrumb-list__element">
                            <a href="#"
                               class="sg-link sg-link--for-fine-print-light sg-link--emphasised">
                                Kontakt
                            </a>
                        </li>
                        <li class="sg-breadcrumb-list__element">
                            <a href="#"
                               class="sg-link sg-link--for-fine-print-light sg-link--emphasised">
                                Jak zdobyć punkty?
                            </a>
                        </li>
                        <li class="sg-breadcrumb-list__element">
                            <a href="#"
                               class="sg-link sg-link--for-fine-print-light sg-link--emphasised">
                                O nas
                            </a>
                        </li>
                        <li class="sg-breadcrumb-list__element">
                            <a href="#"
                               class="sg-link sg-link--for-fine-print-light sg-link--emphasised">
                                Kariera
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sg-footer__line">
                    <ul class="sg-breadcrumb-list sg-breadcrumb-list--for-fine-print">
                        <li class="sg-breadcrumb-list__element">
                            <span class="sg-text--emphasised">
                                United States:
                                <a class="sg-link sg-link--for-fine-print-light" href="#"
                                   target="_blank">
                                    brainly.com
                                </a>
                            </span>
                        </li>
                        <li class="sg-breadcrumb-list__element">
                            <span class="sg-text--emphasised">
                                Poland:
                                <a class="sg-link sg-link--for-fine-print-light" href="#"
                                   target="_blank">
                                    zadane.pl
                                </a>
                            </span>
                        </li>
                        <li class="sg-breadcrumb-list__element">
                            <span class="sg-text--emphasised">
                                Russia/Ukraine:
                                <a class="sg-link sg-link--for-fine-print-light" href="#"
                                   target="_blank">
                                    znanija.com
                                </a>
                            </span>
                        </li>
                        <li class="sg-breadcrumb-list__element">
                            <span class="sg-text--emphasised">
                                Latam:
                                <a class="sg-link sg-link--for-fine-print-light" href="#"
                                   target="_blank">
                                    brainly.lat
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="sg-footer__line">
                    <span class="sg-text sg-text--obscure sg-text--for-fine-print sg-text--emphasised">
                        Strona korzysta z plików cookie w celu realizacji usług zgodnie z
                        <a href="#" class="sg-link sg-link--for-fine-print-light"> polityką cookie </a>.
                        Możesz określić warunki przechowywania lub dostępu do cookie w Twojej
                        przeglądarce.
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
