<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Standard</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-footer">
            <div class="mint-footer__container">
                <div class="mint-footer__logo mint-hide-for-medium-up">
                    <div class="mint-logo mint-logo--small">
                      <img class="mint-logo__image" src="images/logos/brainly.svg" />
                    </div>
                </div>
                <div class="mint-footer__line">
                    line
                </div>
                <div class="mint-footer__line">
                    line
                </div>
                <div class="mint-footer__line">
                    line
                </div>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Full</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-footer">
            <div class="mint-footer__container">
                <div class="mint-footer__logo mint-hide-for-medium-up">
                    <div class="mint-logo mint-logo--small">
                      <img class="mint-logo__image" src="images/logos/brainly.svg" />
                    </div>
                </div>
                <div class="mint-footer__line">
                    <ul class="mint-breadcrumb-list mint-breadcrumb-list--for-fine-print-light">
                        <li class="mint-breadcrumb-list__element">
                            <a href="#"
                               class="mint-link mint-link--for-fine-print-light mint-link--emphasised">
                                Regulamin
                            </a>
                        </li>
                        <li class="mint-breadcrumb-list__element">
                            <a href="#"
                               class="mint-link mint-link--for-fine-print-light mint-link--emphasised">
                                Kontakt
                            </a>
                        </li>
                        <li class="mint-breadcrumb-list__element">
                            <a href="#"
                               class="mint-link mint-link--for-fine-print-light mint-link--emphasised">
                                Jak zdobyć punkty?
                            </a>
                        </li>
                        <li class="mint-breadcrumb-list__element">
                            <a href="#"
                               class="mint-link mint-link--for-fine-print-light mint-link--emphasised">
                                O nas
                            </a>
                        </li>
                        <li class="mint-breadcrumb-list__element">
                            <a href="#"
                               class="mint-link mint-link--for-fine-print-light mint-link--emphasised">
                                Kariera
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mint-footer__line">
                    <ul class="mint-breadcrumb-list mint-breadcrumb-list--for-fine-print">
                        <li class="mint-breadcrumb-list__element">
                            <span class="mint-text--emphasised">
                                United States:
                                <a class="mint-link mint-link--for-fine-print-light" href="#"
                                   target="_blank">
                                    brainly.com
                                </a>
                            </span>
                        </li>
                        <li class="mint-breadcrumb-list__element">
                            <span class="mint-text--emphasised">
                                Poland:
                                <a class="mint-link mint-link--for-fine-print-light" href="#"
                                   target="_blank">
                                    zadane.pl
                                </a>
                            </span>
                        </li>
                        <li class="mint-breadcrumb-list__element">
                            <span class="mint-text--emphasised">
                                Russia/Ukraine:
                                <a class="mint-link mint-link--for-fine-print-light" href="#"
                                   target="_blank">
                                    znanija.com
                                </a>
                            </span>
                        </li>
                        <li class="mint-breadcrumb-list__element">
                            <span class="mint-text--emphasised">
                                Latam:
                                <a class="mint-link mint-link--for-fine-print-light" href="#"
                                   target="_blank">
                                    brainly.lat
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="mint-footer__line">
                    <span class="mint-text mint-text--obscure mint-text--for-fine-print mint-text--emphasised">
                        Strona korzysta z plików cookie w celu realizacji usług zgodnie z
                        <a href="#" class="mint-link mint-link--for-fine-print-light"> polityką cookie </a>.
                        Możesz określić warunki przechowywania lub dostępu do cookie w Twojej
                        przeglądarce.
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
