<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Standard</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-footer">
            <div class="sg-footer__container">
                <div class="sg-footer__line">
                    line
                </div>
                <div class="sg-footer__line">
                    line
                </div>
                <div class="sg-footer__line">
                    line
                </div>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Full light</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-footer">
      <div class="sg-footer__container">
        <div class="sg-footer__line">
          <div class="sg-text sg-text--emphasised sg-text--for-fine-print sg-text--small">
            <ul class="sg-breadcrumb-list sg-breadcrumb-list--adaptive">
              <li class="sg-breadcrumb-list__element">
                <a href="#"
                   class="sg-text sg-text--gray">
                  Regulamin
                </a>
              </li>
              <li class="sg-breadcrumb-list__element">
                <a href="#"
                   class="sg-text sg-text--gray">
                  Kontakt
                </a>
              </li>
              <li class="sg-breadcrumb-list__element">
                <a href="#"
                   class="sg-text sg-text--gray">
                  Jak zdobyć punkty?
                </a>
              </li>
              <li class="sg-breadcrumb-list__element">
                <a href="#"
                   class="sg-text sg-text--gray">
                  O nas
                </a>
              </li>
              <li class="sg-breadcrumb-list__element">
                <a href="#"
                   class="sg-text sg-text--gray">
                  Kariera
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="sg-footer__line">
          <div class="sg-text sg-text--emphasised sg-text--small">
            <ul class="sg-breadcrumb-list sg-breadcrumb-list--adaptive">
              <li class="sg-breadcrumb-list__element">
                              <span class="sg-text sg-text--small">
                                United States:
                              </span>
                <a class="sg-link" href="#"
                   target="_blank">
                  brainly.com
                </a>
              </li>
              <li class="sg-breadcrumb-list__element">
                              <span class="sg-text sg-text--small">
                                Poland:
                              </span>
                <a class="sg-link" href="#"
                   target="_blank">
                  brainly.pl
                </a>
              </li>
              <li class="sg-breadcrumb-list__element">
                              <span class="sg-text sg-text--small">
                                Russia/Ukraine:
                              </span>
                <a class="sg-link" href="#"
                   target="_blank">
                  znanija.com
                </a>
              </li>
              <li class="sg-breadcrumb-list__element">
                              <span class="sg-text sg-text--small">
                                  Latam:
                              </span>
                <a class="sg-link" href="#"
                   target="_blank">
                  brainly.lat
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="sg-footer__line">
            <span class="sg-text sg-text--obscure sg-text--gray sg-text--emphasised">
                Strona korzysta z plików cookie w celu realizacji usług zgodnie z
                <a href="#" class="sg-link"> polityką cookie </a>.
                Możesz określić warunki przechowywania lub dostępu do cookie w Twojej
                przeglądarce.
            </span>
        </div>
      </div>
    </div>
  </div>
</section>
