$includeHtml: false !default;

@if ($includeHtml) {

  .sg-search {
    @include component();
    overflow: visible;
    width: 100%;

    &__icon {
      transition: fill 0.3s ease-out;
      position: absolute;
      top: 0;
      bottom: 0;
      left: gutter(0.5);
      display: flex;
      align-items: center;
      fill: $white;
    }

    &__input:focus + &__icon {
      fill: $graySecondary;
    }
  }

  // Normalize adds -webkit-appearance: textfield and that changes styling for iOS

  // sass-lint:disable no-qualifying-elements, no-vendor-prefixes
  input[type='search'].sg-search__input {
    -webkit-appearance: none;
  }
}
