
$includeHtml: false !default;

@if ($includeHtml) {

  .mint-search {
    @include component;
    overflow: visible;
    width: 100%;

    &__button {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 6px;
      display: flex;
      align-items: center;
      padding-right: gutter(1 / 4);
    }
  }

}
