<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Standard</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-search">
            <input type="search" placeholder="Find all the answers..."
                   class="mint-input mint-input--full mint-input--transparent-border mint-input--with-small-icon"/>

            <div class="mint-search__button">
                <button class="mint-icon-as-button mint-icon-as-button--small mint-icon-search" type="submit">Submit
                </button>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Hero</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-search">
            <input type="search" placeholder="Find all the answers..."
                   class="mint-input mint-input--full mint-input--subtle-border mint-input--large mint-input--with-icon"/>

            <div class="mint-search__button">
                <button class="mint-icon-as-button mint-icon-search" type="submit">Submit
                </button>
            </div>
        </div>
    </div>
</section>
