<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Standard</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-search">
            <input type="search" placeholder="Find all the answers..."
                   class="sg-input sg-input--full-width sg-input--with-icon"/>
            <div class="sg-search__icon">
              <svg class="sg-icon sg-icon--gray-secondary sg-icon--adaptive sg-icon--x18">
                <use xlink:href="#icon-search"></use>
              </svg>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Hero</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-search">
            <input type="search" placeholder="Find all the answers..."
                   class="sg-input sg-input--full-width sg-input--large sg-input--with-icon"/>

            <div class="sg-search__icon">
              <svg class="sg-icon sg-icon--gray-secondary sg-icon--adaptive sg-icon--x18">
                <use xlink:href="#icon-search"></use>
              </svg>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Small alt</h3>
    </aside>
    <div class="docs-block__content">
        <div class="docs-block__contrast-box docs-block__contrast-box--full-width">
            <div class="sg-search">
                <input type="search" placeholder="Find all the answers..."
                       class="sg-search__input sg-input--with-icon sg-input sg-input--light sg-input--full-width"/>

                <div class="sg-search__icon">
                    <svg class="sg-icon sg-icon--adaptive sg-icon--x18">
                      <use xlink:href="#icon-search"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Standard no border</h3>
  </aside>
  <div class="docs-block__content">
    <div class="docs-block__contrast-box docs-block__contrast-box--full-width" style="background: #f0f3f5">
      <div class="sg-search">
        <input type="search" placeholder="Find all the answers..."
               class="sg-search__input sg-input--with-icon sg-input sg-input--light-alt sg-input--full-width sg-input--no-border"/>

        <div class="sg-search__icon">
          <svg class="sg-icon sg-icon--gray-secondary sg-icon--adaptive sg-icon--x18">
            <use xlink:href="#icon-search"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
