.sg-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: componentSize(xs);
  border-radius: 6px;
  padding: spacing(xs);
  cursor: default;
  max-width: 100%;

  &__icon {
    margin-right: spacing(xs);
  }

  &__text {
    position: relative;
    top: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--closable {
    padding: spacing(xs) spacing(xxs) spacing(xs) spacing(xs);
  }

  &__close-button {
    background: none;
    border: none;
    padding: 0;
    margin-left: 6px;
  }

  &--transparent {
    padding-left: 0;
    padding-right: 0;
  }

  &--black {
    background-color: $black;
  }

  &--white {
    background-color: $white;
  }

  &--blue-primary {
    background-color: $blue-40;
  }

  &--mint-primary {
    background-color: $green-40;
  }

  &--lavender-primary {
    background-color: $indigo-40;
  }

  &--peach-primary {
    background-color: $red-40;
  }

  &--mustard-primary {
    background-color: $yellow-40;
  }

  &--gray-secondary {
    background-color: $graySecondary;
  }

  &--blue-secondary-light {
    background-color: $blue-20;
  }

  &--mint-secondary-light {
    background-color: $green-20;
  }

  &--lavender-secondary-light {
    background-color: $indigo-20;
  }

  &--peach-secondary-light {
    background-color: $red-20;
  }

  &--mustard-secondary-light {
    background-color: $yellow-20;
  }

  &--gray-secondary-light {
    background-color: $graySecondaryLightest;
  }
}
