$labelPrimaryColor: $black;
$labelSecondaryColor: $grayPrimary;
$labelInactiveColor: $grayAlt;
$labelFont: $fontFamilySecondary;
$labelFontSizePrimary: 12px;
$labelFontSizeSecondary: 10px;
$labelIconSizePrimary: 16px;
$labelIconSizeSecondary: 14px;
$labelHeight: $defaultComponentHeight;
$labelScaleFactor: 2 / 3;

$includeHtml: false !default;

@mixin labelFromIcon($name) {
  &--#{$name}:before {
    // scss-lint:disable PlaceholderInExtend
    @extend .mint-icon-#{$name}:before;
    display: block;
  }
}

@if ($includeHtml) {

  .mint-label {
    @include component;
    overflow: visible;
    display: flex;
    align-items: center;
    min-height: $labelHeight;

    &__text,
    &__number {
      @include fixText($labelFontSizePrimary, 2px);
      display: block;
      vertical-align: middle;
      color: $labelPrimaryColor;
      font-family: $labelFont;
      text-transform: uppercase;
      margin-right: $layoutDefaultPadding / 4;

      &:last-child {
        margin-right: 0;
      }
    }

    &__text {
      margin-right: $layoutDefaultPadding / 2;
      overflow: hidden;
    }

    &__icon {
      @include labelFromIcon(answering);
      @include labelFromIcon(answered);
      @include labelFromIcon(arrow_down);
      @include labelFromIcon(arrow_left);
      @include labelFromIcon(arrow_right);
      @include labelFromIcon(arrow_up);
      @include labelFromIcon(attachment);
      @include labelFromIcon(bold);
      @include labelFromIcon(check);
      @include labelFromIcon(comment);
      @include labelFromIcon(equation);
      @include labelFromIcon(excellent);
      @include labelFromIcon(fb);
      @include labelFromIcon(friends);
      @include labelFromIcon(heart);
      @include labelFromIcon(logo);
      @include labelFromIcon(menu);
      @include labelFromIcon(messages);
      @include labelFromIcon(notifications);
      @include labelFromIcon(pencil);
      @include labelFromIcon(profile);
      @include labelFromIcon(report_flag);
      @include labelFromIcon(search);
      @include labelFromIcon(star);
      @include labelFromIcon(stream);
      @include labelFromIcon(symbols);
      font-size: $labelIconSizePrimary;
      display: block;
      vertical-align: middle;
      margin-right: $layoutDefaultPadding / 4;

      &:last-child {
        margin-right: 0;
      }

      &--heart {
        color: $peachPrimary;
      }

      &--comment {
        color: $lavenderPrimary;
      }

      &--star,
      &--excellent {
        color: $mustardPrimary;
      }
    }

    &--secondary {
      .mint-label__text,
      .mint-label__number {
        color: $labelSecondaryColor;
      }
    }

    &--inactive {
      .mint-label__text,
      .mint-label__number {
        color: $labelInactiveColor;
      }
    }

    &--full-width {
      width: 100%;

      .mint-label__text {
        text-overflow: ellipsis;
        max-width: 100%;
      }
    }

    &--small {
      min-height: $labelScaleFactor * $labelHeight;

      .mint-label__text,
      .mint-label__number {
        @include fixText($labelFontSizeSecondary);
        margin-right: $labelScaleFactor * $layoutDefaultPadding / 4;

        &:last-child {
          margin-right: 0;
        }
      }

      .mint-label__text {
        margin-right: $labelScaleFactor * $layoutDefaultPadding / 2;
      }

      .mint-label__icon {
        margin-right: $labelScaleFactor * $layoutDefaultPadding / 4;
        font-size: $labelIconSizeSecondary;
      }
    }
  }

}

