<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Default</h3>
    </aside>

    <div class="docs-block__content">
        <div class="mint-label mint-label--emphasised">
            <div class="mint-label__icon">
                <svg class="mint-icon mint-icon--x16 mint-icon--mustard">
                    <use xlink:href="#icon-excellent"></use>
                </svg>
            </div>
            <div class="mint-label__text">Mark as brainliest</div>
        </div>
        <div class="mint-label mint-label--emphasised mint-label--secondary">
            <div class="mint-label__icon">
                <svg class="mint-icon mint-icon--x16 mint-icon--lavender">
                    <use xlink:href="#icon-comment"></use>
                </svg>
            </div>
            <div class="mint-label__text">Comment</div>
            <div class="mint-label__number">21</div>
        </div>
        <div class="mint-label mint-label--emphasised mint-label--secondary">
            <div class="mint-label__icon">
                <svg class="mint-icon mint-icon--x16 mint-icon--peach">
                    <use xlink:href="#icon-heart"></use>
                </svg>
            </div>
            <div class="mint-label__text">Thank you</div>
            <div class="mint-label__number">21</div>
        </div>
        <div class="mint-label mint-label--emphasised mint-label--inactive">
            <div class="mint-label__text">Inactive label</div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Small</h3>
    </aside>

    <div class="docs-block__content">
        <div class="mint-label mint-label--emphasised mint-label--small">
            <div class="mint-label__icon">
                <svg class="mint-icon mint-icon--x14 mint-icon--mustard">
                    <use xlink:href="#icon-excellent"></use>
                </svg>
            </div>
            <div class="mint-label__text">Mark as brainliest</div>
        </div>
        <div class="mint-label mint-label--emphasised mint-label--secondary mint-label--small">
            <div class="mint-label__icon">
                <svg class="mint-icon mint-icon--x14 mint-icon--lavender">
                    <use xlink:href="#icon-comment"></use>
                </svg>
            </div>
            <div class="mint-label__text">Comment</div>
            <div class="mint-label__number">21</div>
        </div>
        <div class="mint-label mint-label--emphasised mint-label--secondary mint-label--small">
            <div class="mint-label__icon">
                <svg class="mint-icon mint-icon--x14 mint-icon--peach">
                    <use xlink:href="#icon-heart"></use>
                </svg>
            </div>
            <div class="mint-label__text">Thank you</div>
            <div class="mint-label__number">21</div>
        </div>
        <div class="mint-label mint-label--emphasised mint-label--inactive mint-label--small">
            <div class="mint-label__text">Inactive label</div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Large</h3>
    </aside>

    <div class="docs-block__content">
        <div class="mint-label mint-label--large">
            <div class="mint-label__icon">
                <svg class="mint-icon mint-icon--mustard">
                    <use xlink:href="#icon-excellent"></use>
                </svg>
            </div>
            <div class="mint-label__text">Mark as brainliest</div>
        </div>
        <div class="mint-label mint-label--secondary mint-label--large">
            <div class="mint-label__icon">
                <svg class="mint-icon mint-icon--lavender">
                    <use xlink:href="#icon-comment"></use>
                </svg>
            </div>
            <div class="mint-label__text">Comment</div>
            <div class="mint-label__number">21</div>
        </div>
        <div class="mint-label mint-label--secondary mint-label--large">
            <div class="mint-label__icon">
                <svg class="mint-icon mint-icon--peach">
                    <use xlink:href="#icon-heart"></use>
                </svg>
            </div>
            <div class="mint-label__text">Thank you</div>
            <div class="mint-label__number">21</div>
        </div>
        <div class="mint-label mint-label--inactive mint-label--large">
            <div class="mint-label__text">Inactive label</div>
        </div>
    </div>
</section>
