<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Default</h3>
    </aside>

    <div class="docs-block__content">
        <div class="mint-label">
            <div class="mint-label__icon mint-label__icon--excellent"></div>
            <div class="mint-label__text">Mark as best</div>
        </div>
        <div class="mint-label mint-label--secondary">
            <div class="mint-label__icon mint-label__icon--comment"></div>
            <div class="mint-label__text">Comment</div>
            <div class="mint-label__number">21</div>
        </div>
        <div class="mint-label mint-label--secondary">
            <div class="mint-label__icon mint-label__icon--heart"></div>
            <div class="mint-label__text">Thank you</div>
            <div class="mint-label__number">21</div>
        </div>
        <div class="mint-label mint-label--alt">
            <div class="mint-label__text">Alternative label</div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Small</h3>
    </aside>

    <div class="docs-block__content">
        <div class="mint-label mint-label--small">
            <div class="mint-label__icon mint-label__icon--excellent"></div>
            <div class="mint-label__text">Mark as best</div>
        </div>
        <div class="mint-label mint-label--secondary mint-label--small">
            <div class="mint-label__icon mint-label__icon--comment"></div>
            <div class="mint-label__text">Comment</div>
            <div class="mint-label__number">21</div>
        </div>
        <div class="mint-label mint-label--secondary mint-label--small">
            <div class="mint-label__icon mint-label__icon--heart"></div>
            <div class="mint-label__text">Thank you</div>
            <div class="mint-label__number">21</div>
        </div>
        <div class="mint-label mint-label--alt mint-label--small">
            <div class="mint-label__text">Alternative label</div>
        </div>
    </div>
</section>
