<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Default</h3>
    </aside>

    <div class="docs-block__content">
        <div class="sg-label">
          <div class="sg-label__icon">
            <svg class="sg-icon sg-icon--x16 sg-icon--gray">
              <use xlink:href="#icon-search"></use>
            </svg>
          </div>
          <div class="sg-label__text">Default label</div>
        </div>
        <div class="sg-label sg-label--unstyled">
          <div class="sg-label__icon">
            <svg class="sg-icon sg-icon--x16 sg-icon--lavender">
              <use xlink:href="#icon-pencil"></use>
            </svg>
          </div>
          <div class="sg-label__text">Unstyled label</div>
        </div>
        <div class="sg-label sg-label--emphasised">
            <div class="sg-label__icon">
                <svg class="sg-icon sg-icon--x16 sg-icon--mustard">
                    <use xlink:href="#icon-excellent"></use>
                </svg>
            </div>
            <div class="sg-label__text">Mark as brainliest</div>
        </div>
        <div class="sg-label sg-label--emphasised sg-label--secondary">
            <div class="sg-label__icon">
                <svg class="sg-icon sg-icon--x16 sg-icon--lavender">
                    <use xlink:href="#icon-comment"></use>
                </svg>
            </div>
            <div class="sg-label__text">Comment</div>
            <div class="sg-label__number">21</div>
        </div>
        <div class="sg-label sg-label--emphasised sg-label--secondary">
            <div class="sg-label__icon">
                <svg class="sg-icon sg-icon--x16 sg-icon--peach">
                    <use xlink:href="#icon-heart"></use>
                </svg>
            </div>
            <div class="sg-label__text">Thank you</div>
            <div class="sg-label__number">21</div>
        </div>
        <div class="sg-label sg-label--emphasised sg-label--inactive">
            <div class="sg-label__text">Inactive label</div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Small</h3>
    </aside>

    <div class="docs-block__content">
        <div class="sg-label sg-label--emphasised sg-label--small">
            <div class="sg-label__icon">
                <svg class="sg-icon sg-icon--x14 sg-icon--mustard">
                    <use xlink:href="#icon-excellent"></use>
                </svg>
            </div>
            <div class="sg-label__text">Mark as brainliest</div>
        </div>
        <div class="sg-label sg-label--emphasised sg-label--secondary sg-label--small">
            <div class="sg-label__icon">
                <svg class="sg-icon sg-icon--x14 sg-icon--lavender">
                    <use xlink:href="#icon-comment"></use>
                </svg>
            </div>
            <div class="sg-label__text">Comment</div>
            <div class="sg-label__number">21</div>
        </div>
        <div class="sg-label sg-label--emphasised sg-label--secondary sg-label--small">
            <div class="sg-label__icon">
                <svg class="sg-icon sg-icon--x14 sg-icon--peach">
                    <use xlink:href="#icon-heart"></use>
                </svg>
            </div>
            <div class="sg-label__text">Thank you</div>
            <div class="sg-label__number">21</div>
        </div>
        <div class="sg-label sg-label--emphasised sg-label--inactive sg-label--small">
            <div class="sg-label__text">Inactive label</div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Large</h3>
    </aside>

    <div class="docs-block__content">
        <div class="sg-label sg-label--large">
            <div class="sg-label__icon">
                <svg class="sg-icon sg-icon--mustard">
                    <use xlink:href="#icon-excellent"></use>
                </svg>
            </div>
            <div class="sg-label__text">Mark as brainliest</div>
        </div>
        <div class="sg-label sg-label--secondary sg-label--large">
            <div class="sg-label__icon">
                <svg class="sg-icon sg-icon--lavender">
                    <use xlink:href="#icon-comment"></use>
                </svg>
            </div>
            <div class="sg-label__text">Comment</div>
            <div class="sg-label__number">21</div>
        </div>
        <div class="sg-label sg-label--secondary sg-label--large">
            <div class="sg-label__icon">
                <svg class="sg-icon sg-icon--peach">
                    <use xlink:href="#icon-heart"></use>
                </svg>
            </div>
            <div class="sg-label__text">Thank you</div>
            <div class="sg-label__number">21</div>
        </div>
        <div class="sg-label sg-label--inactive sg-label--large">
            <div class="sg-label__text">Inactive label</div>
        </div>
    </div>
</section>
