$overlayBackgroundColor: rgba($bluePrimary, 0.9);
$includeHtml: false !default;

@if ($includeHtml) {

  .sg-overlay {
    background-color: $overlayBackgroundColor;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: $overlayZIndex;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    // sass-lint:disable no-misspelled-properties
    -webkit-overflow-scrolling: touch; // it fixes an issue with scrolling on iOS browsers
    // sass-lint:enable no-misspelled-properties

    &--partial {
      position: absolute;
    }
  }

}
