.sg-card-new {
  display: block;
  position: relative;
  width: var(--card-width, auto);
  height: var(--card-height, auto);
  border-radius: 8px;
  border: 2px solid #e1eaf1;

  transition: transform $durationModerate2 $easingRegular;

  &:active:not([disabled]) {
    transform: scale(0.98);
  }

  &:hover {
    border-color: #46535f;
  }
}

.sg-card-new__input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.sg-card-new__indicator {
  position: absolute;

  & input {
    display: none;
  }

  &--top-left {
    top: 0;
    left: 0;
  }
  &--center-left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  &--bottom-left {
    bottom: 0;
    left: 0;
  }
  &--top-right {
    top: 0;
    right: 0;
  }
  &--center-right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  &--bottom-right {
    bottom: 0;
    right: 0;
  }
}
