.sg-card {
  display: block;
  position: relative;
  width: var(--card-width, auto);
  height: var(--card-height, auto);
  border-radius: 8px;
  border: 2px solid #e1eaf1;

  transition: transform $durationModerate2 $easingRegular;

  &:active:not([disabled]) {
    transform: scale(0.98);
  }

  &:hover {
    border-color: #46535f;
  }
}

.sg-card__input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.sg-card__indicator {
  position: absolute;
  top: 0;
  left: 0;
}
