$bubbleBackground: $white;
$bubbleBorderColor: $grayLight;
$bubbleBoxShadow: $defaultBottomShadow;

$borderSize: 1px;
$triangleSize: gutter(0.5);
$innerTriangleSize: 10px;     // hand-picked value, checked against basic font-size changes, scales 11px - 30px
$innerTriangleOffset: -20px;  // hand-picked value, checked against basic font-size changes, scales 11px - 30px

$includeHtml: false !default;

@if ($includeHtml) {

  .sg-bubble {
    background: $bubbleBackground;
    border: $borderSize solid $bubbleBorderColor;
    border-radius: $borderRadiusDefault;
    box-shadow: $bubbleBoxShadow;
    padding: gutter(0.5) gutter(1);
    position: relative;

    &::before {
      content: '';
      border: $triangleSize solid transparent;
      border-bottom-color: $bubbleBorderColor;
      position: absolute;
      top: -(2 * $triangleSize);
      right: 0;
      left: 0;
      width: 0;
      margin: 0 auto;
    }

    &::after {
      content: '';
      border: $innerTriangleSize solid transparent;
      border-bottom-color: $bubbleBackground;
      position: absolute;
      top: $innerTriangleOffset;
      right: 0;
      left: 0;
      width: 0;
      margin: 0 auto;
    }

    &--full-and-grow {
      min-height: 100%;
      width: 100%;
    }

    &--full {
      height: 100%;
      width: 100%;
    }

    &--to-right {

      &::before {
        right: gutter(1);
        left: auto;
      }

      &::after {
        right: (gutter(1) + $triangleSize - $innerTriangleSize);
        left: auto;
      }
    }

    &--to-left {

      &::before {
        right: auto;
        left: gutter(1);
      }

      &::after {
        left: (gutter(1) + $triangleSize - $innerTriangleSize);
        right: auto;
      }
    }
  }
}
