$bubbleBackground: $white;
$bubbleBackgroundDark: $graySecondaryLight;
$bubbleBorderColor: $graySecondary;
$bubbleBorderRadius: 10px;
$bubbleBoxShadow: $defaultBottomShadow;

$borderSize: 1px;
$triangleSize: rhythm(0.5);
$innerTriangleSize: 10px;     // hand-picked value, checked against basic font-size changes, scales 11px - 30px
$innerTriangleOffset: -20px;  // hand-picked value, checked against basic font-size changes, scales 11px - 30px

$includeHtml: false !default;

@if ($includeHtml) {

  .sg-bubble {
    @include component;
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: rhythm(3);
    overflow: visible;
    background: $bubbleBackground;
    border: $borderSize solid $bubbleBorderColor;
    border-radius: $bubbleBorderRadius;
    box-shadow: $bubbleBoxShadow;
    padding: (gutter(0.5) - $borderSize) gutter(0.5)  (gutter(0.5) - $borderSize) gutter(1);
    margin-bottom: rhythm(1);

    &::before {
      content: '';
      border: $triangleSize solid transparent;
      border-bottom-color: $bubbleBorderColor;
      position: absolute;
      top: -(2 * $triangleSize);
      right: 0;
      left: 0;
      width: 0;
      margin: 0 auto;
    }

    &::after {
      content: '';
      border: $innerTriangleSize solid transparent;
      border-bottom-color: $bubbleBackground;
      position: absolute;
      top: $innerTriangleOffset;
      right: 0;
      left: 0;
      width: 0;
      margin: 0 auto;
    }

    &__hole {
      margin: rhythm(0.5) gutter(0.5) rhythm(0.5) 0;

      &--full {
        height: 100%;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
      }

      &--no-v-spacing {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &--dark {
      border-color: $bubbleBackgroundDark;
      background: $bubbleBackgroundDark;

      &::before {
        border-bottom-color: $bubbleBackgroundDark;
      }

      &::after {
        border-bottom-color: $bubbleBackgroundDark;
      }
    }

    &--full-width {
      width: 100%;

      .sg-bubble__hole {
        width: 100%;
      }
    }

    &--full {
      height: 100%;
      width: 100%;

      .sg-bubble__hole {
        width: 100%;
        overflow: hidden;
      }
    }

    &--full-and-grow {
      min-height: 100%;
      width: 100%;

      .sg-bubble__hole {
        width: 100%;
        overflow: hidden;
      }
    }

    &--no-spacing {
      margin: 0;
    }

    &--to-right {

      &::before {
        right: rhythm(1);
        left: auto;
      }

      &::after {
        right: gutter(1) + $innerTriangleSize / 2;
        left: auto;
      }
    }

  }

}
