$bubbleBackground: $white;
$bubbleBackgroundDark: $graySecondaryLight;
$bubbleBorderColor: $graySecondary;
$bubbleBorderRadius: 10px;
$bubbleBoxShadow: $defaultBottomShadow;

$borderSize: rhythm(0.125);
$triangleSize: rhythm(0.5);
$innerTriangleSize: rhythm(0.366);     // hand-picked value, checked against basic font-size changes, scales 11px - 30px
$innerTriangleOffset: rhythm(-0.666);  // hand-picked value, checked against basic font-size changes, scales 11px - 30px

$includeHtml: false !default;

@if ($includeHtml) {

  .mint-bubble {
    @include component;
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: rhythm(3);
    overflow: visible;
    background: $bubbleBackground;
    border: $borderSize solid $bubbleBorderColor;
    border-radius: $bubbleBorderRadius;
    box-shadow: $bubbleBoxShadow;
    padding: (rhythm(0.5) - $borderSize) gutter(0.5)  (rhythm(0.5) - $borderSize) gutter(1);
    margin-bottom: rhythm(1);

    &:before {
      content: '';
      border: $triangleSize solid transparent;
      border-bottom-color: $bubbleBorderColor;
      position: absolute;
      top: -(2 * $triangleSize);
      right: 0;
      left: 0;
      width: 0;
      margin: 0 auto;
    }

    &:after {
      content: '';
      border: $innerTriangleSize solid transparent;
      border-bottom-color: $bubbleBackground;
      position: absolute;
      top: $innerTriangleOffset;
      right: 0;
      left: 0;
      width: 0;
      margin: 0 auto;
    }

    &__hole {
      margin: rhythm(0.5) gutter(0.5) rhythm(0.5) 0;
    }

    &--dark {
      border-color: $bubbleBackgroundDark;
      background: $bubbleBackgroundDark;

      &:before {
        border-bottom-color: $bubbleBackgroundDark;
      }

      &:after {
        border-bottom-color: $bubbleBackgroundDark;
      }
    }
  }

}
