<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Standard top</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-bubble sg-bubble--top">
      Hi there!!<br/>
      Just wondering if you have any problems with your school work.
    </div>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Standard top - start</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-bubble sg-bubble--top sg-bubble--row-start">
      Hi there!!<br/>
      Just wondering if you have any problems with your school work.
    </div>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">left side arrow</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-bubble sg-bubble--left">
      Hi there!!<br/>
      Just wondering if you have any problems with your school work.
    </div>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Full and grow</h3>
  </aside>
  <div class="docs-block__content">
    <div style="width: 300px;min-height: 200px">
      <div class="sg-bubble sg-bubble--full-and-grow">
        Hi there!! Just wondering if you have any problems with your school work.
        We've got plenty of people who can help you here :)
        Also, my last question was answered in less than 10 minutes :D
        Anyway, you can just go ahead and try for yourself.
      </div>
    </div>
  </div>
</section>



<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Full and grow + left-start</h3>
  </aside>
  <div class="docs-block__content">
    <div style="width: 300px;min-height: 200px">
      <div class="sg-bubble sg-bubble--full-and-grow sg-bubble--left sg-bubble--column-start">
        Hi there!! Just wondering if you have any problems with your school work.
        We've got plenty of people who can help you here :)
        Also, my last question was answered in less than 10 minutes :D
        Anyway, you can just go ahead and try for yourself.
      </div>
    </div>
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Example usage</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-bubble">
      <div class="sg-bubble__hole">
        <div class="sg-content-box">
          <div class="sg-content-box__header">
            <div class="sg-avatar">
              <img class="sg-avatar__image" src="https://source.unsplash.com/64x64/?man">
            </div>
            <ul class="sg-breadcrumb-list">
              <li class="sg-breadcrumb-list__element">
                <a class="sg-link sg-link--gray" href="#">Katie</a>
              </li>
              <li class="sg-breadcrumb-list__element">
                <a class="sg-link sg-link--gray" href="#">a few seconds ago</a>
              </li>
            </ul>
          </div>
          <div class="sg-content-box__content">
            <div class="sg-text">
              Hi there!! Just wondering if you have any problems with your school work. We've got plenty of people who
              can help you here :) Also, my last question was answered in less than 10 minutes :D Anyway, you can just
              go ahead and try for yourself.
            </div>
          </div>
          <div class="sg-content-box__actions">
            <button class="sg-button-secondary sg-button-secondary--alt">
                Join us!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
