<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Standard</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-bubble">
            <div class="mint-bubble__hole">
                Bla bla some awesome cool text
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Dark</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-bubble mint-bubble--dark">
            <div class="mint-bubble__hole">
                Bla bla some awesome cool text
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Example usage</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-bubble">
            <div class="mint-bubble__hole">
                Hi there!!
                <br>
                Just wondering if you have any problems with your school work.
                <br>
                <br>
                We've got plenty of people who can help you here :)
                <br>Also, my last question was answered in less than 10 minutes :D
                <br>Anyway, you can just go ahead and try for yourself.
            </div>
        </div>

        <div class="mint-bubble mint-bubble--dark">
            <div class="mint-bubble__hole">
                Bla bla some awesome cool text
                <br>
                <br>
                with multiple lines
            </div>
            <div class="mint-bubble__hole">
                Bla bla some awesome cool text
            </div>
            <div class="mint-bubble__hole">
                Bla bla some awesome cool text
            </div>
        </div>

        <div class="mint-bubble">
            <div class="mint-bubble__hole">
                <div class="mint-content-box mint-content-box">
                    <div class="mint-content-box__header">
                        <div class="mint-avatar">
                            <img class="mint-avatar__image" src="http://lorempixel.com/64/64/">
                        </div>
                        <ul class="mint-breadcrumb-list">
                            <li class="mint-breadcrumb-list__element">
                                <a class="mint-link mint-link--gray" href="#">Katie</a>
                            </li>
                            <li class="mint-breadcrumb-list__element">
                                <a class="mint-link mint-link--gray" href="#">a few seconds ago</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mint-content-box__content">
                        <div class="mint-text-description mint-text-description--small">
                            Hi there!! Just wondering if you have any problems with your school work. We've got plenty of people who can help you here :) Also, my last question was answered in less than 10 minutes :D Anyway, you can just go ahead and try for yourself.
                        </div>
                    </div>
                    <div class="mint-content-box__footer">
                        <button class="mint-button-secondary mint-button-secondary--alt-inverse">
                            <div class="mint-button-secondary__hole">
                                Join us!
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
