<article>
    <h2 class="article-header">Bubble</h2>
    <section class="docs-block">
        <aside class="docs-block__info">
            <h3 class="docs-block__header">Standard</h3>
        </aside>
        <div class="docs-block__content">
            <div class="mint-bubble">
                Bla bla some awesome cool text
            </div>
        </div>
    </section>
    <section class="docs-block">
        <aside class="docs-block__info">
            <h3 class="docs-block__header">Dark</h3>
        </aside>
        <div class="docs-block__content">
            <div class="mint-bubble mint-bubble--dark">
                Bla bla some awesome cool text
            </div>
        </div>
    </section>
</article>
