$avatarDefaultBackgroundColor: $grayPrimary;
$avatarDefaultPersonColor: $graySecondary;
$avatarSmallSize: 24px;
$avatarMediumSize: 32px;
$avatarBigSize: 48px;
$avatarSmallBorderWidth: 1px;
$avatarMediumBorderWidth: 1px;
$avatarBigBorderWidth: 2px;
$avatarBorderColor: $white;
$avatarBackgroundColor: $white;


$includeHtml: false !default;

@if ($includeHtml) {

  .mint-avatar {
    // scss-lint:disable PlaceholderInExtend
    @extend .mint-icon-profile;
    // scss-lint:enable PlaceholderInExtend
    @include component;

    width: $avatarMediumSize;
    height: $avatarMediumSize;
    border-radius: 50%;
    background: $avatarDefaultBackgroundColor;

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: $avatarBackgroundColor;
    }

    &:before {
      position: relative;
      top: 4px - $avatarMediumBorderWidth;
      color: $avatarDefaultPersonColor;
      font-size: $avatarMediumSize;
    }

    &--small {
      width: $avatarSmallSize;
      height: $avatarSmallSize;

      &:before {
        top: 3px - $avatarSmallBorderWidth;
        font-size: $avatarSmallSize;
      }
    }

    &--big {
      width: $avatarBigSize;
      height: $avatarBigSize;

      &:before {
        top: 5px - $avatarBigBorderWidth;
        font-size: $avatarBigSize;
      }
    }

    &--with-border {
      border: solid $avatarBorderColor $avatarMediumBorderWidth;
      border-width: $avatarMediumBorderWidth;

      &:before {
        left: -$avatarMediumBorderWidth;
      }
    }

    &--small-with-border {
      @extend .mint-avatar--with-border;
      border-width: $avatarSmallBorderWidth;

      &:before {
        left: -$avatarSmallBorderWidth;
      }
    }

    &--big-with-border {
      @extend .mint-avatar--with-border;
      border-width: $avatarBigBorderWidth;

      &:before {
        left: -$avatarBigBorderWidth;
      }
    }
  }

}
