$avatarDefaultBackgroundColor: $grayPrimary;
$avatarSmallSize: 24px;
$avatarMediumSize: 32px;
$avatarBigSize: 48px;
$avatarXLargeSize: 64px;
$avatarXXLargeSize: 96px;
$avatarXXXLargeSize: 120px;
$avatarSmallBorderWidth: 1px;
$avatarMediumBorderWidth: 1px;
$avatarBigBorderWidth: 1px;
$avatarSpacedMargin: 4px;
$avatarBorderColor: $white;

$includeHtml: false !default;

@if ($includeHtml) {

  .mint-avatar {

    @include component;

    width: $avatarMediumSize;
    height: $avatarMediumSize;
    border-radius: 50%;
    background: $avatarDefaultBackgroundColor;
    // scss-lint:disable VendorPrefix
    // workaround for the Chrome bug - crbug.com/157218
    -webkit-perspective: 1px;
    // scss-lint:enable VendorPrefix

    &__image {
      position: relative;
      height: 100%;
      width: 100%;

      &--icon {
        top: 3px;
      }
    }

    &--small {
      width: $avatarSmallSize;
      height: $avatarSmallSize;

      .mint-avatar__image--icon {
        top: 2px;
      }
    }

    &--large {
      width: $avatarBigSize;
      height: $avatarBigSize;

      .mint-avatar__image--icon {
        top: 5px;
      }
    }

    &--with-border {
      border: solid $avatarBorderColor $avatarMediumBorderWidth;

      &::before {
        left: -$avatarMediumBorderWidth;
      }
    }

    &--small-with-border {
      border: solid $avatarBorderColor $avatarSmallBorderWidth;

      &::before {
        left: -$avatarSmallBorderWidth;
      }
    }

    &--large-with-border {
      border: solid $avatarBorderColor $avatarBigBorderWidth;

      &::before {
        left: -$avatarBigBorderWidth;
      }
    }

    &--xlarge {
      width: $avatarXLargeSize;
      height: $avatarXLargeSize;

      .mint-avatar__image--icon {
        top: 6px;
      }
    }

    &--xxlarge {
      width: $avatarXXLargeSize;
      height: $avatarXXLargeSize;

      .mint-avatar__image--icon {
        top: 8px;
      }
    }

    &--xxxlarge {
      width: $avatarXXXLargeSize;
      height: $avatarXXXLargeSize;

      .mint-avatar__image--icon {
        top: 10px;
      }
    }

    &--spaced {
      margin: 0 $avatarSpacedMargin $avatarSpacedMargin 0;
    }
  }

}
