$avatarDefaultBackgroundColor: $graySecondaryLight;
$avatarSmallSize: 24px;
$avatarMediumSize: 32px;
$avatarBigSize: 48px;
$avatarXLargeSize: 64px;
$avatarXXXLargeSize: 120px;
$avatarSpacedMargin: 4px;
$avatarBorderWidth: 1px;
$avatarBorderColor: $white;

$includeHtml: false !default;

@if ($includeHtml) {

  .sg-avatar {
    display: block;
    position: relative;
    overflow: hidden;

    width: $avatarMediumSize;
    height: $avatarMediumSize;
    border-radius: 50%;
    // workaround for the Chrome bug - crbug.com/157218
    -webkit-perspective: 1px; // sass-lint:disable-line  no-vendor-prefixes

    &__image {
      display: flex;
      position: relative;
      height: 100%;
      width: 100%;

      &--icon {
        background-color: $avatarDefaultBackgroundColor;
      }
    }

    &--small {
      width: $avatarSmallSize;
      height: $avatarSmallSize;
    }

    &--large {
      width: $avatarBigSize;
      height: $avatarBigSize;
    }

    &--xlarge {
      width: $avatarXLargeSize;
      height: $avatarXLargeSize;
    }

    &--xxxlarge {
      width: $avatarXXXLargeSize;
      height: $avatarXXXLargeSize;
    }

    &--with-border {
      border: solid $avatarBorderColor $avatarBorderWidth;
    }

    &--spaced {
      margin: 0 $avatarSpacedMargin $avatarSpacedMargin 0;
    }
  }

}
