<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Default avatars</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-avatar sg-avatar--small">
      <div class="sg-avatar__image sg-avatar__image--icon">
        <svg class="sg-icon sg-icon--x24 sg-icon--gray-secondary">
          <use xlink:href="#icon-profile"></use>
        </svg>
      </div>
    </div>
    <div class="sg-avatar">
      <div class="sg-avatar__image sg-avatar__image--icon">
        <svg class="sg-icon sg-icon--x32 sg-icon--gray-secondary">
          <use xlink:href="#icon-profile"></use>
        </svg>
      </div>
    </div>
    <div class="sg-avatar sg-avatar--large">
      <div class="sg-avatar__image sg-avatar__image--icon">
        <svg class="sg-icon sg-icon--x48 sg-icon--gray-secondary">
          <use xlink:href="#icon-profile"></use>
        </svg>
      </div>
    </div>
    <div class="sg-avatar sg-avatar--xlarge">
      <div class="sg-avatar__image sg-avatar__image--icon">
        <svg class="sg-icon sg-icon--x64 sg-icon--gray-secondary">
          <use xlink:href="#icon-profile"></use>
        </svg>
      </div>
    </div>
    <div class="sg-avatar sg-avatar--xxlarge">
      <div class="sg-avatar__image sg-avatar__image--icon">
        <svg class="sg-icon sg-icon--x96 sg-icon--gray-secondary">
          <use xlink:href="#icon-profile"></use>
        </svg>
      </div>
    </div>
    <div class="sg-avatar sg-avatar--xxxlarge">
      <div class="sg-avatar__image sg-avatar__image--icon">
        <svg class="sg-icon sg-icon--x120 sg-icon--gray-secondary">
          <use xlink:href="#icon-profile"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Default avatars with border!</h3>
  </aside>
  <div class="docs-block__content">
    <div class="docs-block__contrast-box">
      <div class="sg-avatar sg-avatar--small sg-avatar--with-border">
        <div class="sg-avatar__image sg-avatar__image--icon">
          <svg class="sg-icon sg-icon--x22 sg-icon--gray-secondary">
            <use xlink:href="#icon-profile"></use>
          </svg>
        </div>
      </div>
      <div class="sg-avatar sg-avatar--with-border">
        <div class="sg-avatar__image sg-avatar__image--icon">
          <svg class="sg-icon sg-icon--x30 sg-icon--gray-secondary">
            <use xlink:href="#icon-profile"></use>
          </svg>
        </div>
      </div>
      <div class="sg-avatar sg-avatar--large sg-avatar--with-border">
        <div class="sg-avatar__image sg-avatar__image--icon">
          <svg class="sg-icon sg-icon--x46 sg-icon--gray-secondary">
            <use xlink:href="#icon-profile"></use>
          </svg>
        </div>
      </div>
      <div class="sg-avatar sg-avatar--xlarge sg-avatar--with-border">
        <div class="sg-avatar__image sg-avatar__image--icon">
          <svg class="sg-icon sg-icon--x62 sg-icon--gray-secondary">
            <use xlink:href="#icon-profile"></use>
          </svg>
        </div>
      </div>
      <div class="sg-avatar sg-avatar--xxlarge sg-avatar--with-border">
        <div class="sg-avatar__image sg-avatar__image--icon">
          <svg class="sg-icon sg-icon--x94 sg-icon--gray-secondary">
            <use xlink:href="#icon-profile"></use>
          </svg>
        </div>
      </div>
      <div class="sg-avatar sg-avatar--xxxlarge sg-avatar--with-border">
        <div class="sg-avatar__image sg-avatar__image--icon">
          <svg class="sg-icon sg-icon--x118 sg-icon--gray-secondary">
            <use xlink:href="#icon-profile"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Avatars with image</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-avatar sg-avatar--small">
      <img class="sg-avatar__image" src="https://placebear.com/48/48"/>
    </div>
    <div class="sg-avatar">
      <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
    </div>
    <div class="sg-avatar sg-avatar--large">
      <img class="sg-avatar__image" src="https://placebear.com/96/96"/>
    </div>
    <div class="sg-avatar sg-avatar--xlarge">
      <img class="sg-avatar__image" src="https://placebear.com/128/128"/>
    </div>
    <div class="sg-avatar sg-avatar--xxlarge">
      <img class="sg-avatar__image" src="https://placebear.com/182/182"/>
    </div>
    <div class="sg-avatar sg-avatar--xxxlarge">
      <img class="sg-avatar__image" src="https://placebear.com/240/240"/>
    </div>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Avatars with image and border</h3>
  </aside>
  <div class="docs-block__content">
    <div class="docs-block__contrast-box">
      <div class="sg-avatar sg-avatar--small sg-avatar--with-border">
        <img class="sg-avatar__image" src="https://placebear.com/44/44"/>
      </div>
      <div class="sg-avatar sg-avatar--with-border">
        <img class="sg-avatar__image" src="https://placebear.com/60/60"/>
      </div>
      <div class="sg-avatar sg-avatar--large sg-avatar--with-border">
        <img class="sg-avatar__image" src="https://placebear.com/88/88"/>
      </div>
      <div class="sg-avatar sg-avatar--xlarge sg-avatar--with-border">
        <img class="sg-avatar__image" src="https://placebear.com/120/120"/>
      </div>
      <div class="sg-avatar sg-avatar--xxlarge sg-avatar--with-border">
        <img class="sg-avatar__image" src="https://placebear.com/192/192"/>
      </div>
      <div class="sg-avatar sg-avatar--xxxlarge sg-avatar--with-border">
        <img class="sg-avatar__image" src="https://placebear.com/232/232"/>
      </div>
    </div>
  </div>
</section>
