<article>
    <h2 class="article-header">Avatars</h2>
    <section class="docs-block">
        <aside class="docs-block__info">
            <h3 class="docs-block__header">Default avatars</h3>
        </aside>
        <div class="docs-block__content">
            <div class="mint-avatar mint-avatar--small"></div>
            <div class="mint-avatar"></div>
            <div class="mint-avatar mint-avatar--big"></div>
        </div>
    </section>
    <section class="docs-block">
        <aside class="docs-block__info">
            <h3 class="docs-block__header">Avatars with image</h3>
        </aside>
        <div class="docs-block__content">
            <div class="mint-avatar mint-avatar--small">
                <img class="mint-avatar__image mint-avatar__image--small" src="http://lorempixel.com/52/52/"/>
            </div>
            <div class="mint-avatar">
                <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
            </div>
            <div class="mint-avatar mint-avatar--big">
                <img class="mint-avatar__image mint-avatar__image--big" src="http://lorempixel.com/76/76/"/>
            </div>
        </div>
    </section>
    <section class="docs-block">
        <aside class="docs-block__info">
            <h3 class="docs-block__header">Avatars - contrast</h3>
        </aside>
        <div class="docs-block__content">
            <div class="docs-block__contrast-box">
                <div class="mint-avatar mint-avatar--small"></div>
                <div class="mint-avatar"></div>
                <div class="mint-avatar mint-avatar--big"></div>
                <div class="mint-avatar mint-avatar--small">
                    <img class="mint-avatar__image mint-avatar__image--small" src="http://lorempixel.com/52/52/"/>
                </div>
                <div class="mint-avatar">
                    <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                </div>
                <div class="mint-avatar mint-avatar--big">
                    <img class="mint-avatar__image mint-avatar__image--big" src="http://lorempixel.com/76/76/"/>
                </div>
            </div>
        </div>
    </section>
</article>
