<section class="docs-block">
  <div class="docs-block__content">
    <div class="docs-block__content-box">
      <ul class="mint-breadcrumb-list">
        <li class="mint-breadcrumb-list__element">
          <a class="mint-link" href="#">Comments (9)</a>
        </li>
        <li class="mint-breadcrumb-list__element">
          <a class="mint-link" href="#">Report</a>
        </li>
        <li class="mint-breadcrumb-list__element">
          <a class="mint-link" href="#">Follow</a>
        </li>
      </ul>
      <ul class="mint-breadcrumb-list">
        <li class="mint-breadcrumb-list__element">
          <a class="mint-link mint-link--small mint-link--gray mint-link--emphasised" href="#">English</a>
        </li>
        <li class="mint-breadcrumb-list__element">
          <a class="mint-link mint-link--small mint-link--gray" href="#">Katie</a>
        </li>
        <li class="mint-breadcrumb-list__element">
          <span class="mint-link mint-link--small mint-link--gray mint-link--disabled">Answerer</span>
        </li>
      </ul>
      <ul class="mint-breadcrumb-list mint-breadcrumb-list--for-fine-print">
        <li class="mint-breadcrumb-list__element">
          Poland: <a class="mint-link mint-link--small mint-link--for-fine-print-light" href="#">Zadane.pl</a>
        </li>
        <li class="mint-breadcrumb-list__element">
          Russia: <a class="mint-link mint-link--small mint-link--for-fine-print-light" href="#">Znanija.com</a>
        </li>
        <li class="mint-breadcrumb-list__element">
          Latam: <a class="mint-link mint-link--small mint-link--for-fine-print-light">Brainly.lat</a>
        </li>
      </ul>
      <ul class="mint-breadcrumb-list mint-breadcrumb-list--for-fine-print-light">
        <li class="mint-breadcrumb-list__element">
          Poland: <a class="mint-link mint-link--small mint-link--for-fine-print" href="#">Zadane.pl</a>
        </li>
        <li class="mint-breadcrumb-list__element">
          Russia: <a class="mint-link mint-link--small mint-link--for-fine-print" href="#">Znanija.com</a>
        </li>
        <li class="mint-breadcrumb-list__element">
          Latam: <a class="mint-link mint-link--small mint-link--for-fine-print">Brainly.lat</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Short</h3>
  </aside>
  <div class="docs-block__content">
    <ul class="mint-breadcrumb-list mint-breadcrumb-list--short">
      <li class="mint-breadcrumb-list__element">
        <a class="mint-link" href="#">Comments (9)</a>
      </li>
      <li class="mint-breadcrumb-list__element">
        <a class="mint-link" href="#">Report</a>
      </li>
      <li class="mint-breadcrumb-list__element">
        <a class="mint-link" href="#">Follow</a>
      </li>
    </ul>
  </div>
</section>
