<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Default</h3>
  </aside>
  <div class="docs-block__content">
    <ul class="sg-breadcrumb-list">
      <li class="sg-breadcrumb-list__element">
        Comments (9)
      </li>
      <li class="sg-breadcrumb-list__element">
        Report
      </li>
      <li class="sg-breadcrumb-list__element">
        Follow
      </li>
    </ul>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Short</h3>
  </aside>
  <div class="docs-block__content">
    <ul class="sg-breadcrumb-list sg-breadcrumb-list--short">
      <li class="sg-breadcrumb-list__element">
        Comments (9)
      </li>
      <li class="sg-breadcrumb-list__element">
        Report
      </li>
      <li class="sg-breadcrumb-list__element">
        Follow
      </li>
    </ul>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Adaptive</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-text sg-text--mint">
      <ul class="sg-breadcrumb-list sg-breadcrumb-list--adaptive">
        <li class="sg-breadcrumb-list__element">
          Comments (9)
        </li>
        <li class="sg-breadcrumb-list__element">
          Report
        </li>
        <li class="sg-breadcrumb-list__element">
          Follow
        </li>
      </ul>
    </div>
  </div>
</section>
