.sg-tooltip {
    --tooltip-color: var(--black);

    box-shadow: $shadowSmall;
    background-color: var(--tooltip-color);
    padding: 8px 12px;
    border-radius: 6px;

  &--small {
    padding: 2px 8px;
  }

  &__label {
    max-width: 60ch;
    word-break: break-all;
  }
}
