<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Default</h3>
  </aside>

  <div class="docs-block__content">
    <div class="docs-block__contrast-box docs-block__contrast-box--full-width">
      <div class="sg-actions-list">
        <div class="sg-actions-list__hole">
          <button class="sg-button-secondary sg-button-secondary--alt sg-button-secondary--small">
            accept
          </button>
        </div>
        <div class="sg-actions-list__hole">
          <button class="sg-button-primary sg-button-primary--dark-inverse">
            later
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">To right</h3>
  </aside>

  <div class="docs-block__content">
    <div class="docs-block__contrast-box docs-block__contrast-box--full-width">
      <div class="sg-actions-list sg-actions-list--to-right">
        <div class="sg-actions-list__hole">
          <button class="sg-button-secondary sg-button-secondary--alt sg-button-secondary--small">
            accept
          </button>
        </div>
        <div class="sg-actions-list__hole">
          <button class="sg-button-primary sg-button-primary--dark-inverse">
            later
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">To top</h3>
  </aside>

  <div class="docs-block__content">
    <div class="docs-block__contrast-box docs-block__contrast-box--full-width">
      <div class="sg-actions-list sg-actions-list--to-top">

        <div class="sg-actions-list__hole">
          <button class="sg-button-secondary sg-button-secondary--alt sg-button-secondary--small">
            accept
          </button>
        </div>
        <div class="sg-actions-list__hole">
          <button class="sg-button-primary sg-button-primary--dark-inverse">
            later
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Space between</h3>

  </aside>
  <div class="docs-block__content">
    <div class="sg-actions-list sg-actions-list--space-between">

      <div class="sg-actions-list__hole">

        <div class="sg-label">

          <div class="sg-label__icon">
            <svg class="sg-icon sg-icon--x14 sg-icon--gray-secondary ">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-answer"></use>
            </svg>
          </div>

          <div class="sg-text sg-text--obscure sg-text--emphasised sg-text--gray-secondary">
            0/5
          </div>

        </div>

      </div>

      <div class="sg-actions-list__hole">

        <div class="sg-label">

          <div class="sg-label__icon">

            <svg class="sg-icon sg-icon--x14 sg-icon--gray-secondary ">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-counter"></use>
            </svg>
          </div>

          <div class="sg-text sg-text--gray-secondary sg-text--obscure sg-text--emphasised">
            2d : 00h
          </div>
        </div>

      </div>

      <div class="sg-actions-list__hole">

        <button class="sg-button-secondary sg-button-secondary--small sg-button-secondary--alt-inverse" title="Begin this challenge!">
          Start
        </button>
      </div>
    </div>
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">No wrap</h3>
  </aside>

  <div class="docs-block__content">
    <div class="docs-block__contrast-box" style="width: 200px;">
      <div class="sg-actions-list sg-actions-list--no-wrap">

        <div class="sg-actions-list__hole">
          <svg class="sg-icon sg-icon--x24">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-messages"></use>
          </svg>
        </div>
        <div class="sg-actions-list__hole">
          <p class="sg-text sg-text--light">
            Elements in this box will just never wrap
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="docs-block__content">
    <div class="docs-block__contrast-box" style="width: 200px;">
      <div class="sg-actions-list">

        <div class="sg-actions-list__hole">
          <svg class="sg-icon sg-icon--x24">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-messages"></use>
          </svg>
        </div>
        <div class="sg-actions-list__hole">
          <p class="sg-text sg-text--light">
            Default behaviour for elements is to wrap
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
