$boxBorderColor: $graySecondary;
$boxBackgroundDark: $graySecondaryLight;
$boxBorderSize: 1px;

$includeHtml: false !default;

@if ($includeHtml) {
  .sg-box {
    @include component();
    @include hole();
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: rhythm(3);
    border-radius: $borderRadiusDefault;
    border: $boxBorderSize solid $boxBorderColor;
    padding: (gutter(1) - $boxBorderSize);
    overflow: visible;
    background-color: $white;

    &__image {
      max-width: 100%;
      max-height: 100%;
    }

    &--full {
      width: 100%;

      .sg-box__hole {
        width: 100%;
        max-width: 100%;
      }
    }

    &--no-min-height {
      min-height: 0;
    }

    &--no-border {
      border: none;
      padding: rhythm(1) gutter(1);
    }

    &--no-border-small {
      border: none;
      padding: rhythm(1 / 2) gutter(1 / 2);
    }

    &--no-border-large {
      border: none;
      padding: rhythm(2) gutter(2);
    }

    &--with-shadow {
      box-shadow: $containerShadow;
    }

    &--no-border-radius {
      border-radius: 0;
    }

    &--no-padding {
      padding: 0;
    }

    &--small-padding {
      padding: gutter(2 / 3);
    }

    &--xsmall-padding {
      padding: gutter(1 / 2);
    }

    &--xxsmall-padding {
      padding: gutter(1 / 3);
    }

    &--large-padding {
      padding: (gutter(2) - $boxBorderSize);
    }

    &--mint {
      background-color: $mintPrimary;
    }

    &--mint-secondary {
      background-color: $mintSecondary;
    }

    &--mint-secondary-light {
      background-color: $mintSecondaryLight;
    }

    &--mint-secondary-ultra-light {
      background-color: $mintSecondaryUltraLight;
    }

    &--blue {
      background-color: $bluePrimary;
    }

    &--blue-secondary {
      background-color: $blueSecondary;
    }

    &--blue-secondary-light {
      background-color: $blueSecondaryLight;
    }

    &--lavender {
      background-color: $lavenderPrimary;
    }

    &--dark {
      border-color: $boxBackgroundDark;
      background: $boxBackgroundDark;
    }

    &--peach {
      background-color: $peachPrimary;
    }

    &--peach-secondary {
      background-color: $peachSecondary;
    }

    &--peach-secondary-light {
      background-color: $peachSecondaryLight;
    }

    &--mustard-primary {
      background-color: $mustardPrimary;
    }

    &--gray-secondary-lightest {
      background-color: $graySecondaryLightest;
    }

    &--gray-secondary-ultra-light {
      background-color: $graySecondaryUltraLight;
    }

    &--image-wrapper {
      height: rhythm(4);
      width: rhythm(4);
      padding: (gutter(0.5) - $boxBorderSize);
      align-items: center;
      justify-content: center;
    }

    &--message {
      padding: gutter(1);
    }

    &__close {
      display: flex;
      position: absolute;
      right: 0;
      top: 0;
      padding: gutter(1 / 2);
      cursor: pointer;
      z-index: 1;
    }
  }
}
