$boxBorderColor: $graySecondary;
$boxBorderRadius: 22px;
$boxBorderSize: rhythm(0.125);

$includeHtml: false !default;

@if ($includeHtml) {

  .mint-box {
    @include component;
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: rhythm(3);
    border-radius: $boxBorderRadius;
    border: $boxBorderSize solid $boxBorderColor;
    padding: (rhythm(0.5) - $borderSize) gutter(1 / 2) (rhythm(0.5) - $borderSize) gutter(1);

    &__hole {
      margin: rhythm(0.5) gutter(1 / 2)  rhythm(0.5) 0;
    }

    &--full {
      width: 100%;
    }
  }

}
