$boxBorderColor: $graySecondary;
$boxBackgroundDark: $graySecondaryLight;
$boxBorderRadius: 22px;
$boxBorderSize: rhythm(0.125);
$boxBorderSize: rhythm(0.125);
$boxSmallBorderSize: rhythm(2 / 24);

$includeHtml: false !default;

@if ($includeHtml) {

  .mint-box {
    @include component;
    @include hole;
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: rhythm(3);
    border-radius: $boxBorderRadius;
    border: $boxBorderSize solid $boxBorderColor;
    padding: (rhythm(1) - $boxBorderSize) gutter(1);
    overflow: visible;

    &__image {
      max-width: 100%;
      max-height: 100%;
    }

    &--full {
      width: 100%;

      .mint-box__hole {
        width: 100%;
      }
    }

    &--no-border {
      border: none;
      padding: rhythm(1) gutter(1);
    }

    &--small-border {
      border-width: $boxSmallBorderSize;
      padding: (rhythm(0.5) - $boxSmallBorderSize) gutter(0.5) (rhythm(0.5) - $boxSmallBorderSize) gutter(1);
    }

    &--blue-secondary-light {
      background-color: $blueSecondaryLight;
    }

    &--lavender {
      background-color: $lavenderPrimary;
    }

    &--dark {
      border-color: $boxBackgroundDark;
      background: $boxBackgroundDark;
    }

    &--image-wrapper {
      height: rhythm(4);
      width: rhythm(4);
      padding: (rhythm(0.5) - $boxBorderSize);
      align-items: center;
      justify-content: center;
    }
  }

}
