$boxBorderColor: $gray-20;
$boxColorDark: $gray-40;
$boxColorLight: $white;
$boxBorderSize: 2px;

$includeHtml: false !default;

@if ($includeHtml) {
  .sg-box {
    width: 100%;
    border-radius: $borderRadiusDefault;

    &--border {
      border: $boxBorderSize solid $boxBorderColor;
    }

    &--shadow {
      box-shadow: $shadowMedium;
    }

    &--no-border-radius {
      border-radius: 0;
    }

    &--padding-xxs {
      padding: spacing(xxs);
    }

    &--padding-xxs#{&}--border {
      padding: (spacing(xxs) - $boxBorderSize);
    }

    &--padding-xs {
      padding: spacing(xs);
    }

    &--padding-xs#{&}--border {
      padding: (spacing(xs) - $boxBorderSize);
    }

    &--padding-s {
      padding: spacing(s);
    }

    &--padding-s#{&}--border {
      padding: (spacing(s) - $boxBorderSize);
    }

    &--padding-m {
      padding: spacing(m);
    }

    &--padding-m#{&}--border {
      padding: (spacing(m) - $boxBorderSize);
    }

    &--padding-l {
      padding: spacing(l);
    }

    &--padding-l#{&}--border {
      padding: (spacing(l) - $boxBorderSize);
    }

    &--padding-xl {
      padding: spacing(xl);
    }

    &--padding-xl#{&}--border {
      padding: (spacing(xl) - $boxBorderSize);
    }

    &--mint {
      background-color: $green-40;
    }

    &--mint-secondary {
      background-color: $green-30;
    }

    &--mint-secondary-light {
      background-color: $green-20;
    }

    &--mint-secondary-ultra-light {
      background-color: $green-10;
    }

    &--blue {
      background-color: $blue-40;
    }

    &--blue-secondary {
      background-color: $blue-30;
    }

    &--blue-secondary-light {
      background-color: $blue-20;
    }

    &--lavender {
      background-color: $indigo-40;
    }

    &--lavender-secondary-ultra-light {
      background-color: $indigo-10;
    }

    &--lavender-secondary-light {
      background-color: $indigo-20;
    }

    &--dark {
      background: $boxColorDark;
    }

    &--light {
      background: $boxColorLight;
    }

    &--peach {
      background-color: $red-40;
    }

    &--peach-secondary {
      background-color: $red-30;
    }

    &--peach-secondary-light {
      background-color: $red-20;
    }

    &--mustard-primary {
      background-color: $yellow-40;
    }

    &--mustard-secondary-light {
      background-color: $yellow-20;
    }

    &--gray-secondary-lightest {
      background-color: $gray-20;
    }

    &--gray-secondary-ultra-light {
      background-color: $gray-10;
    }

    &--border-color-mint {
      border-color: $green-40;
    }

    &--border-color-mint-secondary {
      border-color: $green-30;
    }

    &--border-color-mint-secondary-light {
      border-color: $green-20;
    }

    &--border-color-mint-secondary-ultra-light {
      border-color: $green-10;
    }

    &--border-color-blue {
      border-color: $blue-40;
    }

    &--border-color-blue-secondary {
      border-color: $blue-30;
    }

    &--border-color-blue-secondary-light {
      border-color: $blue-20;
    }

    &--border-color-lavender {
      border-color: $indigo-40;
    }

    &--border-color-lavender-secondary-ultra-light {
      border-color: $indigo-10;
    }

    &--border-color-lavender-secondary-light {
      border-color: $indigo-20;
    }

    &--border-color-dark {
      border-color: $boxColorDark;
    }

    &--border-color-light {
      border-color: $boxColorLight;
    }

    &--border-color-peach {
      border-color: $red-40;
    }

    &--border-color-peach-secondary {
      border-color: $red-30;
    }

    &--border-color-peach-secondary-light {
      border-color: $red-20;
    }

    &--border-color-mustard-primary {
      border-color: $yellow-40;
    }

    &--border-color-mustard-secondary-light {
      border-color: $yellow-20;
    }

    &--border-color-gray-secondary-lightest {
      border-color: $gray-20;
    }

    &--border-color-gray-secondary-ultra-light {
      border-color: $gray-10;
    }
  }
}
