<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Simple</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-box">
            <div class="mint-box__hole">
                This is a box.
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Dark</h3>
  </aside>
  <div class="docs-block__content">
    <div class="mint-box mint-box--dark">
      <div class="mint-box__hole">
        This is a dark box.
      </div>
    </div>
  </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Image container</h3>
    </aside>
    <div class="docs-block__content docs-block__content--centered">
        <div class="mint-box mint-box--image-wrapper">
            <img class="mint-box__image" src="https://placebear.com/100/100"/>
        </div>
        <div class="mint-box mint-box--image-wrapper">
            <img class="mint-box__image" src="https://placebear.com/50/100"/>
        </div>
        <div class="mint-box mint-box--image-wrapper">
            <img class="mint-box__image" src="https://placebear.com/100/50"/>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Full</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-box mint-box--full">
            <div class="mint-box__hole">
                This is a box.
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Example usage</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-box">
            <div class="mint-box__hole">
                <div class="mint-content-box">
                    <div class="mint-content-box__header">
                        <h3 class="mint-header-secondary">Ask a question about a school subject</h3>
                    </div>
                    <div class="mint-content-box__actions">
                        <button class="mint-button-primary mint-button-primary--full">
                            <div class="mint-button-primary__hole">
                                Ask your question
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
