<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Simple</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-box">
            <div class="sg-box__hole">
                This is a box.
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Dark</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-box sg-box--dark">
      <div class="sg-box__hole">
        This is a dark box.
      </div>
    </div>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Lavender (no-border)</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-box sg-box--no-border sg-box--lavender">
      <div class="sg-box__hole">
        This is a lavender (no-border) box.
      </div>
    </div>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Mint-secondary (no-border)</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-box sg-box--no-border sg-box--mint-secondary">
      <div class="sg-box__hole">
        This is a mint-secondary (no-border) box.
      </div>
    </div>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Blue secondary light (no-border)</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-box sg-box--no-border sg-box--blue-secondary-light">
      <div class="sg-box__hole">
        This is a blue secondary light (no-border) box.
      </div>
    </div>
  </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Image container</h3>
    </aside>
    <div class="docs-block__content docs-block__content--centered">
        <div class="sg-box sg-box--image-wrapper">
            <img class="sg-box__image" src="https://placebear.com/100/100"/>
        </div>
        <div class="sg-box sg-box--image-wrapper">
            <img class="sg-box__image" src="https://placebear.com/50/100"/>
        </div>
        <div class="sg-box sg-box--image-wrapper">
            <img class="sg-box__image" src="https://placebear.com/100/50"/>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Full</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-box sg-box--full">
            <div class="sg-box__hole">
                This is a box.
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">With small padding</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-box sg-box--small-padding">
            <div class="sg-box__hole">
                This is a box with small padding! <br />
                Take a look how cool it is!
            </div>
        </div>
    </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">With large padding</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-box sg-box--large-padding">
      <div class="sg-box__hole">
        This is a box with large padding! <br />
        Take a look how cool it is!
      </div>
    </div>
  </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Example usage</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-box">
            <div class="sg-box__hole">
                <div class="sg-content-box">
                    <div class="sg-content-box__header">
                        <h3 class="sg-header-secondary">Ask a question about a school subject</h3>
                    </div>
                    <div class="sg-content-box__actions">
                        <button class="sg-button-primary sg-button-primary--full">
                            <div class="sg-button-primary__hole">
                                Ask your question
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
