$includeHtml: false !default;

$iconSizes: 120, 118, 96, 94, 64, 62, 48, 46, 38, 32, 30, 26, 24, 22, 20, 18, 16, 14, 10, 8;

// Icon sizes :(
// 120 - avatar xxxlarge
// 118 - avatar xxxlarge with border
// 96 - avatar xxlarge
// 94 - avatar xxlarge with border
// 64 - avatar xlarge
// 62 - avatar xlarge with border
// 48 - avatar large
// 46 - avatar large with border
// 38 - list icons (arrow right)
// 32 - avatar default,
// 30 - avatar default with border,
// 26 - icon as button default,
// 24 - avatar small, label large
// 22 - avatar small with border
// 20 - round button, fb primary button
// 18 - icon as button small, default list
// 16 - label default, rating default
// 14 - label small, rating small, icon as button default with small icon,
// 10 - icon as button small with small icon,
// 8  - select and dropdown arrows, checkbox check,

@if ($includeHtml) {
  .sg-icon {
    fill: $white;
    max-width: 24px;
    max-height: 24px;
    height: 24px;
    width: 24px;

    @each $size in $iconSizes {
      &--x#{$size} {
        max-width: #{$size}px;
        max-height: #{$size}px;
        height: #{$size}px;
        width: #{$size}px;
      }
    }

    &--right-spaced {
      margin-right: gutter(0.5);
    }

    &--adaptive {
      fill: inherit;
    }

    &--gray {
      fill: $grayPrimary;
    }

    &--gray-secondary {
      fill: $graySecondary;
    }

    &--blue {
      fill: $bluePrimary;
    }

    &--mustard {
      fill: $mustardPrimary;
    }

    &--lavender {
      fill: $lavenderPrimary;
    }

    &--peach {
      fill: $peachPrimary;
    }

    &--dark {
      fill: $black;
    }

    &--mint {
      fill: $mintPrimary;
    }
  }
}
