$includeHtml: false !default;

@if ($includeHtml) {
  .mint-icon {
    fill: $white;
    width: 26px;
    height: 26px;

    &--rotate-90 {
      transform: rotate(90deg);
    }

    &--rotate-180 {
      transform: rotate(180deg);
    }

    &--rotate-270 {
      transform: rotate(270deg);
    }

    &--fluid {
      width: 100%;
      height: 100%;
    }

    &--gray-alt {
      fill: $grayAlt;
    }
  }

  @import 'icons-embed';
  @import 'icons-data';
  @import 'icons-transformed';
}
