@mixin iconColor() {
  &--adaptive {
    fill: inherit;
  }

  &--light { //default
    fill: $white;
  }

  &--gray {
    fill: $gray-70;
  }

  &--gray-secondary {
    fill: $gray-50;
  }

  &--gray-light {
    fill: $gray-40;
  }

  &--blue {
    fill: $blue-40;
  }

  &--blue-dark {
    fill: $blue-50;
  }

  &--mustard {
    fill: $yellow-40;
  }

  &--lavender {
    fill: $indigo-40;
  }

  &--peach {
    fill: $red-40;
  }

  &--peach-dark {
    fill: $red-50;
  }

  &--dark {
    fill: $black;
  }

  &--mint {
    fill: $green-40;
  }
}
