<section class="docs-block">
  <div class="docs-block__content docs-block__contrast-box">
    <ul class="icons-list">
      {% for item in site.data.icons %}
      <li class="icons-list__element">
        <svg viewBox="0 0 32 32" class="mint-icon">
          <use xlink:href="#icon-{{ item }}"></use>
        </svg>
        - {{ item }}
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Colors</h3>
  </aside>
  <div class="docs-block__content">
    <ul class="icons-list">
      <li class="icons-list__element">
        <svg viewBox="0 0 32 32" class="mint-icon mint-icon--gray-alt">
          <use xlink:href="#icon-friends"></use>
        </svg>
        - gray-alt
      </li>
      <li class="icons-list__element">
        <svg viewBox="0 0 32 32" class="mint-icon mint-icon--gray-secondary">
          <use xlink:href="#icon-friends"></use>
        </svg>
        - gray-secondary
      </li>
      <li class="icons-list__element">
        <svg viewBox="0 0 32 32" class="mint-icon mint-icon--blue">
          <use xlink:href="#icon-friends"></use>
        </svg>
        - blue
      </li>
      <li class="icons-list__element">
        <svg viewBox="0 0 32 32" class="mint-icon mint-icon--mustard">
          <use xlink:href="#icon-friends"></use>
        </svg>
        - mustard
      </li>
      <li class="icons-list__element">
        <svg viewBox="0 0 32 32" class="mint-icon mint-icon--lavender">
          <use xlink:href="#icon-friends"></use>
        </svg>
        - lavender
      </li>
      <li class="icons-list__element">
        <svg viewBox="0 0 32 32" class="mint-icon mint-icon--peach">
          <use xlink:href="#icon-friends"></use>
        </svg>
        - peach
      </li>
    </ul>
  </div>
</section>
