<section class="docs-block">
    <div class="docs-block__content docs-block__contrast-box">
        <ul class="icons-list">
            {% for item in site.data.icons %}
                <li class="icons-list__element">
                    <svg class="mint-icon"><use xlink:href="../../images/icons.svg#{{ item }}"></use></svg> - {{ item }}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Rotated</h3>
    </aside>
    <div class="docs-block__content docs-block__contrast-box">
        <ul class="icons-list">
            <li class="icons-list__element">
                <svg class="mint-icon mint-icon--rotate-90"><use xlink:href="../../images/icons.svg#arrow_down"></use></svg> - 90deg
            </li>
            <li class="icons-list__element">
                <svg class="mint-icon  mint-icon--rotate-180"><use xlink:href="../../images/icons.svg#arrow_down"></use></svg> - 180deg
            </li>
            <li class="icons-list__element">
                <svg class="mint-icon  mint-icon--rotate-270"><use xlink:href="../../images/icons.svg#arrow_down"></use></svg> - 270deg
            </li>
        </ul>
    </div>
</section>
