<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Default</h3>
  </aside>
  <div class="docs-block__content">
      <div class="mint-flash-messages">
        <div class="mint-flash-messages__message">
          <div class="mint-text mint-text--small mint-text--light">
            I have never seen a code like this before...
          </div>
        </div>
      </div>
    </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Success</h3>
  </aside>
  <div class="docs-block__content">
      <div class="mint-flash-messages">
        <div class="mint-flash-messages__message mint-flash-messages__message--success">
          <div class="mint-text mint-text--small mint-text--light">
            I have never seen a code like this before...
          </div>
        </div>
      </div>
    </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Error</h3>
  </aside>
  <div class="docs-block__content">
    <div class="mint-flash-messages">
      <div class="mint-flash-messages__message mint-flash-messages__message--error">
        <div class="mint-text mint-text--small mint-text--light">
          I have never seen a code like this before...
        </div>
      </div>
    </div>
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Info</h3>
  </aside>
  <div class="docs-block__content">
    <div class="mint-flash-messages">
      <div class="mint-flash-messages__message mint-flash-messages__message--info">
        <div class="mint-text mint-text--small mint-text--light">
          I have never seen a code like this before...
        </div>
      </div>
    </div>
  </div>
</section>

