<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Default</h3>
  </aside>
  <div class="docs-block__content">
      <div class="sg-flash">
        <div class="sg-flash__message">
          <div class="sg-text sg-text--small sg-text--light">
            I have never seen a code like this before...
          </div>
        </div>
      </div>
    </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Success</h3>
  </aside>
  <div class="docs-block__content">
      <div class="sg-flash">
        <div class="sg-flash__message sg-flash__message--success">
          <div class="sg-text sg-text--small sg-text--light">
            I have never seen a code like this before...
          </div>
        </div>
      </div>
    </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Error</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-flash">
      <div class="sg-flash__message sg-flash__message--error">
        <div class="sg-text sg-text--small sg-text--light">
          I have never seen a code like this before...
        </div>
      </div>
    </div>
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Info</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-flash">
      <div class="sg-flash__message sg-flash__message--info">
        <div class="sg-text sg-text--small sg-text--light">
          I have never seen a code like this before...
        </div>
      </div>
    </div>
  </div>
</section>

