$crInputSize: rhythm(2 / 3);
$crInputColor: $white;
$crInputBorderColor: $graySecondaryLight;
$crInputCheckedColor: $grayPrimary;
$crInputActiveColor: rgba($crInputColor, 0.7);

$includeHtml: false !default;

@if ($includeHtml) {

  .sg-checkbox,
  .sg-radio {
    @include component();
    overflow: visible;
    width: $crInputSize;
    height: $crInputSize;
    min-height: $crInputSize;

    &__element {
      opacity: 0;
      position: absolute;
      margin: 0;
      width: $crInputSize;
      height: $crInputSize;
      z-index: 1;
    }

    &__element:checked + &__ghost::before {
      background: $crInputCheckedColor;
    }

    &__element:active + &__ghost::before {
      background: $crInputActiveColor;
    }

    &__ghost {
      background: $crInputColor;
      width: $crInputSize;
      height: $crInputSize;
      box-shadow: 0 0 1px 2px $crInputBorderColor;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &::before {
        content: '';
        background-color: $crInputColor;
        width: $crInputSize / 1.5;
        height: $crInputSize / 1.5;
      }
    }
  }

  .sg-checkbox__ghost {
    border-radius: 25%;

    &::before {
      border-radius: 25%;
    }
  }

  .sg-radio__ghost {
    border-radius: 50%;

    &::before {
      border-radius: 50%;
    }
  }
}
