$crInputSize: 16px;
$crInputColor: $white;
$crInputBorderColor: $graySecondaryLight;
$crInputActiveBorderColor: $bluePrimary;
$crInputCheckedColor: $bluePrimary;
$crRadioCheckedColor: $white;
$crInputActiveColor: rgba($crInputColor, 0.7);
$radioLargeSize: 32px;
$includeHtml: false !default;

@if ($includeHtml) {

  .sg-checkbox,
  .sg-radio {
    @include component();
    overflow: visible;
    width: $crInputSize;
    height: $crInputSize;
    min-height: $crInputSize;

    &__element {
      opacity: 0;
      position: absolute;
      margin: 0;
      width: $crInputSize;
      height: $crInputSize;
      z-index: 1;
    }

    &__element:active + &__ghost {
      border-color: $crInputActiveBorderColor;
    }

    &__ghost {
      background: $crInputColor;
      width: $crInputSize;
      height: $crInputSize;
      border: 2px solid $crInputBorderColor;
      fill: $crInputColor;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  .sg-checkbox {

    &__ghost {
      border-radius: 20%;
    }

    &__element:checked {
      & + .sg-checkbox__ghost {
        border: none;
        background: $crInputCheckedColor;
      }

      &:active + .sg-checkbox__ghost::before {
        color: $crInputActiveColor;
      }
    }
  }

  .sg-radio {
    &__ghost {
      border-radius: 50%;

      &::before {
        content: '';
        border-radius: 50%;
        background-color: $crInputColor;
        width: $crInputSize / 2;
        height: $crInputSize / 2;
      }
    }

    &__element:checked {
      & + .sg-radio__ghost {
        border-color: $crInputCheckedColor;
        background: $crRadioCheckedColor;
      }

      & + .sg-radio__ghost::before {
        background: $crInputCheckedColor;
      }
    }

    &--large {
      width: $radioLargeSize;
      height: $radioLargeSize;
      min-height: $radioLargeSize;
      line-height: $radioLargeSize;

      .sg-radio__element {
        left: 0;
        width: $radioLargeSize;
        height: $radioLargeSize;
      }

      .sg-radio__ghost {
        width: $radioLargeSize;
        height: $radioLargeSize;

        &::before {
          width: $radioLargeSize / 2;
          height: $radioLargeSize / 2;
        }
      }
    }
  }
}
