$selectBackground: $white;
$selectTextColor: $grayPrimary;
$selectFontSize: fontSize(small);
$selectIconSize: rhythm(1 / 3);
$selectHeight: rhythm(7 / 6);
$selectBorderColor: $graySecondary;
$selectActiveBorderColor: $grayPrimary;
$selectInvalidBorderColor: $peachSecondary;
$selectActiveInvalidBorderColor: $peachPrimary;
$selectValidBorderColor: $mintSecondary;
$selectActiveValidBorderColor: $mintPrimary;

$includeHtml: false !default;

@if ($includeHtml) {
  .sg-select {
    @include component;
    font-size: $selectFontSize;
    color: $selectTextColor;

    &__element {
      background: $selectBackground;
      border: 1px solid $selectBorderColor;
      border-radius: gutter(1 / 8);
      font-size: inherit;
      font-weight: $fontWeightBold;
      color: inherit;
      display: inline-block;
      height: $selectHeight;
      position: relative;
      padding: 0 gutter(4 / 3) 0 gutter(1 / 2);
      outline: 0;
      appearance: none;
      width: 100%;

      &::-ms-expand {
        display: none;
      }

      &:hover,
      &:focus,
      &:active {
        border-color: $selectActiveBorderColor;
      }
    }

    &__icon {
      position: absolute;
      top: $selectHeight / 2 - $selectIconSize / 2;
      right: gutter(1 / 2);
      height: $selectIconSize;
      width: $selectIconSize;
      pointer-events: none;
      z-index: 1;
      display: flex;

    }

    &--full-width {
      width: 100%;
    }

    &--valid {
      .sg-select__element {
        border-color: $selectValidBorderColor;

        &:hover,
        &:focus,
        &:active {
          border-color: $selectActiveValidBorderColor;
        }
      }
    }

    &--invalid {
      .sg-select__element {
        border-color: $selectInvalidBorderColor;

        &:hover,
        &:focus,
        &:active {
          border-color: $selectActiveInvalidBorderColor;
        }
      }
    }
  }
}
