$includeHtml: false !default;

@if ($includeHtml) {
  .sg-select {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: $formElementDefaultFontSize;
    color: $formElementPlacholderTextColor;
    border-radius: $formElementStandardBorderRadius;
    height: $formElementNormalHeight;
    border: 2px solid $graySecondaryLightest;

    &__element {
      position: relative;
      top: -2px;
      background: $formElementDefaultBackgroundColor;
      border: none;
      border-radius: $borderRadiusDefault;
      font-size: inherit;
      display: inline-block;
      height: $formElementNormalHeight;
      padding: 0 spacing(l) 0 spacing(s);
      outline: 0;
      appearance: none;
      width: 100%;
      border: 2px solid $graySecondaryLightest;

      &::-ms-expand {
        display: none;
      }

      &:hover,
      &:focus,
      &:active {
        border-color: $graySecondaryLightest;
      }
    }

    &__icon {
      position: absolute;
      top: spacing(xs) - 2px;
      right: spacing(xs);
      pointer-events: none;
      z-index: 1;
      display: flex;
    }

    &--white {
      background: $white;
      border: 2px solid $white;

      .sg-select__element {
        background: $white;
        border: 2px solid $white;

      }
    }

    &.sg-select--white {
      &.sg-select--valid {
        &:hover {
          background-color: mix($white, $graySecondaryUltraLight, 12%);
          border: 2px solid $formElementValidColor;
        }
      }

      &.sg-select--invalid {
        &:hover {
          background-color: mix($white, $graySecondaryUltraLight, 12%);
          border: 2px solid $formElementInvalidColor;
        }
      }
      
      &:hover {
        background-color: mix($white, $graySecondaryUltraLight, 12%);
        border: 2px solid mix($white, $graySecondaryUltraLight, 12%);
  
        .sg-select__element {
          background-color: mix($white, $graySecondaryUltraLight, 12%);
          border: 2px solid mix($white, $graySecondaryUltraLight, 12%);
        }
      }
    }

    &:hover {
      background-color: mix($formElementDefaultBackgroundColor, $graySecondaryLight, 80%);
      border: 2px solid mix($formElementDefaultBackgroundColor, $graySecondaryLight, 80%);

      .sg-select__element {
        background-color: mix($formElementDefaultBackgroundColor, $graySecondaryLight, 80%);
        border: 2px solid mix($formElementDefaultBackgroundColor, $graySecondaryLight, 80%);
      }
    }

    &--full-width {
      width: 100%;
    }

    &--large {
      height: $formElementLargeHeight;
      font-size: $formElementLargeFontSize;
      border-radius: $formElementLargeBorderRadius;

      .sg-select__icon {
        right: spacing(s);
        top: spacing(s)
      }

      .sg-select__element {
        position: relative;
        top: -2px;
        border-radius: $formElementLargeBorderRadius;
        font-size: $formElementLargeFontSize;
        height: $formElementLargeHeight;
        padding: 0 50px 0 spacing(m);
        
        &::-ms-expand {
          display: none;
        }
      }

      &::placeholder {
        font-size: 18px;
      }
    }

    &--valid {
      border: 2px solid $formElementValidColor;
      color: $black;
      font-weight: normal;

      &:focus,
      &:active,
      &:focus:hover,
      &:active:hover {
        background-color: $white;
        border: 2px solid $formElementValidColor;
        box-shadow: none;
      }

      &:hover {
        background-color: mix($formElementDefaultBackgroundColor, $graySecondaryLight, 80%);
        border: 2px solid $formElementValidColor;
      }
    }

    &--invalid {
      border: 2px solid $formElementInvalidColor;
      color: $black;
      font-weight: normal;

      &:focus,
      &:active,
      &:focus:hover,
      &:active:hover {
        background-color: $white;
        border: 2px solid $formElementInvalidColor;
        box-shadow: none;
      }

      &:hover {
        background-color: mix($formElementDefaultBackgroundColor, $graySecondaryLight, 80%);
        border: 2px solid $formElementInvalidColor;
      }
    }

    &--capitalized {
      .sg-select__element {
        text-transform: capitalize;
      }
    }
  }
}
