$includeHtml: false !default;

@if ($includeHtml) {
  .sg-select {
    display: inline-block;
    position: relative;
    text-overflow: ellipsis;
    margin: 0;

    &__element {
      display: inline-block;
      padding: 0 36px 0 spacing(s);
      appearance: none;
      width: 100%;
      border: 2px solid $graySecondaryLightest;
      font-size: $formElementDefaultFontSize;
      color: $formElementPlacholderTextColor;
      height: $formElementNormalHeight;
      background: $formElementDefaultBackgroundColor;
      border-radius: $formElementStandardBorderRadius;

      &::-ms-expand {
        display: none;
      }

      &:hover,
      &:focus,
      &:active {
        border-color: $graySecondaryLightest;
      }
    }

    &__icon {
      position: absolute;
      top: spacing(xs) + 4px;
      right: spacing(xs) + 4px;
      pointer-events: none;
      z-index: 1;
      display: flex;
    }

    &--white {
      .sg-select__element {
        background: $white;
        border: 2px solid $white;
      }
    }

    &.sg-select--white {
      &.sg-select--valid {
        &:hover {
          .sg-select__element {
            background-color: mix($white, $graySecondaryUltraLight, 12%);
            border: 2px solid $formElementValidColor;
          }
        }
      }

      &.sg-select--invalid {
        &:hover {
          .sg-select__element {
            background-color: mix($white, $graySecondaryUltraLight, 12%);
            border: 2px solid $formElementInvalidColor;
          }
        }
      }

      &:hover {
        .sg-select__element {
          background-color: mix($white, $graySecondaryUltraLight, 12%);
          border: 2px solid mix($white, $graySecondaryUltraLight, 12%);
        }
      }
    }

    &:hover {
      .sg-select__element {
        background-color: mix(
          $formElementDefaultBackgroundColor,
          $graySecondaryLight,
          80%
        );
        border: 2px solid mix($formElementDefaultBackgroundColor, $graySecondaryLight, 80%);
      }
    }

    &--full-width {
      width: 100%;
    }

    &--large {
      .sg-select__icon {
        top: spacing(s);
        right: spacing(s);
      }

      .sg-select__element {
        height: $formElementLargeHeight;
        font-size: $formElementLargeFontSize;
        border-radius: $formElementLargeBorderRadius;
        padding: 0 50px 0 spacing(m);

        &::-ms-expand {
          display: none;
        }
      }

      &::placeholder {
        font-size: $formElementLargeFontSize;
      }
    }

    &--valid {
      .sg-select__element {
        color: $black;
        font-weight: normal;
        border: 2px solid $formElementValidColor;
      }

      &:hover {
        .sg-select__element {
          background-color: mix(
            $formElementDefaultBackgroundColor,
            $graySecondaryLight,
            80%
          );
          border: 2px solid $formElementValidColor;
        }
      }
    }

    &--invalid {
      .sg-select__element {
        color: $black;
        font-weight: normal;
        border: 2px solid $formElementInvalidColor;
      }

      &:hover {
        .sg-select__element {
          background-color: mix(
            $formElementDefaultBackgroundColor,
            $graySecondaryLight,
            80%
          );
          border: 2px solid $formElementInvalidColor;
        }
      }
    }

    &--capitalized {
      .sg-select__element {
        text-transform: capitalize;
      }
    }
  }
}
