$selectBackground: $grayAltLight;
$selectTextColor: $grayAlt;
$selectFontSize: fontSize(obscure);
$selectIconSize: rhythm(0.333);
$selectHeight: rhythm(2);
$selectSmallHeight: rhythm(1.5);
$selectBorderWidth: rhythm(2 / 24);
$selectHoverBackground: $graySecondary;
$selectInvalidBorderColor: $peachSecondary;

$includeHtml: false !default;

@if ($includeHtml) {
  .mint-select {
    $selectElementHeight: $selectHeight - 2 * $selectBorderWidth;

    @include component;

    border-radius: $selectHeight / 2;
    font-size: $selectFontSize;
    color: $selectTextColor;
    height: $selectHeight;
    border: $selectBorderWidth solid $selectBackground;

    &__element {
      @include uppercaseText(0);
      background: $selectBackground;
      border: none;
      font-size: inherit;
      font-weight: $fontWeightBold;
      color: inherit;
      display: inline-block;
      height: $selectElementHeight;
      position: relative;
      padding: 0 ($selectElementHeight / 2 + rhythm(0.667)) 0 ($selectElementHeight / 2);
      outline: 0;
      appearance: none;
      width: 100%;

      &::-ms-expand {
        display: none;
      }

      &:hover,
      &:focus,
      &:active {
        background: $selectHoverBackground;
        border-color: $selectHoverBackground;
      }
    }

    &__icon {
      position: absolute;
      right: ($selectElementHeight / 4 + rhythm(0.333)) - $selectIconSize / 2;
      top: $selectElementHeight / 2 - $selectIconSize / 2;
      height: $selectIconSize;
      width: $selectIconSize;
      pointer-events: none;
      z-index: 1;
      display: flex;
    }

    &--small {
      $selectElementHeight: $selectSmallHeight - 2 * $selectBorderWidth;
      height: $selectSmallHeight;

      .mint-select__icon {
        top: $selectElementHeight / 2 - $selectIconSize / 2;
        right: $selectElementHeight / 2 - $selectIconSize / 2;
      }

      .mint-select__element {
        height: $selectElementHeight;
        padding: 0 rhythm(1.333) 0 rhythm(0.667);
      }
    }

    &--full {
      width: 100%;
    }

    &--invalid {
      border: $selectBorderWidth solid $selectInvalidBorderColor;
    }
  }
}
