$textareaBackground: $white;
$textareaBorderColor: $graySecondaryLight;
$textareaFontSize: fontSize(default);
$textareaLineHeight: rhythm(0.792);
$textareaTextColor: $black;
$textareaPadding: gutter(1 / 2);
$textareaPaddingSmaller: gutter(1 / 3);
$textareaPlaceholderTextColor: $graySecondary;
$textareaPlaceholderFontSize: fontSize(medium);
$textareaFocusValid: $mintPrimaryDark;
$textareaFocusInvalid: $peachPrimaryDark;
$textareaStandardBorderRadius: 9px;

$includeHtml: false !default;

@if ($includeHtml) {
  .sg-textarea {
    background: $textareaBackground;
    border: 2px solid $textareaBorderColor;
    border-radius: $textareaStandardBorderRadius;
    color: $textareaTextColor;
    display: block;
    font-size: $textareaFontSize;
    line-height: $textareaLineHeight;
    padding: $textareaPaddingSmaller $textareaPadding;
    resize: none;
    height: rhythm(4);
    overflow-y: auto;
    appearance: none;
    position: relative;
    transition: border 300ms;

    &::placeholder {
      color: $textareaPlaceholderTextColor;
      font-weight: $fontWeightBold;
      font-size: $textareaPlaceholderFontSize;
      position: relative;
    }

    &:focus {
      outline: none;
      box-shadow: $elevatedComponentShadow;
      border: 2px solid transparent;
      background-color: $white;

      &::placeholder {
        visibility: hidden;
      }
    }

    &--full-width {
      width: 100%;
    }

    &--valid {
      color: $textareaFocusValid;
      font-weight: $fontWeightBold;
    }

    &--invalid {
      color: $textareaFocusInvalid;
      font-weight: $fontWeightBold;
    }

    &--simple {
      border: none;
      border-radius: 0;

      &:focus {
        box-shadow: none;
        border: none;
      }
    }

    &--no-padding {
      padding: 0;
    }

    &--short {
      height: rhythm(1.5);
      padding-top: gutter(1 /5);
      line-height: rhythm(5 / 6);
    }

    &--tall {
      height: rhythm(6);
    }

    &--xtall {
      height: rhythm(7);
    }

    &--auto-height {
      line-height: rhythm(1);
      height: auto;
    }
  }

}
