$includeHtml: false !default;

@if ($includeHtml) {
  .sg-input {
    @include component();
    background: $formElementDefaultBackgroundColor;
    border: 2px solid $formElementDefaultBackgroundColor;
    border-radius: $formElementStandardBorderRadius;
    color: $formElementDefaultTextColor;
    font-size: $formElementDefaultFontSize;
    font-weight: normal;
    padding: 0 spacing(s);
    height: $formElementNormalHeight;
    appearance: none;
    transition: background 100ms, border 100ms;

    &:focus,
    &:active,
    &:focus:hover,
    &:active:hover {
      background-color: $white;
      border: 2px solid $graySecondaryLight;

      &::placeholder {
        visibility: visible;
      }
    }

    &::placeholder {
      color: $formElementPlacholderTextColor;
      font-size: $formElementDefaultFontSize;
      font-weight: normal;
      position: relative;
      opacity: 1;
    }

    &:hover {
      background-color: mix($formElementDefaultBackgroundColor, $graySecondaryLight, 80%);
      border: 2px solid mix($formElementDefaultBackgroundColor, $graySecondaryLight, 80%);
    }

    &--white {
      background: $white;
      border: 2px solid $white;
      border-radius: $formElementStandardBorderRadius;

      &:hover {
        background-color: mix($white, $graySecondaryUltraLight, 12%);
        border: 2px solid mix($white, $graySecondaryUltraLight, 12%);
      }

      &.sg-input--valid {
        &:hover {
          background-color: mix($white, $graySecondaryUltraLight, 12%);
          border: 2px solid $formElementValidColor;
        }
      }

      &.sg-input--invalid {
        &:hover {
          background-color: mix($white, $graySecondaryUltraLight, 12%);
          border: 2px solid $formElementValidColor;
        }
      }
    }

    &--valid {
      border: 2px solid $formElementValidColor;
      color: $black;
      font-weight: normal;

      &:focus,
      &:active,
      &:focus:hover,
      &:active:hover {
        background-color: $white;
        border: 2px solid $formElementValidColor;
        box-shadow: none;
      }

      &:hover {
        background-color: mix($formElementDefaultBackgroundColor, $graySecondaryLight, 80%);
        border: 2px solid $formElementValidColor;
      }
    }

    &--invalid {
      border: 2px solid $formElementInvalidColor;
      color: $black;
      font-weight: normal;

      &:focus,
      &:active,
      &:focus:hover,
      &:active:hover {
        background-color: $white;
        border: 2px solid $formElementInvalidColor;
        box-shadow: none;
      }

      &:hover {
        background-color: mix($formElementDefaultBackgroundColor, $graySecondaryLight, 80%);
        border: 2px solid $formElementInvalidColor;
      }
    }

    &--full-width {
      width: 100%;
    }

    &--large {
      height: $formElementLargeHeight;
      font-size: $formElementLargeFontSize;
      border-radius: $formElementLargeBorderRadius;
      padding: 0 gutter(1);

      &::placeholder {
        font-size: fontSize(standout);
      }
    }

    &--with-icon {
      padding-right: 40px;
    }

    &__wrapper {
      display: inline-block;
  
      &--full-width {
        width: 100%;
      }
    }
  }
}
