$inputHeight: rhythm(3 / 2);
$inputLargeHeight: rhythm(8 / 3);
$inputSmallHeight: rhythm(5 / 4);

$inputBackground: $white;
$inputTextColor: $black;
$inputFontSize: 16px; // fix zooming to input on focus in iOS devices
$inputLargeFontSize: fontSize(standout);
$inputPlaceholderTextColor: $graySecondary;
$inputFocusValidBorderColor: $mintPrimaryDark;
$inputFocusInvalidBorderColor: $peachPrimaryDark;
$inputStandardBorderRadius: 9px;
$inputPlaceholderFontSize: 16px;

$inputSmallBorderRadius: 7px;
$inputSmallPlaceholderFontSize: 12px;

$inputLargeBorderRadius: 13px;

$searchInputTransparentColor: rgba($white, 0.4);
$searchInputTransparentColorAlt: rgba($white, 0.8);

$searchInputBoxShadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);

$includeHtml: false !default;

@if ($includeHtml) {

  .sg-input {
    @include component();
    background: $inputBackground;
    border: 2px solid $graySecondaryLight;
    border-radius: $inputStandardBorderRadius;
    color: $inputTextColor;
    font-size: $inputFontSize;
    padding: 0 gutter(1 / 2);
    height: $inputHeight;
    appearance: none;
    transition: border 300ms;

    &:focus,
    &:active {
      outline: none;
      box-shadow: $elevatedComponentShadow;
      border: 2px solid transparent;
      background-color: $white;

      &::placeholder {
        visibility: hidden;
      }
    }

    &::placeholder {
      color: $inputPlaceholderTextColor;
      font-size: $inputPlaceholderFontSize;
      font-weight: $fontWeightBold;
      position: relative;
      opacity: 1;
    }

    &--light {
      transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
      background: $searchInputTransparentColor;
      box-shadow: $searchInputBoxShadow;
      border-radius: $borderRadiusDefault;
      border: none;

      &::placeholder {
        color: $white;
        font-weight: $fontWeightBold;
      }

      &:focus {
        background: $white;
        box-shadow: $searchInputBoxShadow;
        border: none;
      }

      &:hover {
        box-shadow: $searchInputBoxShadow;
      }
    }

    &--light-alt {
      transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
      background: $searchInputTransparentColorAlt;
      border: none;

      &:focus {
        background: $white;
        box-shadow: $searchInputBoxShadow;
        border: none;

        &::placeholder {
          visibility: hidden;
        }
      }

      &:hover {
        box-shadow: $searchInputBoxShadow;
      }
    }

    &--valid {
      color: $inputFocusValidBorderColor;
      font-weight: $fontWeightBold;
    }

    &--invalid {
      color: $inputFocusInvalidBorderColor;
      font-weight: $fontWeightBold;
    }

    &--full-width {
      width: 100%;
    }

    &--no-border {
      border: none;
    }

    &--large {
      @include sgBreakpoint(medium-up) {
        height: $inputLargeHeight;
        font-size: $inputLargeFontSize;
        border-radius: $inputLargeBorderRadius;
        padding: 0 gutter(1);

        &::placeholder {
          font-size: fontSize(standout);
        }
      }
    }

    &--small {
      height: $inputSmallHeight;
      border-radius: $inputSmallBorderRadius;

      &::placeholder {
        font-size: $inputSmallPlaceholderFontSize;
      }
    }

    &--with-icon {
      padding-left: 40px;
    }
  }
}
