$inputHeight: rhythm(3 / 2);
$inputLargeHeight: rhythm(8 / 3);
$inputBorderRadius: gutter(1 / 6);
$inputLargeBorderRadius: gutter(1 / 3);

$inputBackground: $white;
$inputBorderColor: $graySecondary;
$inputTextColor: $black;
$inputFontSize: fontSize(medium);
$inputLargeFontSize: fontSize(standout);
$inputFocusBorderColor: $grayPrimary;
$inputPlaceholderTextColor: $grayPrimary;
$inputPlaceholderFontSize: fontSize(medium);
$inputValidBorderColor: $mintSecondary;
$inputFocusValidBorderColor: $mintPrimary;
$inputInvalidBorderColor: $peachSecondary;
$inputFocusInvalidBorderColor: $peachPrimary;
$searchInputTransparentColor: rgba($white, 0.5);

$includeHtml: false !default;

@if ($includeHtml) {

  .sg-input {
    @include component;
    background: $inputBackground;
    border: 1px solid $inputBorderColor;
    border-radius: $inputBorderRadius;
    color: $inputTextColor;
    font-size: $inputFontSize;
    padding: 0 gutter(1 / 2);
    height: $inputHeight;
    appearance: none;
    transition: border 300ms;

    &:focus {
      outline: none;
      border-color: $inputFocusBorderColor;
    }

    &::placeholder {
      color: $inputPlaceholderTextColor;
      font-size: $inputPlaceholderFontSize;
      position: relative;
    }

    &--light {
      background: $searchInputTransparentColor;
      box-shadow: 0 1px 4px 0 $defaultBottomShadowColor;
      border-radius: 7px;
      border: none;

      &::placeholder {
        color: $white;
      }
    }

    &--valid {
      border-color: $inputValidBorderColor;

      &:focus {
        border-color: $inputFocusValidBorderColor;
      }
    }

    &--invalid {
      border-color: $inputInvalidBorderColor;

      &:focus {
        border-color: $inputFocusInvalidBorderColor;
      }
    }

    &--spaced-bottom {
      margin-bottom: $inputHeight / 4;
    }

    &--full-width {
      width: 100%;
    }

    &--large {
      @include sgBreakpoint(medium-up) {
        height: $inputLargeHeight;
        font-size: $inputLargeFontSize;
        border-radius: $inputLargeBorderRadius;
        padding: 0 gutter(1);

        &::placeholder {
          font-size: fontSize(standout);
        }
      }
    }

    &--with-icon {
      padding-right: 40px;
    }
  }
}
