$textareaBackground: $graySecondaryLightest;
$textareaBorderColor: $graySecondaryLightest;
$textareaFontSize: 16px;
$textareaLineHeight: 24px;
$textareaTextColor: $black;
$textareaPlaceholderTextColor: $graySecondary;
$textareaPlaceholderFontSize: 16px;
$textareaFocusValid: $mintPrimaryDark;
$textareaFocusInvalid: $peachPrimaryDark;
$textareaStandardBorderRadius: 16px;
$textareaStandardHeight: 96px;

$includeHtml: false !default;

@if ($includeHtml) {
  .sg-textarea {
    background: $textareaBackground;
    border: 2px solid $textareaBorderColor;
    border-radius: $textareaStandardBorderRadius;
    color: $textareaTextColor;
    display: block;
    font-size: $textareaFontSize;
    line-height: $textareaLineHeight;
    padding: spacing(xs) spacing(s);
    resize: none;
    height: $textareaStandardHeight;
    overflow-y: auto;
    appearance: none;
    position: relative;
    transition: background 100ms, border 100ms;

    &::placeholder {
      color: $textareaPlaceholderTextColor;
      font-size: $textareaPlaceholderFontSize;
      position: relative;
      visibility: visible;
    }

    &:focus {
      outline: none;
      background-color: $white;
      border: 2px solid $graySecondaryLight;
    }

    &--white {
      background: $white;
      border: 2px solid $white;
    }

    &--full-width {
      width: 100%;
    }

    &--valid {
      border: 2px solid $textareaFocusValid;
    }

    &--invalid {
      border: 2px solid $textareaFocusInvalid;
    }

    &--simple {
      border: none;
      border-radius: 0;

      &:focus {
        box-shadow: none;
        border: none;
      }
    }

    &--no-padding {
      padding: 0;
    }

    &--short {
      height: 40px;
      padding-top: spacing(xs);
      line-height: 24px;
    }

    &--tall {
      height: 144px;
    }

    &--xtall {
      height: 168px;
    }

    &--auto-height {
      line-height: 24px;
      height: auto;
    }
  }

}
