$includeHtml: false !default;

@if ($includeHtml) {
  .sg-input {
    @include component();
    @include applyFocusText();

    background: $formElementDefaultBackgroundColor;
    border: 2px solid $formElementDefaultBackgroundColor;
    border-radius: $formElementStandardBorderRadius;
    color: $formElementDefaultTextColor;
    font-size: $formElementDefaultFontSize;
    font-weight: normal;
    padding: 0 spacing(s);
    height: $formElementSizeM;
    appearance: none;
    transition: background 100ms, border 100ms;

    &:focus,
    &:active,
    &:focus:hover,
    &:active:hover {
      background-color: $white;
      border: 2px solid $gray-40;
      box-shadow: none;
      animation: none;

      &::placeholder {
        visibility: visible;
      }
    }

    &::placeholder {
      color: $formElementPlacholderTextColor;
      font-size: $formElementDefaultFontSize;
      font-weight: normal;
      position: relative;
      opacity: 1;
    }

    &:hover {
      background-color: mix($formElementDefaultBackgroundColor, $gray-40, 80%);
      border: 2px solid mix($formElementDefaultBackgroundColor, $gray-40, 80%);
    }

    &--white {
      background: $white;
      border: 2px solid $white;
      border-radius: $formElementStandardBorderRadius;

      &:hover {
        background-color: mix($white, $gray-10, 12%);
        border: 2px solid mix($white, $gray-10, 12%);
      }

      &.sg-input--valid {
        &:hover {
          background-color: mix($white, $gray-10, 12%);
          border: 2px solid $formElementValidColor;
        }
      }

      &.sg-input--invalid {
        &:hover {
          background-color: mix($white, $gray-10, 12%);
          border: 2px solid $formElementValidColor;
        }
      }
    }

    &--valid {
      border: 2px solid $formElementValidColor;
      color: $black;
      font-weight: normal;

      &:focus,
      &:active,
      &:focus:hover,
      &:active:hover {
        background-color: $white;
        border: 2px solid $formElementValidColor;
        box-shadow: none;
      }

      &:hover {
        background-color: mix(
          $formElementDefaultBackgroundColor,
          $gray-40,
          80%
        );
        border: 2px solid $formElementValidColor;
      }
    }

    &--invalid {
      border: 2px solid $formElementInvalidColor;
      color: $black;
      font-weight: normal;

      &:focus,
      &:active,
      &:focus:hover,
      &:active:hover {
        background-color: $white;
        border: 2px solid $formElementInvalidColor;
        box-shadow: none;
      }

      &:hover {
        background-color: mix(
          $formElementDefaultBackgroundColor,
          $gray-40,
          80%
        );
        border: 2px solid $formElementInvalidColor;
      }
    }

    &--full-width {
      width: 100%;
    }

    &--l {
      height: $formElementSizeL;
      font-size: $formElementLargeFontSize;
      border-radius: $formElementLargeBorderRadius;
      padding: 0 gutter(1);

      &::placeholder {
        font-size: fontSize(standout);
      }
    }

    &--s {
      height: componentSize(s);
      font-size: fontSize(small);
      border-radius: $formElementStandardBorderRadius;
      padding: 0 calc(spacing(xs) + spacing(xxs));

      &::placeholder {
        font-size: fontSize(small);
      }
    }

    &--with-icon {
      padding-right: 40px;
    }

    &__wrapper {
      display: inline-block;
      max-width: min-content;

      &--full-width {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
