$inputHeight: rhythm(3 / 2);
$inputLargeHeight: rhythm(8 / 3);
$inputSmallHeight: rhythm(5 / 4);

$inputBackground: rgba(225,232,237,0.75);
$inputBorderColor: $graySecondary;
$inputTextColor: $black;
$inputFontSize: fontSize(medium);
$inputLargeFontSize: fontSize(standout);
$inputFocusBorderColor: $bluePrimary;
$inputPlaceholderTextColor: $graySecondary;
$inputPlaceholderFontSize: fontSize(medium);
$inputValidBorderColor: $mintSecondary;
$inputFocusValidBorderColor: $mintPrimary;
$inputInvalidBorderColor: $peachSecondary;
$inputFocusInvalidBorderColor: $peachPrimary;
$searchInputTransparentColor: rgba($white, 0.4);
$searchInputTransparentColorAlt: rgba($white, 0.8);
$searchInputBoxShadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);

$includeHtml: false !default;

@if ($includeHtml) {

  .sg-input {
    @include component();
    background: $inputBackground;
    border: 2px solid transparent;
    border-radius: $borderRadiusDefault;
    color: $inputTextColor;
    font-size: $inputFontSize;
    padding: 0 gutter(1 / 2);
    height: $inputHeight;
    appearance: none;
    transition: border 300ms;

    &:focus {
      outline: none;
      border: 2px solid $inputFocusBorderColor;
      background-color: $white;

      &::placeholder {
        visibility: hidden;
      }
    }

    &::placeholder {
      color: $inputPlaceholderTextColor;
      font-size: $inputPlaceholderFontSize;
      position: relative;
    }

    &--light {
      transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
      background: $searchInputTransparentColor;
      box-shadow:  $searchInputBoxShadow;
      border-radius: $borderRadiusDefault;
      border: none;

      &::placeholder {
        color: $white;
        font-weight: $fontWeightBold;
      }

      &:focus {
        background: $white;
        box-shadow:  $searchInputBoxShadow;
        border: none;
      }

      &:hover {
        box-shadow: $searchInputBoxShadow;
      }
    }

    &--light-alt {
      transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
      background: $searchInputTransparentColorAlt;
      border: none;

      &:focus {
        background: $white;
        box-shadow:  $searchInputBoxShadow;
        border: none;

        &::placeholder {
          visibility: hidden;
        }
      }

      &:hover {
        box-shadow:  $searchInputBoxShadow;
      }
    }

    &--valid {
      color: $inputFocusValidBorderColor;
      font-weight: $fontWeightBold;
    }

    &--invalid {
      color: $inputFocusInvalidBorderColor;
      font-weight: $fontWeightBold;
    }

    &--spaced-bottom {
      margin-bottom: $inputHeight / 4;
    }

    &--full-width {
      width: 100%;
    }

    &--no-border {
      border: none;
    }

    &--large {
      @include sgBreakpoint(medium-up) {
        height: $inputLargeHeight;
        font-size: $inputLargeFontSize;
        border-radius: $borderRadiusDefault;
        padding: 0 gutter(1);

        &::placeholder {
          font-size: fontSize(standout);
        }
      }
    }

    &--small {
      height: $inputSmallHeight;
    }

    &--with-icon {
      padding-left: 40px;
    }
  }
}
