<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Checkboxes</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-checkbox">
            <input class="mint-checkbox__element" type="checkbox" id="checkbox-1">
            <label class="mint-checkbox__ghost" for="checkbox-1">
                <svg class="mint-icon mint-icon--adaptive mint-icon--x8">
                    <use xlink:href="#icon-check"></use>
                </svg>
            </label>
        </div>
        <div class="mint-checkbox">
            <input class="mint-checkbox__element" type="checkbox" id="checkbox-2" checked>
            <label class="mint-checkbox__ghost" for="checkbox-2">
                <svg class="mint-icon mint-icon--adaptive mint-icon--x8">
                    <use xlink:href="#icon-check"></use>
                </svg>
            </label>
        </div>
        <br/>
        <div class="mint-label mint-label--secondary mint-label--lite">
            <div class="mint-label__icon">
                <div class="mint-checkbox">
                    <input class="mint-checkbox__element" type="checkbox" id="checkbox-3">
                    <label class="mint-checkbox__ghost" for="checkbox-3">
                        <svg class="mint-icon mint-icon--adaptive mint-icon--x8">
                            <use xlink:href="#icon-check"></use>
                        </svg>
                    </label>
                </div>
            </div>
            <label class="mint-label__text" for="checkbox-3">Check me!</label>
        </div>
        <div class="mint-label mint-label--emphasised mint-label--secondary mint-label--lite">
            <div class="mint-label__icon">
                <div class="mint-checkbox">
                    <input class="mint-checkbox__element" type="checkbox" id="checkbox-4">
                    <label class="mint-checkbox__ghost" for="checkbox-4">
                        <svg class="mint-icon mint-icon--adaptive mint-icon--x8">
                            <use xlink:href="#icon-check"></use>
                        </svg>
                    </label>
                </div>
            </div>
            <label class="mint-label__text"  for="checkbox-4">Check me!</label>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Radio buttons</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-radio">
            <input class="mint-radio__element" type="radio" name="group1" id="radio-1">
            <label class="mint-radio__ghost" for="radio-1"></label>
        </div>
        <div class="mint-radio">
            <input class="mint-radio__element" type="radio" name="group1" id="radio-2" checked>
            <label class="mint-radio__ghost" for="radio-2"></label>
        </div>
        <br/>

        <div class="mint-label mint-label--secondary mint-label--lite">
            <div class="mint-label__icon">
                <div class="mint-radio">
                    <input class="mint-radio__element" type="radio" id="radio-3">
                    <label class="mint-radio__ghost" for="radio-3"></label>
                </div>
            </div>
            <label class="mint-label__text" for="radio-3">Check me!</label>
        </div>
        <div class="mint-label mint-label--emphasised mint-label--secondary mint-label--lite">
            <div class="mint-label__icon">
                <div class="mint-radio">
                    <input class="mint-radio__element" type="radio" id="radio-4">
                    <label class="mint-radio__ghost" for="radio-4"></label>
                </div>
            </div>
            <label class="mint-label__text" for="radio-4">Check me!</label>
        </div>
    </div>
</section>
