<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Selects</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-select">
            <select class="mint-select__element">
                <option>Option 1</option>
                <option selected>Select Selector</option>
            </select>
        </div>
        <br/>

        <div class="mint-select mint-select--invalid">
            <select class="mint-select__element">
                <option>Option 1</option>
                <option selected>Select Selector</option>
            </select>
        </div>
        <div class="mint-select mint-select--full">
            <select class="mint-select__element">
                <option>Option 1</option>
                <option selected>Select Selector</option>
            </select>
        </div>
        <div class="mint-select mint-select--small">
            <select class="mint-select__element">
                <option>Option 1</option>
                <option selected>Select Selector</option>
            </select>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Text Inputs</h3>
    </aside>
    <div class="docs-block__content">
        <input type="text" class="mint-input mint-input--spaced" placeholder="Placeholder"> <br/>
        <input type="text" class="mint-input mint-input--spaced mint-input--valid"
               placeholder="Placeholder"><br/>
        <input type="text" class="mint-input mint-input--spaced mint-input--invalid" placeholder="Placeholder">
        <br/>
        <input type="text" class="mint-input mint-input--spaced mint-input--full" placeholder="Placeholder">
        <br/>
        <input type="text" class="mint-input mint-input--spaced mint-input--subtle-border" placeholder="Placeholder">
        <br/>
        <input type="text" class="mint-input mint-input--spaced mint-input--low" placeholder="Placeholder">
        <br/>
        <input type="text" class="mint-input mint-input--spaced mint-input--large" placeholder="Placeholder">
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Textarea</h3>
    </aside>
    <div class="docs-block__content">
        <textarea class="mint-textarea" placeholder="Placeholder"></textarea>
        <textarea class="mint-textarea mint-textarea--small mint-textarea--full" placeholder="Placeholder"></textarea>
        <textarea class="mint-textarea mint-textarea--full" placeholder="Placeholder"></textarea>
        <textarea class="mint-textarea mint-textarea--big" placeholder="Placeholder"></textarea><br/>
        <textarea class="mint-textarea mint-textarea--valid" placeholder="Placeholder"></textarea><br/>
        <textarea class="mint-textarea mint-textarea--invalid" placeholder="Placeholder"></textarea>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Checkboxes</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-checkbox">
            <input class="mint-checkbox__element" type="checkbox" id="checkbox-1">
            <label class="mint-checkbox__ghost" for="checkbox-1"></label>
        </div>
        <div class="mint-checkbox">
            <input class="mint-checkbox__element" type="checkbox" id="checkbox-2" checked>
            <label class="mint-checkbox__ghost" for="checkbox-2"></label>
        </div>
        <br/>

        <div class="mint-checkbox">
            <input class="mint-checkbox__element" type="checkbox" id="checkbox-3">
            <label class="mint-checkbox__ghost" for="checkbox-3"></label>
        </div>
        <label class="mint-checkbox-label" for="checkbox-3">Check me!</label>
        <br/>

        <div class="mint-checkbox">
            <input class="mint-checkbox__element" type="checkbox" id="checkbox-4">
            <label class="mint-checkbox__ghost" for="checkbox-4"></label>
        </div>
        <label class="mint-checkbox-label mint-checkbox-label--upper" for="checkbox-4">Check me!</label>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Radio buttons</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-radio">
            <input class="mint-radio__element" type="radio" name="group1" id="radio-1">
            <label class="mint-radio__ghost" for="radio-1"></label>
        </div>
        <div class="mint-radio">
            <input class="mint-radio__element" type="radio" name="group1" id="radio-2" checked>
            <label class="mint-radio__ghost" for="radio-2"></label>
        </div>
        <br/>

        <div class="mint-radio">
            <input class="mint-radio__element" type="checkbox" id="radio-3">
            <label class="mint-radio__ghost" for="radio-3"></label>
        </div>
        <label class="mint-radio-label" for="radio-3">Check me!</label>
        <br/>

        <div class="mint-radio">
            <input class="mint-radio__element" type="checkbox" id="radio-4">
            <label class="mint-radio__ghost" for="radio-4"></label>
        </div>
        <label class="mint-radio-label mint-radio-label--upper" for="radio-4">Check me!</label>
    </div>
</section>
