<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Selects</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-select">
            <div class="mint-select__icon">
                <svg class="mint-icon mint-icon--fluid mint-icon--gray-alt">
                    <use xlink:href="#icons-arrow_down"></use>
                </svg>
            </div>
            <select class="mint-select__element">
                <option>Option 1</option>
                <option selected>Select Selector</option>
            </select>
        </div>
        <br/>

        <div class="mint-select mint-select--invalid">
            <div class="mint-select__icon">
                <svg class="mint-icon mint-icon--fluid mint-icon--gray-alt">
                    <use xlink:href="#icons-arrow_down"></use>
                </svg>
            </div>
            <select class="mint-select__element">
                <option>Option 1</option>
                <option selected>Select Selector</option>
            </select>
        </div>
        <div class="mint-select mint-select--full">
            <div class="mint-select__icon">
                <svg class="mint-icon mint-icon--fluid mint-icon--gray-alt">
                    <use xlink:href="#icons-arrow_down"></use>
                </svg>
            </div>
            <select class="mint-select__element">
                <option>Option 1</option>
                <option selected>Select Selector</option>
            </select>
        </div>
        <div class="mint-select mint-select--small">
            <div class="mint-select__icon">
                <svg class="mint-icon mint-icon--fluid mint-icon--gray-alt">
                    <use xlink:href="#icons-arrow_down"></use>
                </svg>
            </div>
            <select class="mint-select__element">
                <option>Option 1</option>
                <option selected>Select Selector</option>
            </select>
        </div>
    </div>
</section>
