<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Default</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-select">
            <div class="sg-select__icon">
                <svg class="sg-icon sg-icon--x8 sg-icon--gray">
                    <use xlink:href="images/icons.svg#icon-arrow_down"></use>
                </svg>
            </div>
            <select class="sg-select__element">
                <option>Option 1</option>
                <option selected>Select Selector</option>
            </select>
        </div>
    </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Full width</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-select sg-select--full-width">
      <div class="sg-select__icon">
        <svg class="sg-icon sg-icon--x8 sg-icon--gray">
          <use xlink:href="images/icons.svg#icon-arrow_down"></use>
        </svg>
      </div>
      <select class="sg-select__element">
        <option>Option 1</option>
        <option selected>Select Selector</option>
      </select>
    </div>
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Valid</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-select sg-select--valid">
      <div class="sg-select__icon">
        <svg class="sg-icon sg-icon--x8 sg-icon--gray">
          <use xlink:href="images/icons.svg#icon-arrow_down"></use>
        </svg>
      </div>
      <select class="sg-select__element">
        <option>Option 1</option>
        <option selected>Select Selector</option>
      </select>
    </div>
  </div>
</section>


<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Invalid</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-select sg-select--invalid">
      <div class="sg-select__icon">
        <svg class="sg-icon sg-icon--x8 sg-icon--gray">
          <use xlink:href="images/icons.svg#icon-arrow_down"></use>
        </svg>
      </div>
      <select class="sg-select__element">
        <option>Option 1</option>
        <option selected>Select Selector</option>
      </select>
    </div>
  </div>
</section>
