<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Selects</h3>
    </aside>
    <div class="docs-block__content">
        <div class="sg-select">
            <div class="sg-select__icon">
                <svg class="sg-icon sg-icon--x8 sg-icon--gray">
                    <use xlink:href="#icon-arrow_down"></use>
                </svg>
            </div>
            <select class="sg-select__element">
                <option>Option 1</option>
                <option selected>Select Selector</option>
            </select>
        </div>
        <br/>

        <div class="sg-select sg-select--invalid">
            <div class="sg-select__icon">
                <svg class="sg-icon sg-icon--x8 sg-icon--gray">
                    <use xlink:href="#icon-arrow_down"></use>
                </svg>
            </div>
            <select class="sg-select__element">
                <option>Option 1</option>
                <option selected>Select Selector</option>
            </select>
        </div>
        <div class="sg-select sg-select--full">
            <div class="sg-select__icon">
                <svg class="sg-icon sg-icon--x8 sg-icon--gray">
                    <use xlink:href="#icon-arrow_down"></use>
                </svg>
            </div>
            <select class="sg-select__element">
                <option>Option 1</option>
                <option selected>Select Selector</option>
            </select>
        </div>
        <div class="sg-select sg-select--small">
            <div class="sg-select__icon">
                <svg class="sg-icon sg-icon--x8 sg-icon--gray">
                    <use xlink:href="#icon-arrow_down"></use>
                </svg>
            </div>
            <select class="sg-select__element">
                <option>Option 1</option>
                <option selected>Select Selector</option>
            </select>
        </div>
    </div>
</section>
