<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Textarea</h3>
    </aside>
    <div class="docs-block__content">
        <textarea class="mint-textarea" placeholder="Placeholder"></textarea>
        <textarea class="mint-textarea mint-textarea--short mint-textarea--full" placeholder="Placeholder"></textarea>
        <textarea class="mint-textarea mint-textarea--full" placeholder="Placeholder"></textarea>
        <textarea class="mint-textarea mint-textarea--tall" placeholder="Placeholder"></textarea><br/>
        <textarea class="mint-textarea mint-textarea--valid" placeholder="Placeholder"></textarea><br/>
        <textarea class="mint-textarea mint-textarea--invalid" placeholder="Placeholder"></textarea>
    </div>
</section>
