<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Text Inputs</h3>
    </aside>
    <div class="docs-block__content">
        <input type="text" class="mint-input mint-input--spaced" placeholder="Placeholder"> <br/>
        <input type="text" class="mint-input mint-input--spaced mint-input--valid"
               placeholder="Placeholder"><br/>
        <input type="text" class="mint-input mint-input--spaced mint-input--invalid" placeholder="Placeholder">
        <br/>
        <input type="text" class="mint-input mint-input--spaced mint-input--full" placeholder="Placeholder">
        <br/>
        <input type="text" class="mint-input mint-input--spaced mint-input--subtle-border" placeholder="Placeholder">
        <br/>
        <input type="text" class="mint-input mint-input--spaced mint-input--low" placeholder="Placeholder">
        <br/>
        <input type="text" class="mint-input mint-input--spaced mint-input--large" placeholder="Placeholder">
    </div>
</section>
