<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Default</h3>
    </aside>
    <div class="docs-block__content">
        <input type="text" class="sg-input sg-input--spaced-bottom" placeholder="Placeholder">
    </div>
</section>
<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Valid</h3>
  </aside>
  <div class="docs-block__content">
    <input type="text" class="sg-input sg-input--spaced-bottom sg-input--valid"
           placeholder="Placeholder" value="This is valid example">
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Invalid</h3>
  </aside>
  <div class="docs-block__content">
    <input type="text" class="sg-input sg-input--spaced-bottom sg-input--invalid" placeholder="Placeholder" value="This is invalid example">
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Small</h3>
  </aside>
  <div class="docs-block__content">
    <input type="text" class="sg-input sg-input--spaced-bottom sg-input--small" placeholder="Placeholder">
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Large</h3>
  </aside>
  <div class="docs-block__content">
    <input type="text" class="sg-input sg-input--spaced-bottom sg-input--large" placeholder="Placeholder">
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Full width</h3>
  </aside>
  <div class="docs-block__content">
    <input type="text" class="sg-input sg-input--spaced-bottom sg-input--full-width" placeholder="Placeholder">
  </div>
</section>

<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Light</h3>
    </aside>
    <div class="docs-block__contrast-box docs-block__contrast-box--full-width">
        <div class="docs-block__content">
            <input type="text" class="sg-input sg-input--light sg-input--full-width" placeholder="Placeholder">
        </div>
    </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Light alt</h3>
  </aside>
  <div class="docs-block__contrast-box docs-block__contrast-box--full-width" style="background-color: #eee">
    <div class="docs-block__content">
      <input type="text" class="sg-input sg-input--light-alt sg-input--full-width" placeholder="Placeholder">
    </div>
  </div>
</section>
