<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Default</h3>
    </aside>
    <div class="docs-block__content">
        <textarea class="sg-textarea" placeholder="Placeholder"></textarea>
    </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Short</h3>
  </aside>
  <div class="docs-block__content">
    <textarea class="sg-textarea sg-textarea--short" placeholder="Placeholder"></textarea>
  </div>
</section>


<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Full width</h3>
  </aside>
  <div class="docs-block__content">
    <textarea class="sg-textarea sg-textarea--full-width" placeholder="Placeholder"></textarea>
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Tall, XTall</h3>
  </aside>
  <div class="docs-block__content">
    <textarea class="sg-textarea sg-textarea--tall" placeholder="Placeholder"></textarea>
  </div>
  <div class="docs-block__content">
    <textarea class="sg-textarea sg-textarea--xtall" placeholder="Placeholder"></textarea>
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Valid</h3>
  </aside>
  <div class="docs-block__content">
    <textarea class="sg-textarea sg-textarea--valid" placeholder="Placeholder"></textarea>
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Invalid</h3>
  </aside>
  <div class="docs-block__content">
    <textarea class="sg-textarea sg-textarea--invalid" placeholder="Placeholder"></textarea>
  </div>
</section>

<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Simple</h3>
  </aside>
  <div class="docs-block__content">
    <div class="docs-block__contrast-box">
      <textarea class="sg-textarea sg-textarea--simple" placeholder="Placeholder"></textarea>
    </div>
  </div>
</section>
