$includeHtml: false !default;
$progressBarBackground: rgba(0, 0, 0, 0.15);

@if ($includeHtml) {

  .sg-progressbar {
    height: rhythm(1);
    width: 100%;
    padding: 2px;
    border-radius: 4px;
    background-color: $progressBarBackground;
    position: relative;
    overflow: hidden;

    &--mustard {
      .sg-progressbar__value {
        background-color: $mustardPrimary;
      }
    }

    &--blue {
      .sg-progressbar__value {
        background-color: $bluePrimary;
      }
    }

    &__value {
      // scss-lint:disable NameFormat
      transition: width 1.5s 1.5s cubic-bezier(0.6, -0.01, 0.2, 1);
      // scss-lint:enable NameFormat
      height: 100%;
      max-width: 100%;
      border-radius: 2px;
      background-color: $mintPrimary;
    }

    &__label {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      font-weight: $fontWeightBold;
      color: $white;
      padding-left: gutter(0.25);
      font-size: fontSize(obscure);
    }
  }

}
