<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Progressbars</h3>
  </aside>
  <div class="docs-block__content">
    <div class="sg-progressbar">
      <div class="sg-progressbar__value" style="width: 60%"></div>
      <div class="sg-progressbar__label">60/100 pushups</div>
    </div>

    <script>
      (function () {
        var $barValue = document.querySelector('.sg-progressbar__value');
        var $barLabel = document.querySelector('.sg-progressbar__label');
        var newValue = 60;
        var currentValue = 60;

        function updateLabel() {
          if (newValue === currentValue) {
            return;
          }

          currentValue = (newValue > currentValue) ? currentValue + 1 : currentValue - 1;
          $barLabel.innerHTML = currentValue + '/100 pushups';
          requestAnimationFrame(updateLabel);
        }

        function randomProgress() {
          newValue = Math.round(Math.random() * 100);
          $barValue.style.width = newValue + '%';

          requestAnimationFrame(updateLabel);
        }

        setInterval(randomProgress, 3000);
      })();
    </script>

    <br/>

    <div class="sg-progressbar sg-progressbar--blue">
      <div class="sg-progressbar__value" style="width: 20%"></div>
      <div class="sg-progressbar__label">4/20 points</div>
    </div>

    <br/>

    <div class="sg-progressbar sg-progressbar--mustard">
      <div class="sg-progressbar__value" style="width: 80%"></div>
      <div class="sg-progressbar__label">4/5 brainliest answers</div>
    </div>
  </div>
</section>
