<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Progressbars</h3>
  </aside>
  <div class="docs-block__content">
    <div class="mint-progressbar">
      <div class="mint-progressbar__value" style="width: 60%"></div>
      <div class="mint-progressbar__label">?/20 pushups</div>
    </div>

    <script>
      (function() {
        var $barValue = document.querySelector('.mint-progressbar__value');

        function randomProgress() {
          $barValue.style.width = Math.round(Math.random() * 100) + '%';
        }

        setInterval(randomProgress, 1500);
      })();
    </script>

    <br/>

    <div class="mint-progressbar mint-progressbar--blue">
      <div class="mint-progressbar__value" style="width: 20%"></div>
      <div class="mint-progressbar__label">4/20 points</div>
    </div>

    <br/>

    <div class="mint-progressbar mint-progressbar--mustard">
      <div class="mint-progressbar__value" style="width: 80%"></div>
      <div class="mint-progressbar__label">4/5 brainliest answers</div>
    </div>
  </div>
</section>
