<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Standard</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-overlayed-box">
            <button class="mint-icon-as-button">
                <svg class="mint-icon mint-icon--x26 mint-icon--adaptive">
                    <use xlink:href="#icon-messages"></use>
                </svg>
            </button>
            <div class="mint-overlayed-box__overlay">
                <div class="mint-badge mint-badge--error">1</div>
            </div>
        </div>
        <div class="docs-block__contrast-box">
            <div class="mint-overlayed-box">
                <button class="mint-icon-as-button mint-icon-as-button--light">
                    <svg class="mint-icon mint-icon--x26 mint-icon--adaptive">
                        <use xlink:href="#icon-profile"></use>
                    </svg>
                </button>
                <div class="mint-overlayed-box__overlay">
                    <div class="mint-badge mint-badge--warning">!</div>
                </div>
            </div>
        </div>
        <br/>

        <div class="docs-block__contrast-box">

            <div class="mint-overlayed-box">
                <div class="mint-avatar">
                    <div class="mint-avatar__image mint-avatar__image--icon">
                        <svg class="mint-icon mint-icon--x32 mint-icon--gray-secondary">
                            <use xlink:href="#icon-profile"></use>
                        </svg>
                    </div>
                </div>
                <div class="mint-overlayed-box__overlay">
                    <svg class="mint-sticker">
                        <use class="mint-sticker__back" xlink:href="#icon-heart"></use>
                        <use class="mint-sticker__front" xlink:href="#icon-heart"></use>
                    </svg>
                </div>
            </div>

            <div class="mint-overlayed-box">
                <div class="mint-avatar">
                    <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                </div>
                <div class="mint-overlayed-box__overlay">
                    <svg class="mint-sticker">
                        <use class="mint-sticker__back" xlink:href="#icon-heart"></use>
                        <use class="mint-sticker__front" xlink:href="#icon-heart"></use>
                    </svg>
                </div>
            </div>

            <div class="mint-overlayed-box">
                <div class="mint-avatar">
                    <div class="mint-avatar__image mint-avatar__image--icon">
                        <svg class="mint-icon mint-icon--x32 mint-icon--gray-secondary">
                            <use xlink:href="#icon-profile"></use>
                        </svg>
                    </div>
                </div>
                <div class="mint-overlayed-box__overlay">
                    <svg class="mint-sticker">
                        <use class="mint-sticker__back" xlink:href="#icon-comment"></use>
                        <use class="mint-sticker__front" xlink:href="#icon-comment"></use>
                    </svg>
                </div>
            </div>

            <div class="mint-overlayed-box">
                <div class="mint-avatar">
                    <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                </div>
                <div class="mint-overlayed-box__overlay">
                    <svg class="mint-sticker">
                        <use class="mint-sticker__back" xlink:href="#icon-comment"></use>
                        <use class="mint-sticker__front" xlink:href="#icon-comment"></use>
                    </svg>
                </div>
            </div>

            <div class="mint-overlayed-box">
                <div class="mint-avatar">
                    <div class="mint-avatar__image mint-avatar__image--icon">
                        <svg class="mint-icon mint-icon--x32 mint-icon--gray-secondary">
                            <use xlink:href="#icon-profile"></use>
                        </svg>
                    </div>
                </div>
                <div class="mint-overlayed-box__overlay">
                    <svg class="mint-sticker">
                        <use class="mint-sticker__back" xlink:href="#icon-friends"></use>
                        <use class="mint-sticker__front" xlink:href="#icon-friends"></use>
                    </svg>
                </div>
            </div>

            <div class="mint-overlayed-box">
                <div class="mint-avatar">
                    <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                </div>
                <div class="mint-overlayed-box__overlay">
                    <svg class="mint-sticker">
                        <use class="mint-sticker__back" xlink:href="#icon-friends"></use>
                        <use class="mint-sticker__front" xlink:href="#icon-friends"></use>
                    </svg>
                </div>
            </div>

            <div class="mint-overlayed-box">
                <div class="mint-avatar">
                    <div class="mint-avatar__image mint-avatar__image--icon">
                        <svg class="mint-icon mint-icon--x32 mint-icon--gray-secondary">
                            <use xlink:href="#icon-profile"></use>
                        </svg>
                    </div>
                </div>
                <div class="mint-overlayed-box__overlay">
                    <div class="mint-badge">1</div>
                </div>
            </div>

            <div class="mint-overlayed-box">
                <div class="mint-avatar">
                    <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                </div>
                <div class="mint-overlayed-box__overlay">
                    <div class="mint-badge mint-badge--error">456</div>
                </div>
            </div>
        </div>
    </div>
</section>
