<section class="docs-block">
  <aside class="docs-block__info">
    <h3 class="docs-block__header">Standard</h3>
  </aside>
  <div class="docs-block__content">
    <button class="sg-icon-as-button">
      <div class="sg-icon-as-button__hole">
        <div class="sg-overlayed-box">
          <svg class="sg-icon sg-icon--x26 sg-icon--adaptive">
            <use xlink:href="#icon-messages"></use>
          </svg>
          <div class="sg-overlayed-box__overlay">
            <div class="sg-badge sg-badge--error">1</div>
          </div>
        </div>
      </div>
    </button>
    <div class="docs-block__contrast-box">
      <button class="sg-icon-as-button sg-icon-as-button--light">
        <div class="sg-icon-as-button__hole">
          <div class="sg-overlayed-box">
            <svg class="sg-icon sg-icon--x26 sg-icon--adaptive">
              <use xlink:href="#icon-profile"></use>
            </svg>
            <div class="sg-overlayed-box__overlay">
              <div class="sg-badge sg-badge--warning">!</div>
            </div>
          </div>
        </div>
      </button>
    </div>
    <br/>

    <div class="docs-block__contrast-box">

      <div class="sg-overlayed-box">
        <div class="sg-avatar">
          <div class="sg-avatar__image sg-avatar__image--icon">
            <svg class="sg-icon sg-icon--x32 sg-icon--gray-secondary">
              <use xlink:href="#icon-profile"></use>
            </svg>
          </div>
        </div>
        <div class="sg-overlayed-box__overlay">
          <svg class="sg-sticker">
            <use class="sg-sticker__back" xlink:href="#icon-heart"></use>
            <use class="sg-sticker__front" xlink:href="#icon-heart"></use>
          </svg>
        </div>
      </div>

      <div class="sg-overlayed-box">
        <div class="sg-avatar">
          <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
        </div>
        <div class="sg-overlayed-box__overlay">
          <svg class="sg-sticker">
            <use class="sg-sticker__back" xlink:href="#icon-heart"></use>
            <use class="sg-sticker__front" xlink:href="#icon-heart"></use>
          </svg>
        </div>
      </div>

      <div class="sg-overlayed-box">
        <div class="sg-avatar">
          <div class="sg-avatar__image sg-avatar__image--icon">
            <svg class="sg-icon sg-icon--x32 sg-icon--gray-secondary">
              <use xlink:href="#icon-profile"></use>
            </svg>
          </div>
        </div>
        <div class="sg-overlayed-box__overlay">
          <svg class="sg-sticker">
            <use class="sg-sticker__back" xlink:href="#icon-comment"></use>
            <use class="sg-sticker__front" xlink:href="#icon-comment"></use>
          </svg>
        </div>
      </div>

      <div class="sg-overlayed-box">
        <div class="sg-avatar">
          <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
        </div>
        <div class="sg-overlayed-box__overlay">
          <svg class="sg-sticker">
            <use class="sg-sticker__back" xlink:href="#icon-comment"></use>
            <use class="sg-sticker__front" xlink:href="#icon-comment"></use>
          </svg>
        </div>
      </div>

      <div class="sg-overlayed-box">
        <div class="sg-avatar">
          <div class="sg-avatar__image sg-avatar__image--icon">
            <svg class="sg-icon sg-icon--x32 sg-icon--gray-secondary">
              <use xlink:href="#icon-profile"></use>
            </svg>
          </div>
        </div>
        <div class="sg-overlayed-box__overlay">
          <svg class="sg-sticker">
            <use class="sg-sticker__back" xlink:href="#icon-friends"></use>
            <use class="sg-sticker__front" xlink:href="#icon-friends"></use>
          </svg>
        </div>
      </div>

      <div class="sg-overlayed-box">
        <div class="sg-avatar">
          <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
        </div>
        <div class="sg-overlayed-box__overlay">
          <svg class="sg-sticker">
            <use class="sg-sticker__back" xlink:href="#icon-friends"></use>
            <use class="sg-sticker__front" xlink:href="#icon-friends"></use>
          </svg>
        </div>
      </div>

      <div class="sg-overlayed-box">
        <div class="sg-avatar">
          <div class="sg-avatar__image sg-avatar__image--icon">
            <svg class="sg-icon sg-icon--x32 sg-icon--gray-secondary">
              <use xlink:href="#icon-profile"></use>
            </svg>
          </div>
        </div>
        <div class="sg-overlayed-box__overlay">
          <div class="sg-badge">1</div>
        </div>
      </div>

      <div class="sg-overlayed-box">
        <div class="sg-avatar">
          <img class="sg-avatar__image" src="https://placebear.com/64/64"/>
        </div>
        <div class="sg-overlayed-box__overlay">
          <div class="sg-badge sg-badge--error">456</div>
        </div>
      </div>
    </div>
  </div>
</section>
