<article>
    <h2 class="article-header">Overlayed box</h2>
    <section class="docs-block">
        <aside class="docs-block__info">
            <h3 class="docs-block__header">Standard</h3>
        </aside>
        <div class="docs-block__content">
            <div class="mint-overlayed-box">
                <button class="mint-icon-as-button mint-icon-messages"></button>
                <div class="mint-overlayed-box__overlay">
                    <div class="mint-badge">1</div>
                </div>
            </div>
            <div class="docs-block__contrast-box">
                <div class="mint-overlayed-box">
                    <button class="mint-icon-as-button mint-icon-as-button--light mint-icon-profile"></button>
                    <div class="mint-overlayed-box__overlay">
                        <div class="mint-badge">!</div>
                    </div>
                </div>
            </div>
            <br/>

            <div class="docs-block__contrast-box">

                <div class="mint-overlayed-box">
                    <div class="mint-avatar"></div>
                    <div class="mint-overlayed-box__overlay">
                        <div class="mint-sticker mint-sticker--heart"></div>
                    </div>
                </div>

                <div class="mint-overlayed-box">
                    <div class="mint-avatar">
                        <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                    </div>
                    <div class="mint-overlayed-box__overlay">
                        <div class="mint-sticker mint-sticker--heart"></div>
                    </div>
                </div>

                <div class="mint-overlayed-box">
                    <div class="mint-avatar"></div>
                    <div class="mint-overlayed-box__overlay">
                        <div class="mint-sticker mint-sticker--comment"></div>
                    </div>
                </div>

                <div class="mint-overlayed-box">
                    <div class="mint-avatar">
                        <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                    </div>
                    <div class="mint-overlayed-box__overlay">
                        <div class="mint-sticker mint-sticker--comment"></div>
                    </div>
                </div>

                <div class="mint-overlayed-box">
                    <div class="mint-avatar"></div>
                    <div class="mint-overlayed-box__overlay">
                        <div class="mint-sticker mint-sticker--friends"></div>
                    </div>
                </div>

                <div class="mint-overlayed-box">
                    <div class="mint-avatar">
                        <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                    </div>
                    <div class="mint-overlayed-box__overlay">
                        <div class="mint-sticker mint-sticker--friends"></div>
                    </div>
                </div>

                <div class="mint-overlayed-box">
                    <div class="mint-avatar"></div>
                    <div class="mint-overlayed-box__overlay">
                        <div class="mint-badge">1</div>
                    </div>
                </div>

                <div class="mint-overlayed-box">
                    <div class="mint-avatar">
                        <img class="mint-avatar__image" src="http://lorempixel.com/64/64/"/>
                    </div>
                    <div class="mint-overlayed-box__overlay">
                        <div class="mint-badge">456</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
