$dropdownIconSize: gutter(1 / 3);
$dropdownHeight: gutter(7 / 6);
$dropdownBorderSize: 1px;
$dropdownBackground: $white;
$dropdownHoverColor: $grayPrimary;
$dropdownBorderColor: $graySecondary;
$dropdownOpenedBorderColor: $grayPrimary;
$dropdownBorderRadius: gutter(1 / 8);
$dropdownActiveBackgroundColor: $blueSecondaryLight;
$dropdownFontSize: fontSize(small);

$includeHtml: false !default;

@if ($includeHtml) {

  .sg-dropdown {
    @include component;
    @include hole;

    overflow: visible;
    background-color: $dropdownBackground;
    border: $dropdownBorderSize solid $dropdownBorderColor;
    border-radius: $dropdownBorderRadius;
    min-height: $dropdownHeight;
    height: $dropdownHeight;
    cursor: pointer;
    user-select: none;
    z-index: 1;

    &:hover,
    &:active {
      border-color: $dropdownHoverColor;
    }

    &__icon {
      width: $dropdownIconSize;
      height: $dropdownIconSize;
      display: flex;
      position: absolute;
      top: $dropdownHeight / 2 - $dropdownIconSize / 2;
      right: gutter(1 / 2);
      z-index: 2;
      transition: transform 0.2s;
    }

    &--full-width {
      width: 100%;
    }

    &__hole {
      justify-content: flex-start;
      min-height: $dropdownHeight - (2 * $dropdownBorderSize);
      padding: 0 gutter(4 / 3) 0 gutter(1 / 2);
      white-space: nowrap;
      overflow: hidden;

      &--active {
        display: none;
      }
    }

    &__items {
      position: absolute;
      top: $dropdownHeight - 2 * $dropdownBorderSize;
      visibility: hidden;
      overflow: hidden;
      padding-bottom: gutter(1 / 6);
      margin: 0 0 gutter(0.5);
      background-color: $dropdownBackground;
      border: $dropdownBorderSize solid $dropdownOpenedBorderColor;
      border-top: none;
      border-radius: 0 0 $dropdownBorderRadius $dropdownBorderRadius;
      left: -$dropdownBorderSize;
      right: -$dropdownBorderSize;
      z-index: 1;
    }

    &__item-hole {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 gutter(1 / 2);
      height: rhythm(4 / 3);
      white-space: nowrap;
      overflow: hidden;
      text-decoration: none;

      &:hover,
      &:active {
        background-color: $dropdownActiveBackgroundColor;

        .sg-dropdown__item-text {
          color: $grayPrimary;
        }


      }
    }

    &__item-text {
      font-size: $dropdownFontSize;
      font-weight: $fontWeightBold;
      color: $graySecondary;
      text-overflow: ellipsis;
      max-width: 100%;

      &--active {
        color: $grayPrimary;
      }
    }

    &__item-icon {
      display: flex;
      margin-right: gutter(1 / 3);
    }

    &--opened {
      background-color: $dropdownBackground;
      border-color: $dropdownOpenedBorderColor;
      border-radius: $dropdownBorderRadius $dropdownBorderRadius 0 0;
      border-bottom-color: transparent;

      &:hover,
      &:active {
        background-color: $dropdownBackground;
        border-color: $dropdownOpenedBorderColor;
        border-bottom-color: transparent;
      }

      .sg-dropdown__icon {
        transform: rotate(180deg);
      }

      .sg-dropdown__hole {

        &--inactive {
          display: none;
        }

        &--active {
          display: flex;
        }
      }

      .sg-dropdown__items {
        visibility: visible;
      }
    }
  }
}
