.sg-dropdown {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  min-height: spacing(l);
  height: spacing(l);
  padding: 0 spacing(s);
  font-size: fontSize(medium);
  line-height: rhythm(5 / 6);
  border: none;
  border-radius: 50px;
  outline: 0;
  background-color: $graySecondaryLightest;
  cursor: pointer;
  user-select: none;
  appearance: none;

  &:hover {
    background-color: mix($graySecondaryLight, $graySecondaryLightest, 16%);
  }

  &--opened {
    background-color: mix($graySecondaryLight, $graySecondaryLightest, 16%);
    
    .sg-dropdown__items {
      display: block;
      margin-bottom: spacing(m);
      opacity: 1;
    }
  }

  &--light {
    background-color: $white;

    &:hover {
      background-color: mix($white, $graySecondaryUltraLight, 16%);
    }

    .sg-dropdown__items {
      background-color: $white;
    }

    .sg-dropdown__item {
      &:hover {
        background-color: mix($white, $graySecondaryUltraLight, 16%);
      }
    }
  }

  &--opened#{&}--light {
    background-color: mix($white, $graySecondaryUltraLight, 16%);
  }

  &--full-width {
    width: 100%;
  }

  &__items {
    display: none;
    position: absolute;
    top: auto;
    bottom: spacing(m);
    left: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: none;
    border-radius: 20px;
    background-color: $graySecondaryLightest;
    transition: background-color 0.2s;
  }

  &__item {
    display: flex;
    padding: calc(#{spacing(m)} / 2) #{spacing(m)};
    color: $black;
    text-decoration: none;

    &:hover {
      background-color: mix($graySecondaryLight, $graySecondaryLightest, 16%);
    }
  }
}
