// your components variables
$dropdownFontSize: 12px;
$dropdownHeight: 32px;
$dropdownElementHeight: 36px;
$dropdownMargin: 10px;

$include-html: false !default;

@if ($include-html) {

  .mint-dropdown {
    @include component;
    @extend .mint-icon-arrow_down;

    color: $grayAlt;
    background-color: $grayAltLight;
    border: 2px solid $grayAltLight;
    border-radius: 16px;
    font-size: $dropdownFontSize;
    line-height: 1;
    height: $dropdownHeight;
    text-transform: uppercase;
    font-family: $fontFamilySecondary;
    cursor: pointer;

    &--full {
      width: 100%;
    }

    &:before {
      $iconSize: $dropdownFontSize + $iconBoostValue;
      font-size: $iconSize;
      font-weight: bold;
      position: absolute;
      top: $dropdownHeight/2 - 1;
      right: $dropdownHeight / 2 - $iconSize / 2;
      pointer-events: none;
      z-index: 1;
      transform: translateY(-50%);
    }

    &__label {
      display: flex;
      align-items: center;
      height: $dropdownHeight;
      padding: 0 $dropdownHeight 0 $dropdownHeight/2;
    }

    &__list {
      list-style: none;
      margin: 0;
      padding: 0 0 10px;
    }

    &__element {
      color: $grayAlt;
      display: flex;
      align-items: center;
      height: $dropdownElementHeight;
      padding: 0 $dropdownHeight/2;
      text-decoration: none;

      &:hover,
      &:active {
        background-color: $grayAltLight;
        color: $black;
      }

      &--with-subject {
        height: $dropdownElementHeight + $dropdownMargin;
      }
    }

    &__element-icon {
      margin-right: $dropdownMargin;
    }

    &--opened {
      background-color: $white;
      border-color: $grayPrimary;
      height: auto;

      &:before {
        transform: translateY(-50%) rotate(180deg);
      }

      .mint-dropdown__label {
        color: $black;
      }

    }
  }
}
