<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Dropdowns</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-dropdown">
            <div class="mint-dropdown__label">All options</div>
            <ul class="mint-dropdown__list">
                <li class="mint-dropdown__element">Option 1</li>
            </ul>
        </div>
    </div>
</section>
<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Dropdowns (opened)</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-dropdown mint-dropdown--opened">
            <div class="mint-dropdown__label">All options</div>
            <ul class="mint-dropdown__list">
                <li class="mint-dropdown__element">Option 1</li>
                <li class="mint-dropdown__element">Option 2</li>
            </ul>
        </div>
    </div>
</section>
