<section class="docs-block">
    <aside class="docs-block__info">
        <h3 class="docs-block__header">Dropdowns</h3>
    </aside>
    <div class="docs-block__content">
        <div class="mint-dropdown">
            <div class="mint-dropdown__label">All</div>
            <ul class="mint-dropdown__list">
                <li class="mint-dropdown__element">All</li>
                <li class="mint-dropdown__element mint-dropdown__element--active">Active</li>
            </ul>
        </div>

    </div>
</section>
