@if ($includeHtml) {
  .sg-accordion-item {
    &--no-gap {
      border-radius: 0;
      border-top: none;
    
      &:first-child {
        border-top: 2px solid $graySecondaryLightest;
        border-top-left-radius: $borderRadiusDefault;
        border-top-right-radius: $borderRadiusDefault;
      }
    
      &:last-child {
        border-bottom-left-radius: $borderRadiusDefault;
        border-bottom-right-radius: $borderRadiusDefault;
      }
    }

    &__content {
      transition: 0.2s ease-out;
      transition-property: height, margin-top;
      height: 0;
      overflow: hidden;
      margin-top: spacing(m);

      &--hidden {
        margin-top: 0;
      }
    }

    &__pointer {
      cursor: pointer;
    }

    &__arrow {
      transition: 0.2s ease-out transform;
      transform: rotateX(0);

      &--visible {
        transform: rotate(180deg);
      }
    }

    &__icon {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      flex: none;

      &--hover {
        background: $graySecondaryLightest;
      }
    }
  }
}
